[2019-08-07 22:58] sptramer opened #1 "Test"
Testing issue config

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5a57000-482d-c64c-8d7a-4c44e11c6a49
* Version Independent ID: a3ed2be4-dda5-8f5a-b35a-ba9a723a93c2
* Content: [Azure libraries for Python](https://docs.microsoft.com/en-us/azure/python/python-sdk-azure-overview)
* Content Source: [python/python-sdk-az

[2019-08-07 22:59] #1 closed

[2019-08-27 17:27] aarumug opened #3 "The service principal examples for python is not helpful"
The bash snippet on how to create a service principal makes sense. But the python snippet is not equivalent to what the bash snippet is doing. Also if someone searches the internet and landed on this page, there's no info on where do I get the tenant id, client and key from. Moreover, this is a how-to guide. So start from a scenario and then proceed to the code. Another missing piece in this how-t

[2019-09-18 21:11] saugusto opened #7 "Link broken"
"with … azure function core tools..." https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local.md#v2 broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a6a3f99-4725-7f93-301e-da4ba69d4986
* Version Independent ID: 3477aa24-7135-e6e9-3791-17d66052589e
* Content: [Create and deploy serverless Azure

[2019-09-19 12:02] kraigb commented on #7
@saugusto Thanks for catching that...the ".md" shouldn't be in the link. I'll get that corrected.

[2019-09-19 12:08] kraigb commented on #7
The fix should be published later today. Please close this issue once you've confirmed. Thanks.

[2019-09-19 17:15] #7 closed

[2019-09-19 18:36] knbnnate opened #8 "Misspelling in comment"
// pull in the location of the authenticaiton properties file from the environment

authentication instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b69839eb-e8c9-e071-54cd-004ced699ee1
* Version Independent ID: d7e0e990-c840-2975-3721-2169fc54650e
* Content: [Authenticate with the Azure management libraries for J

[2019-09-22 09:30] anujkarn002 opened #9 "Broken Url"
Update link for **Create a Container** in Prerequisites section from _https://code.visualstudio.com/python/tutorial-create-containers_ to _https://code.visualstudio.com/docs/python/tutorial-create-containers_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d72cee17-0971-1029-870f-648c4a872a4b
* Version Independent ID: a

[2019-09-23 13:40] kraigb commented on #9
@anujkarn002 Thanks, I'll get that link fixed.

[2019-09-23 16:59] #9 closed

[2019-09-27 13:54] FISHMANPET opened #10 "This tutorial requires the Azure Tools extension"
One of the requirements of this tutorial is using the Azure Tools VSCode extension but it's not listed as one of the tools to install.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a6a3f99-4725-7f93-301e-da4ba69d4986
* Version Independent ID: 3477aa24-7135-e6e9-3791-17d66052589e
* Content: [Create and deploy serverle

[2019-09-27 14:08] FISHMANPET opened #11 "Should func.request be func.HttpRequest?"
The text says the main function receives an object of type func.request but looking at the code and the links about more information it appears to be of type func.HttpRequest.

I'm guessing since there can be other triggers they would have different types and maybe they're generally of type func.request (though the func.HttpRequest documentation doesn't seem to indicate any kind of parent class of

[2019-10-01 14:23] kraigb commented on #11
@FISHMANPET Yes, thanks for pointing out that glitch. It should be func.HttpRequest, and I'll get it fixed.

[2019-10-01 14:29] kraigb commented on #10
@FISHMANPET Well, the Azure Tools extension pack isn't technically required: it's a collection of all the other Azure extensions. For the Functions walkthrough, you need only the Azure Functions extension, which is what's listed. Are you saying that another Azure extension is needed?

In any case, I'll add a note that Azure Functions is included with the Azure Tools extension pack.

[2019-10-01 15:12] kraigb commented on #10
It does sound like a reload of VS Code issue, because that icon should appear after installing any of the individual Azure extensions (Functions, App Service, Storage, etc.). Do try it fresh and let me know what you find.

[2019-10-01 17:09] #10 closed

[2019-10-01 17:09] #11 closed

[2019-10-02 20:45] FISHMANPET commented on #10
I played around with this just now.  Here's what I did:
1) Removed `%AppData%\Code`
2) Removed `%UserProfile\.vscode`
3) Launched Code
4) Installed Python Extension and Azure Functions extension as explained in the tutorial (which automatically installed Azure Account for login)
At this point the Azure icon appeared as expected in the Activity bar, and I was signed into Azure (not sure why, my loc

[2019-10-02 20:48] kraigb commented on #10
Thanks for checking the details! Yes, I know that having one extension installed shows a UI with Azure Functions or Azure Storage or Azure App Service, and that the UI shown is what you see with multiple extensions installed. It ends up that way because I'm using a shared piece of docs source for the sign-in part across multiple tutorials, and it's simpler to keep them all the same rather than hav

[2019-10-21 10:18] thilakarajk opened #18 "Typo in __init__.py"
I guess there is a typo in [`__init.py__`](https://docs.microsoft.com/en-us/azure/python/tutorial-vs-code-serverless-python-03#__initpy__) heading. It should be `__init__.py`

[2019-10-24 22:27] stuarthallows opened #19 "Stage 2 & 3 are duplicates"
Stage 2 & 3 are duplicates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 545a3d32-4b23-8a9e-afc4-e48b1783ce2e
* Version Independent ID: 183441d2-7809-36c3-eafb-0745fab9fa75
* Content: [Deploy the static Node.js app files to Azure Storage from Visual Studio Code](https://docs.microsoft.com/en-us/azure/javascript/tutori

[2019-10-24 22:57] kraigb commented on #19
@stuaruhallows Egads, that's almost embarrassing. :) I'll get it fixed. Thanks for pointing it out! I appreciate it.

[2019-10-24 23:07] kraigb commented on #19
Fix is in place. Should be published live tomorrow.

[2019-10-25 17:17] #19 closed

[2019-10-29 18:39] VedAustin opened #20 "Incorrect curl syntax for Mac"
Original:
curl --header "Content-Type: application/json" --request POST \
    --data {"name":"Visual Studio Code"} http://localhost:7071/api/HttpExample

What worked for me:
curl --header "Content-Type: application/json" --request POST \
    --data **'{"name":"Visual Studio Code"}'** http://localhost:7071/api/HttpExample

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-10-30 00:47] kraigb commented on #20
Thanks, I'll make a fix.

[2019-10-30 17:19] #20 closed

[2019-11-03 12:40] shubhammicrosoft1 opened #21 "Correct command is "keytool -keystore cacerts -importcert -alias bc2025ca -file bc2025.crt because we are downloading crt" certificate"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a02dd0f-6929-1b9b-da8d-55848b733460
* Version Independent ID: a440a8b3-a190-645d-8210-5b29ad633c25
* Content: [Add a root certificate for Azure to the Java CA store](https://docs.microsoft.com/en-us/azure/java/java-sdk-add-certificate-ca-store?view=a

[2019-11-04 03:58] sean-ludeman opened #22 "Typo in section"
"...If you're like to work primarily with serverless code..."

"you're" should be "you" or "you'd"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79696ede-0ff7-43d8-7c9c-4fc9d6b0bf78
* Version Independent ID: 630cfc5c-6609-672d-d051-27ce27ecd941
* Content: [Deploy Node.js web apps to Azure](https://docs.microsoft.com/e

[2019-11-04 14:48] kraigb commented on #22
Thanks, I'll fix that.

[2019-11-04 18:32] #22 closed

[2019-11-05 15:09] kraigb commented on #18
@thilakarajk Please close this issue as I've make the fix.

[2019-11-07 05:12] thilakarajk commented on #18
Sure @kraigb .

[2019-11-07 05:12] #18 closed

[2019-11-07 21:10] #8 closed

[2019-11-22 12:39] JeroenStravers1 opened #27 "text nitpick"
The sentence "You must import func from azure.functions; importing the logging module is optional but recommended." is incorrect. You're importing the azure.functions package and using func as its alias, not importing a specific module named func from azure.functions.

I suggest changing it to "You must import azure.functions; importing the logging module is optional but recommended.".

---
#### D

[2019-11-22 17:23] kraigb commented on #27
@JeroenStravers1 Good catch, and thanks for the report! You're welcome to make the fix directly, if you like. There's an "Edit" button on the top right of the page that takes you to GitHub to submit a PR with edits. I can edit otherwise, but I wanted to give you the opportunity to make a contribution.

[2019-11-24 06:16] skwongg opened #28 "token auth flow doesn't work"
following the instructions yields a microsoft-standard error as follows:

Error: failed to get oauth token from device flow: failed to finish device auth flow: autorest/adal/devicetoken: Error while retrieving OAuth token: Unknown Error

In 2019, you would expect a more descriptive error than "Unknown Error"...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-11-25 19:41] kraigb commented on #27
Edit made; closing.

[2019-11-25 19:41] #27 closed

[2019-11-26 08:36] jschrap opened #29 "Why is LIST permission required?"
The best practise is to set the access permissions to least privilege.
This means that GET should be sufficient.
Yet the (springboot) app fails if it doesn't have LIST.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e70f3e5d-76c3-41c5-8b38-1497c9b7a96d
* Version Independent ID: 03a0848b-acc4-6638

[2019-12-02 15:29] allantargino opened #30 "Missing docs on how to deploy Java Spring Boot app on Windows using jar files"
Hi there,

So far we only have examples on how to deploy a Spring Boot JAR files on Linux.

This scenario works perfectly fine on Windows with our current Maven plugin, as long after the deploy someone uses the following container configuration:

![image](https://user-images.githubusercontent.com/13934447/69971913-6744ce80-14ff-11ea-8d69-4d8a810e3184.png)
---
#### Document Details

⚠ *Do not edit

[2019-12-02 16:06] allantargino opened #31 "Sample/Instructions for Spring REST APIs with AAD Spring Boot Starter"
Hi there,

Currently we don't have enough docs on how to use AAD Spring Boot Starter with REST APIs - only web applications.

@cljung did an awesome job creating the following blog post:
* http://www.redbaronofazure.com/?p=7607
And also documenting his finds at:
* https://github.com/cljung/java-rest-api

I believe we could incorporate his findings in the official Microsoft docs (if @cljung agrees,

[2019-12-03 23:10] swagulkarni opened #33 "Azure function returns response in text format"
While trying this code, the response returned is in the form of type application/text.
How do we default it to application/json?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 898b3dea-b80d-e3b2-7c37-ec68ce7db31a
* Version Independent ID: d960aed3-1ab4-3c8b-7abd-ccb58fbc5fd1
* Content: [Getting started with Spring Clou

[2019-12-05 09:23] aisbergde opened #34 "missing instruction how to find where VS Code extensions are installed to be able to include them into the path"
your instruction:
"verify that the folder where you installed the Azure Functions Core Tools is included in your PATH environment variable"
installation of extensions happens without asking the user where they are installed and there is no easy or intuitive way to get this information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-12-05 09:33] aisbergde commented on #34
Also when I try to find the place and find something like this and add this to the path, the "func" will not work:
C:\Users\ggoer\.vscode\extensions\ms-azuretools.vscode-azurefunctions-0.20.0
Please add a better description:
- where to find the path
- what exactly should be the path (maybe a subfolder of the extension folder)
- what to do after adding the folder to the path

The error I get doesn'

[2019-12-06 11:28] asteroy opened #35 "spring-cloud-starter-stream-kafka maven dependency version problem"
Current version of spring boot 2.2.1 doesn't work with spring-cloud-starter-stream-kafka version 2.0.1.RELEASE. To solve this problem, version 2.2.1.RELEASE should be used

             <dependency>
			<groupId>org.springframework.cloud</groupId>
			<artifactId>spring-cloud-starter-stream-kafka</artifactId>
			<version>2.2.1.RELEASE</version>
		</dependency>

[Enter feedback here]

---
#### Docume

[2019-12-06 11:45] asteroy commented on #35
I see that version 2.2.1 is still has some problems, but with 3.0.0 looks stable.

<dependency>
			<groupId>org.springframework.cloud</groupId>
			<artifactId>spring-cloud-starter-stream-kafka</artifactId>
			<version>3.0.0.RELEASE</version>
		</dependency>

[2019-12-06 16:57] diop-malick opened #36 "Extra space error on passing PORT system property in spring"
There is a minors error on the xml code of the pom file,
item 4 of the paragraph "Configure Maven Plugin for Azure App Service"

where your say to add the &lt;appSettings&gt; section to the &lt;configuration&gt; section of &lt;azure-webapp-maven-plugin&gt; to listen on the 80 port.

[code]

there is a space between the chart "D" and the propriety system server.port = 80,
this cause app access fail

[2019-12-06 20:11] luisquintanilla opened #37 "Broken SDK Library List Link"
The following link returns a 404 https://github.com/Azure/azure-sdk-for-python/blob/master/packages.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b440c3f1-e186-48e8-e98d-508f0d704f72
* Version Independent ID: c4dfd464-e21e-ac43-c355-d2e3f35d6f45
* Content: [Install the Azure SDK for Python](https://docs.microsoft.c

[2019-12-07 09:19] rdonasco commented on #36
I've spent hours figuring out this problem. If I have read this comment, I could have moved on forward earlier. LOL. Anyways, thanks.

[2019-12-08 16:56] tsilver commented on #34
I am having the same problem.
`func
func : The term 'func' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ func
+ ~~~~
    + CategoryInfo          : ObjectNotFound: (func:String) [], CommandNotFoundException
    + FullyQualifiedErrorId

[2019-12-08 17:16] jayvoy commented on #34
Same problem: 'func' is not recognized as an internal or external command, operable program or batch file

[2019-12-08 18:06] tsilver commented on #34
Found it here on my machine: C:\Users\Tom\AppData\Roaming\npm\node_modules\azure-functions-core-tools\bin

[2019-12-08 18:06] tsilver commented on #34
C:\Users\Tom\AppData\Roaming\npm\node_modules\azure-functions-core-tools\bin

[2019-12-08 19:10] jayvoy commented on #34
It took 2 hours but I've solved the "func" error message by downloading 3 things:

1) .NET framework, 2) PowerShell, 3) node.js/NPM, and I believe one other dependency required from this list before it would install.
If I remember correctly, I launched the node.js/NPM install from by clicking a file that opened powershell. The node.js/NPM piece then also installed Chocolatey though it gave a 'fail

[2019-12-08 19:28] jayvoy commented on #34
I spoke too soon - the node.js piece appears not to have installed correctly and now I get an ECONNREFUSED error when trying to "Attach to Python Functions" a couple steps ahead of this.

[2019-12-09 16:13] swagulkarni commented on #33
@KarlErickson - Kindly  update on this ticket.

[2019-12-09 17:51] kraigb commented on #37
@luisquintanilla Thanks for pointing that out. The package.md file was removed, so I'll update the link to https://azure.github.io/azure-sdk/releases/latest/python.html, which has the links to the pypi instructions and docs for each library.

[2019-12-09 17:51] noelbundick opened #39 "Azure SDK for Java content issues"
I'm looking for information on the new Azure SDK since a few libraries were announced as GA in November 2019, and I've found it's been difficult to find information from docs.microsoft.com. Below are a few issues that I encountered along the way:

* [https://docs.microsoft.com/en-us/azure/java/?view=azure-java-stable](https://docs.microsoft.com/en-us/azure/java/?view=azure-java-stable) doesn't see

[2019-12-09 17:59] #37 closed

[2019-12-09 19:06] kraigb commented on #34
Thanks for all the info, everyone. I completely agree that having to install .NET Core and npm to use Functions with Python is a bother; I've stated that a number of times to the engineering team, but there's no estimate for when it might work more simply. For now, the instructions on https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#v2 are accurate (but note that Chocolat

[2019-12-09 19:24] aisbergde commented on #34
I gave up. And I rejected the project.
The idea was simply to load some reports from reports.office.com into an Azure data base. But it looks it is so complicated to load something from one Microsoft product into another:
Find out how this OAuth works in Azure and Microsoft products
Understand which "scenario" is required
Python to use OAuth (because I used this in another project for OAuth2 acces

[2019-12-12 02:09] jayvoy commented on #34
Hi Kraig - Thank you for absorbing our frustration and offering helpful tips for those who kept trying.

I can confirm that I've now made it through the "Deploy to Azure" step (about 4 steps beyond this page) and have successfully worked the example up to that point.

If I may, I have a few suggestions for the "Prerequisites" section to make it more complete.  Perhaps consider including a note abo

[2019-12-12 03:39] kraigb commented on #34
@jayvoy That's a great suggestion to be more specific about options in the installer. I'll plan to go through the process again and double-check those details and what, exactly, gets installed when and where.

[2019-12-12 15:52] cealsair opened #41 "Your doc for MicroProfile on Azure only prescribes Payara Micro as the implementation"
Please ensure that you are inclusive of all MicroProfile (MP) implementations in the market and not just one, namely Payara Micro. My recommendation would be to direct your readers to the MicroProfile Starter (start.microprofile.io) to generate their MicroProfile sample projects. The MP Starter allows developers to select what implementation they'd like to use for their generated project. Also the

[2019-12-13 07:18] ucheNkadiCode opened #42 "Choose Docker File and give it a name?"
On number 2 of build a docker image, the docker build information is completely glossed over as to what to do. It's misleading because using docker build in the command pallete does not give other options to specify the tagging. It needs to be clarified with a sample example that the command should be in the terminal and is "docker build myregistryapphere.azurecr.io/myexpressapp:latest ." in order

[2019-12-16 18:18] #34 closed

[2019-12-16 18:18] kraigb commented on #34
I've made a PR to the docs to clarity the prereqs for core tools and install options, which should smooth the processes. Accordingly, I'm closing the issue.

@aisbergde With regards to your most recently comments, I encourage you to submit overall usability issues to the repo for Azure Functions itself, because what you raise is beyond the scope of docs (which is the scope of this present repo), a

[2019-12-16 19:17] zpdeering opened #43 "Documentation out of date"
Is it possible to update this to track the changes that have been made in the 2.5.x versions of the Spring Boot plugin? Especially the AI-Agent.xml stuff

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0847a17d-8f32-d22e-e8f9-e2604c8d34bb
* Version Independent ID: d0056593-615e-0147-fa0e-9633ad590b66
* Content: [Configu

[2019-12-16 20:13] aisbergde commented on #34
@kraigb of course you are right. This is the wrong place for my comments. I was a little bit disappointed. But on the other side I am excited that currently user feedback is "used" by Microsoft to improve product and documentation quality. Some years ago I spent some time on feedback and it was "lost in... I don't know where". But currently I feel "listened" and my motivation to give feedback is m

[2019-12-16 20:33] kraigb commented on #34
You're very welcome. We're encouraged in the docs org to monitor and respond to feedback; the degree of success in such efforts varies, as you might expect, but we certainly do care about what you have to say as do many of the engineering teams who have their work on GitHub.

Thanks again for taking the time to file issues and converse with us. It's much appreciated, because on my end you sometime

[2019-12-17 13:45] rdonasco opened #44 "Securing spring api with b2c"
Hi Thanks for this detailed instruction on how to secure web application. Do you also have something that can be used to secure a REST API? Thanks a lot for your help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9c3e00f-bdf2-cdb9-53a3-d672e0a1196d
* Version Independent ID: 3bd15057-0071-7aee-cf46-4c50a3061fbb
* Con

[2019-12-18 18:48] kraigb commented on #42
@ucheNkadiCode Thanks for alerting me that the flow had changed a bit; sometimes it's difficult to keep up with subtle changes.

In this case, the flow is as follows:

1. Create the Docker files as described in the article (answering "No" for Docker compose files, which isn't mentioned in the step).
2. Run Docker Images: Build Image as indicated.
3. After the build, right-click the image in the Do

[2019-12-18 19:56] kraigb commented on #42
Closing as the PR is merged.

[2019-12-18 19:56] #42 closed

[2019-12-19 01:05] oliverlayug commented on #33
return request.createResponseBuilder(HttpStatus.OK).body(handleRequest(request.getBody().get(), context)).header("Content-Type", "application/json").build();

I wonder if there is an easier way.

[2019-12-23 06:43] yucwan commented on #36
Fixed. Thanks a lot for the feedback.

[2019-12-29 21:34] petetian opened #47 "applicationinsights-spring-boot-starter 1.1.1 stopped working"
applicationinsights-spring-boot-starter 1.1.1 is way too old. I had a client using this example, and the telemetry data end up nowhere. Better update to 2.5.1, the latest version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0847a17d-8f32-d22e-e8f9-e2604c8d34bb
* Version Independent ID: d0056593-615e-0147-fa0e-9633ad

[2020-01-03 20:05] Rodrigossz commented on #10
Close and Open VS Code, and it will work. :)

[2020-01-07 13:43] ni3git opened #49 "Issue while deploying Spring Boot app using the Fabric8 Maven Plugin"
I am trying to deploy my Spring Boot app using the Fabric8 Maven Plugin by following instructions available at https://docs.microsoft.com/en-us/azure/java/spring-framework/deploy-spring-boot-java-app-using-fabric8-maven-plugin. I am using my existing AKS Cluster. Springboot app is dockerized
I have added below entry into into my settings.xml in .m2 directory:
   <server>
      <id>copoacrregistry.

[2020-01-07 21:11] JljHook opened #50 "Azure Function NodeJs debugging in visual studio code doesn't seem to work"
npm WARN saveError ENOENT: no such file or directory, open 'C:\package.json'
npm WARN saveError EPERM: operation not permitted, open 'C:\package-lock.json.107866002'
npm WARN enoent ENOENT: no such file or directory, open 'C:\package.json'
npm WARN !invalid#2 No description
npm WARN !invalid#2 No repository field.
npm WARN !invalid#2 No README data
npm WARN !invalid#2 No license field.

up to date

[2020-01-08 19:25] kraigb commented on #50
Hi @JljHook, thanks for filing this issue. From the looks of the output, it appears that you're trying to start the function in the c:\ root folder instead of the project folder. That suggests that in step 2, https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-serverless-node-02, you didn't start VS Code within a subfolder created for the project, and instead launched it from c:\. Ca

[2020-01-08 20:16] JljHook commented on #50
Hi,
I started Vsc in the project folder with code. Command. I tried to change
folder to correct one from terminal as well.

On Wed, 8 Jan 2020, 21:25 Kraig Brockschmidt, <notifications@github.com>
wrote:

[2020-01-09 00:23] KarlErickson commented on #36
Thanks @diop-malick and @yucwan! I've verified the fix, so I'm closing this.

[2020-01-09 00:23] #36 closed

[2020-01-10 19:01] normesta opened #51 "The title and the content in the article don't match"
As of the time of this comment, the article is titled "Deploy a static website to Azure from Visual Studio Code", but the article only contains guidance for how to sign in to Azure. This article contains no guidance for how to deploy a static site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f28741df-a56f-1056-9b96-

[2020-01-10 19:04] kraigb commented on #51
This is by design, as it's a multi-step tutorial. All of the tutorials on the dev center are like this. You can go to the next step using either the button at the end of the article or the TOC.

[2020-01-10 19:13] normesta commented on #51
Not sure all are like that (example: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-upload-process-images?tabs=dotnet). That said, I see no other issues reported on the article, so there perhaps there is no pattern of confusion. It is a content/title mismatch though. I'd suggest text that sets expectation that this is a multi-part tutorial and that all that user will accomplish with

[2020-01-10 19:13] #51 closed

[2020-01-10 19:31] kraigb commented on #51
To be clear, I meant all the other four tutorials on this specific JS dev center, https://docs.microsoft.com/en-us/azure/javascript/, not all tutorials elsewhere on Azure. In any case, thanks for the issue, as it will help anyone else who lands here answer the same question.

[2020-01-11 16:18] kraigb commented on #50
In this case it seems like you may have a configuration issue more to do with VS Code and/or how the functions project is set up. Can you follow up by filing an issue with the engineering team on https://github.com/microsoft/vscode-azurefunctions, which is the repo for the VS Code Functions extension that's driving the process? That is, I don't think there's an immediate documentation issue here,

[2020-01-11 16:18] #50 closed

[2020-01-13 19:32] ggailey777 opened #52 "First clean-up options doesn't remove all resources"
&gt;To clean up the resources, right-click the Function App in the Azure: Functions explorer and select Delete Function App.

This will leave behind a resources group, plan, and storage account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109e31e8-622a-b3be-a03c-4cc40bc4818d
* Version Independent ID: bc463790-e561-3

[2020-01-14 14:33] rscottwatson opened #53 "Broken link"
This link is not working.   Azure SDK for Python package index [https://github.com/Azure/azure-sdk-for-python/blob/master/packages.md]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6044da4-64e4-09c8-81c8-653f43448121
* Version Independent ID: 621581bd-0b83-6458-863d-28e1dd026bfd
* Content: [Azure SDK for Python](http

[2020-01-14 17:11] kraigb commented on #53
Thanks for pointing that out. It looks like the package.md file was removed, so the link should go to the SDK docs at https://azure.github.io/azure-sdk-for-python/. I'll make that fix.

[2020-01-14 17:29] #53 closed

[2020-01-16 00:35] #52 closed

[2020-01-21 02:26] glaucia86 opened #54 "Change the localhost from the Angular demo"
In this part of the tutorial:

Link: **[https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-static-website-node-02?tabs=angular](https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-static-website-node-02?tabs=angular)**

In the step 5, show us that we need to open the browser in the  **http://localhost:3000** to verify that the app is running.
But actually must be: **ht

[2020-01-21 03:21] glaucia86 opened #55 "[Feature request] - Create a code sample using Svelte Framework"
This is a suggestion to include a sample code using Svelte Framework in this 2 pages:

Link 1: https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-static-website-node-02?tabs=angular

Link 2: https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-static-website-node-04?tabs=angular

Since the Svelte Community has been growing every day among developers around the world. As

[2020-01-21 16:18] austin2153 opened #56 "set environment variable in ps"
set FLASK_APP=hello:myapp needs to be $env:FLASK_APP = "hello:myapp" in powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bbae0ad-08bc-c084-0fe1-7fd9c5aeac39
* Version Independent ID: aacdf91a-34af-42f3-c04b-f5217bcbccec
* Content: [Tutorial: Prepare an app for deployment to Azure App Service on Linux from Vi

[2020-01-21 17:37] kraigb commented on #54
Right you are...it even shows that way in the browser. I'll fix that.

[2020-01-21 17:41] #54 closed

[2020-01-21 17:43] kraigb commented on #56
Thanks, I'll fix that. In future, you can also use the "Edit" button on the upper right of the docs page to make the fix directly. I'll get the PR for review and you get the contribution credit.

[2020-01-21 17:50] #56 closed

[2020-01-23 20:47] m-sterspace opened #57 "Execution Policy Error func1.ps1"
I ran into an execution policy error when trying to debug locally. I had to uninstall the azure-functions-core-tools@3 with npm, then install it using chocolatey and a terminal with admin priveleges to get it to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca06dae8-9f56-748a-877e-d5e23f79eddc
* Version Independ

[2020-01-23 20:54] m-sterspace opened #58 "Next Steps Aren't Useful"
The Next Steps on this page make sense from how Microsoft groups it's products but it doesn't make sense from the perspective of a developer who might be following this guide. A developer is presumably trying to build a web app using Azure Functions so useful Next Steps would be stuff like properly configuring authentication, when to combine functions or leave them separate, how to use them to con

[2020-01-24 02:36] kraigb commented on #57
Did that happen with step 1 in the process? I just want to include a small troubleshooting note with your experience and solution, and want to make sure it's in the place you encountered it.

[2020-01-24 02:40] kraigb commented on #58
Yes, I agree. :) In some cases we have gaps, meaning we don't yet have appropriate articles to link to. In any case, @btholt @burkeholland  I'm assigning to you to consider for the JavaScript backlog.

[2020-01-27 09:37] joergjo opened #59 "Add warning regarding automatic schema generation"
It might be worth pointing out that the sample code will recreate the database every time the application runs because of spring.jpa.hibernate.ddl-auto=create to avoid confusion when running the sample app multiple times.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ede65e-1ae2-0620-6c15-7433e8aa0c1f
* Version Inde

[2020-01-30 12:34] jochenvanwylick opened #60 "Q: Using @autowired requires compile-time knowledge about the instrumentation key, right?"
Quick question - I've used the @Autowired annotation on the Telemetryclient but commented out the instrumentation key from the application.properties - because I don't want to check in my instrumentation key into source control and - don't know the instrumentation key compile-time as I would like to have multiple app insights instances for different DTA environments.
However - that seems to break

[2020-01-31 23:48] glaucia86 opened #61 "[Doc Report] Include additional resources about HTTP Trigger"
**Link Page 02:** [https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-serverless-node-02
](https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-serverless-node-02
)
In the page 2 of the tutorial talk about HTTP Trigger and some differents triggers. I think should be very useful include this informations in this page:

[![imagem-01.png](https://i.postimg.cc/jSY7qgs4/imag

[2020-02-01 00:31] glaucia86 opened #63 "[Doc Report] Wrong command in the tutorial to follow a Azure Functions URL"
**Link Page 03:** https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-serverless-node-03

In the step 2 asked to click in the URL shown in the output using the command: Ctrl + click.
But instead the correct command is: Alt + click (Windows)

[![imagem-02.png](https://i.postimg.cc/yYT2PNfq/imagem-02.png)](https://postimg.cc/9rrxXc51)

---
#### Document Details

⚠ *Do not edit this sec

[2020-02-01 00:56] glaucia86 opened #65 "[Doc Report] Missed step in the tutorial (Node.js version/runtime)"
**Link Page 04:** https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-serverless-node-04

In this part of this tutorial is missing a step to choose which Node.js version/runtime you should use (as you can see in the demo)

[![imagem-03.png](https://i.postimg.cc/GtpKcc1N/imagem-03.png)](https://postimg.cc/jwGPcY2Q)

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-02-01 01:42] glaucia86 opened #67 "[Feature request] - Create a code sample using Svelte Framework - Page 02"
This is a suggestion to include a sample code using Svelte Framework in this 2 pages:

**Link 1:** [https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-static-website-node-02?tabs=angular](https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-static-website-node-02?tabs=angular)

Since the Svelte Community has been growing every day among developers around the world. As y

[2020-02-01 03:02] glaucia86 opened #69 "[Feature request] - Create a code sample using Svelte Framework - Page 04"
This is a suggestion to include a sample code using Svelte Framework in this 2 pages:

**Link 1:** [https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-static-website-node-04?tabs=angular](https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-static-website-node-04?tabs=angular)

Since the Svelte Community has been growing every day among developers around the world. As y

[2020-02-01 03:31] glaucia86 opened #71 "[Feature request] - Create a code sample using Svelte Framework - Page 05"
This is a suggestion to include a sample code using Svelte Framework in this 2 pages:

**Link 1:** [https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-static-website-node-05?tabs=angular](https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-static-website-node-05?tabs=angular)

Since the Svelte Community has been growing every day among developers around the world. As y

[2020-02-01 03:34] #71 closed

[2020-02-01 03:35] glaucia86 opened #72 "[Feature request] - Create a code sample using Svelte Framework - Page 05"
This is a suggestion to include a sample code using Svelte Framework in this 2 pages:

**Link 1:** [https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-static-website-node-05?tabs=angular](https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-static-website-node-05?tabs=angular)

Since the Svelte Community has been growing every day among developers around the world. As y

[2020-02-03 16:12] #61 closed

[2020-02-03 16:15] #63 closed

[2020-02-08 07:16] gandhirajan opened #76 "Custom port configuration setting name in Application Settings"
Under 'Diagnose and solve problems' -> 'Availability and Performance' -> 'Application Logs ' section in App Services, it clearly states that the application settings for port change should be mentioned under setting named - 'WEBSITES_PORT' and not 'PORT'.

But under the note section in the following link - https://docs.microsoft.com/en-us/azure/java/spring-framework/deploy-spring-boot-java-app-on-

[2020-02-08 07:31] gandhirajan commented on #76
PR# 75 - 'PORT should be changed as WEBSITES_PORT in Application settings' closes this issue. Please merge.

[2020-02-08 16:30] MikeDodaro commented on #76
#sign-off

[2020-02-08 18:19] gandhirajan commented on #76
@MikeDodaro  Hi Mike, I m not able to link the PR# 75 to this issue. If you can link it you can merge the PR I guess.

[2020-02-10 16:03] bg2132332 opened #77 "Azure SDK auth using an authenticated proxy"
I'm looking for an example of how to configure a proxy with Azure SDK for Java -- including proxy username and password.  The samples I find online that add "Proxy-Authorization" header don't seem to work for me -- the Authenticator is not getting called right for me and it would be nice to have an official sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-02-10 16:41] bmitchell287 commented on #76
#sign-off

[2020-02-10 16:48] bmitchell287 commented on #76
@gandhirajan @MikeDodaro - I merged PR #75, thanks for the submission.

[2020-02-10 16:48] #76 closed

[2020-02-10 16:48] bmitchell287 commented on #76
Merged

[2020-02-10 20:01] #65 closed

[2020-02-10 20:06] kraigb commented on #72
Closing as resolved because there's an active PR and we don't need the issue tracking.

[2020-02-10 20:06] #72 closed

[2020-02-10 20:06] kraigb commented on #69
Closing as resolved because there's an active PR and we don't need the issue tracking.

[2020-02-10 20:06] #69 closed

[2020-02-10 20:06] kraigb commented on #67
Closing as resolved because there's an active PR and we don't need the issue tracking.

[2020-02-10 20:06] #67 closed

[2020-02-10 20:06] kraigb commented on #55
Closing as resolved because there's an active PR and we don't need the issue tracking.

[2020-02-10 20:06] #55 closed

[2020-02-10 20:07] kraigb commented on #57
Closing due to no response for more information. Please reopen if providing the needed details.

[2020-02-10 20:08] #3 closed

[2020-02-10 20:20] m-sterspace commented on #57
My apologies for the slow response, but yes, it was when I went to run it using the debugger that I ran into the policy error.

[2020-02-10 20:21] kraigb commented on #57
Thanks. I'll reopen then so I remember to make the update.

[2020-02-10 20:29] #57 closed

[2020-02-11 05:51] gandhirajan commented on #76
Thanks a lot @MikeDodaro @bmitchell287

[2020-02-12 11:43] ashoksuryap opened #79 "Java EE applications"
why we can not install websphere in VM directly? Any reason for keeping it in planning(in Java EE applications section)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48e235d8-3078-72fd-e2ef-25796a9dd8d8
* Version Independent ID: fa1a6f25-9ca9-72e0-87bd-98f1f93e5e94
* Content: [Migrate Java applications to Azure](http

[2020-02-12 12:40] gandhirajan opened #80 "Automatic mapping of Internet requests to embedded Tomcat server running in port 8080 not happening in Azure"
On the note section in the following link - https://docs.microsoft.com/en-us/azure/java/spring-framework/deploy-spring-boot-java-app-on-linux#create-a-web-app-on-linux-on-azure-app-service-using-your-container-image , it is stated that "Azure will automatically map Internet requests to embedded Tomcat server that is running on the standard ports of 80 or 8080. "

But this seems to be not working.

[2020-02-13 16:49] rThangakumar opened #82 "mvn azure-webapp:config execution error"
When I execute the command 'mvn azure-webapp:config', it stops at "Define value for OS(Default: Linux):" and doesn't accept user input.

PS C:\Users\rthan\OneDrive\Documents\code\rest-service&gt; mvn azure-webapp:config
[INFO] Scanning for projects...
[INFO]
[INFO] -------------------&lt; com.rainbowhomes:rest-service &gt;--------------------
[INFO] Building rest-service 0.0.1-SNAPSHOT
[INFO] ----

[2020-02-13 21:16] jasonzio opened #83 "Azure Python SDK doesn't support "sudo pip install""
There's no way to install the Azure Python SDK one time on a Linux system such that it can be used by python code running under multiple uids on that system. Each user (e.g. each service account) must install the SDK separately (so that it appears under /home/<user>/.local

The documentation should be clear about this.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-02-13 21:38] jasonzio opened #84 "Python SDK docs don't cover control of logging within the SDK"
The Azure python SDK uses the python standard library package "logging" to emit logs. The SDK documentation doesn't cover how to control logging emitted by the SDK, the various logging levels used by the SDK, etc.

Sample questions which should be answered by the documentation:

- How can I silence all logging from the entire SDK
- How can I control logging for a single SDK module (azure.storage.b

[2020-02-14 17:31] kraigb commented on #83
Thanks for explaining the detail. I'll add a small note to that effect.

[2020-02-14 17:34] #83 closed

[2020-02-16 15:43] rThangakumar commented on #82
This was fixed when I used the command prompt. The above issue occurred when I used windows powershell.

[2020-02-24 08:24] jyotsnaravikumar opened #86 "Fails compilation due to No SDK version specified for azure-cosmosdb-spring-boot-starter in this docs"
This sample fails to compile with the following error :

[ERROR]
[ERROR]   The project com.microsoft:wingtiptoys:0.0.1-SNAPSHOT (/Users/wingtiptoys/pom.xml) has 1 error
[ERROR]     'dependencies.dependency.version' for com.microsoft.azure:azure-cosmosdb-spring-boot-starter:jar is missing. @ line 24, column 15
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switc

[2020-02-24 15:16] KarlErickson commented on #86
Thanks, @jyotsnaravikumar ! We'll investigate.

[2020-02-24 19:12] bmitchell287 commented on #82
@rThangakumar - We'll look into this. Thanks for submitting.

[2020-02-24 22:09] jyotsnaravikumar opened #87 "mvn compile jib:build fails with error - I/O error for image [registry-1.docker.io/library/openjdk]"
Hello,

I am deploying this app as per instructions on this page from Mac.

Step(5)  : mvn compile jib:build fails with the following error:

[ERROR] I/O error for image [registry-1.docker.io/library/openjdk]:
[ERROR]     Socket closed
[INFO] Executing tasks:
[INFO] [=========                     ] 30.0% complete
[INFO] &gt; pulling base image manifest
[INFO]
[INFO] -------------------------------

[2020-02-25 03:20] salavala opened #88 "redhat linux doesn't use pip. Got SSL issue after installing pip3"
These instructions will NOT work for Redhat Linux. Tried to install pip27 and pip3. sudo doesn't work with pip. Don't have root permissions. I am getting ssl issue after that.

[azureuser@Oracle-Linux-HA-01 ~]$ pip3 install python-azure-sdk
pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
Collecting python-azure-sdk
  Could not fetch URL htt

[2020-02-25 18:48] kraigb commented on #88
@salavala Thanks for filing the issue. Does the install work if you first create and activate a virtual environment? It looks like the issue is that just running pip install attempts to install packages in the system-provided Python folder, which is likely protected, in which case using a virtual environment would be he solution.

[2020-02-25 19:18] stevenluda opened #89 "Host restarts when virtual environment changes"
Was experimenting installing packages on the fly, i.e. adding the following line of code in the main() function to install pandas:
subprocess.check_call([".venv\\Scripts\\python", "-m", "pip", "install", "pandas"], shell=True)

Needed to do in this way instead of using requirements.txt due to lack of prior knowledge of required packages.

Debugging locally, the package is installed successfully, b

[2020-02-25 22:02] kraigb commented on #89
Hi @stevenluda--I don't know of any workaround for this particular question; if there was a simple means, it would be surfaced in the Python extension settings, but there aren't any applicable settings.

Because this matter pertains to the behavior of the Python extension in VS Code rather than being a docs issue, please create an issue on https://github.com/Microsoft/vscode-python/issues instead.

[2020-02-25 22:02] #89 closed

[2020-02-28 00:24] bmitchell287 commented on #87
@selvasingh - Would you please route to the appropriate contact and/or provide feedback?

[2020-02-28 00:28] bmitchell287 commented on #79
@yevster  - Would you please provide feedback or route to appropriate contact? Thanks.

[2020-02-28 00:32] bmitchell287 commented on #49
@seanli1988 - Sean could you please provide guidance for this issue or route to the appropriate contact?

[2020-02-28 00:35] bmitchell287 commented on #47
@seanli1988 - Hello Sean could you please provide feedback or help route to the appropriate contact?

[2020-02-28 00:36] bmitchell287 commented on #44
@seanli1988 - Hello Sean would you please provide feedback or route to the appropriate contact?

[2020-02-28 09:22] Krijger opened #90 "Good idea - what about supporting it in Functions..."
Jolly good idea. Java 11 has been LTE for some time now. However, Azure Functions still only supports Java 8: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-java. What is the planning for fixing this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b2daa25-49b5-6747-431c-0a11e4330034
* Versi

[2020-02-28 09:25] Krijger opened #91 "No support for Java 11 yet in Azure Functions..."
Should be mentioned on this page. Or better - fixed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a352957d-7f26-dfe0-adaa-3541bb4ec6f6
* Version Independent ID: 9e72eaf4-d3bc-3f2a-15ee-3affde80a8d1
* Content: [Java JDKs and long-term support for Azure development](https://docs.microsoft.com/en-us/azure/java/jdk/)
* Co

[2020-03-04 00:08] kraigb commented on #88
@salavala Any response to my previous query?

[2020-03-04 19:03] #80 closed

[2020-03-04 19:38] bmitchell287 commented on #91
@KarlErickson - Karl would you please follow up on this one? Thanks.

[2020-03-05 18:09] kraigb commented on #88
Closing due to lack of a response. Please reopen if you have more details.

[2020-03-05 18:09] #88 closed

[2020-03-05 19:56] kraigb commented on #84
@jasonzio Thanks for filing the issue and apologies for the belated acknowledgment. It's a great idea to doc all this, and I've got this on my backlog. I'll update here when there's progress though I'm not sure when, exactly, that will happen.

[2020-03-05 21:10] jasonzio commented on #84
Do you need me to file issues against the SDK itself for the azure.storage logging issue I described here?

[2020-03-05 21:20] kraigb commented on #84
Yes, for anything that's not specific docs-related, please file an issue in the SDK repo. Please @ me in those for awareness. Thanks.

[2020-03-09 19:29] KarlErickson commented on #79
@ashoksuryap thanks for the feedback! I apologize for the miscommunication in this topic. You can install WebSphere in a VM directly. Where the topic says "planned", we're referring to guidance documentation that we're still working on. I will submit a pull request to change the topic to make that clear. (When the pull request is merged, it will close this issue automatically.) Thanks again!

[2020-03-09 22:23] bmitchell287 commented on #21
@selvasingh - Asir would you please validate this issue/update to the command? Thanks

[2020-03-11 17:10] #79 closed

[2020-03-12 09:21] sehaswell opened #95 "CloudBlob..."
Please could you slap a warning on this page that CloudX has been removed in newer versions of the API? It seems I've just wasted some time following this article :(
Source for removal assertion: https://github.com/Azure/azure-storage-java/issues/487
It'd be great to have some sample code for using the new version with Spring too - there's some unofficial stuff to work from on the page linked abov

[2020-03-13 15:23] MikeBazMSFT opened #96 "az ad sp create-for-rbac does not have a --password parameter"
The first command in the document - to create a service principal - doesn't work as the --password parameter does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99a30d24-e429-8543-0ae6-5a2178a2f205
* Version Independent ID: f74c22e5-9d3a-8fbd-800e-6eda0916b2e5
* Content: [Get started with the Azure SDK for J

[2020-03-16 17:27] KarlErickson commented on #95
@sehaswell thanks for the feedback! We'll investigate and update the topic.

[2020-03-17 19:47] nickmhankins opened #97 "Python Azure SDK authentication docs incorrect?"
Hi,

In the example from [here](https://docs.microsoft.com/en-us/azure/python/python-sdk-azure-authenticate?view=azure-python#mgmt-auth-token):

[code]

It looks like `ServicePrincipalCredentials` should be a class in `azure.common.credentials`, but the [documentation doesn't reflect that](https://docs.microsoft.com/en-us/python/api/azure-common/azure.common.credentials?view=azure-python).

I can

[2020-03-18 20:22] KarlErickson commented on #59
@joergjo thanks for the feedback! We'll investigate and update the topic.

[2020-03-18 20:41] KarlErickson commented on #43
@zpdeering thanks for the feedback! We'll investigate and make the appropriate updates.

[2020-03-18 20:51] KarlErickson commented on #41
@cealsair thanks for the recommendation, and apologies for the delayed response. We'll take this into consideration when we update these topics.

[2020-03-18 21:30] KarlErickson commented on #35
@asteroy thanks for the feedback! We'll investigate.

[2020-03-19 00:11] KarlErickson commented on #33
@yucwan can you provide some input here?
@bmitchell287 for awareness.

[2020-03-19 00:15] KarlErickson commented on #90
@selvasingh can you comment? @bmitchell287 for awareness

[2020-03-19 00:18] KarlErickson commented on #77
@selvasingh can you provide input here? @bmitchell287 for awareness.

[2020-03-19 00:20] KarlErickson commented on #60
@dhaval24 can you provide input here? @selvasingh @bmitchell287 for awareness

[2020-03-19 00:21] KarlErickson commented on #39
@bmitchell287 can you follow up on this? Thanks.

[2020-03-19 00:27] KarlErickson commented on #31
@allantargino thanks for the input! We'll take this suggestion into consideration in our planning.

[2020-03-19 15:47] KarlErickson commented on #29
@yucwan can you provide some input here?
@bmitchell287 for awareness.

[2020-03-19 15:52] jschrap commented on #29
I believe the latest Springboot version fixes this.

[2020-03-19 17:54] josh-qf opened #98 "Python app deployment hangs at "Creating zip package""
https://docs.microsoft.com/en-us/azure/python/tutorial-deploy-app-service-on-linux-05
Python app deployment stuck at "Creating zip package".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 911c2447-654c-3c24-d17c-86e1c902d32d
* Version Independent ID: 543854d9-d319-70d7-ecb8-60c4bda3ccd7
* Content: [Step 5: Deploy a Pyt

[2020-03-19 22:57] jaimodha opened #99 "Is there a way to use gradle?"

[2020-03-20 07:21] mleidecker opened #100 "Example for Managed Identities needs improvement"
Hi,

die example for the Managed Identites has a typo.

It should be:
"for resource_group in client.resource_groups.list():"

instead of:
"for resource_group in resource_client.resource_groups.list():"

It would also be great if you give an example how to reference the Managed Identity as it can be passed in the constructor of:

# Create MSI Authentication
credentials = MSIAuthentication()

like:

[2020-03-20 07:42] seanli1988 commented on #31
thank you for your feedback and I've noted it down in our backlog. we are lacking reference guides for most of our Spring modules and we will improve it over time.

[2020-03-20 12:19] allantargino commented on #31
Thank you folks!

[2020-03-20 17:56] kraigb commented on #98
@josh-qf Thanks for the report; I'll try to replicate the issue in the next few days.

[2020-03-20 17:57] kraigb commented on #97
@nickmhankins Yes, there were some changes and the docs are a little out of date. I'm working on an update but no definite ETA yet.

[2020-03-20 17:58] kraigb commented on #100
@mleidecker Thanks for the details; I'm working on a revision to that article. No definite ETA yet, though.

[2020-03-22 15:57] JMayrbaeurl opened #101 "Missing configuration for output destination in application.properties"
Spring Boot configuration in 'application.properties' is missing the following line (otherwise crashes on context creation):

spring.cloud.stream.bindings.output.destination=wingtiptoyshub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f82b124-deb4-9ae4-21de-8d0e5f8ca302
* Version Independent ID: 515ca402-b5bb-85a7-99

[2020-03-24 01:19] glaucia86 opened #102 "[Bug Report] Docker --password-stdin command doesn't work"
**Link:** [https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-docker-node-02](https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-docker-node-02 )

In the step 7 asked to use the command:

**> docker login .azurecr.io -u --password-stdin**

![image](https://user-images.githubusercontent.com/1631477/77378186-12e68880-6d54-11ea-8ea0-cc365e190d12.png)

But using the other

[2020-03-24 20:17] selvasingh commented on #87
@yucwan should review and fix

[2020-03-24 20:19] selvasingh commented on #91
@kulkarnisonia16 - please review this entry

[2020-03-24 20:24] selvasingh commented on #96
@yaohaizh (Yaohai Zhang) should able to help

[2020-03-24 20:26] selvasingh commented on #21
This needs to be verified and fixed

[2020-03-24 20:28] selvasingh commented on #41
@m-reza-rahman - request you to help here.

[2020-03-24 20:58] m-reza-rahman commented on #41
@selvasingh can you kindly file an internal issue? We can prioritize it as bandwidth becomes available, likely next semester.

[2020-03-25 04:01] sabind opened #103 "Typo in Tip"
Below is the text with the typo surrounded by “quotes“.

Tip
When deploying, the entire Functions application “is deploy” so changes to all individual Functions will be deployed at once.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f600e51-0ee3-ea85-d183-3d21c7a86efc
* Version Independent ID: 97c4f2ff-9ac0-9fe0-34b2

[2020-03-26 07:58] yucwan commented on #87
@jyotsnaravikumar please install acr credential helper first, see: https://github.com/Azure/acr-docker-credential-helper

@bmitchell287 I will submit a pr to fix this.

[2020-03-26 20:32] BeigeBadger opened #104 "Debugging fails if Microsoft Azure storage emulator is not running"
The default `local.settings.json` that is generated looks like this:

[code]

However, if a user tries to follow the guide and start debugging, they will be presented with the following prompt:

![https://i.imgur.com/j0iNzwl.png](https://i.imgur.com/j0iNzwl.png)

If you click "Debug anyway" you will get runtime errors related to the storage:

The fix for this is to:

1. Install the Microsoft Azure

[2020-03-26 21:44] kraigb commented on #104
@BeigeBadger Thanks. I'll get this incorporated into the docs when I have a chance.

[2020-03-26 21:53] #103 closed

[2020-03-26 23:56] BeigeBadger commented on #104
Thanks for getting onto this so quickly @kraigb!

[2020-03-27 18:04] kraigb commented on #98
@josh-qf Hi--I tested the process again with a simple Flask app and the deployment worked fine. Because this is potentially an engineering issue or something specific to your code, I suggest you file an issue https://github.com/Azure/azure-sdk-for-python/issues so the engineering team can work with you on the specifics.

In the meantime, I'm closing this issue because it's not specifically about t

[2020-03-27 18:04] #98 closed

[2020-03-31 18:30] ageipel opened #106 "Runtime exception when running test application"
Received the following log message when attempting to send a message to the test application. I assume this isn't a serious issue as indicated by the log level, however is there an explanation to why this is appearing and a possible resolution to prevent this from occurring?

Side note: is this test app only meant to return the last message sent via CURL to the application, or does this actually o

[2020-03-31 20:30] jdubois commented on #59
Thanks @joergjo - as discussed with @KarlErickson I will update that documentation (and probably also the ones on MySQL and MS SQL Server as they work the same way).

As explained in the [Hibernate documentation](https://docs.jboss.org/hibernate/orm/current/userguide/html_single/Hibernate_User_Guide.html), using `create` will result in: "Database dropping will be generated followed by database cre

[2020-03-31 21:09] JonnewDev-blip opened #107 "Can't find where to configure partition key in code example?"
When I run the example it fails with error,

Gremlin Query Execution Error: Cannot add a vertex where the partition key property has value 'null'
Seems I need to configure a partition key somewhere but I can't find where to do it or set up Cosmos Db without a partition key which is a deprecated setup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-04-01 17:18] #59 closed

[2020-04-01 18:13] #106 closed

[2020-04-01 18:15] ageipel commented on #106
Closed. Take special care to format the application.yaml file properly (if using it as opposed to application.properties) when it comes to this setting:
`spring.cloud.stream.eventhub.bindings.input.consumer.checkpoint-mode=MANUAL`

[2020-04-01 18:17] bmitchell287 commented on #107
@selvasingh - Would you please forward to the appropriate contact.

cc: KarlErickson

[2020-04-01 18:20] bmitchell287 commented on #101
@seanli1988 - Sean would you please forward to the appropriate contact and assign? Adding @KarlErickson for editorial support. Thanks.

[2020-04-02 14:55] KarlErickson commented on #101
Thanks @JMayrbaeurl - I've just merged this fix.

[2020-04-02 14:55] #101 closed

[2020-04-03 15:51] selvasingh commented on #79
Added @edburns and @m-reza-rahman

[2020-04-03 15:59] m-reza-rahman commented on #79
Hello @ashoksuryap,

Would you mind sending me an email at reza dot rahman at microsoft dot com on this topic? In short, we can easily prioritize this work if we can identify a credible customer that would follow this migration path.

Thanks,
Reza

[2020-04-05 12:08] JonnewDev-blip commented on #107
Perhaps this could be related to my issue, https://github.com/microsoft/spring-data-gremlin/issues/232

[2020-04-07 22:50] timmyreilly opened #110 "Typo: - name: Ceate second virtual network"
Typo in Ansible script here: https://docs.microsoft.com/en-us/azure/developer/ansible/virtual-network-peering-configure#create-the-second-virtual-network

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 009c3b43-b54e-fce3-2ad2-74d8dee95a6e
* Version Independent ID: f529513c-24ed-2092-7590-5fe89e811009
* Content: [Tutoria

[2020-04-07 22:54] nicksc423 opened #111 "Why is the Grant Admin Consent screenshot there"
Under step 5 for "Add an application registration for your Spring Boot app" there is a screenshot that appears to be telling you to click Grant Admin consent for your App Registration, but there is no text telling you to do this?

This is super confusing, I have no idea if I am supposed to do this or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-04-08 17:15] 36roentgen opened #112 "azure_rm.py link broken"
&gt; GET /ansible/ansible/blob/devel/contrib/inventory/azure_rm.py HTTP/1.1
&gt; Host: github.com
&gt; User-Agent: curl/7.64.1
&gt; Accept: */*
&gt;
&lt; HTTP/1.1 404 Not Found
&lt; server: GitHub.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 059a1972-09ee-02a7-8159-07ba04a2c763
* Version Independent ID: 4323aa16-

[2020-04-14 17:48] kraigb commented on #97
@nickmhankins Apologies for my slow response--I've been working through the details amidst other priorities. :)

The code in the article is actually correct, and in some ways so is the documentation. That is, you do use _from azure.common.credentials import ServicePrincipalCredentials_ for the ServicePrincipalCredentials class, which is why the code is correct. That said, the object itself does ul

[2020-04-14 17:48] #97 closed

[2020-04-14 21:13] kraigb commented on #100
@mleidecker Update: I have the revised article in review, which actually removes the MSIAuthentication code in favor of using DefaultAzureCredential. Here's what the code in that section looks like (using a Key Vault SecretClient for the example, which is taken from a longer walkthrough that I'm working on):

I'll let you know when the new article is published, at which point I'll be closing this

[2020-04-16 16:34] gkgaurav31 opened #114 "How to use a cloud-init configuration via Java SDK for Azure VM"
I am looking for an equivalent Java Code for the following command, specifically the --custom-data option:

az vm create \
  --resource-group myResourceGroup \
  --name centos74 \
  --image OpenLogic:CentOS:7-CI:latest \
  **--custom-data cloud_init_hostname.txt \**
  --generate-ssh-keys

https://docs.microsoft.com/bs-latn-ba/azure/virtual-machines/linux/cloudinit-update-vm-hostname?view=azure-jav

[2020-04-17 14:51] vvoinov opened #116 "Role/group setup is not working and the description is confusing"
Have followed all the steps from the example and authentication part (sign in) works for me. However, authorization part (role/group) access is not working - I don't get role setup in AD inside Spring Boot App - my authenticated user has 'ROLE_USER' authorization.
The documentation around role/group is bit misleading since the group name in AD is 'users' however the value in Spring Boot App is 'Us

[2020-04-20 21:17] muratcabuk commented on #112
is there any update? it is still not working.

[2020-04-22 18:29] KarlErickson commented on #99
@yucwan can you comment here? Thanks.

[2020-04-22 19:11] KarlErickson commented on #111
@nicksc423 thanks for the feedback! We'll look into this.
@seanli1988 can you comment here? Thanks!

[2020-04-22 19:22] KarlErickson commented on #116
@vvoinov thanks for the feedback! We'll investigate and update the topic to clear things up.
@seanli1988 can you comment here? Thanks!

[2020-04-23 09:18] yucwan commented on #99
Hi @jaimodha, we are mostly supporting Azure PaaS with Maven plugins at: https://github.com/microsoft/azure-maven-plugins

We just initiated a [similar project for Gradle](https://github.com/microsoft/azure-gradle-plugins), but it only [support Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-gradle) for now. Could you share more about what kind o

[2020-04-23 10:20] Thomas-Bergmann opened #123 "Mixed Keys not supported like prefix.keygroup-key"
Hi,
I got multiple problems with combining Azure Keyvault Spring and Keycloak. It points out that the not supported dot "." in secret keys of Azure Keyvault produces a lot of trouble.

I used the "starter" to provide an simple example.

I used following versions:
com.microsoft.azure:azure-keyvault-secrets-spring-boot-starter:2.2.0
org.springframework.boot:spring-boot-starter-parent:2.2.6.RELEASE
o

[2020-04-23 20:05] KarlErickson commented on #123
@Thomas-Bergmann thanks for the info! We'll look into integrating this guidance into the docs.
@seanli1988 can you comment here? Thanks.

[2020-04-24 15:06] haenf opened #124 "Deploy Python web app to Azure App Service - problem"
[Enter feedback here]

I studied the VSCode tutorial "Deploy Python web app to Azure App Service on Linux". For some small Python/Flask applications it worked without any problems. But when I tried it out on a couple of bigger Python/Flask application that I have running for more than a year as Azure web apps for Windows, I got stuck. It looks like there is a problem with what happens to virtual e

[2020-04-24 18:51] hire-him opened #125 "Question"
Why use ansible when helm deployment is possible. I am trying to understand use case ? or ansible and helm are complimentary solutions to each other ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2283dc1-c38e-81ee-c9d9-fd986933b1d5
* Version Independent ID: 39d3c09c-6179-ea2e-7e4b-38bbe5026026
* Content: [Tutorial -

[2020-04-24 21:24] kraigb commented on #124
@haenf Thanks for writing out this issue in detail. The container log clearly shows that it's not finding the virtual environment folder, antenv, which is where the flask_cors library (and everything else) is supposed to be installed.

The error before that, however, says "Cound not find build manifest file at '/home/site/wwwroot/oryx-manifest.toml'" (interesting typo with "Cound"!). That manifest

[2020-04-25 10:50] haenf commented on #124
Kraig,

Thank you for your quick reply. The SCM_DO_BUILD_DURING_DEPLOYMENT = true statement helped indeed, as you can see from these log details:

2020-04-25T09:05:57.133228101Z Extracting to directory /antenv...

2020-04-25T09:06:03.387041527Z Using packages from virtual environment antenv located at /antenv.

2020-04-25T09:06:03.387452057Z Updated PYTHONPATH to ':/antenv/lib/python3.8/site-packa

[2020-04-26 19:36] kraigb commented on #124
It looks like gunicorn is trying to use port 8000 but the app is running on 5000. In that case, I believe you need to change the -b 0.0.0.0 line in your startup command to -b 0.0.0.0:5000 (see https://docs.gunicorn.org/en/stable/settings.html#bind). Or to be more precise, try this with your startup command:

gunicorn --bind=0.0.0.0:5000 --timeout 600 TmodApi:app

[2020-04-28 02:48] lrxtom2 opened #126 "The tutorial could only reproduces in function app which os type is windows."
Please pay attention.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8984381e-8bfd-776c-c2f7-cc0f608c756d
* Version Independent ID: 73f51811-5f38-a96a-58c6-0683c0242ee4
* Content: [Tutorial - Deploy to Azure Functions using Jenkins](https://docs.microsoft.com/en-us/azure/developer/jenkins/deploy-to-azure-functions?toc=

[2020-04-28 13:38] briannoble113 opened #127 "No available subscription found in current account"
Hi,

I've followed the instructions above but at the point of deploying to Azure I get the following error:

[ERROR] Failed to execute goal com.microsoft.azure:azure-webapp-maven-plugin:1.9.0:deploy (default-cli) on project spring-boot: Encoutering error when deploying to azure: 'No available subscription found in current account.'

I have a Free Trial subscription.  I can see when I run "az login

[2020-04-28 16:17] roshinirevindranathan opened #128 "Failed to instantiate [com.microsoft.azure.spring.cloud.autoconfigure.telemetry.TelemetrySender"
Not sure whether this document works... I am getting the following exception during the application startup.
Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [com.microsoft.azure.spring.cloud.autoconfigure.telemetry.TelemetrySender]: Factory method 'telemetrySender' threw exception; nested exception is java.lang.NoClassDefFoundError: javax/xml/bind/JAXBExcepti

[2020-04-28 16:22] bmitchell287 commented on #128
@seanli1988 @yucwan - Sean/Yuchen - Would you please look into this issue? Thanks.

cc: @KarlErickson

[2020-04-28 22:29] mapeterson42 opened #129 "Adding the VMs to the LB"
Am I missing something or does this just create 2 VMs and a Load Balancer that aren't in any way connected without additional work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef91226-6c89-f8f1-3400-28d633cd1791
* Version Independent ID: 19ea3aee-2e71-0764-110c-fadf241c377f
* Content: [Tutorial - Create an Azure VM

[2020-04-29 01:27] seanli1988 commented on #128
This is a spring integrations related issue. I've opened a bug tracking and assigned it to myself.

[2020-04-29 12:18] haenf commented on #124
Kraig,

In my code I have set the wsgi server to its defaults ('0.0.0.0', 8080) and then gunicorn had no problems with it. According to the log files the building process now functions ok. But there is still some kind of error in the container, because I can't approach it with Postman. I don't know what is going on inside, and I find it hard to debug (the source without being containerized works f

[2020-04-29 13:36] kraigb commented on #124
I'm glad you're at least unblocked. Nevertheless, the engineering team will likely want to know about the issue you're having. Can you file one at https://github.com/microsoft/vscode-azureappservice/issues so they can investigate?

In the meantime, I'm closing this docs issue as it appears resolved. But feel free to open again if needed.

[2020-04-29 13:36] #124 closed

[2020-04-29 23:33] aricbernard opened #130 "Missing pre-requisites"
The line in the script configuration "public_key     = file("/home/azureuser/.ssh/authorized_keys")" assumes that this is a local folder that exists with the appropriate keys in it - typically only present on a Linux host.  Anyone executing this on a Windows host would see a failure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-04-29 23:36] aricbernard opened #131 "Incorrect syntax in Create virtual network interface card code"
The following two lines of code in the Create virtual network interface card are incorrect using out-dated syntax and will result in a failure:

subnet_id                     = "${azurerm_subnet.myterraformsubnet.id}"
public_ip_address_id          = "${azurerm_public_ip.myterraformpublicip.id}"

The corresponding code in the Complete Terraform script section is correct.

---
#### Document Details

[2020-04-30 04:18] taragurung opened #133 "How to allow azure devops to connect to jenkins accepting connection from VPN only?"
The documentation is great but suppose If Jenkins accept request from certain IP only or Let's say the request to Jenkins comes via VPN only. For such scenario may be you can add some link to the resource guiding how to put the ip ranges or any ip's that azure provides.
---
#### Documents

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba5c28a5-b

[2020-04-30 13:17] AllenVisser opened #135 "Disconnect in information"
There is a disconnect in the procedure.
No mention is made around how to first login to Azure via az login and then running the sample script.
Following your article, step for step, this is my outcome. i know how to find a workaround for the az login before running the samp script again.
Error: Error building AzureRM Client: Azure CLI Authorization Profile was not found. Please ensure the Azure CL

[2020-04-30 18:23] brucedkyle opened #136 "Missing Gradle?"
I seem to be missing a step. I might have misunderstood the steps, but when I get to Build, I do not see Gradle. In what I think is the Build tab/section has:
- Copy artifacts from another project
- Deploy to Azure Container Service (AKS)
- Deploy to Kubernetes
- Download from Azure Strorage
- Execute Windows batch command
- Execute shell
- Invoke top-level Maven targets
- Queue an ACR Quick Task

[2020-05-01 00:16] caromeva opened #137 "Please Update Tutorial"
Hi Microsoft Girls and Guys,

Please you could update the tutorial, i made this tutorial following all example, including this sample https://github.com/microsoft/azure-spring-boot/tree/master/azure-spring-boot-samples/azure-active-directory-b2c-oidc-spring-boot-sample
But I have errors, the pictures of process of creation of user flow in point 4 into this section : Add an application registration

[2020-05-01 19:10] onkarthg opened #138 "ansible authentication"
as per this documentation, there is no need to ssh key for dynamic ansible but its showing errors, please could you provide me solution on this

[2020-05-04 07:17] qt-luigi opened #140 "Replaced words to match"
[Enter feedback here]

I found to need replaced the two words used in the "Using environment-based authentication" section with the words used in "Available authentication types and methods" section.

First, "all authentication methods" replaces "all authentication types". ("methods"->"types")

Before

Environment-based authentication has support for all authentication methods except device tokens

[2020-05-04 21:11] KarlErickson commented on #137
@caromeva thanks for the feedback! We'll investigate and update the topic.

[2020-05-05 22:41] f3rdy commented on #112
You can go for the script up to stable-2.9 but keep in mind, that the contributed scripts are deprecated in favor of the inventory plugin.

https://github.com/ansible/ansible/blob/stable-2.7/contrib/inventory/azure_rm.py

[2020-05-06 10:57] usalaka opened #141 "Exceptions"
Hi,
I have tried this example multple times so far and I always keep getting the error below. I can be reached at salaka3@yahoo.com. Appreciate if you can resolve this issue.

com.microsoft.aad.adal4j.AuthenticationException: {"error_description":"AADSTS240002: Input id_token cannot be used as 'urn:ietf:params:oauth:grant-type:jwt-bearer' grant.\r\nTrace ID: 7a42171f-c174-4f3a-a1fb-c18848ff7100\r\

[2020-05-06 18:00] cdeil opened #142 "Mention how to configure general Python app"
At https://docs.microsoft.com/en-us/azure/developer/python/tutorial-deploy-app-service-on-linux-04 you explain how to configure startup for Django and Flask.

In my case I'd e.g. like to run FastAPI.

Could you please add an example how to start any WSGI or ASGI app, maybe using FastAPI as an example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-05-06 19:09] kraigb commented on #142
I'd be happy to update the article, but I would need a little help with the details (otherwise it's going to be a low-priority item on my backlog). My experience with WSGI/ASGI matters is somewhat limited.

In general, I would expect you could launch a FastAPI or any other app with gunicorn using the same $(MODULE_NAME):$(VARIABLE_NAME) format as shown for Flask. According to https://docs.gunicorn

[2020-05-06 19:42] cdeil commented on #142
@kraigb  - Thanks for the quick reply!

I'm also new to web development and deployment, so I probably won't be very helpful.

Yes, I think what that is correct. Basically in Python thanks to WSGI one can run most Python web apps in the same way, never mind the framework (Flask, FastAPI, ...).

E.g. note how the equivalent thing is explained here:
* https://devcenter.heroku.com/articles/getting-sta

[2020-05-06 21:10] kraigb commented on #142
Yes, you can put the command directly into the startup setting; a separate file isn't required, but is generally recommended because it can then be included in the app's source repository rather than being a bit of information that exists only in Azure.

From the links you gave (thank you!), I would think you can just refer to the appropriate module:app for most frameworks other than Django, in wh

[2020-05-06 21:49] cdeil commented on #142
Following [this](https://fastapi.tiangolo.com/deployment/#deploy-a-fastapi-application) and [this](https://www.uvicorn.org/#running-with-gunicorn) I tried this `startup.txt`
[code]
with a getting started fastapi example `application.py`
[code]

Getting this error:
[code]

@kraigb  - if you manage to get FastAPI to run, please let me know.

[2020-05-06 21:51] cdeil commented on #142
Found this: https://github.com/microsoft/cookiecutter-spacy-fastapi/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/main.py

Will try tomorrow.

[2020-05-07 07:17] elizeire commented on #141
Same here, any updates?

[2020-05-07 14:09] deathgaze opened #144 "Sample script is amazingly complex"
and no explaination of it is given. This is not a very useful "tutorial", more like "here is a repo that does almost everything for you. it's basically undocumented, glhf." Perhaps a more simple tutorial is needed that gets users familiar with the basics of deploying code to kubernetes before jumping straight into the complexities of blue/green deployments. As it is now, it looks as if I'll have t

[2020-05-07 20:27] cdeil commented on #142
I did manage to run my FastAPI app by putting this in my `startup.sh`:
[code]
Looks like one can put any startup command one likes in that file, it's just executed like a bash command?

There were two gotchas for me:
1. When creating the resource, I forgot to declare `--startup-file startup.sh`, so yesterday while I was trying out things, it was never used.
2. Just putting `uvicorn` in `requiremen

[2020-05-07 21:07] kraigb commented on #142
Thanks for reporting back! I'm glad you got it working, and I appreciate the details you've found. With uvicorn, requirements are always installed in a virtual environment and aren't assumed to be executable tools like uvicorn. So python -m is exactly the right answer.

Good note about including --startup-file; that would certainly matter! And yes, you can put any command in the startup file; I th

[2020-05-08 04:13] kprpg opened #145 "Document defect"

[2020-05-08 17:20] basanaguk opened #146 "Failed to deploy VM"
Ansible solution template in the Azure Marketplace doesn't deploy successfully, fails for ansiblehost/Init.
Can provide complete error for investigation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbac8547-e10d-0438-e698-a60333d9eaea
* Version Independent ID: 387803db-c79d-137e-a70c-5b68d0e7d772
* Content: [Quickst

[2020-05-08 17:22] basanaguk commented on #146
Complete error response from deployment below:

`{
    "status": "Failed",
    "error": {
        "code": "ResourceDeploymentFailure",
        "message": "The resource operation completed with terminal provisioning state 'Failed'.",
        "details": [
            {
                "code": "VMExtensionProvisioningError",
                "message": "VM has reported a failure when processing extens

[2020-05-08 21:06] KarlErickson commented on #111
@nicksc423 this is fixed now. Thanks again for the feedback!

[2020-05-08 21:06] #111 closed

[2020-05-08 21:09] KarlErickson commented on #145
@kprpg could you provide more detail, including the title or URL of the topic? Thanks!

[2020-05-08 21:11] KarlErickson commented on #141
@usalaka thanks for the feedback!
@elizeire thanks for the suggested fix!
We'll verify this and update the topic.

[2020-05-08 21:31] KarlErickson commented on #99
@jaimodha I'm closing this but you can still reply here. Thanks!

[2020-05-08 21:31] #99 closed

[2020-05-08 21:36] KarlErickson commented on #39
@noelbundick thanks for the feedback! Just wanted to let you know that these are all known issues that we are thinking about currently. We will definitely update the documentation when we have worked through some related issues. I'm closing this issue for now, but if you have additional feedback, please do not hesitate to reopen it, or create a new issue. Thanks again!

[2020-05-08 21:36] #39 closed

[2020-05-08 21:52] KarlErickson commented on #41
@m-reza-rahman I have filed an internal issue and assigned to you. Closing this issue because it is not immediately actionable.

[2020-05-08 21:52] #41 closed

[2020-05-08 23:56] KarlErickson commented on #31
Closing this issue since we're tracking this in our internal backlog.

[2020-05-08 23:56] #31 closed

[2020-05-09 00:02] KarlErickson commented on #33
@jdubois can you comment here? Please also update the topic if necessary. Thanks!

[2020-05-09 05:13] anishi1222 opened #147 ""Java Flight Recorder" in title should be modified"
Indeed the name of "Java Flight Recorder" was correct when Flight Recorder was a part of Oracle proprietary products. However, when this product was open sourced, this was rebranded "JDK Flight Recorder" due to Java trademark issues. So, I would like to propose that the title of this content should be modified and not "Java Flight Recorder" but "JDK Flight Recorder" should be used. If contents are

[2020-05-09 12:51] jcheak commented on #141
I tried the extra step.  I could still not get it to work.  Maybe others will have better luck than me.

[2020-05-09 18:12] THG-onkar opened #148 "the puppet agentusing terraform azure"
hello
I want to deploy puppet client with terraform, was search hashicrop document for how to create azure VM with puppet configuration using terraform but didn't get the exact solution.

my question is if we deploy azure virtual machine using terraform and add the puppet client configuration in same VM code using shell scripting is it possible?? in azure terraform

[2020-05-10 00:25] Scopeix commented on #127
+1,  Facing the same issue. Any idea why this is happening.

[2020-05-11 08:59] nabeelp opened #149 "No longer supported"
According to the issue logged at https://github.com/chef-partners/azure-chef-extension/issues/292, this method of installing the extension is no longer supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2c6aa7c-6cee-f980-5446-8ca3be824078
* Version Independent ID: 4e42cb98-b847-f42c-ce31-4d9c686457a9
* Content:

[2020-05-11 09:10] seanli1988 commented on #141
i've filed a bug for tracking https://msazure.visualstudio.com/Unified%20Platform%20KPIs/_workitems/edit/7195325

[2020-05-11 11:42] jdubois commented on #33
This complicates the code quite a bit, but is indeed more correct.
I've fixed this in the default sample, see PR https://github.com/Azure-Samples/hello-spring-function-azure/pull/13 and PR https://github.com/Azure-Samples/hello-spring-function-azure/pull/12

I'm going to add a PR to fix it in this docs too

[2020-05-11 11:48] jdubois commented on #33
PR done in the docs at https://github.com/MicrosoftDocs/azure-dev-docs/pull/151

[2020-05-11 16:55] angelo-loria opened #152 "Service Principal Creation Update"
az ad sp create-for-rbac no longer takes --username --password, maybe update to az ad sp create-for-rbac --sdk-auth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a310f63f-d11a-2b6a-0abd-4b75f543676b
* Version Independent ID: 21c8a211-1f42-9448-b72e-c84a52ae9ad2
* Content: [Tutorial - Scale Jenkins deployments with Azu

[2020-05-11 18:00] TomArcherMsft commented on #129
@mapeterson42 According to the checklist at the beginning of the article, that is correct. If you would like, I can add to our documentation backlog the idea of extending this tutorial. #please-close

[2020-05-11 18:05] #129 closed

[2020-05-11 18:09] KarlErickson commented on #147
@anishi1222 thanks for the feedback! I'll confirm and update the topic.

[2020-05-11 18:13] #33 closed

[2020-05-12 01:05] TomArcherMsft commented on #130
@aricbernard Thank you for the feedback. I've added a note to the documentation explaining the requirements of the Azure VM Agent and warning Windows users.#please-close

[2020-05-12 01:34] TomArcherMsft commented on #131
@aricbernard Thanks for the feedback. I updated the code in question.

#please-close

[2020-05-12 01:34] #131 closed

[2020-05-12 01:35] #130 closed

[2020-05-12 22:42] KarlErickson commented on #87
I've verified that this is fixed, so I'm closing.

[2020-05-12 22:42] #87 closed

[2020-05-13 07:21] carniwar opened #156 "Wrong parameter name"
In section "Create PostgreSQL database using the psql command-line utility", step 1 provides the description "Specifies the PostgreSQL server port, which is 5432 by default." for "host" parameter for the second time. Should be "port" instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42aebd73-b9e2-c565-cb51-4212c6

[2020-05-13 13:47] KarlErickson commented on #156
@carniwar thanks for catching this! I've updated the topic and will close this issue when the change goes live.

[2020-05-13 19:27] georgepapad opened #157 "Error while attempting to get secret from Vault"
Has anyone seen this error while attempting to get the secret from the vault

020-05-13T17:06:34.2940600Z TASK [debug] *******************************************************************
2020-05-13T17:06:34.3470632Z ok: [localhost] => {
2020-05-13T17:06:34.3472376Z     "output['secrets'][0]['secret']": "VARIABLE IS NOT DEFINED!: list object has no element 0"
2020-05-13T17:06:34.3472751Z }

I can g

[2020-05-13 23:52] fransico-s-lourenco commented on #141
Hello,
I tried the example mentioned, but I'm having the following error: oauth2Login () Undefined in HttpSecurity dependency

[2020-05-13 23:53] franciscoslour opened #158 "Undefined oauth2Login"
Hello,
I tried the example mentioned, but I'm having the following error: oauth2Login () Undefined in HttpSecurity dependency

---
#### Detalhes do Documento

⚠ *Não edite esta secção. É necessário para a ligação de problemas docs.microsoft.com ➟ GitHub.*

* ID: 3233e2cc-1075-1c20-d8f8-65161949e341
* Version Independent ID: e3cef834-e81c-de56-9224-a22f7abdfb7e
* Content: [How to use the Spring Boo

[2020-05-14 16:49] enak opened #162 "oauth2AllowIdTokenImplicitFlow needed"
In the Manifest, I also had to set `oauth2AllowIdTokenImplicitFlow` to true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3233e2cc-1075-1c20-d8f8-65161949e341
* Version Independent ID: e3cef834-e81c-de56-9224-a22f7abdfb7e
* Content: [How to use the Spring Boot Starter for Azure Active Directory](https://docs.microsof

[2020-05-14 17:11] bmitchell287 commented on #162
@KarlErickson - Thanks @enak. Karl would you please investigate?

[2020-05-14 21:33] KarlErickson commented on #158
@fransico-s-lourenco thanks for the feedback! We'll investigate and update the topic.

[2020-05-14 21:43] KarlErickson commented on #145
@kprpg I'm closing this for now. Feel free to reopen when you can provide more details. Thanks!

[2020-05-14 21:43] #145 closed

[2020-05-17 23:09] erosen03 opened #164 "Pay close attention to version dependencies"
In order to get Ansible to work properly with Azure, you must have the exact component versions in the 'sudo pip install ansible[azure]'. However, you will most likely have newer versions already, and this will cause issues. Tell pip install to overwrite existing component versions by using the '--ignore-installed' paramter:

sudo pip install ansible[azure] --ignore-installed

---
#### Document De

[2020-05-17 23:12] erosen03 opened #165 "Don't forget to install the Azure CLI"
Ansible needs the Azure CLI installed in order to properly pull inventory from Azure. Use these instructions to properly install the Azure CLI:

https://docs.microsoft.com/en-us/azure/developer/ansible/install-on-linux-vm

It is not as simple as getting it from the OS' package manager.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-05-18 08:40] fransico-s-lourenco commented on #158
Thank you in advance

[2020-05-18 11:40] rajeshpolinati opened #167 "Install the resource management library"
Please change the command from "azire-cli-core" to "azure-cli-core"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cf9ee4a-da91-9fcf-5f87-63672ecfc30c
* Version Independent ID: a4e01885-e638-59b3-698c-6123b25b6260
* Content: [Provision a resource group using the Azure SDK for Python](https://docs.microsoft.com/en-us/a

[2020-05-18 15:42] kraigb commented on #167
Thanks for reporting this...I just published a bunch of new material and it's not surprising that there's a typo here and there.

[2020-05-18 15:44] #167 closed

[2020-05-18 17:28] mortezaadi commented on #127
Same issue here!

[2020-05-18 18:31] codycodes opened #169 "Step 4: Run the script; filename typo"
Please change the command from:

`python provision_blob.py`

to:

`python provision_rg.py`

To run the file provision_rg.py, created in the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cf9ee4a-da91-9fcf-5f87-63672ecfc30c
* Version Independent ID: a4e01885-e638-59b3-698c-6123b25b6260
* Content: [Provision a

[2020-05-18 18:42] kraigb commented on #169
Thanks for pointing that out! Just a copy-paste error from one of the other articles I put together at the same time.

[2020-05-18 18:44] #169 closed

[2020-05-19 04:10] kraigb commented on #100
Auth article has been updated now on https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-authenticate?tabs=bash, covering Managed Identity among other things.

[2020-05-19 04:10] #100 closed

[2020-05-19 04:34] ajafry opened #170 "Extra word"
Small correction to the second sentence:
Cloud Shell ~~provides~~ enables you to use either a Bash or PowerShell command line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fcf122-bbe5-875a-a5e7-8d12f4926c95
* Version Independent ID: b606b1bf-3a39-b39d-9bae-6c367dcbc6ab
* Content: [Quickstart - Run Ansible playbooks

[2020-05-19 04:42] TomArcherMsft commented on #170
@ajafry Thanks for the feedback. I'll fix this typo this week.

[2020-05-19 15:56] andrewCluey opened #171 "Sample app not working"
Everything appears to work, all looks good, but the final step (sample app) doesn't result in a publicly available page (just the app GW 502 error).

I was expecting that the Ingress controller would configure the app gateway, with all backend targets etc, but the back end target is missing.

is this intended? Shouldn't the sample yml file result in the app gateway having a target backend FQDN/IP?

[2020-05-19 16:15] #142 closed

[2020-05-19 17:39] #104 closed

[2020-05-19 17:42] kraigb commented on #104
Apologies for taking a long time to get to this, but I did update the article just now to include mention of the error. That said, in reviewing the whole process, the "UseDevelopmentStorage=true" value doesn't seem to be the default any longer...when I tested the process, the value for AzureWebJobsStorage was just an empty string. So the extension may have been updated in the last two months. In a

[2020-05-20 01:55] TomArcherMsft commented on #135
@AllenVisser Could you give me a little more info on your environment. Are you using CloudShell, a Linux VM, or Windows?

[2020-05-20 16:44] Rachidba commented on #127
Hello,
I had the same issue and I solved it by adding "<authType>azure cli</authType>" to the azure-web-maven-plugin's configuration.
[code]

[2020-05-20 20:03] gbroiles opened #172 "Extra word"
In the sentence beginning with “All the resources in the same group are be co-located in that data center...”, “group are be located” should be “group are located”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23cb0e26-3ae1-1499-d71f-92fc8e473fce
* Version Independent ID: f345fb2f-bd3d-e186-5768-75ab27cd113f
* Content

[2020-05-20 20:54] kraigb commented on #172
@gbroiles Thanks for catching the typo and reporting the issue! I'll get it fixed right away.

[2020-05-20 20:58] #172 closed

[2020-05-20 21:00] kraigb commented on #172
Fixed; update will go out with next publish cycle.

@gbroiles Just to note, because this is a new article I just added to the Dev Center last week, I'd be happy to hear any feedback on the content.

[2020-05-20 21:10] kraigb commented on #84
@jasonzio Wanted to let you know that at long last I'm finally getting to logging matters. I appreciate your patience. To answer one of your questions directly, have you tried this for storage?:

[code]

Alternately, you could add a handler that directs the output for that module to a different place other than stdout or where you're picking up all other logs.

I'm otherwise still researching furt

[2020-05-20 21:23] jasonzio commented on #84
As I noted in my initial message, changes at the azure.storage.blob level were ineffective, but I admit I didn't try setLevel(logging.NOTSET); that never would have occurred to me. And even if it works, that would stop all logging from that module, and that's not actually my goal; I want to hear about errors, and even warnings. I just want the flood of logs at INFO.

You have given me another plac

[2020-05-20 21:29] kraigb commented on #169
By the way, @codycodes, I'd love to hear any thoughts you have on this and the other articles on the Python Dev Center. I just overhauled a bunch of it and would appreciate any feedback.

[2020-05-20 21:29] kraigb commented on #167
By the way, @rajeshpolinati, I'd love to hear any thoughts you have on this and the other articles on the Python Dev Center. I just overhauled a bunch of it and would appreciate any feedback.

[2020-05-20 22:06] kraigb commented on #84
Yep, that's why I'm working on such documentation. We've known the need for a while and it's finally bubbled up to the top of the SDK-docs piles for me.

[2020-05-20 23:22] gbroiles commented on #172
@kraigb, I found it generally helpful and clear, just though it might be nice to fix the extra word. I was in Nevada City last weekend, it's a beautiful place! I'll take a look at the docs again and see if anything else jumps out at me.

[2020-05-20 23:31] tonyabedini opened #173 "I keep getting errors while running 'terraform plan'"
With 1.38 I got errors about "location" being an invalid resource.  After a 'terraform init', now I'm getting this error:

Error: Invalid resource type

  on .terraform/modules/mycompute/terraform-azurerm-compute-3.2.0/main.tf line 205, in resource "azurerm_network_interface_security_group_association" "test":
 205: resource "azurerm_network_interface_security_group_association" "test" {

The prov

[2020-05-21 07:52] debinaik opened #174 "Azure function console log is not expected"
Hi ,
I was trying to setup azure function setup in IntelliJ by following "  https://docs.microsoft.com/en-us/azure/developer/java/toolkit-for-intellij/quickstart-functions  " link. Build is successful .

But while running the azure function i,e section ( https://docs.microsoft.com/en-us/azure/developer/java/toolkit-for-intellij/quickstart-functions#run-the-function-app-locally ) ,in IntelliJ conso

[2020-05-22 18:18] churstz opened #175 "EnvVar needs more details"
The docs reference pulling the SUBSCRIPTION_ID from an Environment Variable but what context is the CLI being used to expand out the value from this variable?  This looks like powershell variable expansion not envvar, not even for bash or cmd expansion.  This doesn't track

az account set --subscription="${SUBSCRIPTION_ID}"

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-05-22 19:06] TomArcherMsft commented on #175
@churstz Thanks for the feedback. I'm currently rewriting that article and saw the same thing. That part of the instructions has been removed.

[2020-05-22 19:06] #175 closed

[2020-05-22 21:26] KarlErickson commented on #174
@debinaik thanks for the feedback! We'll investigate and update the topic.

[2020-05-23 06:41] fitzgeraldsteele opened #176 "azure-cli-core, not azure-core-cli"
[Enter feedback here]
In the requirements.txt section, it says azure-core-cli. It should be azure-cli-core

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e72557de-b5e1-5cd2-bff1-f23d9221337b
* Version Independent ID: bfab25db-3a95-a704-dca9-7c67b2387c97
* Content: [Provision a virtual machine using the Azure SDK for Py

[2020-05-23 15:01] kraigb commented on #176
@fitzgeraldsteele Right you are. Thanks for reporting the glitch, which I'll fix straight away.

[2020-05-23 15:27] #176 closed

[2020-05-24 09:37] ezYakaEagle442 opened #177 "Jenkins diagram is outdated"
The Jenkins diagram  shows Contrainer Service ( former ACS) which should be AKS

See also https://github.com/MicrosoftDocs/architecture-center/issues/2149
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115cdf49-6a35-aa52-de86-3cd8d0b2e3b9
* Version Independent ID: 40a3d5ca-157b-151f-a5e7-66fe71e41104
* Content: [Quickst

[2020-05-26 01:15] estaylorco opened #178 "VueJS and 404 responses"
The support documentation is fantastic, and following the advice contained in it actually produces a working web app.

There is only one problem though: what to do about the infamous 404 responses when Vue’s router is set to history mode.

It would seem to me that your configuration is getting into the middle of the issue somehow. I say that because no matter what I do, either on the front end or

[2020-05-26 11:28] heikkito opened #179 "Tutorial Create a kubernetes cluster has errors"
**Section just before the Kubernetes cluster is brought up:**

toni@Azure:~/clouddrive/terraform-aks-k8s$ terraform plan -out out.plan
var.client_secret
  Enter a value:

**The 'Enter a value' part is not mentioned at all in the tutorial. It does seem to want the secret ID created by in the SP creation part so adding that and it goes forward to this error.**

Refreshing Terraform state in-memory p

[2020-05-26 14:33] KarlErickson commented on #178
@estaylorco thanks for reporting this! We'll look into it.

[2020-05-27 12:17] heikkito commented on #179
Note: Issue is easily fixable by doing a ssh-keygen in .\ssh folder as the keys are needed for the nodes but still the base issue remains: no mentions of what this could be so at the moment users who get this will be interrupted badly in the tutorial.

[2020-05-28 09:24] debinaik commented on #174
@KarlErickson , did you get a chance to find the root cause ? Request your findings..

[2020-05-29 12:08] DanielArthurUK opened #182 "Update Azure AD Pod Identity snippets to use version v1.5.5"
Following the [Create an Application Gateway ingress controller in Azure Kubernetes Service Tutorial](https://docs.microsoft.com/en-us/azure/developer/terraform/create-k8s-cluster-with-aks-applicationgateway-ingress) from scratch leaves the AAD Identity Pod stuck in error:

[code]

This is a known issue: Azure/application-gateway-kubernetes-ingress#838

The workaround suggested is to use version v

[2020-05-31 01:43] a30001539 opened #183 "The public_key field is the SSH key, not the location in the vm"
Probably should add something like (tf0.11 format)

`

    resource "tls_private_key" "example_ssh" {
      algorithm = "RSA"
      rsa_bits = 4096
    }

`

`
    output "tls_private_key" {
     value = "${tls_private_key.example_ssh.private_key_pem}"
    }
`

and update the public_key field in the VM to be

`

    admin_ssh_key {
        username       = "azureuser"
        public_key     = "${t

[2020-05-31 16:34] Roblarson opened #184 "Syntax changes and deprecated warnings"
The sample code needs to be updated across this scenario due to updates of the Terraform Azure provider. Tags now require a = in the definition, there are a series of deprecated warnings when you attempt to plan this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e973d5-b117-99c6-f0a0-c7d779ea3ea0
* Version Independ

[2020-05-31 16:48] chankwpj commented on #127
same. @Rachidba 's suggestion actually works

[2020-06-01 01:52] TomArcherMsft commented on #184
@Roblarson Thanks for the feedback. The tags syntax has been updated in all Terraform docs. You should see the change published by afternoon.

[2020-06-01 01:52] #184 closed

[2020-06-01 05:35] TomArcherMsft commented on #183
@a30001539 Thanks for the feedback. The code has been changed. The updated article should be published by Monday afternoon (PST).

[2020-06-01 05:35] #183 closed

[2020-06-01 05:48] TomArcherMsft commented on #135
@AllenVisser

The article assumes a basic test environment of Cloud Shell where logging in is not necessary.

However, I understand your point about the disconnect for people using other environments. Even when using Cloud Shell, it would be nice to cover how to switch accounts from the one automatically associated with the Microsoft account used to sign into the portal.

To that end, I´ve complet

[2020-06-01 05:48] #135 closed

[2020-06-02 03:34] TomArcherMsft commented on #170
@ajafry I was finally able to get to this today. It should be live by tomorrow afternoon (PST). Thanks again for letting us know.

[2020-06-02 03:34] #170 closed

[2020-06-02 05:22] martinyy108 opened #185 "VNET configuration missing?"
Just wonder why this template doesn't have vnet configuration? We want to use Ansible for automation inside the Azure subscription and also has a policy that VM can not have public IP directly assigned.

Regards,

Martin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbac8547-e10d-0438-e698-a60333d9eaea
* Version Indep

[2020-06-02 15:44] TomArcherMsft commented on #185
@martinyy108 I've reached out to the engineering team that owns the solution template. I'll update this Issue as soon as they reply.

[2020-06-03 19:26] TomArcherMsft commented on #182
@DanielArthurUK It looks from https://github.com/Azure/application-gateway-kubernetes-ingress/issues/828 that this issue is resolved. Is that correct?

[2020-06-03 22:58] DanielArthurUK commented on #182
Hi @TomArcherMsft it certainly looks that the issue is resolved - I haven't had a chance to try out the new [release candidate](https://github.com/Azure/application-gateway-kubernetes-ingress/releases/tag/1.2.0-rc2) yet. I will see if I can find time over the next couple of days!

[2020-06-03 23:03] TomArcherMsft commented on #182
@DanielArthurUK Thanks, I'm going to close this issue for now, but let me know if the problem persists. #please-close

[2020-06-03 23:03] #182 closed

[2020-06-04 13:58] TomArcherMsft commented on #149
@nabeelp Thanks. I'm following up with Chef Software to make a decision on this.

[2020-06-04 14:25] TomArcherMsft commented on #125
@hire-him Thank you for the question. Unfortunately, we don't offer subjective opinions regarding comparing products - especially when one of those products is not something we document. However, a quick web search does return several links where others have compared Ansible and Helm.

#please-close

[2020-06-04 14:30] #125 closed

[2020-06-04 14:35] TomArcherMsft commented on #144
@deathgaze You're correct. This is really more of a sample for people already advanced in this area. I've put this on my backlog to simplify this article - either by adding another simpler article that is read before this one and/or adding more explanation to this one. Thanks for alerting me to this.

[2020-06-04 14:35] #144 closed

[2020-06-04 16:22] #84 closed

[2020-06-05 01:24] TomArcherMsft commented on #165
@erosen03 Thanks for the feedback. The environment in which we normally test is Cloud Shell, which doesn't require Azure CLI installation.

However, there are many other environments that we should document. Therefore, I rewrote the "Getting Started" article and made it clear that it's about Cloud Shell.

I'm currently writing a "Getting Started" for Windows/PowerShell, and soon will be doing Linu

[2020-06-05 01:24] #165 closed

[2020-06-05 02:15] TomArcherMsft commented on #110
@timmyreilly Thanks for the heads-up. The typo has been fixed and should be live by Friday afternoon (PST).

[2020-06-05 02:15] #110 closed

[2020-06-05 02:27] TomArcherMsft commented on #148
@THG-onkar

We don't document/support Puppet so that's not something we could help with.

If you've already searched the Terraform support channels (it sounds like you have, but I pasted the links below just in case), the only other suggestion would be to post a question on a peer-to-peer help site such as StackOverflow.com.

I searched on StackOverflow and did find two posts where people asked ab

[2020-06-05 02:28] #148 closed

[2020-06-05 18:51] TomArcherMsft commented on #185
@martinyy108 I talked to the engineering team responsible for the Ansible template, and they suggested submitting a [GitHub Issue](https://github.com/Azure/ansible/issues). I'm closing this Issue as this is not a doc issues, but please feel free to follow up with any additional feedback.

[2020-06-05 18:51] #185 closed

[2020-06-05 20:37] TomArcherMsft commented on #112
@36roentgen The links have been updated and the article will be republished Monday.

[2020-06-05 20:37] #112 closed

[2020-06-07 07:41] antgonmir opened #188 "Where does Azure DevOps fit into GitHub Actions?"
I would like to know how does Azure DevOps fit into an initiative like GitHub Actions.
Is the plan to have it superseded by GitHub Actions in the future? Or move towards more integration in between the two?
Any documentation or roadmap regarding Azure DevOps, GitHub Actions and the integration between the two of them would be greatly appreciated.
Thanks!

---
#### Document details

⚠ *Do not edit

[2020-06-08 11:18] briannoble113 commented on #127
Thanks @Rachidba that worked for me too - fantastic! +1

[2020-06-08 15:04] kenlomaxhybris opened #189 "Caused by: java.lang.ClassNotFoundException: org.springframework.integration.handler.support.HandlerMethodArgumentResolversHolder"
[Enter feedback here]
Hello
following these instructions today, gives me the following error:

Caused by: java.lang.ClassNotFoundException: org.springframework.integration.handler.support.HandlerMethodArgumentResolversHolder

Which I believe is due to some version dependency problems..
Thanks
kennylomax@gmail.com
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-06-08 17:42] KarlErickson commented on #189
@kenlomaxhybris thanks for the feedback! We'll look into this and update the topic as needed.

[2020-06-08 18:54] nickstw opened #190 "terraform plan error"
I've followed along with the steps and on running a terraform plan I get an error:

[code]

Are we meant to generate this beforehand?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a750d14-2f87-914e-8715-fac805c8ba3b
* Version Independent ID: f8d16dbe-e594-408c-18d8-26fc95de6c65
* Content: [Tutorial - Create a Kuberne

[2020-06-08 18:55] #190 closed

[2020-06-08 18:56] nickstw commented on #190
Sorry, I've seen that this has been raised before.

[2020-06-09 09:20] pkvk14 opened #191 "I am getting the error message ModuleNotFoundError: No module named 'azure"
Hi Support,
I am using VSCODE and run same command but getting the error message but it is working fine in python Compiler
**Error Code:**
from azure.common.client_factory import get_client_from_cli_profile
ModuleNotFoundError: No module named 'azure'

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-06-09 12:32] daseth opened #192 "update tutorial with Az commands instead of AzureRm"
Is it possible to have the tutorial updated to use the new Az powershell module?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 595d5a93-e1ca-fdab-0cd1-91f5fb00d002
* Version Independent ID: 05e2a696-518a-0f22-f7d4-4b2d5b18c825
* Content: [Quickstart - Configure a Windows virtual machine in Azure

[2020-06-09 14:39] kraigb commented on #191
Hi @pkvk14, assuming that you created a virtual environment for the project, then you need to make sure that VS Code is selecting that environment as the Python interpreter.

To be more specific, from what you indicate, I assume that you're able to run the code directly from a command prompt in which you've activated the virtual environment you created, yes? (And with which you ran pip install -r

[2020-06-09 16:43] pauldj54 opened #193 "cannot import name 'run' (aio_compat.py)"
[Enter feedback here]
I created a simple python function and deployed to a repo. A working colleague migrated to another repo. I cloned the code and tried to debug it again.

When I press F5  I got the following Error:

![image](https://user-images.githubusercontent.com/706754/84175896-e7388c00-aa80-11ea-8d54-2dfe0333252f.png)

I tried to recreate the function and spend several hours but I was not

[2020-06-09 17:21] kraigb commented on #193
The only thing that comes to mind is that the asyncio library in the conda environment is a different version that doesn't include the run function. I don't know enough about either to have the details, though.

In any case, because this is not an issue with the specific documentation in question (which is handled through this present repository), please file it instead with the repo for the Funct

[2020-06-09 17:21] #193 closed

[2020-06-09 19:28] itahirov opened #194 "imports missed in DemoApplication.java"
[in my case following imports needed to be add to DemoApplication.java
import io.r2dbc.spi.ConnectionFactory;
import org.springframework.context.annotation.Bean;
import org.springframework.core.io.ClassPathResource;
import org.springframework.data.r2dbc.connectionfactory.init.ConnectionFactoryInitializer;
import org.springframework.data.r2dbc.connectionfactory.init.ResourceDatabasePopulator;
Overw

[2020-06-09 20:20] itahirov opened #195 "curl for insert row in table doesn't work"
[
quotes should be escaped
curl http://127.0.0.1:8080 --header "Content-Type: application/json" --request POST -d "{\"description\":\"configuration-3\",\"details\":\"congratulations, you have set up R2DBC correctly!\",\"done\": \"true\"}"
]

[in my case following imports needed to be add to DemoApplication.java
import io.r2dbc.spi.ConnectionFactory;
import org.springframework.context.annotation.Be

[2020-06-09 21:25] samitkumarpatel opened #196 "missing proper documentation"
[Enter feedback here]
The keyvault usage of springboot doccuments are missing a lot of details, like :
The maven dependency details. It was missing how to pass the client-secret for keyvault along with client-id. Also, it's missing an example i.e. How to use keyvault key and vaule in spring properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-06-14 12:47] magixus opened #198 "show ip address of VM in command line"
After creating all resources needed to lunch a VM, a command line is used to show the public ip @ :
[code]
The `--o` option shows error:
[code]
it should be correct with `-o` (delete one dash)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc3a8a34-f0f0-7aba-b45b-2c59d722b7de
* Version Independent ID: 667d19a1-ff34-3979

[2020-06-14 15:15] TomArcherMsft commented on #198
@magixus You're correct. It should be either `--output` or `-o`. I updated the article.

[2020-06-14 15:16] #198 closed

[2020-06-16 03:06] TomArcherMsft commented on #192
@daseth I'm following up with the Chef Software team on this and will update this Issue when I have news.

[2020-06-16 17:06] edervaldonetoMS opened #199 "managed AKS cluster - creating from MS Documentation"
Hello,
I´ve been testing some repro and found some issues below.
https://docs.microsoft.com/en-us/azure/developer/ansible/aks-configure-clusters

The yml on the line "tasks" is the wrong position, should be below " - name" to work fine.
Another interesting point is that only works in the location "**eastus**". I have tried to create in another region like "**westeurope**", "**southeastasia**" with

[2020-06-16 18:26] kraigb commented on #191
Closing as I assume this is resolved given that there's been no reply.

[2020-06-16 18:26] #191 closed

[2020-06-16 19:51] bmitchell287 commented on #91
@kulkarnisonia16 - would you please update this open issue? Thanks

[2020-06-17 07:03] saifbadran9 opened #200 "az: error: unrecognized arguments: --password"
Hi Team,

Creating service principal command is failing on the argument --password
az ad sp create-for-rbac --name "yourAzureServicePrincipalName" --password yourSecurePassword

However, it works without adding password, it's automatically generated (as also mentioned in the document).

Also, it works the same without quotation marks on the name, despite what is mentioned in the document.

See the

[2020-06-17 14:30] TomArcherMsft commented on #200
@saifbadran9 Thanks for the feedback. It looks like this is an older doc that we need to update.

[2020-06-17 19:53] TomArcherMsft commented on #199
@edervaldonetoMS

Thanks for the feedback on the code formatting issue.

As for supported regions, please refer to the [Azure products by region](https://azure.microsoft.com/global-infrastructure/services/?products=kubernetes-service) to determine where a given product or service is supported. From that page, it appears that AKS is not supported in the regions you attempted.

[2020-06-17 20:05] TomArcherMsft commented on #199
@edervaldonetoMS Per our discussion, I'm assigning this to the AKS writer for their input.

@zr-msft, @edervaldonetoMS is helping a customer for whom the updated code was working up until a couple of days ago.

[2020-06-18 07:54] edervaldonetoMS commented on #199
Hi @TomArcherMsft
As we talked, follow the Screenshot to the supported regions.
https://azure.microsoft.com/en-us/global-infrastructure/services/?products=kubernetes-service

**WestEurope**
![image](https://user-images.githubusercontent.com/56553626/84993371-229e1f00-b141-11ea-9283-8328ca93321e.png)

**Southeastasia**
![image](https://user-images.githubusercontent.com/56553626/84993501-43ff0b00-b1

[2020-06-18 09:07] bharatsavanur11 opened #201 "Great Doc"
Followed all the steps for JDK 11 and it worked like a charm. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d6851cb-0c9f-23ef-f231-ff97f44eb721
* Version Independent ID: 1fcdbb4a-ee88-9dcd-3ec9-e2064d832ceb
* Content: [Deploy a Spring Boot JAR file Web App to Azure App Service on Linux](https://docs.microsoft

[2020-06-18 13:42] edervaldonetoMS commented on #199
@zr-msft
Can we have any update? The customer is waiting for some feedback which is affecting PROD environment.
Thanks

[2020-06-18 15:15] zr-msft commented on #199
@edervaldonetoMS this doesn't appear to be a docs issue, so i'm removing myself as the assignee

[2020-06-18 15:19] TomArcherMsft commented on #199
@zr-msft Could you add the AKS engineering team to this thread? Not being the AKS writer, I don't have those contacts to help the customer.

[2020-06-18 17:19] KarlErickson commented on #201
@bharatsavanur11 thanks!

[2020-06-18 17:19] #201 closed

[2020-06-19 01:44] #199 closed

[2020-06-19 07:48] CherrieYu opened #202 "Can't find dependence：spring-cloud-azure-servicebus-queue-stream-binder"
When I want to use  Spring Cloud Azure Stream Binder for Azure Service Bus by reference doc  to add the dependence element：
<dependency>
    <groupId>com.microsoft.azure</groupId>
    <artifactId>spring-cloud-azure-servicebus-queue-stream-binder</artifactId>
    <version>1.1.0.RC5</version>
</dependency>
But I could't found it in maven repository

[2020-06-19 13:51] BenMitchell1979 opened #203 "Typo in Ansible Code Example"
There is a minor typo in the Ansible Example where the "Name" parameters has duplicate entries and thus can be confusing (these should be unique). The first entry should be "Get info of backend server 1".
[code]

It should read

[code]
---

Regards,
BenTheBuilder

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: add408b4-ddd7

[2020-06-19 15:26] TomArcherMsft commented on #203
@BenMitchell1979 Thanks for the correction. I've updated the article and it should be live in a couple of hours.

[2020-06-19 15:26] #203 closed

[2020-06-22 04:00] Chaitanyahegde opened #204 "No such yml properties"
Hi,

The compiler does not recognize these properties.
Has the property names changed ?

azure.keyvault.enabled=true
azure.keyvault.uri=Your-Keyvault-uri
azure.keyvault.client-id=Your-Client-ID
azure.keyvault.tenant-id=Your-Tenant-ID

I have added the dependency - azure-keyvault-secrets-spring-boot-starter.

Am I missing something.
---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-06-23 20:49] orhuidobro opened #209 "Syntax error in variables.tf file"
In file `variables.tf` the line:
`variable "tags" = {`
should be:
`variable "tags" {`
The `=` sign results in an Terraform error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 560d5902-d21c-a085-86a2-3189dde5d76c
* Version Independent ID: 7c19fad6-c65a-847d-a98c-0f9c9e4c6217
* Content: [Tutorial - Create an Azure virt

[2020-06-23 22:03] TomArcherMsft commented on #209
@orhuidobro What version of Terraform are you using? In what environment (Cloud Shell, Linux VM, etc)?

The most recent versions are:
- Terraform v0.12.26
- provider.azurerm v2.15.0

[2020-06-23 22:27] orhuidobro commented on #209
$ terraform --version
Terraform v0.12.25
+ provider.azurerm v2.5.0
+ provider.random v2.2.1

$ cat provider.tf
provider "azurerm" {
    version = "=2.5.0"
    features {}

[2020-06-23 22:47] TomArcherMsft commented on #209
@orhuidobro I see the issue. I thought it was an assignment, but you're referring to where it's being (incorrectly) used in a variable block. You're correct. The = sign is not valid in that context. I'll fix. Thanks for the feedback.

[2020-06-23 22:53] orhuidobro commented on #209
You are welcome.

[2020-06-24 01:45] TomArcherMsft commented on #209
@orhuidobro I made the fix and it will be published tomorrow morning (PST).

[2020-06-24 01:45] #209 closed

[2020-06-24 15:49] einue opened #210 "Exception: redirectUriTemplate cannot be empty"
I get the following exception when updating my single-sign-on project from spring boot 2.1.4.RELEASE to
spring boot 2.2.4.RELEASE.

What should I change, that I can  secure my Java web app using the Spring Boot Starter for Azure Active Directory like I did before?

MY Pom File looks like:

[code]

I hope you can help me. Should I user somewhere another version? With Spring Boot 2.1.4.RELEASE every

[2020-06-25 07:41] einue commented on #210
I could solve my problem for spring boot 2.2.4 by using
<dependency>
				<groupId>com.microsoft.azure</groupId>
				<artifactId>azure-spring-boot-bom</artifactId>
				<version>2.2.4</version>
				<type>pom</type>
				<scope>import</scope>
			</dependency>

Furthermore I have to register my app as multi-tenant app described here:
https://docs.microsoft.com/en-US/azure/active-directory/develop/howto

[2020-06-25 19:40] #147 closed

[2020-06-25 20:59] #91 closed

[2020-06-26 19:51] kbetts-wwt commented on #179
Same issue as heikkito. Tutorial stopped at:

Error: Error in function call

  on k8s.tf line 41, in resource "azurerm_kubernetes_cluster" "k8s":
  41:             key_data = file(var.ssh_public_key)
    |----------------
    | var.ssh_public_key is "~/.ssh/id_rsa.pub"

Call to function "file" failed: no file exists at
C:\Users\xxxx\.ssh\id_rsa.pub.

[2020-06-29 11:55] SogoGolf opened #211 "Misleading information about CosmosDB"
We use CosmosDB and you are absolutely right about this as described in the documentation:

_Your application users won't always have internet connectivity. Applications are designed and expected to work with or without an internet connection. Developers must choose the right solution for storing and syncing their data to the cloud to provide a great customer experience for their application._

Ho

[2020-06-29 17:33] codemillmatt commented on #211
Thanks for the feedback @SogoGolf.

You're correct, there isn't an off-the-shelf component that enables Cosmos to work offline. You would need to roll your own, most likely with SQLite as the on device data store.

Same could be said for Azure SQL.

However, I don't think the paragraph should be removed. I'll word it a bit better to reduce confusion that either Cosmos or Azure SQL comes w/ offline

[2020-06-29 21:05] KarlErickson commented on #202
@CherrieYu thanks for the comment. It looks like you're referring to the *pom.xml* snippet [here](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-with-service-bus#use-the-spring-cloud-stream-binder-starter) in the topic "How to use Spring Cloud Azure Stream Binder for Azure Service Bus".

I was able to find the [1.1.0.RC5 version

[2020-06-29 21:28] KarlErickson commented on #210
@einue thanks for the comment and the solution info! We'll look into this and update the docs as appropriate.

[2020-06-29 21:37] codemillmatt commented on #211
changes made/merged - will be visible on next publish

@KarlErickson - #please-close

[2020-06-29 21:39] KarlErickson commented on #211
thanks @codemillmatt !

[2020-06-29 21:39] #211 closed

[2020-06-29 22:58] diberry commented on #102
#in-progress

[2020-06-30 00:21] #21 closed

[2020-06-30 08:54] Niceboy06600 opened #212 "Error in sample code for Route Table association"
Hello,

in the sample code for the association of the route, there are curly brackets missing on the last line:

   route_table: "{ route_table_name }"

iso
   route_table: "{{ route_table_name }}"

It leads to an error :-( when running the ansible script.

Thanks for updating the sample code.
Vincent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-06-30 18:49] KarlErickson commented on #204
@Chaitanyahegde thanks for alerting us to this issue. We'll investigate and update the topic as needed.

[2020-06-30 22:12] brotheraaron opened #213 "Possible wrong VM size"
terraform apply out.plan fails with this error:

Error: creating Managed Kubernetes Cluster "k8stest" (Resource Group "azure-k8stest"): containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="SystemPoolSkuTooLow" Message="System node pool must use VM sku with more than 2 cores and 4GB memory. Nodepool name: agentpool."

  on k8s.tf li

[2020-07-01 09:06] Dahu-Search commented on #174
Hi,
I also see exactly the same issue when following the instructions in that tutorial. The project builds, and it will run successfully from the command line by running "mvn azure-functions:run" but not when started in IntelliJ.
Any progress in finding the cause?
Thanks

[2020-07-01 12:18] m-moris opened #214 "The link to the sample program seems to be broken"
The following url is not found.

https://github.com/Microsoft/azure-spring-boot/tree/master/azure-spring-boot-samples/azure-active-directory-b2c-oidc-spring-boot-sample/src/main/resources/templates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f81d7cec-7853-fe76-8178-dc1fc6886f1b
* Version Independent ID: 61b1f5e0-f5c

[2020-07-01 17:44] jonckvanderkogel opened #215 "Not clear where client-id comes from"
Under "Configure and compile your app" it states:

azure.keyvault.enabled=true
azure.keyvault.uri=Your-Keyvault-uri
azure.keyvault.client-id=Your-Client-ID
azure.keyvault.tenant-id=Your-Tenant-ID

However, nowhere on the page is it described where you should get this "client-id". Tenant-id is also not very clear but if you run `az keyvault list` you are actually able to retrieve this. I have no id

[2020-07-02 15:15] diberry commented on #102
@glaucia86 I don't see step 7 or the exact mention of docker login. Are you sure this is the page you mean to reference or was VSCode having an issue that you determined was the under the covers docker login?

[2020-07-02 18:08] Kai-Richardson opened #216 "Following 'Create a Kubernetes cluster with AKS' using Terraform results in a SystemPoolSkuTooLow error"
Following the guide [here
](https://docs.microsoft.com/en-us/azure/developer/terraform/create-k8s-cluster-with-tf-and-aks) will result in a SystemPoolSkuTooLow error. Error details are:
[code]
I believe this is because the vm_size is set as `Standard_DS1_v2`, when it should be set at `Standard_DS2_v2`,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-07-02 18:09] Kai-Richardson commented on #216
Duplicate of #213

[2020-07-02 18:09] #216 closed

[2020-07-02 18:18] #214 closed

[2020-07-02 18:21] KarlErickson commented on #214
@m-moris thanks for the feedback! I've updated the topics with the correct URLs, so the links will work starting next week. The correct URLs are:

* https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/src/main/resources/application.yml

* https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/az

[2020-07-02 22:14] KarlErickson commented on #215
@jonckvanderkogel thanks for pointing out the missing info! We'll investigate and update the topic.

[2020-07-02 22:44] KarlErickson commented on #194
@jdubois can you take a look? Thanks!

[2020-07-02 22:44] KarlErickson commented on #195
@jdubois, can you take a look? Thanks!

[2020-07-03 08:11] jdubois commented on #194
Thanks for the feedback! Indeed, it would be easier with the import, let me fix that.

[2020-07-03 08:16] jdubois commented on #194
The PR is ready to be merged :-)

[2020-07-03 08:35] jonckvanderkogel commented on #215
@KarlErickson that's great, thank you. In the meantime, could you please confirm that what I need to do here is create a service principal which will give me the client-id I need to link my application to the key vault? I have been trying to piece together other parts of the documentation and it would appear that the service principle is the way to go but if you could confirm it that would be grea

[2020-07-03 08:55] jdubois commented on #195
The quotes don't need to be escaped, I use a mix of single quotes and double quotes to avoid that issue:
[code]

[2020-07-03 08:57] jdubois commented on #195
@KarlErickson for me this issue is invalid, unless there is something OS-specific that would replace the single quotes by double quotes

[2020-07-03 15:21] KarlErickson commented on #195
@itahirov this may be an environmental issue on your end. The [topic](https://docs.microsoft.com/azure/developer/java/spring-framework/configure-spring-data-r2dbc-with-azure-sql-server#test-the-application) shows the snippet as:

[code]

Can you confirm whether this version works on your setup?

@jdubois can you comment on the includes issue?

[2020-07-03 15:23] jdubois commented on #195
@KarlErickson the include issue is the same as https://github.com/MicrosoftDocs/azure-dev-docs/issues/194 so it will be fixed by https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/794

[2020-07-03 15:26] #194 closed

[2020-07-03 21:44] wilferac opened #217 "github repo"
Can you please share a github repo with the code for this example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f71c199c-c217-1edf-b6a3-987303c43a71
* Version Independent ID: 7085914e-878e-5f25-0e03-4b7685fd1db6
* Content: [Use Spring Data R2DBC with Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/de

[2020-07-03 23:23] itahirov commented on #195
Hi Karl, thanks for updating, I guess, single quotes is better than
escaping. Thank you.

On Fri, Jul 3, 2020 at 11:21 AM Karl Erickson <notifications@github.com>
wrote:

--
*Best regards,*
*Ismayil Tahirov*
*phone:: +1(240) 701-6335*
*skype: scarabek1*

[2020-07-06 11:04] madhurichilaka commented on #182
This issue still persists with the combination of 1.2.0-rc3 for AGIC and the latest AAD Pod Identity helm charts on Master.

### Error:
Readiness probe failed: Get http://10.0.0.19:8123/health/ready: net/http: request canceled (Client.Timeout exceeded while awaiting headers)

### appgw-ingress-azure Logs:

ERROR: logging before flag.Parse: I0706 10:47:53.446521       1 utils.go:115] Using verbosit

[2020-07-06 16:27] #195 closed

[2020-07-06 21:41] diberry commented on #102
Found [doc](https://docs.microsoft.com/en-us/azure/developer/javascript/node-howto-e2e). Testing now.

[2020-07-07 02:53] ahmedig opened #218 "Helm init tiller"
This is outdated, as helm init is not supported anymore and tiller has gone away.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549713ae-8a7b-270a-a758-3a439d5518fe
* Version Independent ID: a46c18ff-0092-0384-b1ed-3ec076516da4
* Content: [Tutorial - Create an Application Gateway ingress controller in Azure Kubernetes

[2020-07-07 02:54] ahmedig opened #219 "Missing argument in command"
I get this error when running the helm install helm-config.yaml
The command is missing a name.

Error: must either provide a name or specify --generate-name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549713ae-8a7b-270a-a758-3a439d5518fe
* Version Independent ID: a46c18ff-0092-0384-b1ed-3ec076516da4
* Content: [Tuto

[2020-07-07 15:37] glyoder opened #220 "MsalInteractionRequiredException: AADSTS50058 thrown when using v2.0 endpoints"
I've completed the tutorial and seen it working, but now I'm trying to upgrade it to use the v2.0 endpoints. (Is there no tutorial for that? I'm surprised the msal library is using v1.0 by default.) Anyway, when I specify those endpoints in application.properties, I get an error trying load user info from microsoftgraph. Here are the changes I made to application.properties to override the default

[2020-07-07 16:51] diberry commented on #102
@glaucia86  When using --stdin, you do not also pass in the password directly after, as part of the single docker login command. The secure behavior is to not pass in a password. You can have the same goal when you only pass in user name, because you will be prompted for the password.

As you have discovered, you can also send in the password with the command.

Closing this issue for now. #please-

[2020-07-07 16:56] #102 closed

[2020-07-07 17:16] KarlErickson commented on #217
Hi @wilferac - thanks for the comment! We've added sample links to several topics, including this one. I hope it helps!

[2020-07-07 17:16] #217 closed

[2020-07-08 06:03] souravmishra-msft opened #221 "Document needs update."
The github link present in this document lands up on a blank page and looks like the sample has been removed from there. Can the document be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a0fb1c0-486c-bbf3-cbc1-2c1dda60e6ba
* Version Independent ID: 599225e9-1ecc-22c1-5d81-f200df9f74da
* Content: [Spring Boot

[2020-07-08 15:48] glyoder commented on #220
Oddly, adding profile to the scopes makes the issue go away:

`spring.security.oauth2.client.registration.azure.scope=openid, profile, https://graph.microsoft.com/user.read`

But the error continues with the scopes just set to:

`spring.security.oauth2.client.registration.azure.scope=openid, https://graph.microsoft.com/user.read`

[2020-07-08 17:38] KarlErickson commented on #221
@souravmishra-msft thanks for the feedback! I'll fix that right away.

[2020-07-08 17:42] shashishailaj commented on #221
@KarlErickson Thank you . They seem to have moved to https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring .

[2020-07-08 18:51] KarlErickson commented on #221
@souravmishra-msft I've fixed this - the update should appear tomorrow. Thanks again!

[2020-07-08 18:51] #221 closed

[2020-07-08 18:55] KarlErickson commented on #220
@glyoder thanks for the comments!
@yiliuTo is this something you can help out with?

[2020-07-08 19:34] KarlErickson opened #222 "Update version number for spring-cloud-azure-eventhubs-stream-binder"
Feedback from customer via @wxwr.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f685fa4-079e-19b2-9926-7eec807e3f43
* Version Independent ID: 612f907e-2e5a-9188-8d10-1c54334c97ad
* Content: [How to create a Spring Cloud Stream Binder application with Azure Event Hubs](https://docs.microsoft.com/en-us/azure/developer/

[2020-07-08 23:56] KarlErickson commented on #215
@jonckvanderkogel unfortunately I'm not a subject-matter expert here, but I've brought it to the attention of the product team.

[2020-07-09 14:15] yiliuTo commented on #220
Hi @glyoder , thanks for the reporting, I will look into the issue. Seems that the profile scope is required for V2.0.

[2020-07-10 17:03] einue commented on #210
@KarlErickson  where do I get the docs for it?

[2020-07-10 23:53] KarlErickson commented on #210
@einue the topic is [Tutorial: Secure a Java web app using the Spring Boot Starter for Azure Active Directory](https://docs.microsoft.com/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory).

[2020-07-11 00:11] einue commented on #210
@KarlErickson   i know the tutorial but actually there is nothing about compatible versions  included... I hope this will added be soon. thanks.

[2020-07-11 02:25] dsil-mgm opened #223 "Getting Exception HandlerMethodArgumentResolversHolder"
Hi Team,

i have followed all steps in the instruction but still getting following exception, please assist:

=================================
020-07-10 17:05:22.514  INFO 20028 --- [  restartedMain] c.n.p.Servicebus.ServicebusApplication   : Starting ServicebusApplication on LTUS44788 with PID 20028 (C:\MGM-GitHub\work\MGM-Non-Ecom-POC2-SBus\target\classes started by 220818 in C:\MGM-GitHub\work

[2020-07-11 17:28] dsil-mgm opened #224 "Getting NoClassDefFoundError: HandlerMethodArgumentResolversHolder"
Hi Team,

i have followed all steps in the instruction but still getting following exception, please assist:

=================================
020-07-10 17:05:22.514  INFO 20028 --- [  restartedMain] c.n.p.Servicebus.ServicebusApplication   : Starting ServicebusApplication on LTUS44788 with PID 20028 (C:\MGM-GitHub\work\MGM-Non-Ecom-POC2-SBus\target\classes started by 220818 in C:\MGM-GitHub\work

[2020-07-11 17:29] #224 closed

[2020-07-11 17:29] dsil-mgm commented on #224
Duplicate .. raised another one

[2020-07-12 13:43] lrxtom2 opened #225 "404 error in Net page on azure doc in Chinese"
**Describe the bug**
404 error when refer to [文档](https://docs.microsoft.com/zh-cn/dotnet/azure/sdk/index.yml) link at .Net on Azure document page in zh-cn.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['用于 .NET 的 Azure SDK'](https://docs.microsoft.com/zh-cn/dotnet/azure/#----net---azure-sdk)
2. Click on '文档'
3. See error

[2020-07-12 13:43] lrxtom2 commented on #225
refer to https://github.com/MicrosoftDocs/feedback/issues/2938

[2020-07-13 17:33] KarlErickson commented on #225
@lrxtom2 thank you for the feedback!

@CamSoper can you address this?

[2020-07-13 17:35] KarlErickson commented on #223
@dsil-mgm thanks for the comment! Which topic are you referring to?

[2020-07-13 20:05] AshutoshAhmadAlexandar opened #226 "servlet error"
Hi,

While following the tutorial on https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-storage

I followed all the steps but while doing the curl command (curl -d 'new message' -H 'Content-Type: text/plain' localhost:8080/blob), I got the below error:

Getting error : Servlet.service() for servlet [dispatcherServlet] in context

[2020-07-13 23:01] dsil-mgm commented on #223
Hi,

I was referring to How to use Spring Cloud Azure Stream Binder for Azure Service Bus:
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-with-service-bus

Thanks
-Darpan Sil

From: Karl Erickson <notifications@github.com>
Sent: July 13, 2020 10:35 AM
To: MicrosoftDocs/azure-dev-docs <azure-dev-docs@noreply.github.com>
Cc: Sil,

[2020-07-13 23:16] CamSoper commented on #225
Here's the PR for the fix:  https://github.com/dotnet/docs/pull/19462

@KarlErickson since we can't link this issue to that PR, I'm fine with closing this one now, or you can wait to verify. I leave it up to you. 🙂

[2020-07-13 23:18] KarlErickson commented on #223
Thanks! That will help us route this issue to the correct person.

[2020-07-13 23:33] KarlErickson commented on #225
@CamSoper it did link, so it should close when your PR merges. Thanks for the fix!

[2020-07-14 00:07] CamSoper commented on #225
@KarlErickson Merged. Looks like you'll need to close this manually 🙁

[2020-07-14 00:11] KarlErickson commented on #225
@CamSoper not sure but you might need the magic words "fixed <ref to issue>" (or synonym) to get the automatic close.

[2020-07-14 00:11] #225 closed

[2020-07-14 00:14] KarlErickson commented on #226
@AshutoshAhmadAlexandar thanks for the feedback! @yiliuTo can you provide input here? Thanks!

[2020-07-14 02:48] yiliuTo commented on #226
Hi @AshutoshAhmadAlexandar , the starter `com.microsoft.azure spring-azure-starter-storage` has been deprecated and thus this doc is not applied either. For the use of azure storage blob, we provide a [sample](https://github.com/microsoft/azure-spring-boot/tree/2.3.x/azure-spring-boot-samples/azure-spring-boot-sample-storage-blob) which you can refer to.

[2020-07-14 02:53] KarlErickson commented on #49
We are no longer prioritizing Fabric8 content and have removed this topic, so I'm closing the issue.

[2020-07-14 02:53] #49 closed

[2020-07-14 03:25] AshutoshAhmadAlexandar commented on #226
does this new sample has a documentation page except for github repo? Can't seem it find it.

[2020-07-14 04:31] yiliuTo commented on #226
Sorry we don't have a document.

[2020-07-14 15:15] samanthpulluru opened #227 "Unable to download the python script"
https://raw.githubusercontent.com/ansible-collections/community.general/master/scripts/inventory/azure_rm.py seems to be invalid and wget is failing.

Tried accessing the azure_rm.py link placed above the wget section and that returns a 404.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 059a1972-09ee-02a7-8159-07ba04a2

[2020-07-16 06:51] einue opened #228 "Question: Why I Have to registered App to be multi-tenant?"
In the tutorial you select for "Who can use the Application or access the Api?" the option "Accounts in this organizational directory only".

This throws the following error:

 Application **** is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific endpoint or configure the application

[2020-07-16 13:21] TomArcherMsft commented on #227
@samanthpulluru The new URL is https://github.com/ansible-collections/community.general/blob/main/scripts/inventory/azure_rm.py

The article has been updated and will publish today.

[2020-07-16 13:21] #227 closed

[2020-07-16 13:44] samanthpulluru commented on #227
Hi Tom,

Thanks for the update. Appreciate it.

Have a good day!

Regards
Samanth

On Thu, Jul 16, 2020, 6:51 PM Tom Archer <notifications@github.com> wrote:

[2020-07-16 18:58] satrijotomo opened #229 "Issues during tutorial"
When trying this tutorial, I came across two issues:
1. Terraform init failed with authentication error when I used a storage with more than 11 chars. It seems that the file ".terraform/terraform.tfstate" only stores up to 11 char.
2. Terraform apply failed with ""System node pool must use VM sku with more than 2 cores and 4GB memory". This because k8s.tf uses  "Standard_DS1_v2". Changing it to "S

[2020-07-17 14:46] KarlErickson commented on #228
Hi @einue - thanks for the comment! Which tutorial are you referring to?

[2020-07-19 15:45] einue commented on #228
@KarlErickson : https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory

[2020-07-20 15:23] KarlErickson commented on #228
Thanks @einue. @yiliuTo is this something you can address?

[2020-07-21 07:25] einue opened #231 "Question about secure pages by groups"
I have another question:

I used the configuration:

azure.activedirectory.active-directory-groups=Test-1,Test-2 .

I expected, people who aren't in the group Test-1 or Test-2 couldn't authenticate to my application but they can, if my Controllers hasn't the annotations @PreAuthorize("hasRole('Group1')") or @Secured(...).

How does it works? I expected, that the "azure.activedirectory.active-direc

[2020-07-22 17:53] KarlErickson commented on #231
@yiliuto can you comment?

[2020-07-23 15:21] kbetts-wwt opened #233 "Basic ALB is created with this code"
The coding in this article works great for walking through the creation of a basic AKS cluster via Terraform. However, because a `load_balancer_sku` is not specified in code, a Basic ALB is provisioned, not a Standard ALB. I worked with PSS to figure out why this happens, since a Standard ALB should be the default. Alas, I dont have anymore time to troubleshoot. But it is confirmed that the code,

[2020-07-24 05:57] moarychan commented on #231
hi @einue , first, please note this item  `azure.activedirectory.active-directory-groups` has been changed to `azure.activedirectory.user-group.allowed-groups` in latest snapshot version.

After AAD authenticated, there's token returned; when front-end requests restricted backend api, this method `com.microsoft.azure.spring.autoconfigure.aad.AADAuthenticationFilter#doFilterInternal` will intercept

[2020-07-27 03:11] lu-cheng commented on #228
If you need to request a cross tenant API, you need to set it to multi-tenant. If you want to use a single-tenant, you need to create and use your own tenant API, for example: https://login.microsoftonline.com/{tenantid} /oauth2/v2.0/authorize

[2020-07-27 03:18] lu-cheng commented on #220
@glyoder Yes, the current v2.0 endpoints needs to add a profile to the scope to working.

[2020-07-27 08:21] einue commented on #231
@moarychan  I will try it with your repo sample. Here I get the error "Could not find artifact com.microsoft.azure:azure-active-directory-spring-boot-starter:pom:2.3.3-beta.1 in central (https://repo.maven.apache.org/maven2)" .

Is there a maven repo, I can add to get the dependency

 <dependency>
      <groupId>com.microsoft.azure</groupId>
      <artifactId>azure-active-directory-spring-boot-sta

[2020-07-27 14:27] einue commented on #231
@moarychan  I debugged my application and I think, now I do understand.

The property azure.activedirectory.user-group.allowed-groups is to list all Groups which I want use in my App? Afterwards the AzureADGraphclient matchs this groups in the  getGrantedAuthorities-Method and returns the relevant groups.

So but If no group is  matching, it will return "ROLE_USER" which is the DEFAULT_AUTHORITY.

[2020-07-28 01:44] moarychan commented on #231
hi @einue , this group ROLE_USER is default authority,  if it matches more than one group, there will be no ROLE_USER.

And I really have to secure each controller by @hasRole or @secured? Otherwise the user with ROLE_USER which could be any AD-User can access my views, apis whatever...?
   -- You can compare with the sample configuration, please confirm you enable this annotation `@EnableGlobalMe

[2020-07-28 12:16] einue commented on #231
My Scenario is the following:
A user with no matching role from the properties try to login my application.

This is my SecurityConfig

`@Configuration
@EnableWebSecurity
@EnableGlobalMethodSecurity(securedEnabled = true, prePostEnabled = true, proxyTargetClass = true)
public class WebSecurityConfig extends WebSecurityConfigurerAdapter {

	@Autowired
    private OAuth2UserService<OidcUserRequest,

[2020-07-28 17:09] ms-zhouma opened #235 "failures in Jenkins deployment script"
I ran `azure-jenkins.sh`. It was able to output a url, but I can't connect to it.
Scanning through the full output, it seems things started to go wrong in the CustomScript step.
Full log can be found [here](https://gist.github.com/ms-zhouma/e181f2c2bd058b1c8127812042e81680).
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-07-28 17:55] ms-zhouma commented on #235
In case this helps, I SSHed into the VM and manually run steps in `config-jenkins.sh` and saw the `oracle-java8-installer` is no longer available. (When you try to add repository, you get a special warning.) Switching to openjdk (and the key stuff accordingly) helped get me unblocked.

[2020-07-28 19:20] ms-zhouma opened #236 "cannot assign service principal rights to ACR"
Was able to create a service principal. But getting `InvalidSchema` when assigning "Contributor" permission to it.
[Full output](https://gist.github.com/ms-zhouma/8469242bb52d1f4975ac7ccbd9a8fa56)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15c8677e-3fcd-56c0-fa71-64d758a02ca8
* Version Indepe

[2020-07-28 19:27] KarlErickson commented on #82
@rThangakumar we are unable to reproduce the problem using PowerShell, so I'm closing the issue. If you are still seeing the problem, please double-check and update your environment. If that doesn't solve it, feel free to reopen the issue and provide more information. Thanks!

[2020-07-28 19:27] #82 closed

[2020-07-28 20:04] KarlErickson commented on #174
@debinaik @Dahu-Search one of our devs has replied "Thanks for your report, this is an IntelliJ issue which didn't load the Path correctly, you may refer https://github.com/microsoft/azure-tools-for-java/wiki/FAQ for more information." I hope that helps!

[2020-07-28 20:04] #174 closed

[2020-07-28 20:57] ms-zhouma opened #238 "the kubectl version installed in jenkins VM is out-of-date"
As of today I get a v1.16.10 cluster when I follow [this doc](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough). But in `config-jenkins.sh`, a v1.8.0 version of kubectl is copied to Jenkins VM.

This is causing Jenkins build to fail.
I tried to bump the kubectl version to v1.18.0 and got unblocked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-07-29 01:55] moarychan commented on #231
hi @einue , please try [this sample](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2), it's very similar to your needs, change  client id, client secret, tenant-id, allowed-groups configuration.

[2020-07-29 08:54] einue commented on #228
@lu-cheng I will try, but how can I get the following artifact?....

Could not find artifact com.microsoft.azure:azure-active-directory-spring-boot-starter:pom:2.3.3-beta.1 in central (https://repo.maven.apache.org/maven2)

[2020-07-29 08:57] lu-cheng commented on #228
@einue You can refer to this document: https://dev.azure.com/azure-sdk/public/_packaging?_a=connect&feed=azure-sdk-for-java

[2020-07-29 10:21] einue commented on #231
@moarychan  I try the example. This is exactly the same behavior as in my application.

My User Ursula.Test which doesn't match any of the required groups can access the route "localhost:8080" but could not access the routes /group1 or /group2, see screenshot .

So I conclude, that the if the user returns the "ROLE_USER", the user can access all routes which aren't secured by groups. Right?

![ima

[2020-07-29 10:26] moarychan commented on #231
hi @einue , yes, access all routes which aren't secured by groups, means no `@PreAuthorize` marked endpoint, you can test further.

[2020-07-29 13:56] porrascarlos802018 opened #239 "please update procedure to specify LB SKU as standard."
if the load balancer type is not specified, by default terraform seems to create basic LB.
STANDARD should be the default and to have terraform deploying STANDARD we need to add the network profile

    network_profile {
        load_balancer_sku = "Standard"   had to add this to force a Standard ALB; otherwise Basic
        network_plugin = "kubenet"
    }

---
#### Document Details

⚠ *Do not e

[2020-07-31 02:28] moarychan commented on #231
hi @einue , does your program run normally? if works, please help close this issue, thanks.

[2020-07-31 06:12] einue commented on #231
@moarychan, Now I have understand the functionality! Thank's a lot.

[2020-07-31 06:12] #231 closed

[2020-07-31 06:13] einue commented on #228
@lu-cheng Thanks. This sample works for me with the single tenant registration!

[2020-07-31 06:13] #228 closed

[2020-07-31 20:22] KarlErickson commented on #127
We've been able to confirm this - our subject-matter expert says "This issue happens when users tried to use maven plugin before installing azure cli, thus left auth files created by Maven plugin but then try to auth with az cli later. Yes adding the auth type (azure_cli) is the right way to solve this."

[2020-07-31 20:22] #127 closed

[2020-07-31 21:51] KarlErickson commented on #107
@JonnewDev-blip the topic has now been updated. Thanks again for the feedback!

[2020-07-31 21:51] #107 closed

[2020-08-03 11:44] konstantin-magg opened #240 "Issue with Batch Example?"
Is there an issue with the Batch example?

[code]

[packaging.python.org](https://packaging.python.org/guides/installing-using-pip-and-virtual-environments/#creating-a-virtual-environment) suggests this command (which - at least on my machine - works):

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c507d59-970

[2020-08-03 12:58] Myslyvchuk opened #241 "Dependency for eventhub starter in not in public repo"
[Enter feedback here]
<dependency>
   <groupId>com.microsoft.azure</groupId>
   <artifactId>spring-cloud-azure-starter-eventhub</artifactId>
   <version>1.0.0.M2</version>
</dependency>
 You cannot reach this dependency from maven public repo. You need to have either some dependencyManagement section (which is not specified) or something else
---
#### Document Details

⚠ *Do not edit this section.

[2020-08-03 16:17] kraigb commented on #240
@konstantin-magg Thanks for filing the issue. The exact command that works to activate a virtual environment depends on the name of the virtual environment folder. In the article you mention, the previous instruction is `python -m venv .venv` which creates a virtual environment in a folder named *.venv*. Therefore the activate command would be `source .venv/share/activate` as indicated.

If, howev

[2020-08-03 16:17] #240 closed

[2020-08-04 15:32] bruparel opened #242 ".ssh public private key left unfinished. so the ssh command will fail."
[Enter feedback here]

Really nice tutorial.  Public/Private key part is left unfinished.  As given, the ssh command to log into the created vm will fail.  Since the public and private keys are not stored in .ssh directory.  That should also be explained
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc3a8a34-f0f0-7aba-

[2020-08-05 12:53] chunliu opened #243 "The playbook sample in the document is outdated"
The code of the playbook `vmss-create.yml` is outdated. The latest version of azure_rm_loadbalancer has been changed and the code in the playbook is not compatible with it anymore. Running the playbook without change will fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0aba862e-8fdc-8ef5-60d3-eae435b3ae5b
* Versio

[2020-08-05 18:32] KarlErickson commented on #241
@Myslyvchuk thanks for the feedback! We'll look into this.

[2020-08-07 01:04] chunliu opened #246 "Sample code in the document is outdated"
The ansible modules used in the sample code in the document, `azure_rm_publicipaddress_facts` and `azure_rm_loadbalancer_facts`, are deprecated. It shows the deprecated warning now, and will fail with the future version of Ansible. The modules need to be replaced with `azure_rm_publicipaddress_info` and `azure_rm_loadbalancer_info`.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-08-07 03:17] yiliuTo commented on #226
Hi @AshutoshAhmadAlexandar , we provide another starter of storage blob: [spring-cloud-starter-azure-storage](https://github.com/microsoft/spring-cloud-azure/tree/master/spring-cloud-azure-starters/spring-starter-azure-storage) in the repo [Spring Cloud Azure](https://github.com/microsoft/spring-cloud-azure), and here is the associated [sample project](https://github.com/microsoft/spring-cloud-azu

[2020-08-08 03:37] TomArcherMsft commented on #177
@ezYakaEagle442 This article has been rewritten, so the error you mention should be corrected. Thanks for the feedback. Let me know if you still see this error and I'll reopen the issue.

[2020-08-08 03:37] #177 closed

[2020-08-08 03:40] TomArcherMsft commented on #136
@brucedkyle I've rewritten this article and tested the steps, so the issue you saw should be resolved. Let me know if you still the issue and I'll investigate.

[2020-08-08 03:40] #136 closed

[2020-08-09 10:16] codebrigade2020 opened #249 "Tried the steps!! But Getting Error"
Getting this error:
Unable to acquire on-behalf-of token for client f93*****-3***-4***-a***

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3233e2cc-1075-1c20-d8f8-65161949e341
* Version Independent ID: e3cef834-e81c-de56-9224-a22f7abdfb7e
* Content: [How to use the Spring Boot Starter for Azure Active Directory](https:

[2020-08-10 20:14] MP7373 opened #251 "Valid Types For PartitionKey"
I was running a sample app with an int set as the partition key on my document and got the error:

java.lang.IllegalArgumentException: type of PartitionKey field must be String

I couldn't find anywhere on this page something explaining what types are valid for the partition key.
Is it possible to have an int as a partition key or does it have to be a String using this library?

Also In regards to

[2020-08-10 20:56] KarlErickson commented on #249
@codebrigade2020 thanks for the report! We'll investigate.

[2020-08-10 20:59] KarlErickson commented on #251
@MP7373 thanks for the feedback! @jdubois and/or @kushagraThapar can you comment here?

[2020-08-10 21:06] kushagraThapar commented on #251
@MP7373 - String partition key is a limitation on current spring-data-cosmosdb SDK. However, cosmos db actually supports different partition key types - including int, long, bool, string, etc.

In the new `azure-spring-data-cosmos` release, this limitation is addressed and users can choose any type of partition key they want to as long as it is supported by cosmos db backend: https://github.com/Az

[2020-08-11 00:24] TomArcherMsft commented on #200
@saifbadran9 This article has been updated to reflect the change to the `az ad sp create-for-rbac` command. It should be live tomorrow. Thanks again for the heads-up.

[2020-08-11 00:24] #200 closed

[2020-08-11 20:51] bbgobie opened #252 "Page links to azure_rm.py inventory script that says its deprecated"
Comment in the script says it was deprecated since 2018
https://github.com/ansible-collections/community.general/blob/main/scripts/inventory/azure_rm.py

The new link in the comment actually currently returns a 404

"Important note (2018/10)
========================
This inventory script is in maintenance mode: only critical bug fixes but no new features.
There's new Azure external inventory scrip

[2020-08-11 21:58] KarlErickson commented on #249
@yiliuTo can you comment here?

[2020-08-12 01:53] codebrigade2020 commented on #249
Hi @KarlErickson  I have fixed it after I verified the solutions on other websites. I think it's outdated in Azure docs. If the docs are up-to-date, will be much helpful for students like me in projects.

[2020-08-12 01:58] yiliuTo commented on #249
@KarlErickson @codebrigade2020 Thanks for the reporting, we will check the doc.

[2020-08-12 14:51] ppartarr opened #253 "Update application config active directory groups"
In section **Configure and compile your app** item number 6: replace the deprecated `active-directory-groups` with `user-group.allowed-groups`. The property is no longer being used since [this merge](https://github.com/Azure/azure-sdk-for-java/pull/13379)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3233e2cc-1075-1c2

[2020-08-12 16:02] brooke-hamilton opened #255 "Code example for creating a storage blob fails with error"
Under section "[3: Write code to provision storage resources](https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-example-storage?tabs=cmd#3-write-code-to-provision-storage-resources)", the command to create a storage container throws an error.

[code]

The error is:
[code]

The error can be fixed by replacing `{}` with `"None"` for the PublicAccess parameter in the command, like thi

[2020-08-12 17:44] kraigb commented on #255
@brooke-hamilton Thanks for the issue and the suggested fix. Can you tell me what version of the azure-mgmt-storage library you're using (from pip freeze)?

[2020-08-12 17:58] kraigb commented on #255
Correction, only BlobContainersOperations.list was changed; create wasn't affected. I also just ran the example code using the 11.1 azure-mgmt-storage library and everything worked fine. And I'm running Python 3.8.3.

I tried "None" as in your example, but the code failed. {} still works on my end (on a Windows machine).

Can you give the output of pip freeze so I can compare library versions?

[2020-08-12 18:02] brooke-hamilton commented on #255
Thank you for looking into this.

I have `azure-mgmt-storage==7.1.0`

In case this helps, running `pip3 freeze | grep azure-mgmt` returns this:
[code]

[2020-08-12 18:14] kraigb commented on #255
Ah, you're running a really old version then. Run pip install --upgrade azure-mgmt-storage and the code should work fine.

From the looks of things, you must have installed all the Azure libraries together at one point? There used to be a single meta-package that did this, but it's since been retired as we recommend installing the specific libraries you need into a virtual environment.

https://do

[2020-08-13 03:54] TomArcherMsft commented on #252
@bbgobie  Maybe I'm misunderstanding your question, but the section your'e referring to states to use that file is for Ansible < 2.8. Therefore, it's specifically for people who are using an older version of Ansible. I'm going to close this issue, but if I've misunderstood your concern, please let me know and I'll reopen.

[2020-08-13 03:54] #252 closed

[2020-08-13 16:02] kraigb commented on #255
Given that the docs are accurate for current library versions, I'm closing this issue. If there is need for further discussion, please reopen. Thanks.

[2020-08-13 16:02] #255 closed

[2020-08-13 16:28] brooke-hamilton commented on #255
Thank you for looking into this--I really appreciate the detailed answer.

Separately (not related to this issue) I'm looking into how these older packages were installed. I'm using a three-week old installation of Ubuntu, and these packages show that they were installed on 8/7 - just a week ago. There are a limited number of packages and tools that I configured, so I want to know which one put th

[2020-08-13 16:34] kraigb commented on #255
Yes, it's curious that you have all older libraries on a new installation, especially that you have the whole collection of them all together. Like I said, the current recommendation is to install only the libraries you need as there is no longer a single "SDK" download or install. Let me know if you discover anything interesting.

[2020-08-13 22:16] #253 closed

[2020-08-14 00:36] TomArcherMsft commented on #138
@onkarthg What article are you referring to?

[2020-08-14 00:38] TomArcherMsft commented on #146
@basanaguk I just published a new article for installing Ansible that should resolve any issues. Please let me know if you encounter any further problems. https://docs.microsoft.com/en-us/azure/developer/ansible/install-on-linux-vm

[2020-08-14 00:38] #146 closed

[2020-08-14 00:39] TomArcherMsft commented on #164
@erosen03 I just published a new article for installing Ansible that should resolve any issues. Please let me know if you encounter any further problems. https://docs.microsoft.com/en-us/azure/developer/ansible/install-on-linux-vm

[2020-08-14 00:39] #164 closed

[2020-08-14 00:52] erosen03 commented on #164
Thanks, @TomArcherMsft. That's a good post, and very nice  that there is now a simple .sh file to get things installed properly. I'll use that for the next Ansible controller.

[2020-08-14 01:47] dmoksh opened #258 "Code Issue"
Code under the section Authenticate with DefaultAzureCredential has an error.

Last line should be `retrieved_secret = secret_client.get_secret("secret-name-01")`

Instead it is presented as `retrieved_secret = client.get_secret("secret-name-01")`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 036cc96e-fbb8-bced-0a5b-e

[2020-08-14 05:41] alex--thomas opened #259 "Add how to run the convenience file"
[Enter feedback here]
Hi,

The doc says:
For convenience, create a .sh or .cmd file with these commands that you can run whenever you open a terminal or command prompt for local testing.

I'm a newbie to the CLI and although I have created the file (in VSCode) I don't know how to run it...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-08-14 18:55] kraigb commented on #258
Right you are! I'll get that bit corrected.

[2020-08-14 18:59] kraigb commented on #259
@alex--thomas Thanks for the feedback. I'll clarify that paragraph. It just means creating a script file that contains the same lines. The script usually has an extension of .sh (mac/Linux) or .cmd (Windows) so you can just run the script directly from the command line. For example, I have these commands in a file named setenv.cmd, so when I open a new command prompt I can just run "setenv" to def

[2020-08-14 21:29] LeeSchuenemeyer opened #260 "Documentation doesn't match tutorial title."
This tutorial doesn't seem to have anything to do with Azure Container Instances.  It has a Jenkins build on a single VM not an ACI or Azure Container Registry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc269e1e-9a34-d676-bdd0-979e565bbdc4
* Version Independent ID: 88a4c2d4-1dff-3afd-9dde-652c1f93ac4a
* Content: [

[2020-08-14 23:29] TomArcherMsft commented on #260
The article has the reader select the ACI cloud agent on which to perform the build.

*"Cloud agents configure a cloud-based platform for Jenkins build jobs. For the sake of this article, select ACI. With the ACI cloud agent, each Jenkins build job is run in a container instance."*

[2020-08-15 04:35] #260 closed

[2020-08-15 06:47] vermacodes opened #261 "azure-cosmosdb-spring-boot-starter version 3.0.0 not in maven"
As mentioned in https://github.com/MicrosoftDocs/azure-dev-docs/commit/22d75cfe8b6841ce17b8aecdf6f5410b59bf01ae

<version>3.0.0-beta.1</version> is not in maven.

Latest version in maven is (2.3.3); which downloads azure-cosmos version 3.7.3 and that creates issues alongside azure cosmos v4

If this new verison (3.0.0) have the fix, then please add this to maven central.

[2020-08-17 11:42] X348759 opened #263 "Error running the project."
I followed all the steps from the tutorial of eventhub with Java and when I executed the code I got this error:

2020-08-17 13:39:04.402 ERROR 83500 --- [      elastic-4] o.s.integration.handler.LoggingHandler   : org.springframework.messaging.MessagingException: Exception thrown while invoking EventhubSink#handleMessage[2 args]; nested exception is org.springframework.core.convert.ConverterNotFou

[2020-08-17 12:25] pjirsa commented on #128
@seanli1988 and @KarlErickson any updates? my Cx is also seeing the same issue when trying the sample walkthrough on this page: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-azure-event-hub

[2020-08-17 13:31] imod opened #264 "wrong command to expose the pod"
The command to expose a pod is described as:

`kubectl expose deployment gs-spring-boot-docker --type=LoadBalancer --port=80 --target-port=8080` but this raises the following error: `Error from server (NotFound): deployments.apps "gs-spring-boot-docker" not found`

it seem it correct command should be:

`kubectl expose pod gs-spring-boot-docker --type=LoadBalancer --port=80 --target-port=8080`

--

[2020-08-17 17:08] #258 closed

[2020-08-17 17:08] #259 closed

[2020-08-18 14:17] nvinod-net opened #266 "Powershell command - variable naming error"
The powershell command should be changed from "$psCredential = Get-Credential" to "$spCredential = Get-Credential"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68c31173-3e96-c871-5a2d-743a26522b4d
* Version Independent ID: 5b281d75-b37e-0301-e1fd-431e0344d0c7
* Content: [Quickstart - Configure Terraform using Azure P

[2020-08-18 14:36] TomArcherMsft commented on #266
@nvinod-net Thanks for the feedback. I've corrected the code. It should be live later this morning (PST).

[2020-08-18 14:36] #266 closed

[2020-08-18 14:46] nvinod-net opened #267 "Missing quotes in powershell command"
When setting the environment variables, the values should have quotes

$env:ARM_CLIENT_ID="<service_principle_app_id"
$env:ARM_SUBSCRIPTION_ID="<azure_subscription_id>"
$env:ARM_TENANT_ID="<azure_subscription_tenant_id>"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68c31173-3e96-c871-5a2d-743a26522b4d
* Version Indep

[2020-08-18 16:05] TomArcherMsft commented on #267
@nvinod-net I've updated the code. This should go live in the next hour or two.

[2020-08-18 16:05] #267 closed

[2020-08-18 17:33] KarlErickson commented on #261
@vermacodes thanks for the feedback! We'll look into this.

[2020-08-18 17:37] KarlErickson commented on #263
@X348759 thanks for the report! We'll look into this.

[2020-08-18 17:41] KarlErickson commented on #264
@imod thanks for the report! We'll look into this and update the topic.

[2020-08-19 13:53] KarlErickson commented on #86
I reverted the incorrect fix for this, so I'm reopening.
@saragluna can you provide a correct version number? Thanks!

[2020-08-19 21:42] sjalali123 opened #268 "AZURE CLI Installer never asks which Drive to install"
Hi Azure CLI Team
          [Enter FBack Line]
AZURE CLI Installer never asks which Drive to install, and contributes with other such installers to quickly fill up the C: Drive. It is annoying of many programs to force themselves to go to bed with the OS Drive, and become less manageable for backups and recovery purposes.
Sush
---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-08-20 05:48] saragluna commented on #86
@KarlErickson the latest version we shipped for Spring Boot 2.2.x is `2.2.5`.

[2020-08-20 12:22] pezzos opened #269 "VAR "aks_enable_rbac" isn't used"
You define "aks_enable_rbac" in variables.tf but it's not used in
resource "azurerm_kubernetes_cluster" "k8s"

You have to add:
  role_based_access_control {
    enabled = var.aks_enable_rbac
  }

[2020-08-20 12:25] pezzos opened #270 "Missing information to test"
There is a part named "Install a sample app" explaining how to install a sample app.
But there is no mention to try if this app works.

[2020-08-20 12:36] pezzos opened #271 "Helm init doesn't exist anymore in Helm v3"
Helm init has been removed from Helm v3 so all the part in the "Installing Helm" part is to be reviewed.
There is no more Tiller and the client directories are initialised automatically when you start using helm.

[2020-08-20 12:38] pezzos opened #272 "helm install -f helm-config.yaml application-gateway-kubernetes-ingress/ingress-azure doesn't work"
helm install -f helm-config.yaml application-gateway-kubernetes-ingress/ingress-azure doesn't work, Helm is waiting for a name.

I suggest:

helm install -f helm-config.yaml appgw-ingress application-gateway-kubernetes-ingress/ingress-azure

[2020-08-20 17:06] KarlErickson commented on #269
for [Create an Application Gateway ingress controller in Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/developer/terraform/create-k8s-cluster-with-aks-applicationgateway-ingress)

[2020-08-20 17:06] KarlErickson commented on #270
for [Create an Application Gateway ingress controller in Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/developer/terraform/create-k8s-cluster-with-aks-applicationgateway-ingress)

[2020-08-20 17:07] KarlErickson commented on #271
for [Create an Application Gateway ingress controller in Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/developer/terraform/create-k8s-cluster-with-aks-applicationgateway-ingress)

[2020-08-20 17:08] KarlErickson commented on #272
for [Create an Application Gateway ingress controller in Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/developer/terraform/create-k8s-cluster-with-aks-applicationgateway-ingress)

[2020-08-21 03:32] wujack778 commented on #226
**hey friend ，maybe you can try this dependency com.microsoft.azure spring-starter-azure-storage 1.2.5**

[2020-08-21 03:33] wujack778 commented on #226
@AshutoshAhmadAlexandar

[2020-08-24 04:58] yucwan commented on #178
@estaylorco There seems to be no Vue related in the docs: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/deploy-spring-boot-java-app-with-maven-plugin, are you pointing to a wrong docs?

[2020-08-25 01:07] estaylorco commented on #178
@yucwan It's been 3 months since I posted this, so I'd appreciate it if you could help me rehydrate this issue.  I'm not pointing to any docs.  How do you come to offer up the link in your post?  What's interesting is that the metadata associated with my original post references Linux.  I would never be on the Linux side, unless Linux is synonymous with macOS's Darwin for this context.

I apologiz

[2020-08-25 01:35] yucwan commented on #178
@estaylorco Thanks for reply. Will close this issue then.

[2020-08-25 14:20] #226 closed

[2020-08-25 18:58] suda007 opened #275 "Good article"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d35c94ec-c9ad-0233-4115-3ddc43ddcd38
* Version Independent ID: 6b231b6b-523b-445d-2b15-7dfc04da7ef9
* Content: [Quickstart - Configure Terraform using Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/developer/terraform/get-started-cloud-shel

[2020-08-27 07:53] wujack778 commented on #95
The new version of spring initializr has not integrated Azure Storage module, if you want start a new Azure Storage application we suggest you look this
[link](https://docs.microsoft.com/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-storage#create-an-azure-storage-account-and- blob-container-for-your-application) @sehaswell

[2020-09-01 18:57] lshade opened #278 "Error when using sample: "bean named 'expressionResolver' could not be found""
I'm receiving the following error when trying to send a message to a SB Topic using this sample:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbecafd0-c6db-9cb0-c5a4-328946446ec6
* Version Independent ID: 40cea238-c2de-fd1d-fef7-c1a850b54158
* Content: [How to use the Spring Boot Starter for Azure Service Bus

[2020-09-01 19:15] lshade commented on #278
Turns out, I had to change the version to `<version>2.2.0</version>`

[2020-09-01 19:15] #278 closed

[2020-09-07 17:38] uday1kiran opened #280 "Switching subscriptions not working"
When I login with cli profile with python sdk and change the subscription the new subscription is not loading back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 036cc96e-fbb8-bced-0a5b-ef6e332264b8
* Version Independent ID: 7b70016c-feb0-7da1-5995-2d1fa8bce9a9
* Content: [How to authenticate Python applications with

[2020-09-07 21:34] 211217613 opened #281 "Add Code or scripts to destroy all created resources"
How would someone go back and destroy all the resources created?

Can you add a script to nuke all created resources in this tutorial.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 059a1972-09ee-02a7-8159-07ba04a2c763
* Version Independent ID: 4323aa16-062c-1b11-fb73-11777c34f88e
* Content: [Tuto

[2020-09-07 21:36] 211217613 opened #282 "Add notes about section heading for adding ansible config"
Add information or the entire code block for the section that states to add hostkeychecking = False to a local ~/.ansible.cfg.

For example the code block should read

[code]

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 059a1972-09ee-02a7-8159-07ba04a2c763
* Version Independent ID: 4323aa16-062

[2020-09-08 03:51] TomArcherMsft commented on #281
@211217613 Thanks for the feedback. There is no script required. All you need to do is delete the resource group *ansible-inventory-test-rg*. However, it's probably a good idea to include that in the article. I'll update the article. Thanks again.

[2020-09-08 03:51] #281 closed

[2020-09-08 03:55] TomArcherMsft commented on #282
@211217613 I'm not sure what you're asking for here. Could you elaborate please?

[2020-09-08 13:52] bilak opened #284 "Spring cloud binder example with functional approach."
Hello,
following [documentation](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-with-service-bus) uses approach with [@StreamListener](https://github.com/spring-cloud/spring-cloud-stream/blob/master/spring-cloud-stream/src/main/java/org/springframework/cloud/stream/annotation/StreamListener.java). But as noted in source of `Stre

[2020-09-08 16:18] 211217613 commented on #282
There is a section that states to add `host_key_checking = False` to your local/user ansible config. But if you add `host_key_checking = False` to an empty `~/.ansible.cfg` ansible throws an error.

The tutorial should add that if the file `~/.ansible.cfg` is empty, a heading of `[defaults]` should be added.

[2020-09-08 16:19] 211217613 commented on #281
does deleting the resource group, delete all resources in the resource group?

[2020-09-08 16:40] TomArcherMsft commented on #281
Yes. [az group delete](https://docs.microsoft.com/cli/azure/group?view=azure-cli-latest#az-group-delete)

[2020-09-08 16:43] TomArcherMsft commented on #281
You can also [use an Ansible playbook to delete the group](https://docs.microsoft.com/azure/developer/ansible/application-gateway-configure#clean-up-resources)

[2020-09-08 17:29] kraigb commented on #280
@uday1kiran Thanks for the issue.

Do the following steps describe what you're trying to do?

1. You have code that's using the CLI-based authentication method, https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-authenticate?tabs=cmd#cli-based-authentication-development-purposes-only, which is using _subscription_client = get_client_from_cli_profile(SubscriptionClient)_.

2. You the

[2020-09-08 19:04] #249 closed

[2020-09-08 19:32] KarlErickson commented on #284
@seanli1988 can you comment? Thanks.

[2020-09-08 20:08] ukreddy-erwin commented on #280
@kraigb
It is like I am having multiple subscriptions linked to my account.
So, I create a compute,subscription and lock client using the cli based authentication.
I have done some processing like lock/unlock with the resources in the current subscription.
After that, to manage other subscription resources.

[code]
But still the clients are still using the old subscription.
I need to stop the scri

[2020-09-08 22:40] kraigb commented on #280
Thanks--I'll check with the engineering teams and get back to you.

[2020-09-08 23:18] kraigb commented on #280
Hi--some additional thoughts for you.

Invoking az account set via os.system doesn't accomplish what you seek. os.system runs the command in a subshell, not in the shell context in which the script was originally run. Therefore, the subscription change in that subshell is lost as soon as the command is complete.

In this case, you'll need to use either get_client_from_auth_file or get_client_from_

[2020-09-09 12:21] ukreddy-erwin commented on #280
Hi @kraigb this file contains all the subscriptions(2 in my case),%AZURE_CONFIG_DIR%/azureProfile.json
But, one of them is set as default one and when I create a client object, it is using the default one. In our case, we need to pick from cli only but need to parse all subscriptions one by one. That's why we thought to change the default subscription at runtime but not use of it. For Subscription

[2020-09-09 19:09] kraigb commented on #280
In that case, given that the CLI profile is going to default to the first subscription in that file, then you'll need to use get_client_from_auth_file or get_client_from_json_dict to specify the subscription directly for the various client objects.

[2020-09-09 20:02] 211217613 commented on #281
This is kind of a meta question but what is the benefit of using a playbook then passing in the resource group like `--extra-vars` as opposed to just running a `az` command?

[2020-09-09 20:59] kraigb commented on #280
In the meantime, I'll add a note to the article about using the other authentication methods if you need to change subscriptions. If you want to make requests to enable other client objects to accept a subscription parameter, please file on  https://github.com/Azure/azure-sdk-for-python/issues.

[2020-09-09 21:34] ukreddy-erwin commented on #280
Thank you @kraigb
As the documentation not good, I wasn't able to get the method parameters.
But found this to create the client objects based on the subscription parameter.

[code]

[2020-09-09 21:38] #280 closed

[2020-09-10 17:12] diberry commented on #58
@m-sterspace I've added a more robust set of links for next steps. I'm closing this issue however if you feel more can be done, let me know which specific content links you wanted included. #please-close

[2020-09-10 17:12] #58 closed

[2020-09-11 01:26] seanli1988 commented on #284
I've added this request to our service bus backlog. We'll address it in the month of December.

[2020-09-11 18:42] TomArcherMsft commented on #281
@211217613 If you're working interactively, you could use many different technologies (Az CLI, PowerShell Az module, Ansible, etc.)  However, since this is an Ansible article and readers will ostensibly migrate this code to a CI server, we wanted to show how to perform the task using an Ansible playbook so that the reader can see how the task would be coded.

[2020-09-11 22:58] saurabhgangwar opened #285 "Doesn't support Servicebus with session enabled"
It doesn't support Servicebus with session enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbecafd0-c6db-9cb0-c5a4-328946446ec6
* Version Independent ID: 40cea238-c2de-fd1d-fef7-c1a850b54158
* Content: [How to use the Spring Boot Starter for Azure Service Bus JMS](https://docs.microsoft.com/en-us/azure/develope

[2020-09-12 03:09] afflom opened #286 "Deprecated Syntax"
Love the tutorial, but there are a few deprecated items in the Terraform configs:
[code]
Good job guys. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e973d5-b117-99c6-f0a0-c7d779ea3ea0
* Version Independent ID: d4d46d49-d837-6d99-2f50-5578f67b1e89
* Content: [Tutorial - Validate a hub and spoke network in

[2020-09-13 17:13] ezYakaEagle442 opened #287 "Kubernetes dashboard now deprecated in AKS"
Kubernetes dashboard is now deprecated in AKS

It is replaced by [https://azure.microsoft.com/en-us/updates/kubernetes-resource-view-is-in-public-preview](https://azure.microsoft.com/en-us/updates/kubernetes-resource-view-is-in-public-preview)

Could you please update the doc accordingly ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-09-14 22:48] edburns commented on #215
Fixed in https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/921 .  #pleaseclose

[2020-09-14 22:48] KarlErickson commented on #196
The topic has been updated. Closing this issue.

[2020-09-14 22:48] #196 closed

[2020-09-14 22:50] KarlErickson commented on #215
Thanks, @edburns !

[2020-09-14 22:50] #215 closed

[2020-09-14 23:00] edburns commented on #29
Fixed in https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/1005 .

[2020-09-14 23:07] edburns commented on #204
I am unable to reproduce this.  #pleaseclose

[2020-09-14 23:09] #204 closed

[2020-09-15 06:42] vnextcoder commented on #127
This Issue also happens if you are having AZ CLI installed within WSL 2 and running MVNW from WSL2 only.

For troubleshooting this on WSL , I tried all steps necessary to clear the Subscriptions, Set Default Subscription from Command Line and also set <subscriptionId></subscriptionId> in the pom.xml as well.

thing is the Azure.Subscriptions.list() just returns nothing. it could be a bug within th

[2020-09-15 14:56] #29 closed

[2020-09-15 17:41] KarlErickson commented on #261
This has been fixed.

[2020-09-15 17:41] #261 closed

[2020-09-15 17:51] KarlErickson commented on #263
@X348759 we've updated this topic so hopefully this error is now addressed. I'm closing the issue for now, but if you're still encountering the error with the current version of the topic, please reopen. Thanks!

[2020-09-15 17:51] #263 closed

[2020-09-15 19:43] #264 closed

[2020-09-15 21:29] KarlErickson commented on #285
@seanli1988 can you comment? Thanks.

[2020-09-15 23:30] KarlErickson commented on #287
@ezYakaEagle442 thanks for the feedback! We'll look into this and update the topic.

[2020-09-16 05:48] seanli1988 commented on #285
@saurabhgangwar can you elaborate on how you are planning to use session in servicebus with Spring? code snippet will do.

[2020-09-16 12:46] jhyot opened #290 "Deprecated FlexVolume suggestion"
The page suggests to use FlexVolume for Key Vault access, but the given link https://github.com/Azure/kubernetes-keyvault-flexvol/blob/master/README.md says that FlexVolume is deprecated in favor of another solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3830ec12-c308-1d59-07c8-be295d8db7a3
* Version Independe

[2020-09-16 15:05] KarlErickson commented on #290
@jhyot thanks for the feedback!
@mnriem can you comment?

[2020-09-16 15:15] mnriem commented on #290
@KarlErickson That is correct. It should be changed to refer to the solution mentioned at https://github.com/Azure/secrets-store-csi-driver-provider-azure

[2020-09-16 18:16] TomArcherMsft commented on #281
@211217613

I like your ideas of using `--exta-vars` and I also like the idea of showing multiple ways to accomplish the task (deleting the resource group, in this case).

Therefore, I've updated the Dynamic Inventory article (and many other articles) to show how to delete the resource group using Ansible, Azure Cli, and Azure PowerShell. I've also updated the sample Ansible playbook to be variabl

[2020-09-17 18:41] saurabhgangwar opened #291 "Not useful"
This starter kit serves no purpose in practical situations. You can not do basic things like reading from session enabled queue, setting up ScheduledEnqueueTimeUtc.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbecafd0-c6db-9cb0-c5a4-328946446ec6
* Version Independent ID: 40cea238-c2de-fd1d-fef

[2020-09-17 18:43] NickDrouin opened #292 "Java Spring for ServiceBus, azure-servicebus-jms-spring-boot-starter, fails to load unless a second undocumented app setting is in place."
[Enter feedback here]

Follow the walkthrough at:
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-service-bus

This will fail unless the value for:
spring.jms.servicebus.connection-string
is replicated into:
azure.servicebus.jms.connection-string

Specifically, it will throw when loading the app.

---
#### Document Details

⚠

[2020-09-17 21:55] #290 closed

[2020-09-17 21:58] KarlErickson commented on #291
@saurabhgangwar Thank you for the feedback! I'm sorry the content isn't useful for you.
@seanli1988 can you comment? Thanks.

[2020-09-17 22:06] KarlErickson commented on #292
@NickDrouin thanks for the feedback! We'll investigate and update the topic.

[2020-09-18 03:51] seanli1988 commented on #291
this is a duplicate issue as https://github.com/MicrosoftDocs/azure-dev-docs/issues/285#issuecomment-692989732
please close it out

[2020-09-18 16:27] scgbear commented on #292
<details>
<summary>Internal Tracking</summary>
devdivcsef [387675]
</details>

[2020-09-18 20:21] NickDrouin commented on #292
Product bug has been root-caused, see:
https://github.com/Azure/azure-sdk-for-java/issues/15333

It was the failure message that was referring to an old/different setting name.

I think this doc bug can be closed.

Note that I got into this problem when I used double quotes around the connection string.  It might be useful to future readers of this walkthrough to have actual strings in place of th

[2020-09-18 22:25] KarlErickson commented on #292
@NickDrouin that seems like a good note to add. I'll keep the issue open and address that. Thanks for the observation!

[2020-09-18 22:26] #291 closed

[2020-09-20 05:42] jayarajjg opened #293 "The example shall use real city name instead of same as the variable name."
[Enter feedback here]

In the below example code, it would be easy to understand and intuitive if an actual city like "Seattle" is used instead of "city". When the new PartitionKey("city") is passed to findById method, it gives an impression that PartitionKey object should be constructed for the domain object field "city" that is annotated with "@PartitionKey".

    final Address newAddress = new

[2020-09-21 19:47] tbugfinder opened #294 "ruby sdk documentation"
Hi,

compared to the Azure Python Documentation the Ruby Documentation is non-existent.
Could more ruby-sdk documentation be added on top of the limited info in ruby-sdk repo?

Thanks

[2020-09-22 20:32] elraikhm opened #301 "typo in the last code snippet, should be Authorizer and not Authoize"
[Enter feedback here]
typo in the last code snippet, should be Authorizer and not Authoize

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 496addbb-39f0-09cd-4fc9-c5786bb90495
* Version Independent ID: 53cd2418-bd7b-b469-8d34-f9f2f7fd1b8f
* Content: [Authentication with the Azure SDK for Go](https://docs.microsoft.com/e

[2020-09-22 20:44] KarlErickson commented on #293
@jayarajjg thanks for the feedback! That's a good point - I'll update the topic.

[2020-09-23 14:18] arshadazeem opened #303 "AADSTS50011 Error - redirect uri mismatch when deployed to App Service"
When [Spring Boot Starter for Azure AD](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory) is deployed to Azure App Service the redirect uri scheme is getting changed from https to http resulting in `AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application

[2020-09-27 02:08] saurabhgangwar commented on #285
Sorry for responding late. Actually, since this JMS starter kit wasn't useful for writing/reading to the Session Enabled Service Bus Queues so we had to update our implementation by using the service bus API in place of this starter kit. So there is not much information left with me but I am trying to put a summary of the issues we were facing.

1. @JmsTemplate wasn't able to write messages to the

[2020-09-27 02:23] seanli1988 commented on #285
Thank you for your feedback @saurabhgangwar . I've backlogged these feature requests in our enhancements for the service bus starter.

[2020-09-27 21:52] TomArcherMsft commented on #173
@tonyabedini The article's code has been updated to work with the latest version of the Azure provider.

[2020-09-27 21:52] #173 closed

[2020-09-28 15:22] #178 closed

[2020-09-28 15:25] KarlErickson commented on #285
Thanks @saurabhgangwar and @seanli1988 - closing this issue.

[2020-09-28 15:25] #285 closed

[2020-09-29 00:45] NillsF opened #308 "disks.create_or_update() in newest Azure python SDK got renamed to disks.begin_create_or_update()"
Code examples for creating or updating disks in Python not up to date anymore.

disks.create_or_update() in newest Azure python SDK got renamed to disks.begin_create_or_update(). The page should be reviewed in depth to make sure everything still works.

Needs to be updated in multiple documents (I'll open another issue for another document where I found the issue)

---
#### Document Details

⚠ *Do

[2020-09-29 00:58] kraigb commented on #308
Thanks for the quick report! I just received word yesterday that the libraries had been updated, so it's on my list to make the appropriate changes in the examples. Do please file issues for any bit that needs updating--it really helps.

And if you feel to create a PR to this repo with the necessary edits, we're happy to receive the contributions and will get them merged in short order.

[2020-09-29 01:49] NillsF commented on #308
I'll open a PR for this one, but wanted to make sure to open this issue since there might be a bigger changes in the SDK that I didn't pick up on.

[2020-09-29 02:54] san-biqmind opened #310 "Expects virtual network and subnets (appgwsubnet, kubesubnet) to exist. If created previously, then expects the resources to be imported on Terraform."
**If virtual network and subnets do not exist, the following error is thrown:**

Error: Error: Subnet "kubesubnet" (Virtual Network "aksVirtualNetwork" / Resource Group "aks-test2-cluster-test-terraform") was not found

  on main.tf line 52, in data "azurerm_subnet" "kubesubnet":
  52: data "azurerm_subnet" "kubesubnet" {

Error: Error: Subnet "appgwsubnet" (Virtual Network "aksVirtualNetwork" / R

[2020-09-29 02:55] #308 closed

[2020-09-29 02:55] kraigb commented on #308
Besides various method name changes, the updated libraries are now based on azure.core and therefore use the newer authentication methods, such as DefaultAzureCredential. But that change affects only the client object creation step, which is something we cover in the authentication article (that I'll be updating).

I've merged the PR--thanks so much!

[2020-09-29 08:41] v-shsid opened #311 "Deployed app unable to install module psycopg2 and whitenoise"
While following the tutorial, we got stuck at the part "Run Django database migrations" because the web app container was failing to start up. When checking the deployment log, in oryx build, I found

![image](https://user-images.githubusercontent.com/55831238/94533698-16624b80-0272-11eb-9411-87f789471038.png)

Next, I added module 'psycopg2-binary' in requirements.text and got another build error

[2020-09-29 16:27] KarlErickson commented on #303
Hi @arshadazeem - thanks for the input! This Issues list is for documentation. Could you reopen the issue at https://github.com/Azure/azure-sdk-for-java/issues ? Thanks!

[2020-09-29 16:27] #303 closed

[2020-09-29 17:06] kraigb commented on #311
@v-shsid Thanks. There have been multiple issues with requirements.txt for Django apps in the container that are being investigated. Stay tuned.

[2020-09-29 18:04] TomArcherMsft commented on #138
@onkarthg I haven't heard back from you, so I'm going to close this issue. Please feel free to respond if you're still encountering problems, and I'll help to resolve. Thanks.

[2020-09-29 18:04] #138 closed

[2020-10-01 02:17] nickzhums commented on #308
thanks for explaining the situation Kraig :)

[2020-10-01 22:39] kristapratico opened #312 "Add that Authorization header is redacted by default when using DEBUG level logging"
Can we add this detail about the Authorization header being redacted in the table that shows the logging levels under this [section](https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-logging#set-logging-levels)?

I'm thinking something like this:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc90337e-c

[2020-10-02 00:14] kristapratico commented on #312
Closing as we are questioning if this is the right behavior. Will re-open if necessary.

[2020-10-02 00:14] #312 closed

[2020-10-02 00:16] kraigb commented on #312
OK. Note that if you're MSFT internal, you should use the azure-dev-docs-pr repo instead of the public repo here. You can also make a PR directly for the edit if/when you need it.

[2020-10-02 00:28] kristapratico commented on #312
I didn't know that, thanks! :)

[2020-10-02 00:56] TomArcherMsft commented on #275
@suda007 Thanks! Please feel free to let us know any ideas you have for us to make improvements.

[2020-10-02 00:56] #275 closed

[2020-10-02 02:24] TomArcherMsft commented on #149
@nabeelp We are no longer updating the Chef documentation on docs.microsoft.com. We'll be removing the outdated information we have in order to avoid confusion. For the most accurate, update-to-date information, please see the [Chef documentation for Azure](https://docs.chef.io/azure_portal/)

[2020-10-02 02:24] #149 closed

[2020-10-02 02:30] TomArcherMsft commented on #192
@daseth We are no longer updating the Chef documentation on docs.microsoft.com. We'll be removing the outdated information we have in order to avoid confusion. For the most accurate, update-to-date information, please see the [Chef documentation for Azure](https://docs.chef.io/azure_portal/)

[2020-10-02 02:30] #192 closed

[2020-10-05 01:20] davemasino opened #313 "Deprecated syntax, create a Linux VM with Terraform tutorial"
Deprecated interpolation-only expression when using Terraform v0.13.4. Ubuntu 18.04-LTS is also now available.
[code]

[2020-10-05 04:48] TomArcherMsft commented on #313
@davemasino PR #314 merged.

[2020-10-05 04:48] #313 closed

[2020-10-05 19:03] techmanDAV opened #317 "Need More Code Sample for Simple Backend Web to Send Push Notifications for Xamarin Apps"
Iread through the article and was able to follow some parts of it.  I am new developing Mobile aoos with xamarin.  However, I wasable to setup the Firebase, Apple developer, APN certs, etc.  I am also able to send test messages.  The probleis tha tI had a difficult time following the instructions on how to build a simple web backend to send notifications.  Can you direct me to ducumentation that i

[2020-10-05 19:14] jpcarrascal opened #318 "Add node_modules to .gitignore"
The node_modules directory should not be commited to the repo. It caused this error to me when trying to add files before commiting:

_open("node_modules/.bin/acorn"): Invalid argument_

(Using windows VSCode and WSL)

I fixed by first creating .gitignore and then adding node_modules to it, as suggested here: https://stackoverflow.com/questions/47815353/unable-to-push-to-git-repo-node-package-open

[2020-10-06 13:59] ceesios opened #319 "link to azure_rm.py should be updated in the documentation"
The inventory plugin has been moved to the azure collection:
https://raw.githubusercontent.com/ansible-collections/azure/dev/plugins/inventory/azure_rm.py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 059a1972-09ee-02a7-8159-07ba04a2c763
* Version Independent ID: 4323aa16-062c-1b11-fb73-11777c34f88e
* Content: [Tutori

[2020-10-06 14:53] paromitaroy opened #320 "path pointing incorrectly"
The path included in the yaml file (https://github.com/Azure/terraform/blob/master/samples/integration-testing/src/azure-pipeline.yaml) is not right. It points to 'examples/basic-testing/src/checkov.sh' which does not exist in the repo, it should be 'samples/integration-testing/src/*

![image](https://user-images.githubusercontent.com/55242088/95217329-f808cc80-07ea-11eb-9290-e4f5c3f047a5.png)
---

[2020-10-07 21:26] diberry commented on #318
@jpcarrascal Thanks for reporting this. Looks like the express generator command is incorrect. #in-progress

[2020-10-07 21:30] KarlErickson commented on #294
@tbugfinder thanks for the feedback! @DavidCBerry13 can you comment?

[2020-10-07 21:31] KarlErickson commented on #301
@elraikhm thanks for the feedback! We'll get that fixed.

[2020-10-08 15:56] #301 closed

[2020-10-08 16:02] diberry commented on #318
The correct command to create the express app, which also creates the .gitignore file correctly and deploys correctly is:

[code]

where the git switch is before the view switch. This should be published today. I'm closing this issue, if you find you still have a problem, please reopen this. #please-close