[2021-12-03 17:19] #654 closed

[2021-12-03 18:14] KarlErickson commented on #658
@stliu can you validate this? I will update the article if you approve. Thanks!

[2021-12-03 18:44] KarlErickson commented on #642
@edburns ping

[2021-12-03 20:07] adrianhall commented on #655
Hello,

The docs include this statement:

[2021-12-03 20:09] adrianhall commented on #655
#close

[2021-12-06 20:19] Duffney commented on #634
I apologize, I missed the notification. Looking into this now. :)

[2021-12-08 13:53] bernd-spieth opened #660 "The code for creating a service principal with PowerShell is wrong"
The service principal object has no attribute ApplicationID instead it has AppId. Also the code for retrieving the secret does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5cbb8da-d7df-723f-c7a5-5872381bb4aa
* Version Independent ID: fbd4f2e5-d160-236e-8cc0-ea58ac18a1d0
* Content: [Get Started - Install Te

[2021-12-09 18:43] KarlErickson commented on #658
@stliu ping

[2021-12-10 08:54] miisc opened #663 "Failed to press F5 to start Azure Function locally via vscode"
I knew it's about permission. But  I want to understand what needs to create a folder under C:\. Can I change it to another path? Then where & How?
Thanks

Error log
[code]

[2021-12-10 14:32] eirikpre opened #664 "Duplicate entries"
The table has duplicate entries:
Eg.
Resource Management - Operations Management shows 3 times for me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b91a96d-7256-6b27-c258-bdb3c992c07b
* Version Independent ID: b8802789-3b0c-3797-9589-af327f90c5a4
* Content: [Package index for Azure SDK libraries for Python](https://d

[2021-12-10 14:36] eirikpre commented on #664
Hm, there are some headings in there which I didn't notice, closing issue with the remark of improvement by having a single table

[2021-12-10 14:36] #664 closed

[2021-12-10 16:52] KarlErickson commented on #663
Hi @miisc - this Issues list is for problems with the documentation in the azure-dev-docs repository. Is your question related to a specific article? If so, please let us know which article you're looking at. Otherwise, you might want to try a different forum for your question, such as <https://github.com/Microsoft/vscode/issues>. Thanks!

[2021-12-10 16:52] #663 closed

[2021-12-12 22:59] webpwnized opened #665 "Documentation is incorrect and incomplete"
It is not possible to log into the VM using the example provided because the example does not include the SSH key

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 769cffa1-15de-54d1-3ddc-84e67972b44e
* Version Independent ID: 41340ea6-9fbe-45f5-e4e7-4194cab9fb76
* Content: [SSH to virtual machine - Azure](https://docs.mi

[2021-12-13 18:40] Duffney commented on #634
Pull request submitted with revision. :)

[2021-12-13 22:56] thomasknowles opened #666 "restart the cloud shell for updated terraform binary"
If you needed to create the bin directory and move the updated Terraform binary into it, the user may need to "restart" their close shell session for the command "terraform version" to properly work with the updated binary. I experienced this in the bash shell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e89ec2c-67

[2021-12-14 09:41] lirenhe commented on #634
@Duffney, could you share the link of the PR?

[2021-12-14 17:10] diberry commented on #665
@webpwnized Hi Jeremy, The SSH keys are supposed to be placed on your machine when you [created the VM](https://docs.microsoft.com/en-us/azure/developer/javascript/tutorial/nodejs-virtual-machine-vm/create-linux-virtual-machine-azure-cli#create-a-virtual-machine-resource). The command should have displayed where the keys were stored. Can you verify you don't have any SSH keys on your computer in t

[2021-12-14 22:58] abhidotnet opened #667 "Appreciate this page!"
The examples on this page worked flawlessly and I am glad for this.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbf00e2a-56e1-3da7-859a-a7563dd9148b
* Version Independent ID: 2866c1ea-6a4e-27e5-ce7f-34153eaf6c94
* Content: [Build a Xamarin.Forms app with Azure Mobile Apps](https://docs.microsoft.com/en-us/azure/devel

[2021-12-15 18:21] spelluru commented on #644
@KarlErickson is out of office until new year. I think this one should go through support. Thanks.

[2021-12-15 19:39] adanaher opened #668 "Code Error"
I believe there is an error in the code provided on this screen. When running locally or deploying to Azure with the code as written, I'm getting the following error: "None of [Index(['Segment', 'Country', 'Units Sold', 'Gross Sales', 'Date'], dtype='object')] are in the [columns]"

I believe the line of code that creates the cols list should be:
cols = ['segment', 'country', 'units_sold', 'gross_

[2021-12-15 20:04] abhidotnet opened #669 "A section of this page is not accurate."
There is no Authentication / Authorization link. There is an Authentication link.
That link brings you up to a page that says "Add Identity Provider".
There are 2 tabs. Basics and Permissions.

In the Basics tab you need to select the Identity Provider as Microsoft.
Then you need to add the issuer URL.

There is no tab  or link titled "Advanced". Am I missing something or this page is not right?

[2021-12-15 20:53] adrianhall commented on #669
Looks like App Service has just updated their side-bar and functionality for Authentication / Authorization.  This is a good thing (since you have a lot more options and it's a simpler flow), but it's completely changed this section of the tutorial.

the initial part is:

* Select Settings > Authentication
* Press Add Identity Provider
* Select "Microsoft" from the drop-down as the identity provid

[2021-12-15 21:46] ItalyPaleAle opened #670 "Wrong TOC for Express.js on Linux VM tutorial"
On the page linked below, the TOC seems not to match the contetn:
![image](https://user-images.githubusercontent.com/43508/146269912-94c23f69-bafd-47fc-8bb4-33c2b61b467a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b287689c-78b2-f375-b266-169a7a0b020a
* Version Independent ID: 778902dd-ade9-050b-b400-acb2238944d

[2021-12-15 21:52] ItalyPaleAle opened #671 "Issues with Node.js VM tutorial"
In the page linked below, there are a few issues:

1. The tutorial recommends using Node.js 12, which is an old version currently in maintenance mode. Will reach EOL in April. Suggest updating to a more recent build, such as Node.js 16 (current LTS)
2. The app is started by the cloud-init script with this command: `cd myapp && npm install && npm start'`. Because the app is started by cloud-init, a

[2021-12-15 22:07] abhidotnet commented on #669
Thanks for replying to me! Most of my posts are simply getting ignored. I also try to give positive feedback when things work seamlessly.

[2021-12-15 22:55] abhidotnet commented on #669
Also, is it possible to show (preferably a screenshot) where is the field that will take the client secret?

[2021-12-15 23:01] abhidotnet commented on #669
This is the error I get when I run the app. Is there something I am missing?

![zumo_error](https://user-images.githubusercontent.com/164457/146278183-cc08eca7-5839-494e-aec2-6934f44302b3.png)
.

[2021-12-15 23:23] adrianhall commented on #669
The client secret is entered when you configure the identity provider.  I have not played with the new authentication configuration yet, so I want to ensure I'm giving the correct advice.

I need to walk through the entire tutorial with the new settings and work out what is wrong.  I'll update the tutorial this week (probably Friday - that's when I normally have time to work on this stuff).  I wil

[2021-12-16 16:06] diberry commented on #665
@webpwnized - I'm going to close this now. If you find that your SSH keys were not on your local computer after you created the VM, please let us know what steps you took to debug that so we can pass that information along. #please-close

[2021-12-16 16:06] #665 closed

[2021-12-16 16:39] KarlErickson commented on #667
@abhidotnet thanks for the feedback! Glad that it's helping you.

CC @adrianhall

[2021-12-16 16:39] #667 closed

[2021-12-16 16:48] diberry commented on #671
#in-progress

[2021-12-17 02:06] arrebnac opened #672 "If the storage account is not global azure, will get 'no such host is known' error"
We are using Azure Mooncake.
When using the spring boot sample code for eventhub, we got 'no such host is known' error for storage.
In the error message it says can't find xxx.blob.core.windows.net, but actually the blob storage on mooncake is xxx.blob.core.chinacloudapi.cn.
How to set the azure china in the code?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-12-17 16:09] diberry commented on #670
#in-progress Thank you for reporting this.

[2021-12-19 00:31] MalcolmPereira opened #674 "Azure Key Vault - javax.net.ssl.SSLHandshakeException: No available authentication scheme"
I get the following error when I try the example - https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault-certificates

The example looks pretty straight forward but am struggling to run it.

My Maven POM:
[code]
My Spring Properties File

[code]

The Spring boot loads, I see it calls key vault and gets the certificates

[

[2021-12-19 23:50] MalcolmPereira commented on #674
Wrong Call.

Please ignore. Need to have Get / List Policy to Secrets as well.

Need to have Get / List access to secrets it is clearly mentioned in the tutorial, I did not have Get / List for Secrets and hence the above failure.

After providing Get / List access to the id everything worked.

[2021-12-19 23:50] #674 closed

[2021-12-20 15:59] kimprice opened #675 "Add Go mgmt page to ToC"
Add the Go management SDK page (https://docs.microsoft.com/en-us/azure/developer/go/management-libraries) as a subpage on the ToC under either "Use the Azure SDK for Go" or "What is the Azure SDK for Go?"

[2021-12-20 16:50] KarlErickson commented on #675
Hi @kimprice - thanks for filing the issue! For internal work items, please work with the content publisher (in this case, @Duffney) to track work items internally using Azure DevOps, rather than using the GitHub issues list. We want to reserve the issues list for customer issues. Thanks!

[2021-12-20 16:50] #675 closed

[2021-12-21 03:53] cenzwong opened #676 "The container image"
The Container Image should changed

from
image  = "microsoft/azure-vote-front:cosmosdb"
to
image  = "mcr.microsoft.com/azuredocs/azure-vote-front:cosmosdb"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e206df2-ca76-283a-0689-4aa90229a5c2
* Version Independent ID: d7475eda-b72a-7799-7942-fb2010e56f66
* Content: [Deplo

[2021-12-21 15:04] abhidotnet commented on #669
@adrianhall I am getting the same error as before. This is the URL my app hits.
https://zumo-exk7wo5vca7wq.azurewebsites.net/.auth/login/aad?post_login_redirect_url=zumoquickstart%3A%2F%2Feasyauth.callback%2F&code_challenge=v7bv76kDZLSDL8CWumu0LwUx%2FLAaA1SLaNU3rnz%2FGBg%3D&code_challenge_method=S256&session_mode=token

and then it shows a message stating "This page is not working right now".

[2021-12-21 16:34] adrianhall commented on #669
There is something else going on with your configuration then.  I walked through the specific instructions for each tutorial to ensure working knowledge.  I'd back out the changes (including the AAD configuration), and start over.

[2021-12-21 17:08] Duffney commented on #634
The changes have just been merged. It was created on an internal repo and it didn't appear you were inside the organization for the repo and I wasn't able to add you @lirenhe. Changes should be merged and made public within 48 hours. If they don't fully address your concerns please be sure to let me know. :)

Thanks!

[2021-12-21 17:10] Duffney commented on #634
Closing this issue, but please reopen if the changes do not fully address the concerns discussed here.

[2021-12-21 18:01] adrianhall commented on #669
The value (as it says).

[2021-12-21 18:05] abhidotnet commented on #669
The error has changed. Instead of prompting me to a login screen, I am now getting this message in the emulator.

![androidEmulatorError](https://user-images.githubusercontent.com/164457/146977533-1e93a53f-b64a-4224-afd8-4b466636263a.png)

[2021-12-22 01:41] adrianhall commented on #669
You did not properly follow the instructions for setting up the AAD application registration.

Explicitly, it says:

[2021-12-22 17:17] abhidotnet commented on #669
You're correct. I deleted the group and recreated the app registration. I believe I have followed all the instructions as I am able to see a login screen in the Android Emulator.

However once I have logged in, it doesn't navigate to the app. Instead, it just stays on a blank page in the webview.
The attached screen recording will give you an idea.

https://user-images.githubusercontent.com/164457

[2021-12-22 19:20] datasmithadvtech opened #677 "yaml field initialization value not specified"
on https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory-b2c-oidc , it says, be sure to properly configure user-name-attribute-name in the application.yml file

however, how should this field be initialized?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-12-22 19:23] abhidotnet commented on #669
When I worked on the UWP project, there is some progress. I am able to see the TODO list, but as soon as I add an item, I get a runtime error. I don't know if this is related to the documentation or the samples that are being maintained in Github.

https://user-images.githubusercontent.com/164457/147144693-21506587-4cdb-4776-8398-710fa05b78e7.mp4

[2021-12-22 21:34] adrianhall commented on #669
This has moved beyond a documentation problem at this point, and into the realm of diagnosing issues with your environment, code, and so on.  I'm happy to continue working with you (although I am taking the christmas period off, so it will be the new year).  However, I do not do prodct support here.  Product support is done over on the azure/azure-mobile-apps github repository (there is a discussi

[2021-12-22 22:03] abhidotnet commented on #669
Thanks for pointing me in the right direction. I will raise an issue with the community you've mentioned.

[2021-12-23 16:45] datasmithadvtech commented on #677
It says, "When creating the user workflow, for User attributes and claims, be sure to choose attributes and claims for Display Name. Also, be sure to properly configure user-name-attribute-name in the application.yml file."

user-name-attribute-name: <your-user-name-attribute-name>

I am returning Display Name in user flows, it is not clear what value i should use for user-name-attribute-name:

[2021-12-23 23:51] chenrujun commented on #44
Hi, @rdonasco .

If it's AAD B2C web-api, please refer to this sample:
https://github.com/Azure-Samples/azure-spring-boot-samples/tree/46286cc4deed8aa842f40448dfd5d64cabb4b44e/azure-active-directory-b2c#4-resource-server

If it's AAD web-api, please refer to this sample:
https://github.com/Azure-Samples/azure-spring-boot-samples/blob/spring-cloud-azure_4.0/aad/spring-security/docs/servlet/oauth2/c

[2021-12-27 16:01] Duffney commented on #634
@nickzhums when you've got a moment, please review the changes, and close the issue if it's been resolved, thank you. :)

[2021-12-28 02:42] l3ender opened #678 "Azure Ansible collection dependency installation is incorrect"
The documentation for installing the Azure Ansible collection ([example](https://docs.microsoft.com/en-us/azure/developer/ansible/configure-in-docker-container?tabs=azure-cli)) follows a process where issues can arise because the installed dependencies differ from the installed collection's expected dependencies.

See https://github.com/ansible-collections/azure/issues/715#issuecomment-1001807637

[2021-12-28 09:50] nickzhums commented on #634
@Duffney thanks! looks good to me, I will let @lirenhe double confirm

[2021-12-29 16:04] #678 closed

[2022-01-04 12:57] lirenhe commented on #634
@Duffney  thanks, overall it looks good.
A small comment:
typo in:  poller, err := client.BeginCreate(ctx, "resource_identifier", "additonal_parameter")

[2022-01-04 18:18] TomArcherMsft commented on #676
@cenzwong Thanks for the update. The image location value has been updated and the article will republish later today or tomorrow.

[2022-01-04 18:18] #676 closed

[2022-01-04 19:08] TomArcherMsft commented on #666
@thomasknowles Thanks for the feedback on your experience. I've added a step to the instructions to restart Cloud Shell after copying the Terraform executable into the bin directory. The article should republish tomorrow.

[2022-01-04 19:08] #666 closed

[2022-01-06 16:36] georgeOsdDev opened #684 "Static Web Apps sample not work"
[Enter feedback here]

`npm start` command defined in `package.json` file's scripts section not work correctly.
Also I made patch for sample app repository.
https://github.com/Azure-Samples/js-e2e-static-web-app-with-cli/pull/6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75fe702d-5a31-b7f7-4f58-d90d691da79a
* Versio

[2022-01-07 10:56] M-Rostock opened #685 "FirebaseInstanceId is deprecated - please update documentation."
The FireBaseInstanceId class is deprecated and have been replaced with the FirebaseInstallations class - see https://firebase.google.com/docs/reference/android/com/google/firebase/iid/FirebaseInstanceId.

As far as I can tell, the code example below must be updated:

Old:
[code]
New:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-01-10 12:22] lorenzmeyer77 commented on #499
@Duffney  Is there now a way to use a private storage account as backend for terraform? Is it somewhere documented? I could not find it.

[2022-01-10 12:54] garthoid commented on #499
@lorenzmeyer77 I faced the same challenge you now face and I had to piece together information from different sources. Although this was recorded in August 2021 and things change quickly in the cloud, you may still find it useful.

https://youtu.be/_LgihYlhzOk

[2022-01-10 17:15] PingPongSet opened #688 "Terraform test tool recommendation for Unit Test and Integration Test with Azure and Terraform"
[Enter feedback here]

What is the recommended test tool for Terraform with Azure?

Using Unit Test is not provided. Is there a plan to create a Unit Tes example page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e81f63-0309-b476-dc40-87868d4cc14e
* Version Independent ID: 7f2a78db-901a-d5de-4473-1dc79f7ffde0
* Con

[2022-01-12 18:00] vgirnet opened #689 "Somehow confusing document"
[Enter feedback here]

Tried all steps as described, but didn't work.

Steps like how to get IDs of application/tenant are confusing.

Please review it, and adjust.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081be8c9-7871-db69-977c-9304daa6c870
* Version Independent ID: aa3e5074-a630-3756-be86-295d1a2d101f
* Conten

[2022-01-13 18:48] edisga opened #690 "Azure SDK Authentication Managed Identity with GO needs update"
This documentation needs some update:
Reference: https://github.com/MicrosoftDocs/azure-dev-docs/blob/main/articles/go/azure-sdk-authentication-managed-identity.md

I was able to get this working with the following code:

[code]

And using these commands:

[code]

[2022-01-16 09:34] sarathraj-coder opened #691 "Url does not having enough information."
[Enter feedback here]

Url does not having enough information. [url for habitat is wrong in page](https://docs.microsoft.com/en-us/azure/developer/chef/habitat-overview)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2115807e-01cf-9b92-01e0-6a55ee86a4d4
* Version Independent ID: a23dc1b4-7559-5aea-267e-742f6f5dd74b
* Co

[2022-01-16 09:35] sarathraj-coder opened #692 "Url does not having enough information"
[url for InSpec](https://docs.microsoft.com/en-us/azure/developer/chef/inspec-overview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31874f60-fbbb-5b60-7352-a7780dfebac2
* Version Independent ID: 6d81c340-c562-624a-3b3f-66444a2d190e
* Content: [Use InSpec for compliance automation of your Azure infrastructure](https:

[2022-01-18 00:02] TomArcherMsft commented on #691
@sarathraj-coder Thanks for your feedback. However, we no longer document Chef on Azure. Chef Software provided that URL as the one they want us to use in forwarding Chef users to their site. Please follow up with Chef Software via their site if something needs to be changed regarding the URL being used.

[2022-01-18 00:02] #691 closed

[2022-01-18 00:03] TomArcherMsft commented on #692
@sarathraj-coder Thanks for your feedback. As noted in Issue #691, we no longer document Chef on Azure. Chef Software provided that URL as the one they want us to use in forwarding Chef users to their site. Please follow up with Chef Software via their site if something needs to be changed regarding the URL being used.

[2022-01-18 00:03] #692 closed

[2022-01-18 18:57] ezYakaEagle442 opened #695 "AZURE_CREDENTIALS JSON value not clear clientId or appId"
Steps 3 and 6 are not consistent, AZURE_CREDENTIALS JSON value include clientId or appId ?

[code]

[code]
should AZURE_CREDENTIALS JSON value stop after "tenantId" ?
{
  "**clientId**": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "subscriptionId": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "tenantId": "xxxxxxxxxxxxx

[2022-01-20 09:10] aclottan opened #696 "parse-multipart has some bugs not fixed by author"
[Enter feedback here]

the package that you use 'parse-multipart' have many flaws that are not fixed/merged by the author for a couple of years now.
it caused me to spend hours try to figure our the errors i get in the function.

i used a forked and fixed version of that package: 'parse-multipart-data'
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-01-20 15:27] diberry commented on #696
@aclottan - Thank you for letting us know. We'll review and fix. #in-progress.

[2022-01-20 16:12] ealasgarov opened #697 "uses depricated packages, example code doesn't work as is (without modification to use the new packages)"
These are the new packages (new URLs) which should be quoted in examples:
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azidentity"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armresources"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-01-20 21:59] diberry commented on #696
@aclottan - I've tested this on both Windows and Mac with Node 14 and it works for me. I've also tested on a Linux DevContainer with Node 14. Can you tell me more about your setup, hardware, os, node version, function version, etc?

[2022-01-21 09:09] rvben opened #698 "Manage resource groups with the Azure SDK for Go - Deprecation warnings and errors"
Trying to follow the example in the page results in deprecation warnings and errors.
Following the advise printed in the console to 'use this instead', does not result in a working example.
This is very unfortunate for a 'simple example' that should get you started.

Kind regards,

Ruben

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-01-24 17:50] diberry commented on #696
Without more information, I'll close this issue. Please reopen when you can tell me more about it. #please-close

[2022-01-24 17:50] #696 closed

[2022-01-24 17:50] diberry commented on #684
#in-progress

[2022-01-24 17:53] diberry commented on #684
@georgeOsdDev Can you tell me more about what isn't working? What operating system and version of node, what is the error you are seeing, or other expected behavior you didn't see?

[2022-01-24 17:58] diberry commented on #670
This has been fixed in the TOC. #please-close

[2022-01-24 17:58] #670 closed

[2022-01-24 19:43] aclottan commented on #696
please reopen.
here are the details of my sample:

 the call is from an angular application:

  const formData = new FormData();
//report and singleFile are application objects
  const fileDTO: FileDTO = {reportDetails: report, file: singleFile};
  formData.append( 'fileDto', JSON.stringify( fileDTO ) )

 this.httpClient.post( `${url}/uploadFile`, formData ).subscribe();

  ---------------------

[2022-01-24 20:33] #671 closed

[2022-01-24 20:35] diberry commented on #696
@aclottan And you get the same error if you make the request from curl?

[2022-01-24 20:44] aclottan commented on #696
thanks for your prompt reply.
when i switch to the forked and fixed version "parse-multipart-data" everything works ok with the exact same code (except for the Parse function that is now in lowercase "parse".
i send a json object that includes a base64 encoding of an image. the size is approx 56K

[2022-01-24 22:17] diberry commented on #696
@aclottan - thank you for working through this. I've updated the code to check for the required properties, and added notes in the sample repo.

[2022-01-25 10:51] Raystorm7 commented on #506
Hi @hugomr89 ,
I have used the code you provided but this error is trigger now:
![image](https://user-images.githubusercontent.com/7420345/150963389-f61f4706-f0a6-45c9-9dfc-49710110b562.png)

[2022-01-25 19:37] IngridAtMicrosoft opened #701 "Authenticating using AzureDefaultCredential"
Hi there,
I am writing Python code samples for Azure Media Services.  The AzureDefaultCredential in azure.identity is not documented here and probably should be.  Please see

https://docs.microsoft.com/en-us/python/api/overview/azure/identity-readme?view=azure-python#authenticate-with-defaultazurecredential

Ingrid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-01-26 12:51] MattePozzy opened #702 "[ANDROID] Intent extras lost"
Hi,
I have follow [this](https://docs.microsoft.com/en-us/azure/developer/mobile-apps/notification-hubs-backend-service-xamarin-forms#option-2-creating-a-p8-certificate-that-can-be-used-for-token-based-authentication) guide to setup push notification in my Xamarin Forms app.

I have an app with two activity,
one splash activity
[code]
and the MainActivity

[code]

in the main activity I have overr

[2022-01-27 09:18] georgeOsdDev commented on #684
Hi @diberry
Examples in package.json is not working.
I tried it on Ubuntu 20.04.1 LTS
[code]
But I think is not related to OS, version, etc. It is simply wrong in `npm start`.
`npm start` could not start Azure Static Web Apps emulator sat http://localhost:4280

- swa-up is not defined in package.json. use start-swa instead.
- Also && will wait success exit of previous command. so that we should us

[2022-01-27 17:13] GChiocca opened #703 "Error converting the autogenerated password to text"
Under [Create a service principal](https://docs.microsoft.com/en-us/azure/developer/terraform/get-started-windows-powershell?tabs=azure-powershell#create-a-service-principal) "Azure Powershell" - **Step 8**

The object $sp does not contain a key "secret"
When running the command
`$BSTR = [System.Runtime.InteropServices.Marshal]::SecureStringToBSTR($sp.Secret)`

The following error is returned:
`Me

[2022-01-27 17:22] TomArcherMsft commented on #703
@GChiocca Thanks for the feedback. There was a recent breaking change and I'm updating this article - hopefully today. Thanks again.

[2022-01-27 17:24] diberry commented on #684
@georgeOsdDev - I updated the package.json. Please try it now. I would love to learn more about how you came to this sample and your experience with it. If you have time for a call or email, let me know.

[2022-01-27 21:50] ArLucaID opened #704 "Inaccurate ToC label"
toc label for this page reads: "Authenticate from Azure to GitHub"
Based on the content, shouldn't it be: "Authenticate from GitHub to azure" or "Authenticate to Azure from Github"?

Apologies if I'm missing something here.

Thanks,
-Arturo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081be8c9-7871-db69-977c-9304daa6

[2022-01-28 02:02] TomArcherMsft commented on #660
@bernd-spieth Thank you for your feedback and patience. This article has been updated and will publish tomorrow.

[2022-01-28 02:02] #660 closed

[2022-01-28 02:08] TomArcherMsft commented on #703
@GChiocca The article has been updated and will publish tomorrow.

[2022-01-28 03:44] TomArcherMsft commented on #647
@joncooke Thanks. The article has been updated and will publish tomorrow.

[2022-01-28 03:44] #647 closed

[2022-01-28 03:53] TomArcherMsft commented on #688
@jcorioland Could you please help the customer with this Terraform test article?

[2022-01-28 03:56] TomArcherMsft commented on #630
@michaelspinks You never replied, so I'm going to close the issue. Please let me know if you're still having problems and I'll reopen the issue and contact the author of the article to help out.

[2022-01-28 03:56] #630 closed

[2022-01-28 07:43] jcorioland commented on #688
Hi @PingPongSet, can you explain a bit more what you are expecting regarding unit test in Terraform specific to Azure? Terraform provides a tool in beta (CDK) that brings some concepts of software unit testing to Terraform: https://www.terraform.io/cdktf/test/unit-tests
I understand it is agnostic from the platform. Is it what you are looking for?
To my knowledge, Microsoft does not provide anythi

[2022-01-29 18:07] TomArcherMsft commented on #636
@cyprienruelle Thanks for your feedback. As you noted, this article is very out of date. As a result, it is no longer in the TOC and is in our backlog to rewrite.

[2022-01-29 18:07] #636 closed

[2022-01-31 13:54] SIkebe opened #706 "GitHub organization-level secret is not considered"
This is not true. You can create organization-level secrets and use them in multiple repositories.
https://docs.github.com/en/enterprise-cloud@latest/actions/security-guides/encrypted-secrets#creating-encrypted-secrets-for-an-organization
https://github.blog/2020-05-22-keep-your-secrets-synced-across-multiple-repositories-with-organization-secrets/

---
#### Document Details

⚠ *Do not edit this s

[2022-02-01 02:12] indranil-chakraborty opened #707 "The tutorial is broken due to a library error"
This tutorial code sample is unfortunately broken, most likely due to a library error.
If I try to run a `mvn clean package` I get the following error.

[code]

Basically, it looks like there is a duplicate bean definition somewhere. If I comment out the below dependency, then I am able to run `mvn clean package` and `mvn spring-boot:run`.

[code]
However, if I do that, I (expectedly) get the defa

[2022-02-02 03:27] hisasima opened #708 "Can not use ansible on cloudshell"
I can not use ansible on cloudshell now. I confirmed that I could use it 2 month ago. Is it bug or is the installation of this document wrong ? I think you can easily reproduce this error.

user@Azure:~$ cat test.yaml
- hosts: localhost
  connection: local
  tasks:
    - name: Creating resource group - "{{ rgname }}"
      azure_rm_resourcegroup:
        name: "{{ rgname }}"
        location: "{{

[2022-02-02 07:57] DavidLievrouw commented on #708
I am experiencing this too.

A temporary workaround, is to install a newer version.
- Check the current version with `ansible-playbook --version`
- Run:
[code]
- Then close the cloud shell, and reopen it.
- Confirm with `ansible-playbook --version`

Most of it works, but sometimes, I get the following error: `Failed to authenticate with provided credentials. Some attributes were missing. Credentia

[2022-02-02 10:45] hisasima commented on #708
I tried your work around but it failed. I also tried to run dotnet. Do you have another work around ?

[code]

[code]

[2022-02-02 15:10] DavidLievrouw commented on #708
No, I do not, unfortunately.

In my case, it works when I run `ansible-playbook azure_create_vm.yml`, directly in cloud shell (bash).

However, it does not work when I run the program using `dotnet run`. In that case, I get the same error as you (`Failed to authenticate with provided credentials...`).
I am trying to run `ansible-playbook` through a dotnet tool using `Process.Start()`.

It seems th

[2022-02-03 07:36] hisasima commented on #708
I think many people encounter this issue now. It this bug ?

[2022-02-03 08:24] hisasima commented on #708
I tried bellow operation and it works well. Thanks.

pip3 install 'ansible[azure]'
curl -O https://raw.githubusercontent.com/ansible-collections/azure/dev/requirements-azure.txt
pip3 install -r requirements-azure.txt

reopen cloudshell

ansible-galaxy collection install azure.azcollection

[2022-02-03 09:17] hisasima commented on #708
When I exported my Subscription ID in advance, the credential error happened. I added it as the extra-vars and it was successful.

export AZURE_SUBSCRIPTION_ID=xxxxx-xxx

[2022-02-03 14:05] #706 closed

[2022-02-03 16:29] #634 closed

[2022-02-04 11:14] Raystorm7 commented on #702
Hi, any news about this? We need to release an application soon.
Thank you.

[2022-02-07 19:41] diberry commented on #684
#please-close

[2022-02-07 19:41] #684 closed

[2022-02-08 11:43] shaheerem opened #709 "Change in authentication sample code"
[Enter feedback here]
Kindly change armresources.NewResourceClient(subscriptionId, cred, nil) to armresources.NewClient(subscriptionId, cred, nil)
as the sdk repository doesn't have this former mentioned function anymore.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0512b7d6-3f16-303f-44dc-4e1595d5ca62
* Version Indep

[2022-02-08 12:27] LWarthen opened #710 "Needs more detail"
Section: "Configure and compile your app"
Step 6 Configuring the yaml
1.  Where do we get the value for <your-application-ID>
2.  Do I leave "login-flow: sign-up-or-sign-in" as is or do I need to change it to some value that I should know?
3. is "logout-success-url: <your-logout-success-URL>" required? The tutorial didn't instruct to create a logout url.
4. Where do I get the value for "user-name-

[2022-02-08 19:52] asherk-kxs opened #711 "example code missing .storage in package line"
I think

[code]
should be
[code]
given that BlobController.java is placed within a new subfolder "storage"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac19ce1b-2184-5487-67c9-22c4ff97336d
* Version Independent ID: ecc6b6cf-73e4-1575-add0-cb44d7aa4fcf
* Content: [How to use the Spring Boot Starter for Azure Storage](h

[2022-02-08 21:10] Duffney commented on #690
Hey @edisga,

I'm working on getting the code sample updated, thank you for submitting the issue and submitting a working example. :)

[2022-02-08 22:13] Duffney commented on #709
Hi @shaheerem,

I appreciate you taking the time to file the issue, I'll get the docs updated per your suggestion.

Thank you, :)

[2022-02-09 16:53] Duffney commented on #709
Hey @shaheerem.

I've made the suggested changes and updated the code to use the `NewClient` function instead of the `NewResourceClient` function. I also noticed that the readmes on pkg.dev also mention the old function. I'm working to update those references as well. A PR has been submitted will be merged shortly. You should see the docs update within the next 24-48 hours.

Thank you for taking t

[2022-02-09 17:43] Duffney commented on #690
#please-close

[2022-02-09 17:43] #690 closed

[2022-02-09 17:43] Duffney commented on #709
#please-close

[2022-02-09 17:43] #709 closed

[2022-02-10 11:46] zavyrylin opened #713 "Add artifact coordinates for all azure-core-http implementations"
The doc is great, but It could be much better if it had all artifact names listed in "Replace the default HTTP client" section.

The text claims there is an http client implementation using JDK's HttpClient, but it seems that the artifact is missing (at least on Maven Central). Googling for `JdkAsyncHttpClientBuilder` referred in text gives a couple of links to javadocs, but https://search.maven.o

[2022-02-14 14:52] #496 closed

[2022-02-14 14:54] Duffney commented on #629
Hey @damienpontifex,

I appreciate you filing this issue, I'm looking into the code sample now and will get back to you. Likely the packages used in the sample need to be updated. If that's the case, I'll update the doc accordingly. :)

Thank you,

[2022-02-14 15:49] pfgarvey opened #714 "client Id unknown"
[Enter feedback here]

When running this, I get a pause on the client id. In vars, it is empty. I see TFVARS env vars but is this supposed to be imported for the client id? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a750d14-2f87-914e-8715-fac805c8ba3b
* Version Independent ID: f8d16dbe-e594-408c-18d8-26fc95

[2022-02-15 19:35] Duffney commented on #629
Reviewing the article, it was using deprecated packages. I've updated the article to use the updated packages and remove irrelevant packages from the import section of the article.

Here's an update code sample you can use to create the `NewVirtualMachineClient`. Please let me know if you have any questions. :) Changes to the article should be published withn 24-48 hours.

[code]

[2022-02-15 19:38] Duffney commented on #629
#please-close

[2022-02-15 19:38] #629 closed

[2022-02-15 23:55] hisasima commented on #708
When I used below command to use my subscription, the credential error happened. I think "az account set" command is also fine.

export AZURE_SUBSCRIPTION_ID=xxxxx-xxx

[2022-02-17 03:36] liuyukuai opened #715 "The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f81d7cec-7853-fe76-8178-dc1fc6886f1b
* Version Independent ID: 61b1f5e0-f5cb-83c2-04ef-e8202dea9b33
* Content: [Use the Spring Boot Starter for Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configur

[2022-02-17 11:39] archerjm opened #716 "No Instructions for doing an offline installation"
There does not seem to be a way to install for an air gapped system with no internet access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec4bde10-62d2-9a0e-d8f4-a84a72f4dfda
* Version Independent ID: 6ac1b302-4b6d-6780-5c87-a79ff74b810f
* Content: [Installing the Azure Toolkit for Eclipse](https://docs.microsoft.com

[2022-02-17 15:42] DavidCBerry13 commented on #701
#assign: DavoidCBerry13

[2022-02-17 16:34] KarlErickson commented on #701
#assign:@DavidCBerry13

[2022-02-17 16:47] Duffney commented on #698
Hey @rvben,

I've updated the docs to use the latest packages for resource manager, which is [armresources](https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armresources). You shoud no longer receive the deprecation warnings and errors that you did previously.

Thank you for filing this issue, have a wonderful day! :)

[2022-02-17 16:48] #698 closed

[2022-02-17 16:52] Duffney commented on #697
Hi @ealasgarov,

I've updated the article with a different sample that uses the latest packages, resolving the deprecation warnings. Please let me know if this doesn't resolve the issue for you.

Thank you filing this issue, have a great day! :)

[2022-02-17 16:52] Duffney commented on #697
#please-close

[2022-02-17 16:52] #697 closed

[2022-02-17 16:55] Duffney commented on #638
Hey @benchwang,

I've likely updated the code since you file the issue, but the `ctx` is declared in the `var` block and is set to the value `context.Background()`. Please let me know if you have any other comments or concerns.

Thank you for taking the time to file this issue, have a great day. :)

[2022-02-17 16:55] Duffney commented on #638
#please-close

[2022-02-17 16:55] #638 closed

[2022-02-17 17:10] Duffney commented on #28
Hi @skwongg,

I've updated the article and added a call out the new [azidentity](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/azidentity) that is now recommended for authentication. Please let me know if you have any concerns or questions.

Thank you! :)

[2022-02-17 17:11] #28 closed

[2022-02-18 11:46] logcorner opened #717 "authorization.RoleAssignmentsClient#Create: Failure responding to request : Principals of type Application cannot validly be used in role assignments."
Hi
![terraform error](https://user-images.githubusercontent.com/5066547/154677310-9b3cc1d8-969d-4d57-8211-f0b26f9286a2.png)

I got the following error when running the terraform files (**NB** i'm owner of the azure subscription):

 _Error: authorization.RoleAssignmentsClient#Create: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=4

[2022-02-18 16:27] P47K0 opened #718 "async, await and handleRedirectPromise is missing in the azure-authentication-context.ts code"
Dear,

I couldn't sign in again after signing out (only once I could sign in).
The error code in the javascript console was: `Interaction_in_progress`
I went to the page that was suggested in the error message:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/errors.md#interaction_in_progress

After reading the details about the problem I added some

[2022-02-18 16:29] diberry commented on #718
Thanks for letting us know. I'll review the doc and fix. #in-progress.

[2022-02-18 16:35] P47K0 commented on #718
The actual page of the article I mentioned is:
https://docs.microsoft.com/en-us/azure/developer/javascript/tutorial/single-page-application-azure-login-button-sdk-msal

[2022-02-21 22:54] vtapadia opened #719 "Azure PostgreSQL connection setup using Managed Identity in Spring Boot JPA"
As the title suggests, I am looking for a sample on how we can use Managed Identity in Spring Boot JPA to connect to a PostgreSQL database.

The setup on the database and linking is all done, but the connection setup is not clear and the suggestions on using API calls sounds not polished for production usage. Is there abstraction and azure provided sdks available for this use case. Would be really

[2022-02-22 16:05] trferreira-BR opened #720 "Location brazilsoutheast is not available for resource group"
Hi everyone,

I just try to create asimple web app using 'brazilsoutheast' as location but it's not available and cause an error. So, I don't exactly why this location is not available, but why this option is showing in the list when a deploy a webapp on Azure using IntelliJ if it isn't possible?

![image](https://user-images.githubusercontent.com/34104414/155171826-bae7c459-20fb-4bc8-8d83-48d2d4e

[2022-02-23 00:29] KarlErickson commented on #719
@selvasingh can you comment here? Thanks.

[2022-02-23 00:32] KarlErickson commented on #720
@yucwan can you comment here? Thanks.

[2022-02-23 11:47] stevencl opened #721 "Error "Account Requires HTTPS" occurs when trying to handle request"
I followed the portal instructions on the page to create the storage account then added the BlobController class, built the project and ran.

When I executed the first curl request I got this error in the terminal:
com.azure.storage.blob.models.BlobStorageException: Status code 400, "?<?xml version="1.0" encoding="utf-8"?><Error><Code>AccountRequiresHttps</Code><Message>The account being accessed

[2022-02-27 20:48] derelih opened #723 "video steps did not work in my environment."
Following the steps in the mentioned video does not work in my environment, unless I did not update the Flask version in the requirements.txt.

I was getting "cannot import name ‘json’ from itsdangerous" error until I updated the Flask version to >2.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fac023b-e576-7e00-c

[2022-02-28 16:42] jess-johnson-msft commented on #723
#assign:DavidCBerry13

[2022-03-03 00:53] scottyhq commented on #577
Also confused by this! I think the docs just need some clarification. Related: #568

[2022-03-03 06:56] dave-sampson13 opened #726 "Is READ_PHONE_STATE permission still required, and why?"
In the section [Validate package name and permissions](https://docs.microsoft.com/en-us/azure/developer/mobile-apps/notification-hubs-backend-service-xamarin-forms#validate-package-name-and-permissions) it states that `READ_PHONE_STATE` permission is required. This permission grants a lot more access to the device than should be necessary for receiving push notifications, and is frequently a permi

[2022-03-03 16:58] roodee opened #727 "Running `az functionapp identity assign` causes error `'NoneType' object has no attribute 'identity'`"
Hello everyone,

Running the command

[code]
as described in section "7. Assign access policies and roles" of [Create resources for a cloud-based, serverless ETL solution using Python on Azure | Microsoft Docs](https://docs.microsoft.com/en-us/azure/developer/python/tutorial-deploy-serverless-cloud-etl-02#7-assign-access-policies-and-roles) causes the following error:

[code]

Both variables are s

[2022-03-03 18:10] jess-johnson-msft commented on #727
Thanks for the feedback - I will start to triage the issue and work on a resolution!

[2022-03-04 00:51] tacowan opened #729 "why is this still recommending Zulu and not the Microsoft openJDK build?"
[Enter feedback here]
If the zulu JDK is no longer receiving updates and going out of support, and given we should use the Microsoft build of the JDK, why is this still guiding us to install  Zulu?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 733d4a97-401b-afe5-cf02-325e5e7286ef
* Version Independent ID: f31fe3ee-ddb

[2022-03-04 14:57] hfujikawa77 opened #730 "add procedure for WEBSITES_PORT setting"
In the WEBSITES_PORT setting, it was necessary to enter the check box of the deployment slot in addition to entering the port number.
I would appreciate it if you could confirm it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c14b4680-9c75-f97a-030c-f893d69daad3
* Version Independent ID: 06585e09-0a7c-d2f4-8229-726d8

[2022-03-04 18:56] KarlErickson commented on #729
Hi @tacowan - thanks for the feedback! We are planning to update this article soon.

[2022-03-04 18:58] KarlErickson commented on #730
@seanli1988 can you confirm? Thanks!

[2022-03-05 02:17] mattgillard commented on #129
Why is this closed?
A basic tutorial on the Microsoft Docs site should *work*.  This does not and could be an endless source of frustration for newcomers to terraform and azure.

All it needs is a missing azurerm_network_interface_backend_address_pool_association resource.

resource "azurerm_network_interface_backend_address_pool_association" "example" {
  count = 2
  network_interface_id    = ele

[2022-03-05 02:19] mattgillard opened #731 "Please fix tutorial so it works"
You are missing this code to glue the NIC to the backend pool.

resource "azurerm_network_interface_backend_address_pool_association" "example" {
count = 2
network_interface_id = element(azurerm_network_interface.test.*.id,count.index)
ip_configuration_name = "testConfiguration"
backend_address_pool_id = azurerm_lb_backend_address_pool.test.id
}

---
#### Document Details

⚠ *Do not edit this sect

[2022-03-05 04:24] TomArcherMsft commented on #129
@mattgillard You're correct. I replied 2 years ago, so I'm not sure what I was thinking but it appears I misunderstood the OP's point. I'm finishing up a complete rewrite of the AGIC/AKS article and will fix this next.

[2022-03-05 04:25] TomArcherMsft commented on #731
@mattgillard Thanks for this. I'll try to get to this in the next day or two.

[2022-03-05 04:30] mattgillard commented on #731
All good. Thanks!

[2022-03-05 22:26] TomArcherMsft commented on #717
@logcorner Thanks for your feedback. I've completely rewritten and tested this article. It should go live Monday.

[2022-03-05 22:26] #717 closed

[2022-03-05 22:26] TomArcherMsft commented on #595
@assaf-grth I've completely rewritten and tested this article. It should go live Monday.

[2022-03-05 22:26] #595 closed

[2022-03-05 22:27] TomArcherMsft commented on #412
@stradigi-andres-de-castro Thanks for your feedback. I've completely rewritten and tested this article. Among the many changes is switching the IP address prefixes to non-reserved values. The article should go live Monday.

[2022-03-05 22:27] #412 closed

[2022-03-05 22:30] TomArcherMsft commented on #395
@DylanGuedes The subscription ID is the one you used to authenticate when running the demo. I've completely rewritten and tested this article. The demo uses a service principal, so the subscription id is the subscription associated with the service principal values you specify in the `terraform.tfvars` file. The article should go live Monday.

[2022-03-05 22:30] #395 closed

[2022-03-05 22:40] TomArcherMsft commented on #372
@dave-read Thanks for your feedback. I've completely rewritten and tested this article. It should go live Monday.

[2022-03-05 22:40] #372 closed

[2022-03-05 22:41] TomArcherMsft commented on #365
@felixtsem5 Thanks for your feedback. I've completely rewritten and tested this article. The article should go live Monday.

[2022-03-05 22:41] #365 closed

[2022-03-05 22:43] TomArcherMsft commented on #362
@SychevIgor Thanks for your feedback. I've completely rewritten and tested this article. The article should go live Monday.

[2022-03-05 22:43] #362 closed

[2022-03-05 22:44] TomArcherMsft commented on #310
@san-biqmind Thanks for your feedback. I sincerely apologize it took so long to get to this, but the article had to be completely rewritten. I've done that and tested the demo successfully. The article should go live Monday.

[2022-03-05 22:44] #310 closed

[2022-03-05 22:45] TomArcherMsft commented on #171
@andrewCluey I apologize for this Issue being dropped. I've completely rewritten and tested this article. The article should go live Monday.

[2022-03-05 22:45] #171 closed

[2022-03-06 03:20] TomArcherMsft commented on #708
@hisasima @DavidLievrouw

I am able reproduce similar errors when attempting to run a very simple Ansible playbook.

This is not a doc Issue, so I'm closing this GitHub Issue.

I've opened a [GitHub Issue](https://github.com/Azure/Ansible/issues/24) in the Azure/Ansible repo on your behalf.

I've also emailed the PM who manages that product.

Thank you,
Tom

[2022-03-06 03:20] #708 closed

[2022-03-07 19:56] diberry commented on #718
@P47K0 - after looking at this sample code and looking at the Identity team's doc and sample, I'm going to retire this sample and point the content to the doc/sample from Identity.

* [Documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-react)
* [Sample](https://github.com/Azure-Samples/ms-identity-javascript-react-spa)

[2022-03-08 08:40] DaveFoxOpenGI opened #732 "Parameter substitution does not work for content.xml inside the web apps' META-INF folder"
Hi,
good documentation here, however, does not make it clear that the e.g. ${db.url} substitution parameters do not work for a Java/Tomcat in an App Serevice when the context.xml is 'inside the .war' file in the META-INF folder.

Unless there is a way to get this to work??
I simply get errors such as
`"Cannot create JDBC driver of class 'org.gjt.mm.mysql.Driver' for connect URL '${MYSQLCONNSTR_eco

[2022-03-09 00:22] KarlErickson commented on #732
@selvasingh or @mnriem can you comment here? Thanks!

[2022-03-09 18:39] mnriem commented on #732
See https://tomcat.apache.org/tomcat-9.0-doc/config/index.html

[2022-03-10 08:51] DaveFoxOpenGI commented on #732
Exactly my point.
The server.xml and context.xml located in the **tomcat/conf** folder DOES get parameter substitution. as per the tomcat 9 docs.
However, your help page on migrating to Azure **incorrently** implies above that this will also occur for any context.xml file WITHIN the **META-INF** folder **inside** the deployed .war file. This is **not** correct.

[2022-03-10 14:50] KarlErickson commented on #732
@DaveFoxOpenGI @mnriem thanks for the feedback and info! I will create a work item to address this in the article.

[2022-03-11 08:09] chhonker opened #734 "Getting Consumer Binding Exception."
o.s.cloud.stream.binding.BindingService  : Failed to create consumer binding; retrying in 30 seconds
org.springframework.cloud.stream.binder.BinderException: Exception thrown while starting consumer:

Caused by: com.azure.storage.blob.models.BlobStorageException: If you are using a StorageSharedKeyCredential, and the server returned an error message that says 'Signature did not match', you can com

[2022-03-11 21:28] KarlErickson commented on #732
Hi @DaveFoxOpenGI - @mnriem has tested, and has reproduced the error. He's determined that setting CATALINA_OPTS to "-Dorg.apache.tomcat.util.digester.PROPERTY_SOURCE=org.apache.tomcat.util.digester.EnvironmentPropertySource" makes it work. I will update the documentation with this information.

[2022-03-12 12:55] hannibub opened #735 "OfflineDataSync Xamarin.forms"
Hi,

I tried to implement offline data sync capabilities to my Xamarin.Forms application by following the documentation (https://docs.microsoft.com/en-us/azure/developer/mobile-apps/azure-mobile-apps/quickstarts/xamarin-forms/offline) but the nuget packages "WindowsAzure.MobileServices" are deprecated in favor of Azure Mobile Apps. However, the documentation and sample project found in docs sill r

[2022-03-15 08:59] DaveFoxOpenGI commented on #732
thank you.

[2022-03-15 08:59] #732 closed

[2022-03-16 06:11] jmp75 opened #736 "The deployment failed with error: request to https://xxy.scm.azurewebsites.net/api/zipdeploy?etc failed, reason: read ECONNRESET"
I think I've scrupulously followed step 1 to 4 of the tutorial. Now following the procedure in step 5 [Deploy your Python web app to Azure App Service on Linux](https://docs.microsoft.com/en-us/azure/developer/python/tutorial-deploy-app-service-on-linux-05), using a checkout of  [python-sample-vscode-flask-tutorial](https://github.com/Microsoft/python-sample-vscode-flask-tutorial) as a web app to

[2022-03-16 19:04] TomArcherMsft commented on #129
@mattgillard Quick FYI that I haven't forgotten this, but some things are in flight I can't talk about. I'll try to get this done by Monday.

[2022-03-18 16:50] Minreaux opened #737 "Jenkins on Azure overview landing page references outdated material"
The [Jenkins on Azure overview landing page](https://docs.microsoft.com/en-us/azure/developer/jenkins/overview), which is the first page I looked at for learning how to use Jenkins on Azure, references the Azure VM Agents Jenkins plugin which is a plugin that will be deprecated in 2024.

This page should be updated to included the new recommended way to setup Jenkins on Azure.

---
#### Document D

[2022-03-18 16:56] TomArcherMsft commented on #737
@Minreaux Thanks for your feedback. Since the plugin you mention is supported for 2 more years, it is the recommended way. When the plugin gets closer to retirement, we'll have a transition path we'll document.

[2022-03-18 16:56] #737 closed

[2022-03-20 18:13] TomArcherMsft commented on #731
@mattgillard Thanks again for following up on this issue. I've updated the article and tested the article. The article will publish by tomorrow afternoon (PST).

[2022-03-20 18:13] #731 closed

[2022-03-20 19:59] mattgillard commented on #731
Thanks! Looks good.

[2022-03-21 01:20] TomArcherMsft commented on #714
@pfgarvey Thanks for the question and patience. I'm working on rewriting this article and will have feedback in the coming days.

[2022-03-21 15:10] ezYakaEagle442 opened #738 "JBoss EAP on ARO doc should refer to the install guide"
How to install JBoss EAP on ARO ?
If the official guideline is [https://access.redhat.com/documentation/en-us/red_hat_jboss_enterprise_application_platform/7.4/html-single/getting_started_with_jboss_eap_for_openshift_container_platform/index](https://access.redhat.com/documentation/en-us/red_hat_jboss_enterprise_application_platform/7.4/html-single/getting_started_with_jboss_eap_for_openshift_cont

[2022-03-21 15:27] ezYakaEagle442 commented on #738
also JBoss EAP o nARO doc should refer to the [Wildfly Operator](https://github.com/wildfly/wildfly-operator)

[2022-03-21 15:58] adrianhall commented on #735
The Azure Mobile Apps packages are in beta.  The WindowsAzure.MobileServices packages that are referenced WILL BE deprecated in favor of the new ones when they are released to GA.  As a result, the documentation is still good at this point.

I will be updating the documentation to use the new packages once they are released as GA.

[2022-03-21 15:58] adrianhall commented on #735
#please-close

[2022-03-21 15:58] #735 closed

[2022-03-22 13:53] ezYakaEagle442 opened #739 "Add Azure Spring Cloud"
On this [page](https://docs.microsoft.com/en-us/azure/developer/github/github-actions#where-can-i-see-all-the-available-actions) could you please add [Azure Spring Cloud](https://github.com/marketplace/actions/azure-spring-cloud) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4da18184-e5e5-e17c-614c-3361751014a4
* Ve

[2022-03-22 18:52] KarlErickson commented on #730
@seanli1988 ping

[2022-03-22 19:34] TomArcherMsft commented on #714
@pfgarvey I've updated and tested the article. It will publish around 10 AM (PST) tomorrow. Thanks again for posting your feedback.

[2022-03-22 19:34] #714 closed

[2022-03-22 20:08] TomArcherMsft commented on #611
@sebastiean I've rewritten and tested this article. Everything works now. Thank you for posting your feedback.

[2022-03-22 20:11] TomArcherMsft commented on #179
@heikkito I've rewritten and tested this article. I apologize the long wait.

[2022-03-22 20:11] #179 closed

[2022-03-22 20:12] TomArcherMsft commented on #229
@satrijotomo I've rewritten and tested this article. Apologies for not coming back and updating the Issue.

[2022-03-22 20:12] #229 closed

[2022-03-22 20:15] TomArcherMsft commented on #233
@kbetts-wwt Thanks for your feedback. As you noted, this article doesn't do good job of implementing a useful LB. Therefore, it's been removed from the article and I have it on my backlog to write an article specifically working with LBs.

[2022-03-22 20:15] #233 closed

[2022-03-22 20:16] TomArcherMsft commented on #239
@porrascarlos802018 The LB has been removed from this article as it will be explained better and be a focal point of a future article.

[2022-03-22 20:16] #239 closed

[2022-03-22 20:17] #213 closed

[2022-03-22 20:18] TomArcherMsft commented on #270
@pezzos I've rewritten and tested this article. It will publish tomorrow morning (PST).

[2022-03-22 20:18] #270 closed

[2022-03-22 20:19] TomArcherMsft commented on #481
@clssn I've rewritten and tested this article. It will publish tomorrow morning (PST).

[2022-03-22 20:19] #481 closed

[2022-03-22 20:22] TomArcherMsft commented on #688
@PingPongSet As there's been no activity on this Issue in 2 months, I'm closing this Issue. However, if you decide to follow up, I'm happy to reopen and you can engage with @jcorioland further.

[2022-03-22 20:22] #688 closed

[2022-03-23 01:39] TomArcherMsft commented on #555
From what I can tell, the quote is from the Ansible site, so please follow up with their doc team. Closing issue as this doesn't appear to be a doc error against the Ansible/Azure docs. I'm happy to discuss further if I'm misunderstanding.

[2022-03-23 01:39] #555 closed

[2022-03-23 05:30] seanli1988 commented on #730
@chenrujun can you have someone test this and confirm?

[2022-03-24 01:45] chenrujun commented on #730
@seanli1988 .

OK, I'll take care of this.

[2022-03-24 06:35] clssn commented on #481
Thanks Tom!

[2022-03-25 06:04] levistage opened #740 "bullseye Release 404 Not Found"
Hi,

**I followed the instruction in this page:**

curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg
sudo mv microsoft.gpg /etc/apt/trusted.gpg.d/microsoft.gpg
sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-$(lsb_release -cs)-prod $(lsb_release -cs) main" > /etc/apt/sources.list.d/dotnetdev.list'
cat /etc/apt/sources.li

[2022-03-25 15:19] spongebob331 opened #741 "No mention of specifying the VM version"
There should be a method to specify the VM version created using the ansible module.  This should at least be discussed in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ab8eeb-df97-be60-ce0a-ed619748c43e
* Version Independent ID: 4dd052d8-808b-1761-526f-2d534322f0e1
* Content: [Create a Linux virtual m

[2022-03-25 15:39] TomArcherMsft commented on #741
@spongebob331 Thanks for your feedback. The `azure_rm_virtualmachine` block details the attributes of the VM. Could you please explain exactly what you mean by way of example?

[2022-03-25 19:29] spongebob331 commented on #741
@TomArcherMsft When creating a VM or VM image using the CLI, you can specify the VM version using the  -HyperVGeneration option. I don't see where the current Ansible modules for creating a VM (azure_rm_virtualmachine) or creating a VM image (azure_rm_image) support this option. How do you use Ansible to create V2 VMs and images? The terraform provider for creating an image (azurerm_image) allows

[2022-03-25 23:59] TomArcherMsft commented on #741
@spongebob331 Thanks for the additional information. I've reached out to our Ansible plugins PM for guidance and will reply when I have more information.

[2022-03-26 17:16] jihu opened #742 "Incorrect image name in kubectl run command"
This command is incorrect:

`kubectl run gs-spring-boot-docker --image=wingtiptoysregistry.azurecr.io/gs-spring-boot-docker:latest`

The image name is called "**spring-boot-docker-complete**", so the command should be:

`kubectl run gs-spring-boot-docker --image=wingtiptoysregistry.azurecr.io/spring-boot-docker-complete:latest`

As far as I can tell, the image name is the same as the artifactId of

[2022-03-28 21:23] roalexan opened #744 "sample YAML in "Use the Azure CLI action" uses incorrect indentation"
Does the sample YAML in "Use the Azure CLI action" work for you? I tried pasting it in, and it failed. I flailed around a while, stumbled across [this bug](https://github.community/t/run-failing-invalid-workflow-file/127574), and came to the realization that the indentation is not correct as currently presented. It would be great if you could fix this and save some pain down the road.

This is wha

[2022-03-30 22:37] gregsmi opened #745 "Incorrect service principal credential format for azure/login GA in docs"
The fields described in [Create a service principal and add it as a GitHub secret](https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Clinux#create-a-service-principal-and-add-it-as-a-github-secret) as the appropriate Json format for an `AZURE_CREDENTIALS` secret usable by the `azure/login@v1` action are incorrect, and will cause an authentication failure

[2022-03-31 11:53] Vishwasrao1 opened #746 "Many parameters are not easily available and understood."
https://docs.microsoft.com/en-us/python/api/azure-iot-deviceupdate/azure.iot.deviceupdate.operations.devicemanagementoperations?view=azure-python-preview#azure-iot-deviceupdate-operations-devicemanagementoperations-create-or-update-deployment

I was going through this and unable to find any of the parameter given. For example

`deployment_id
Required
Deployment identifier.`

wow great! so deployme

[2022-04-01 14:49] TomArcherMsft commented on #741
@spongebob331 The Ansible plugins do not currently support V2 VMs but it is something in development. If you want, you can open a GitHub Issue on the [azure/ansible repo](https://github.com/Azure/Ansible/issues) to let the engineering team know of this request and track progress. I'm going to close this Issue as it's not a doc issue.

[2022-04-01 14:49] #741 closed

[2022-04-01 15:51] hexdecimal16 opened #747 "ridiculous documentations"
I was trying to see how can I validate the jwt token that my backend recieves from frontend using azure sd b2c login protocol [Frontend = (android, angular, react) backend = (spring boot)]. After readings dozens of pages I still can't figure out how to implement it. For most parts docs just beats around the bush with repetitive functionality explained on multiple instances. Docs are not consice an

[2022-04-02 01:53] saragluna commented on #604
@moarychan please take a look at it.

[2022-04-02 01:53] saragluna commented on #594
@moarychan please take a look at it.

[2022-04-02 08:37] moarychan commented on #594
Hi @romainiac , Sorry to keep you waiting. We have just released [library 4.0]( https://aka.ms/spring/docs/4.0.0), [samples for 4.0](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0/aad/spring-cloud-azure-starter-active-directory/web-client-access-resource-server/aad-web-application), you are welcome to upgrade. I just used the release version 3.9.0 in Septe

[2022-04-02 08:57] moarychan commented on #604
Hi @kurt-stadsklev ,  Sorry to keep you waiting. We received this issue https://github.com/Azure/azure-sdk-for-java/issues/19816, it's similar to the current one, then we fix it in the next release [version 3.7.0,](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter-active-directory_3.7.0/sdk/spring/azure-spring-boot/CHANGELOG.md#370-2021-07-20). We have just released [libra

[2022-04-03 19:58] abhinav-jain09 opened #748 "how to configure with Spring data auto configuration ?"
[Enter feedback here]
How about using spring Data? how to configure the mango db URL  with local azure emulator and also live Azure enviroment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6d9dcaa-2461-164f-0b5e-1670807e5df5
* Version Independent ID: 43e1642b-64e1-a636-2763-aa459f3725ea
* Content: [How to use Spring

[2022-04-03 21:34] abhinav-jain09 opened #749 "dependacy does not work"
[Enter feedback here]
After adding the dependency spring-cloud-azure-starter-data-cosmo spring container never start goes in infinite loop trying to restart
`[2022-04-03T21:39:33.495Z] 2022-04-03 23:39:33.494  INFO 21860 --- [pool-2-thread-1] .s.d.r.c.RepositoryConfigurationDelegate : Finished Spring Data repository scanning in 3 ms. Found 1 cosmos repository interfaces.
[2022-04-03T21:39:33.510Z]

[2022-04-04 11:24] rudydm opened #750 "Android part does not work anymore with latest packages"
Hello,

the android part of the tutorial does not work anymore.
specifically step 12 about adding MainActivity as the IOnSuccessListener

FirebaseInstanceId is not recognized, probably because InstanceID approach has been deprecated.

I can't seem to figure out how to get around this without changing the entire approach

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-04-04 18:12] #604 closed

[2022-04-05 23:26] TomArcherMsft commented on #324
This appears to have been addressed. Please let me know if this is still a problem, and I'll have the author take a look.

[2022-04-05 23:26] #324 closed

[2022-04-05 23:27] TomArcherMsft commented on #532
Closing issue due to lack of activity. Please let me know if you need further assistance and I'll reopen.

[2022-04-05 23:27] #532 closed

[2022-04-07 06:24] yiliuTo commented on #644
@jbx1 , could you check your dependencies that if you imported the library of **azure-spring-cloud-starter-eventhubs-kafka** or **azure-spring-cloud-stream-binder-eventhubs**? The library of `azure-spring-integration-eventhubs` shouldn't be imported for the usage of **azure-spring-cloud-starter-eventhubs-kafka**, which is the underlying dependency of **azure-spring-cloud-stream-binder-eventhubs**.

[2022-04-07 09:12] jbx1 commented on #644
@yiliuTo It has been quite a while now, and I gave up and moved on to use a different product.

But I was following the document step by step, so none of the dependencies you are mentioning were imported unless they were imported indirectly by `spring-cloud-azure-dependencies` which is explicitly specified in Step 2 of the section _Create a simple Spring Boot application with the Spring Initializr

[2022-04-07 18:45] erikpa1 commented on #736
I have same problem, its not working

[2022-04-08 09:05] yiliuTo commented on #644
Hi @jbx1 , thanks for your following and the information you provided. And now the version and imported libraries in the doc have been updated since we have published the latest version 4.0.0 for the Spring Cloud Azure support, where we redesigned the support for Azure Event Hubs Kafka API as well. Hope you would like to try our new library and the previous exception should not exist. Here are the

[2022-04-11 15:12] danilpremgi opened #752 "Error: Cannot index a set value"
Running `terraform plan -out main.tfplan` getting the following

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56eb6358-d924-6565-0d8e-9229d11c30e0
* Version Independent ID: 56eb6358-d924-6565-0d8e-9229d11c30e0
* Content: [Deploy an Azure Application Gateway v2 using Terraform to direct web traffic](https://docs.micros

[2022-04-11 20:21] TomArcherMsft commented on #752
@danilpremgi Thanks for bringing this to our attention. @vhorne Could you please take a look at this?

[2022-04-11 22:58] wwlorey opened #753 "Library names isn't referenced in Azure Identity documentation"
I needed to use `ClientSecretCredential` but the doc didn't provide the name of the library where that can be found. I had to google "Azure ClientSecretCredential" to find the right package (\<at\>azure/identity in this case).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50b13871-fe36-2dbe-d10d-f489b1259084
* Version

[2022-04-12 16:58] Chaitragandha opened #754 "New Consumer Group Event Processor Reading Latest Events from Partitions"
**I created new conumer group in Eventhub. Eventhub has events event before creating the new conumer group. The Event processor is reading from latest event in the partition using new consumer group and not the oldest event in the partition. Is there any way I can change this by mentioning in application.properties file? Kindly find the logs below.**

[spring-cloud-azure-stream-binder-eventhubs](h

[2022-04-12 18:02] kf-himpunetha commented on #736
I am facing same issue .. tried with azure function extension 1.6.1 and 1.6.0 both.

[2022-04-13 09:26] jonasprechtl commented on #736
+1

[2022-04-13 20:12] KarlErickson commented on #754
Hi @Chaitragandha - Thank you for your feedback. Since this channel is more for driving improvements toward MS Docs, could you post on [MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) instead for your question?

[2022-04-15 14:26] jess-johnson-msft commented on #736
Thank you all for your feedback, we have begun investigating the issue!

[2022-04-15 19:43] DavidCBerry13 commented on #746
@lmazuel - Is there someone on your team that can help out with this?  I think this probably should have ended up in the SDK repo, but is here instead.  Do you know who could take a look?

[2022-04-19 16:41] merusso-regions opened #757 "Wrong JVM Option For ParallelGC"
Your page currently says:

but the correct JVM options for setting ParallelGC is `-XX:+UseParallelGC`

See: https://docs.oracle.com/javase/8/docs/technotes/tools/windows/java.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1de00d-3068-72ac-6a49-ca6f8aa5dd54
* Version Independent ID: fe1de00d-3068-72ac-6a49-ca6f8a

[2022-04-19 18:00] KarlErickson commented on #757
Thanks for catching this, @merusso-regions !

[2022-04-20 15:11] Duffney commented on #140
Hi @qt-luigi,

I appreciate you taking the time to submit this issue, I'm reviewing the article now. :)

Thank you,

[2022-04-20 15:19] Duffney commented on #140
#please-close

[2022-04-20 15:32] qt-luigi commented on #140
Hi, @uffney

Thanks for reviewing and action this PR.

I'm glad that you check this PR!

[2022-04-20 22:58] briglx opened #761 "Code sample refers to incorrect credential"
Page show:

[code]

Should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a4b3e86-5019-fd4e-e71d-a0694d5aa697
* Version Independent ID: 9a4b3e86-5019-fd4e-e71d-a0694d5aa697
* Content: [Overview: Authenticate Python apps to Azure using the Azure SDK](https://docs.microsoft.com/en-us/azure/developer/python/s

[2022-04-21 22:01] pennstatephil opened #762 "Unclear if Premium is truly a requirement for Spring Starter Azure Service Bus"
Despite prerequisite section listing a "premium or higher" azure service bus requirement, the instructions seems to suggest that the example should function with standard or basic in the `pricing-tier` configuration variable. It would be great if the article was clarified to explain what will and won't work on each tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-04-22 11:09] THD-Thomas-Lang opened #763 "Rename AADWebSecurityConfigurerAdapter"
Please rename `AADWebSecurityConfigurerAdapter` to the right class name `AadWebSecurityConfigurerAdapter`
See: https://stackoverflow.com/questions/71966520/aadwebsecurityconfigureradapter-not-found

Maybe all `AAD*` classes need renaming to `Aad*`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba254924-0fee-04dd-6db0-f

[2022-04-22 14:44] DavidCBerry13 commented on #761
Thanks @briglx - My bad there, I'll get this updated.

[2022-04-22 14:51] DavidCBerry13 commented on #761
This is the PR for the fix --> https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2978

Should publish around noon US Central time.

[2022-04-22 15:56] rhyashu opened #764 "Artifact if is different if i go to maven repo for version 4.0.0"
In the doc artifact name is mentioned as "spring-cloud-azure-stream-binder-eventhubs" but in maven repo is same as previous version 2.* which is

<dependency>
    <groupId>com.azure.spring</groupId>
    <artifactId>azure-spring-cloud-stream-binder-eventhubs</artifactId>
    <version>4.0.0</version>
</dependency>

Are they both same?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-04-22 17:33] DavidCBerry13 commented on #761
#please-close

[2022-04-22 17:33] #761 closed

[2022-04-22 17:47] DavidCBerry13 commented on #701
@IngridAtMicrosoft - I just rewrote all of the Azure Python SDK auth content to cover DefaultAzureCredential and how this works going from local development to server environments.  I think that solves the problem you were highlighting here, so I am going to close this out.

#please-close

[2022-04-22 17:47] #701 closed

[2022-04-22 20:17] KarlErickson commented on #763
@stliu can you please validate, for the class mentioned and for all AAD* classes? Thanks!

[2022-04-22 20:18] KarlErickson commented on #764
@stliu can you please validate? Thanks!

[2022-04-22 21:17] JCP13 opened #765 "Error: runing PostgreSQL Flexible Server Database using Terraform"
Greetings,

I have copied the sample code as explained but I get this error when I run the terraform:

│ Error: waiting for creation of the Postgresql Flexible Server "postgresqlfs-server" (Resource Group "postgresqlfs-polished-skylark"): Code="ServerGroupDropping" Message="Operations on a server group in dropping state are not allowed."
│
│   with azurerm_postgresql_flexible_server.default,
│   o

[2022-04-22 21:25] bitdeft opened #766 "Syntax broken for code block"
[Enter feedback here]

Code block is incorrect at the first paragraph, causing the part before the intended code block to be placed in code block mkrdwn :
"

Developing on Azure requires Python 3.6 or higher. Its assumed you already have Python 3.6 or higher installed on your local workstation. To verify the version of Python on your workstation, type the command python --version` in any console w

[2022-04-22 21:26] bitdeft commented on #766
Correction: Second paragraph. It's pretty easy to see, should be quick fix 👍

[2022-04-25 22:00] DavidCBerry13 commented on #766
Yes.  Wrong tick mark.  Switching to the other (correct) tick mark.  Thanks for letting me know.  The fix will publish out on Tuesday.

[2022-04-25 22:05] DavidCBerry13 commented on #766
This is the PR --> https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2990

[2022-04-26 08:08] henryho062 opened #767 "Binding multiple topics"
[Enter feedback here]

How to binding for multiple Service Bus topics and handle consume/supply messages from/to those topics?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25596474-8a16-dcf6-e9a9-09ca23c905a9
* Version Independent ID: 9c1525d4-c8fe-f585-8f27-667291a58fd0
* Content: [How to use Spring Cloud Azure Strea

[2022-04-26 19:55] KumariSupriya opened #768 "Does the Python SDK work for Canary environments ?"
We are seeing an issue when creating a resource group in CentralUSEUAP and the resource group creation fails with region is invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a664b6ce-32ab-17ab-9d96-2860a88bbf95
* Version Independent ID: a664b6ce-32ab-17ab-9d96-2860a88bbf95
* Content: [Use the Azure libraries (SDK

[2022-04-27 02:39] DavidCBerry13 commented on #766
#pleas-close

[2022-04-27 02:39] DavidCBerry13 commented on #766
#please-close

[2022-04-27 02:39] #766 closed

[2022-04-27 10:11] abouquet opened #769 "Any docs for JMS 1.1 ? JMS 2.0 is only available on premium subscription which is a NO-GO given our budget."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbecafd0-c6db-9cb0-c5a4-328946446ec6
* Version Independent ID: 40cea238-c2de-fd1d-fef7-c1a850b54158
* Content: [How to use the Spring Boot Starter for Azure Service Bus JMS](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/config

[2022-04-27 10:13] abouquet commented on #769
Probably related to https://github.com/MicrosoftDocs/azure-dev-docs/issues/762

[2022-04-27 16:15] KarlErickson commented on #769
@seanli1988 can you comment here? Thanks!

[2022-04-27 23:09] asukumar22 opened #770 "There is an error in the main.tf file contents. I am sharing the feedback from testing it in terraform."
There is an error in the main.tf file contents. I am sharing the feedback from testing it in terraform.
It is given in the line like this:
backend_address_pool_id = azurerm_application_gateway.network.backend_address_pool[0].id

It threw an error in the plan stage.
╷
│ Error: Cannot index a set value
│
│   on main.tf line 108, in resource "azurerm_network_interface_application_gateway_backend_addr

[2022-04-28 11:03] chenrujun commented on #44
Closing this issue because there is no response from customer for a long time.

[2022-04-28 12:28] AlperMulayim opened #771 "AADResourceServerWebSecurityConfigurerAdapter not found"
On the documentation AADResourceServerWebSecurityConfigurerAdapter class not found.

Maven Repository
[code]
Link:
https://github.com/MicrosoftDocs/azure-dev-docs/blob/main/articles/java/spring-framework/spring-boot-starter-for-azure-active-directory-developer-guide.md#access-resource-servers-from-a-web-application

[2022-04-28 14:32] ChristopherManthei opened #772 "Redirect of https://docs.microsoft.com/azure/developer/python/azure-sdk-logging is 404"
The link [https://docs.microsoft.com/azure/developer/python/azure-sdk-logging](https://docs.microsoft.com/azure/developer/python/azure-sdk-logging) should do language redirection.
So for an English system I'm redirected to:
[https://docs.microsoft.com/en-us/azure/developer/python/sdk/azure-sdk-logging.md](https://docs.microsoft.com/en-us/azure/developer/python/sdk/azure-sdk-logging.md)
However, th

[2022-04-28 15:42] #772 closed

[2022-04-28 16:11] diberry commented on #718
#please-close

[2022-04-28 16:11] #718 closed

[2022-04-28 19:17] #44 closed

[2022-04-28 19:21] KarlErickson commented on #763
@stliu @chenrujun can you validate? See also #771.

[2022-04-28 22:31] DavidCBerry13 commented on #294
As of February 2021, the Azure Ruby SDK has entered retirement, so we are no longer updating this documentation.  You can see the official announcement in the Azure SDK for Ruby GitHub repo --> https://github.com/Azure/azure-sdk-for-ruby/blob/master/SUPPORT.md

[2022-04-28 22:32] DavidCBerry13 commented on #294
#please-close

[2022-04-28 22:32] #294 closed

[2022-04-29 02:35] chenrujun commented on #763
@KarlErickson PR is creating.

[2022-04-29 07:25] yiliuTo commented on #405
Hi @Saljack sorry for the late response. Currently we have released the latest version of 4.0.0 for this jms starter, so I would like to answer your questions towards the latest versions. And if you still have questions towards the previous versions, we can continue discussion towards the specific version you are using.
1. Now the doc has documented about the different container factories for queu

[2022-04-29 09:42] joustine opened #773 "Support for AmqpWebSockets"
[Enter feedback here]
Is AMQP over web socket (TransportType=AmqpWebSockets) supported in Spring Cloud Stream Binder application for event hubs? How can I specify "TransportType=AmqpWebSockets" in my application, if it is supported? This will be helpful in the scenarios where  outbound connections to ports 5671 and 5672 are blocked in data center.

---
#### Document Details

⚠ *Do not edit this se

[2022-04-29 15:58] #763 closed

[2022-04-29 15:58] #771 closed

[2022-04-29 15:59] KarlErickson commented on #773
@chenrujun can you comment here? Thanks!

[2022-05-02 08:53] ThomasAtAcerta opened #774 "Insufficient JUnit test principle."
- The Handler class extending FunctionInvoker has concerns that are not testable such as HttpStatus 200, 400, etc.

- Using HttpRequestMessage with queryParameters: this is unclear to me how to unit test this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59f2ae26-8728-c449-ba2d-6f870080f07e
* Version Independent ID:

[2022-05-02 16:11] KarlErickson commented on #774
@jdubois can you reply here? Thanks!

[2022-05-03 00:41] sokoloffmaks opened #775 "Proposing some improvements"
HI Jen, great work as usual!

couple of things on how this AVD terraform example doco can be improved

1)Suggesting to add azure devops pipeline section/page showing on how to deploy codebase you are providing  via Azure Devops / yaml file

2) Atm, this code obviously allows only to deploy the single pool/workspace/app group into a single environment..
Potential Improvement is to allow to deploy d

[2022-05-03 06:17] TomArcherMsft commented on #775
@sokoloffmaks Thanks for your feedback. I've assigned the Issue to @jensheerin.

[2022-05-03 15:54] ghost opened #776 "Example Tests"
How about some springboot @webmvctest examples to go with it? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba254924-0fee-04dd-6db0-f7588106a3c1
* Version Independent ID: b689c92c-8fdd-a3de-d13e-889934dbb734
* Content: [Spring Boot Starter for Azure Active Directory developer's guide](https://docs.microsoft.com

[2022-05-05 09:07] chenrujun commented on #773
Hi, @yiliuTo, please comment here.

[2022-05-05 11:08] matthiasguentert opened #778 "Parameter `azureLibraries` seems to be required"
Unfortunately, Azure's Java support is lacking behind. Even this introduction page can't be followed without hassles. For e.g. when executing the provided maven command it won't execute on PowerShell since it requires additional quotes

[code]

But even then it fails with the error message provided below. According to [this table](https://docs.microsoft.com/en-us/azure/developer/java/sdk/get-start

[2022-05-05 14:47] #775 closed

[2022-05-05 15:17] JesseHoch opened #779 "Image tag is not correct"
The image tag is:
"mcr.microsoft.com/azuredocs/azure-vote-front:cosmosd"

Should be:
"mcr.microsoft.com/azuredocs/azure-vote-front:cosmosdb"

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e206df2-ca76-283a-0689-4aa90229a5c2
* Version Independent ID: d7475eda-b72a-7799-7942-fb2010e56f66
* Content: [Deploy an

[2022-05-05 15:57] KarlErickson commented on #778
@jogiles can you please validate and submit a PR to fix? Thanks!

[2022-05-05 16:20] TomArcherMsft commented on #779
@JesseHoch Thanks for the catch! I've updated the article and it should publish sometime later this morning.

[2022-05-05 16:20] #779 closed

[2022-05-06 03:21] yiliuTo commented on #773
Hi @joustine , to configure the `TransportType` property, we support multiple ways for it.you can configure it using one of the below properties that fits your case:
- `spring.cloud.azure.client.transport-type` configures the transport type for all Spring Cloud Azure internal SDK clients which has the lowest priority of all supported properties
- `spring.cloud.azure.eventhubs.client.transport-type

[2022-05-07 11:42] jdubois commented on #774
This is a sample code, with already has some test coverage: I don’t think you can expect much more from such a sample, which needs to stay very simple (people need to be able to follow this in 10-15 minutes). API concerns should go to the main project, not the sample code.

[2022-05-09 07:36] ThomasAtAcerta commented on #774
When deciding to either use or not use a library like this the testability of such a library should be a major concern (IMO).  I am having trouble finding more detailed test code anywhere.  Also, the production code in this sample is simple enough, all concerns should be easily testable and I do think this sample should show how to do that.  I am specifically talking about the concern of the http

[2022-05-09 12:14] lanicolas opened #780 "Ansible Tower changed names"
Ansible Tower by Red Hat is now called Red Hat Ansible Automation Platform, as they also reflect it in their marketplace offering.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b88e2bae-a0d4-f918-4cfe-2c21656baca0
* Version Independent ID: 118ef161-46e8-1625-6972-524555aca8c0
* Content: [Using Ansible with Azure](http

[2022-05-09 18:46] Slowdive-Aideron commented on #576
@TomArcherMsft the Article is still faulty as far as i can tell. Problem is that installation of the azcollection requirements (python modules) is i believe done in a virtualenv, thus unavailable for the user running ansible.
No matter what you try and do the error is always something along these lines

[code]

[2022-05-09 20:29] joeistyping opened #782 "A managed resource "azurerm_resource_group" "k8s" has not been declared in the root module."
Following the tutorial yields:
│ Error: Reference to undeclared resource
│
│   on main.tf line 19, in resource "azurerm_log_analytics_workspace" "test":
│   19:     resource_group_name = azurerm_resource_group.k8s.name
│
│ A managed resource "azurerm_resource_group" "k8s" has not been declared in
│ the root module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-05-10 20:34] malet-pr opened #783 "instruction not working on windows 11"
DAP server listening at: 127.0.0.1:65179
Build Error: go build -o d:\Documentos\PROGRAMACIÓN\GOLANG\codigo\sample-app\__debug_bin.exe -gcflags all=-N -l .
go: no such tool "compile"
go: no such tool "compile"
go: no such tool "compile"
go: no such tool "compile"
go: no such tool "compile"
go: no such tool "compile"
go: no such tool "compile"
go: no such tool "compile" (exit status 2)

---
#### Doc

[2022-05-11 06:52] ahmedig opened #784 "Deprecated Action in Use Key Vault secrets in GitHub Actions workflows"
The Action "Azure/get-keyvault-secrets" is deprecated as per [the GitHub action](https://github.com/Azure/get-keyvault-secrets#deprecation-notice). We would love to have an example using the CLI as currently recommended in the docs, and show a way to read the values, and set and mask the environment variables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2022-05-11 07:37] rajyraman opened #785 "SP with contributor access for subscription"
Is there any way to get this working with giving Contributer access to the subscription?

![image](https://user-images.githubusercontent.com/5035266/167794317-12fc0600-3b12-4b4e-a32f-ea30feb742f0.png)

I saw this concern raised in LinkedIn https://www.linkedin.com/posts/christosmatskas_github-actions-with-azure-ad-workload-identity-activity-6929666907419680768-1AWs

![image](https://user-images.gi

[2022-05-11 17:04] Duffney commented on #783
Hey @malet-pr,

I appreciate you submitting this issue, I'm looking into it and will try to repo the error you mentioned.

Thank you,

[2022-05-11 18:13] #785 closed

[2022-05-12 14:15] itsme300 opened #786 "Documentation is incomplete and difficult to follow"
The login methods are shown and login logging options are given.

which method should I use to logon to the service?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f30ac0e-7650-9033-dae3-c96c6090312a
* Version Independent ID: 8c754945-f8d0-af20-7f37-4c2a8fc0cf59
* Content: [Walkthrough, Part 5: Authenticate Python apps

[2022-05-14 00:15] ChristianMA19 opened #788 "this doesnt work"
hello men how are you today,

ok so i have this error i have done everything you said in the page and it doesnt work
![image](https://user-images.githubusercontent.com/68516237/168403224-2e844ced-339f-464c-9969-0656063d88c2.png)
![image](https://user-images.githubusercontent.com/68516237/168403258-4705e4a7-df33-465a-8e47-e80b4653353a.png)

---
#### Document Details

⚠ *Do not edit this section. It

[2022-05-14 00:17] sebaxe07 commented on #788
Hello, I have the same issue here on my end. I already tried the process twice referred to in this article
https://docs.microsoft.com/en-us/azure/developer/mobile-apps/azure-mobile-apps/quickstarts/xamarin-android/

[2022-05-14 04:17] PylotLight commented on #183
Not sure if this is related, but "public_key = tls_private_key.example_ssh.public_key_openssh" currently results in error:
`Failure sending request: StatusCode=400 -- Original Error: Code="InvalidParameter" Message="Destination path for SSH public keys is currently limited to its default value /home/azadmin/.ssh/authorized_keys  due to a known issue in Linux provisioning agent." Target="linuxConfi

[2022-05-16 16:31] adrianhall commented on #788
Thank you for the report. We've recently updated the tutorial and code and are just awaiting a new publication of the docs site.  Once that is done, please retry the tutorial.

#please-close

[2022-05-16 16:31] #788 closed

[2022-05-16 22:01] #773 closed

[2022-05-17 19:09] Duffney commented on #783
I walked through the tutorial, but wasn't able to reproduce the error. Looking at the error message I'm fairly certain its due to not having all the Go Tools installed. Going through the steps listed under the [fifth heading](https://docs.microsoft.com/en-us/azure/developer/go/configure-visual-studio-code#4-update-the-go-tools) should get them all installed for you. Would you mind give that a try

[2022-05-18 20:51] johnastiles commented on #752
I get the same error. It appears to be a Terraform provider issue. If I use v2.99.0, it works fine. Using v3.50.0 gives the error.

[2022-05-19 06:21] SudhirG85 opened #789 "How to set rule priority in routing rule while creating app gateway for multiple domains with terraform?"
It seems with recent API update on azure application gateway, it is mandatory to set rule priority in routing rules. Due to which the existing setup with AGIC in AKS is not updating the App gateway configuration promptly. Instead it exits with an error:
**error: network.ApplicationGatewaysClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="ApplicationGatewayRequ

[2022-05-19 12:27] apamildner opened #790 "How to get secrets is outdated"
The docs mentions using this action to get secrets, but it is deprecated according to the `README` for the repo.
https://github.com/Azure/get-keyvault-secrets#deprecation-notice
Should add a replacement on how to do this with the `azure cli`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae689e10-62a4-f724-7705-927380

[2022-05-19 15:19] Duffney commented on #783
#please-close

[2022-05-19 15:19] #783 closed

[2022-05-20 04:35] SudhirG85 commented on #789
@KarlErickson thanks for response. But please consider this feedback as more of an update in page based on the recent upgrade of Application Gateway and its API which made priority in routing rule as a mandatory field. It would be good if we have sections in this page to demonstrate how we create app gateway using terraform for both single domain and multi domain setup with rule priority defined.

[2022-05-20 06:34] poochie89 opened #791 "Input parameter 'redirect_uri' not valid"
I am following the guide but when trying to login with the Microsoft account I am getting
"invalid_request: The provided value for the input parameter 'redirect_uri' is not valid. The expected value is a URI which matches a redirect URI registered for this client application."

I added `http://localhost` to the redirect URIs
The submitted url contains the correct uri
https://login.live.com/oauth20

[2022-05-20 11:30] MarcoJanse opened #792 "Common library listed twice, one of them should be azure-storage-common"
The common library is listed twice. One of them redirects to azure-storage-common, so the name should be change to azure-storage-common to make it more clear.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 565dffa2-4de7-faa2-623c-f5f28ac99d59
* Version Independent ID: 565dffa2-4de7-faa2-623c-f5f2

[2022-05-20 14:17] TomArcherMsft commented on #789
@SudhirG85 Thanks for the great feedback. I'll add this request to my backlog.

[2022-05-20 14:17] #789 closed

[2022-05-20 15:38] KarlErickson commented on #792
@MarcoJanse thanks for the feedback! We'll investigate.

@jess-johnson-msft can you take a look? This content is auto-generated, so it might resolve itself, or it might be by design, I'm not sure after a quick glance. If it's a bug, though, could you file an issue at <https://github.com/Azure/azure-sdk> and at-mention weshaggard? Thanks!

[2022-05-23 15:47] adrianhall commented on #791
The redirect_uri you are sending is wrong - it's `http://localhost:56183` instead of `http://localhost` - it needs to match exactly.

[2022-05-25 13:19] jess-johnson-msft commented on #786
Thank you so much for reaching out with this feedback! This item has been added to our triage queue and will be investigated further.

[2022-05-29 09:06] merwindz opened #795 "Error while deploying the hub-spoke deployment with Terraform"
[Enter feedback here]

I am testing this deployment using terraform and get the below errors. Do you know if this has been addressed?

Thanks

Merwin

C:\learn-terraform-azure>terraform init

Initializing the backend...

Initializing provider plugins...
- Reusing previous version of hashicorp/azurerm from the dependency lock file
- Using previously-installed hashicorp/azurerm v3.0.2

Terraform has

[2022-05-30 09:14] Khushali-DG opened #796 "What will be the Login page credentials"
[Enter feedback here]

As I run this command: "curl -X POST localhost:8080/messages?message=hello" it is taking me to a sign in page.
What should be the username-password for this?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbecafd0-c6db-9cb0-c5a4-328946446ec6
* Version Independent ID: 40cea238-c2de-fd1d-fef7-c1a850

[2022-06-01 03:52] mafverargulla opened #797 "Unsupported function version"
When creating the function, I receive this error:
Functions version 2 is not supported for runtime python with version 3.7 and os linux. Supported functions versions are ['4', '3']. Run 'az functionapp list-runtimes' for more details on supported runtimes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bbb5dd1-f7fa-5e

[2022-06-04 22:24] ASHR4 opened #800 "Terratest Documentation is not up to date"
The Unit Test Section no longer works. For the plan which uses the terraformCore.ReadPlan is no longer a a method and breaks the remaining code.

The import for terraformCore is also wrong, as it now points to:

github.com/hashicorp/terraform-plugin-sdk/terraform

I’m keen to understand, following these docs, how to complete unit tests with go as I’m unfamiliar with the language and I’m relying he

[2022-06-08 01:01] mgrlabs opened #801 "Terraform code example requires "priority" argument in "request_routing_rule" block within Application Gateway resource"
If you attempt to deploy the Terraform code in this example as is, it will fail due to the introduction of mandatory priorities in the `request_routing_rule` block within the `azurerm_application_gateway` resource. Introduced as a mandatory field in AzureRM provider 3.6.0.

Reference: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/application_gateway#priority

---

[2022-06-10 11:06] aomegax opened #802 "[Clarifications] Difference between @PartitionKey (Spring annotation) and partition_key_path (Container parameter)"
Hi,
I don't understand the difference between `partition_key_path` that I should set during container creation and the Spring annotation `@PartitionKey` used when I define an entity in my app.

Which is the relationship between the two modes?

In my case, I don't have nested keys, but I need to partition on a base field (ie. firstName), so I set it (ie /firstName) as `partition_key_path`. Then do

[2022-06-10 17:10] KarlErickson commented on #802
@seanli1988 can you comment?
@aomegax this issues list is for documentation feedback, so you might want to ask your question on the [Q&A forum](https://docs.microsoft.com/en-us/answers/index.html) also. Thanks!

[2022-06-13 01:35] saragluna commented on #802
@kushagraThapar could you help with this?

[2022-06-14 09:05] oldwatch opened #804 "yeoman cannot run in cloud shell"
in cloud shell
yeoman's version is 4.3.0
nodejs version is 8.16.1

but
Yo@4 supports node >= 12.10.0
https://github.com/yeoman/yo/issues/665

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b06e75bd-7854-f965-71b0-79fd29eb12fe
* Version Independent ID: 26cfa42b-f393-a62c-fb0b-37be423702ea
* Content: [Create a Terraform b

[2022-06-14 14:15] mmyers299 opened #805 "Documentation for AMPLS"
This is a great starter document but I'd love to see more complicated scenarios documented such as how to use Terraform to implement Azure Monitor Private Link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bde74b44-d938-eb2e-884a-9321415bcb3e
* Version Independent ID: bde74b44-d938-eb2e-884a-9321415bcb3e
* Content: [C

[2022-06-15 07:41] aomegax commented on #802
[Here](https://docs.microsoft.com/en-us/answers/questions/885167/clarifications-difference-between.html) the question on the forum.
Now it is clear for me. Probably, this should be written in the documentation, in order to clarify this case.
Thanks!

[2022-06-16 15:01] johnterickson opened #807 "Actions to Azure via OIDC - unnecessarily secret?"
Is there a reason why we instruct folks to mark these variables as secrets?  It seems unnecessary and the point of the whole flow is that "you don't need secrets anymore!" 😁

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081be8c9-7871-db69-977c-9304daa6c870
* Version Independent ID: aa3e5074-a630-3756-be86-295d

[2022-06-18 18:51] Erol-E opened #808 "Incorrect instructions."
https://docs.microsoft.com/en-au/azure/developer/mobile-apps/azure-mobile-apps/quickstarts/uwp/offline#set-the-offline-database-location)
I think this part is copied from the instructions for TodoApp.WinWPF and need to be changed to TodoApp.WinUWP?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7934ed86-2493-cc38-c27a-

[2022-06-20 17:08] adrianhall commented on #808
Thanks for the report - the UWP and WPF instructions share this piece.  I'll get it updated today.

[2022-06-20 17:22] adrianhall commented on #808
Corrected instructions are updated and will be rolled out in the next publish cycle.

#please-close

[2022-06-20 17:22] #808 closed

[2022-06-20 17:24] adrianhall commented on #791
Closing off older issues with no feedback.  The instructions are verified correct.

#please-close

[2022-06-20 17:24] #791 closed

[2022-06-21 05:13] shermanyin opened #809 "Out of date resource"
The Terraform code seems to be a bit dated despite being updated a month ago.

e.g.
- azure_lb_probe doesn't take a resource_group_name (https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/lb_probe)

- azurerm_virtual_machine_scale_set is deprecated https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/virtual_machine_scale_set and I'd imagine

[2022-06-24 13:47] yukit7s opened #812 "The following code is missing in main.tf"
[Enter feedback here]

I think the following code is missing in `main.tf`

[code]

thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14080c3b-027f-93e1-fd0f-4bea971f51b0
* Version Independent ID: 5894d6ec-4347-153c-fa9a-203d41275153
* Content: [Install the Azure Terraform Visual Studio Code extension](https://d

[2022-06-27 14:31] jess-johnson-msft commented on #786
These issue has been addressed by PRs #3126 and #3127

[2022-06-27 14:31] #786 closed

[2022-06-27 14:39] jess-johnson-msft commented on #768
@lmazuel are you or someone on your team able to help address this issue?

[2022-06-27 20:56] Trailbear opened #813 "Need to specify managed identity if it is actually managed?"
Note says: "If you use client-id and client-secret, you shouldn't use managed-identity, and if you use managed-identity, you shouldn't use client-id and client-secret."

It seems like you would normally let the machine provide the object Id of its own managed identity unless it was specifically user provided.  Is this instruction meant for both situations or just the user provided scenario?

---
#

[2022-06-27 22:12] mnriem commented on #813
In principle it should not be much different than how our managed services operate, but I have not tested this particular scenario. @saragluna Can you test to see if an Azure VM with a managed identity works too and if so adjust the documentation to reflect how that is done?

[2022-06-28 00:46] saragluna commented on #813
@moarychan please take a look at this.

[2022-06-28 10:08] ZHIXIN-SUN opened #815 "Please help check why the doc can't be run successfully."
Dear Team,

Could you please help check why the doc is not working why I run "ansible-playbook aks-azure-cni.yml". I am totally using the yml file as   our template.
![image](https://user-images.githubusercontent.com/58249056/176153173-01c43dde-7b13-40d5-9bdc-e3bf5be81a2f.png)

BR//Zhixin

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-06-28 15:58] charris-msft opened #816 "Change page name for 'Deploy a Python web app to Azure with managed identity' Overview page"
I'd really like to have an easy to share link to the Overview page that contains the title of the Solution.

Currently, when I copy the URL from the browser for the overview I get this title: [1. Solution overview and sample app | Microsoft Docs](https://docs.microsoft.com/en-us/azure/developer/python/tutorial-python-managed-identity-01?tabs=flask%2Cwindows)

What I would like to get is this: [Dep

[2022-06-28 21:33] KarlErickson commented on #816
@charris-msft thanks for the suggestions!

@jess-johnson-msft @charris-msft the link-text that gets pasted comes from the `title` metadata, so that's an easy fix. Including the series title as an H1 on each article doesn't conform to the title guidelines, though. However, you could accomplish this by using the breadcrumb, which is rendered immediately above the H1. If you are interested in this ap

[2022-06-29 00:54] MysteryAchievement opened #818 "FCM Update for Send push notifications to React Native apps using Azure Notification Hubs via a backend service"
The instructions for getting the FCM server key have changed.  In step 5 of the Create a Firebase project and enable Firebase Cloud Messaging for Android section, the tutorial instructs the reader to "Switch to the Cloud Messaging tab at the top. Copy and save the Server key for later use. "  Unfortunately, Google has changed this.  There is a new section titled "Cloud Messaging API (Legacy)" whic

[2022-06-29 14:47] martyt opened #819 "Errors galore"
Did anyone actually test the Terraform scripts on this page?

Nothing works out of the box - there are references to incorrect terraform object names, missing variables, etc. etc. - sure, I can eventually fight my way through the issues, but I wasn't looking to go on a bug-squashing expedition when I decided to use this how-to...

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-06-29 17:43] jess-johnson-msft commented on #792
This issue has been reserved and is no longer an issue

[2022-06-29 17:59] jess-johnson-msft commented on #768
Yes the Python for Azure SDK can work in the Carnary Environment - if you need additional help setting up the sdk please reach out to @lmazuel

[2022-06-29 17:59] #768 closed

[2022-06-29 21:26] dpokluda commented on #746
Hi @Vishwasrao1, thank you for your feedback. I have created a task for the dev team to update the swagger documentation to contain more meaningful property and method descriptions.

[2022-06-30 06:30] raja2raju opened #820 "Issue in diverting"
i have followed all the steps there, i am able to authenticate using my user name and password. later it is not redirecting to my redirect url
i have added this to my property
spring.cloud.azure.active-directory.redirect-uri-template=http://localhost:8080/

post which it redirect to my application but did not get the white label error. how is your admin page loaded
After you've logged in successfu

[2022-06-30 06:51] raja2raju commented on #820
working fine now

[2022-06-30 06:51] #820 closed

[2022-06-30 07:34] SarveshPandey opened #821 "What command to use to connect azure devops PAT authentication"
Hi Team,

$az devops login --organization https://dev.azure.com/contoso
Token:

above command is used only in Azure CLI. what command should i use in PowerShell ISE.
In PowerShell, az is not recognizing
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac17c09f-fe22-0eae-855f-dca9eb5b660e
* Version Independent ID: c3c47436

[2022-07-02 14:54] sumansrivastava opened #823 "wrong references and depricated blocks"
Morning Tom,

My name is Suman Srivastava, I was just running the codes with the new terraform azrerm providers =3.0.0 and found the below two blocks are not working.

1. azurerm_resource_group is referenced with rg and been called as k8s in subsequent resource blocks.
2. addon_profile is no more valid block and this needs to be corrected.
3. network_profile is pointing to SKU="Standard" whch is n

[2022-07-05 21:45] Chuckh008 opened #824 "Authentication Unauthorized"
Hello,

I am currently working through the add authorization for android section of the tutorial. I believe everything is correct. However, after submitting my email and password, a blank screen is displayed. The application output reads:

[HTTP] <<< Unauthorized Unauthorized

After a few more attempts, the app goes directly to the blank screen, bypassing the login sequence.
Again:

[HTTP] <<< Una

[2022-07-05 22:45] adrianhall commented on #824
Without more details on what EXACTLY you did, it's hard to diagnose.

Azure AD authentication does a redirect back to the app.  The place where many people fail is in registering the callback into the app.  Ensure you have created the extra activity (MsalActivity), and that you have added the code in the OnActivityResult of the MainActivity.

Another place a lot of people mess up is in using the w

[2022-07-06 04:30] Chuckh008 commented on #824
Hey Adrian!

Thanks for the response. Here is a walk-through.

**Application starts**

<img width="328" alt="image" src="https://user-images.githubusercontent.com/45703080/177464618-ebf1bc76-777c-4005-b09f-6de5653583d9.png">

**Application Output**

User assembly '/Users/charleshaberstroh/Projects/Visual Studio - Azure/azure-mobile-apps-main/samples/TodoApp/TodoApp.AvaloniaUI/bin/Debug/net6.0/Todo

[2022-07-06 08:13] moarychan commented on #813
Hi all, I just tested through the following two scenarios in an Azure VM:

1. Use system-assigned identity, it's not necessary to append `-Dazure.keyvault.managed-identity=<xxx>`.
I check the source code, and there's a comment for this scenario:
![image](https://user-images.githubusercontent.com/19926623/177501832-3faa1141-7a3d-43ac-b8ac-80b0817e2411.png)

And another important comment is not work

[2022-07-06 12:25] mnriem commented on #813
@moarychan Thanks for validating!

[2022-07-06 15:35] adrianhall commented on #824
So, the good news is that your app is getting a token (you can see it clearly in the HTTP trace logs) - but we don't know what that token is.  I didn't see the consent screen, but I'm assuming you have agreed to this already. This leaves configuration as the culprit:

1. The setup of AAD is wrong.  You should have two applications, with the web API application having an exposed API and the native

[2022-07-06 16:14] adrianhall commented on #824
After re-reading the problem and the logs, I think I've figured it out.  The good news is "Your app is working as expected"

When the first request to the backend is made, the client realizes that the user is not authenticated, which triggers the GenericAuthenticationProvider within the HttpClient pipeline.  You go through the authentication process, but it takes a long time.  By the time you get

[2022-07-06 16:14] #824 closed

[2022-07-06 19:17] Chuckh008 commented on #824
Hello Adrian, I was never asked for a password.

[2022-07-06 19:32] vmagelo commented on #816
Merged some changes dealing with title in metadata (and fixes for other problems spotted by Chris). The breadcrumb idea is good but will require a little more experimentation.

[2022-07-07 11:31] ezYakaEagle442 opened #825 "Java to Azure migration doc should include JBoss EAP to ARO scenario"
Java to Azure migration doc should include JBoss EAP to ARO scenario

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3197694f-b089-2836-8d00-28d0cb994079
* Version Independent ID: fc99326c-665f-17b1-e2b2-2f4c9b3079d9
* Content: [Migrate JBoss EAP applications to JBoss EAP on Azure App Service](https://docs.microsoft.com

[2022-07-07 11:33] ezYakaEagle442 opened #826 "Java to Azure migration doc should include Spring Boot Apps migration to Azure Container Apps"
Java to Azure migration doc should include Spring Boot Apps migration to Azure Container Apps

See also [https://github.com/MicrosoftDocs/azure-dev-docs/issues/825](https://github.com/MicrosoftDocs/azure-dev-docs/issues/825)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3830ec12-c308-1d59-07c8-be295d8db7a3
* Version I

[2022-07-07 11:37] ezYakaEagle442 opened #827 "Java to Azure migration doc should include JBoss EAP to ARO with Quarkus"
Java to Azure migration doc should include JBoss EAP to ARO with Quarkus

See also [https://github.com/MicrosoftDocs/azure-dev-docs/issues/825](https://github.com/MicrosoftDocs/azure-dev-docs/issues/825)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b005cd61-1215-3f36-3a1a-bb738160b44f
* Version Independent ID: 415984

[2022-07-07 16:11] KarlErickson commented on #825
+ @selvasingh for awareness

[2022-07-07 16:12] KarlErickson commented on #827
+@selvasingh for awareness

[2022-07-07 16:17] adrianhall commented on #655
This is no longer relevant as the document has been unlinked and the NodeJS version has been retired.

#please-close

[2022-07-07 16:17] #655 closed

[2022-07-07 20:46] ThugLifeAquatic opened #828 "Package react-native-push-notification is no longer maintained."
This implementation is no longer working in our production app. Not sure what to recommend, but with the above package no longer being maintained, there is no longer a documented way to reliably implement cross platform react-native push notifications using Azure notification hubs.  Notifee seems to be the recommended replacement for the expired package, but it only supports notifications through

[2022-07-07 20:49] ThugLifeAquatic opened #829 "Required package React-Native-Push-Notification is no longer maintained"
This implementation is no longer working in our production app. Not sure what to recommend, but with the above package no longer being maintained, there is no longer a documented way to reliably implement cross platform react-native push notifications using Azure notification hubs. Notifee seems to be the recommended replacement for the expired package, but it only supports notifications through F

[2022-07-08 08:39] wedgeley opened #830 "Code snippet for SQLite connection string incorrect"
In the code snippet:

`var store = new OfflineSQLiteStore($"file://{dbPath}?mode=rwc");`

The "file://" should be "file:/".
The comment above the code snippet is correct.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd09c5f-3fe9-e58c-69d0-fa55157524f0
* Version Independent ID: 6d02e799-215b-6d05-8c43-edde20f68280
* C

[2022-07-08 16:13] KarlErickson commented on #828
@ThugLifeAquatic never mind, I see that you filed another issue with the information. Thanks!

[2022-07-08 16:13] #828 closed

[2022-07-08 19:28] jLoven commented on #829
Having the same issue here. Thank you for looking into this!

[2022-07-08 19:45] adrianhall commented on #830
The SQLite connection string is indicated here: https://www.sqlite.org/c3ref/open.html#urifilenameexamples  As you can see from the list of examples, multiple mechanisms exist.  If dbPath is `/var/run/sqlite.db`, for example, the connection string would be `file:///var/run/sqlite.db` - this is similar to a direct example.  The reason we need the double slash is because of windows.  When you se the

[2022-07-08 19:45] #830 closed

[2022-07-09 09:53] wedgeley commented on #830
Thanks for the quick and detailed response. I am using version 4.2.0 of the Microsoft.Azure.Mobile.Client packages and on my Windows box, the following works:
[code]
Whereas the following does not:
[code]
The exception SqliteMessage is "invalid uri authority: ...". It is also happy with `file:///{dbPath}` and doesn't seem to mind whether "\" or "/" is the folder delimiter in dbPath.

[2022-07-09 22:04] harrchen88 opened #834 "Update the hosting grid"
I would like to propose you to update the hosting grid:
1. Use the correct name for "Azure Spring Apps" instead of "Azure Spring Cloud"
2. Please add "Azure Container Apps" to the options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85f7f8f0-3ecb-c09c-8545-b0d98e5396df
* Version Independent ID: fc186d62-3f1f-c8a2-2a

[2022-07-11 12:09] ezYakaEagle442 opened #835 "Clarify the Java on Azure support"
Could you please clarify the Java on Azure support at [https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/java-support-on-azure#customer-support](https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/java-support-on-azure#customer-support), adding a FAQ or clear statements like :

- A customer deployed to an on-prem VM, a Spring Boot App which uses Spring Cloud for Azu

[2022-07-11 15:52] KarlErickson commented on #834
Hi @harrchen88 - thanks for the feedback! I overlooked that instance of "Azure Spring Cloud". I'll fix that right away. Also, we have guidance for Azure Container Apps in progress, so we'll add that soon.

[2022-07-11 18:30] adrianhall commented on #830
You are using the v5.0.0 instructions with the v4.2.0 version of the library - that won't work.  Please update your library usage to use the latest package names (Microsoft.Datasync.Client) or use the v4.2.0 instructions (which doesn't use connection strings).

[2022-07-11 21:51] KarlErickson commented on #813
@moarychan thanks! Will you or @saragluna please create a PR to update the article? Thanks!

[2022-07-12 03:27] saragluna commented on #813
Thanks, @KarlErickson. @moarychan will help create a PR to update the article.

@moarychan please make sure we provide the guide on which properties to set when using different authentication methods and clarify the expected values of properties like the KV uri.

[2022-07-12 11:05] wedgeley commented on #830
Yes, sorry, messed up that comment. 5.0.6 is the version number.

[2022-07-12 22:13] Tak1wa opened #837 "The Environment Name is not actually used as a prefix for all resources"
The explanation of the Environment Name is described as follows.

To be precise, it is a prefix of the resource group and is not used as a prefix of each resource name.
Therefore, it would be better to call it "prefix for resource groups".

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: d31e2f07-64ce-ae10-e15b-4bc52e1c2fd5
* Version Independent ID: d3

[2022-07-13 02:04] #813 closed

[2022-07-13 07:16] rawatsudhir1 opened #840 "Azure Developer CLI (azd) _ Page not Found"
The link on the page lands on "404 - Page not found"

![image](https://user-images.githubusercontent.com/32550309/178673636-727dd942-81f3-436c-8634-23635834a4ea.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da63649f-5dd6-83c7-8d42-46b4b1291e47
* Version Independent ID: da63649f-5dd6-83c7-8d

[2022-07-13 15:27] filippog opened #841 "Wide umask can lead to ssh failure when quickstarting with terraform"
The instructions on the page mention writing the ssh key as such:

[code]

And subsequently connect via ssh on the public IP:

[code]

However depending on user's current umask (e.g. `0022`) the `id_rsa` file can end up with permissions too open, thus ssh refusing to use the key, and ultimately fail to login:

[code]

The easiest fix I think is to `chmod 600 id_rsa` after writing out the file, wha

[2022-07-13 15:45] KarlErickson commented on #840
Fixed by #839

[2022-07-13 15:45] #840 closed

[2022-07-13 20:15] paulyuk opened #842 "Preqreqs need update: az and gh cli"
[Enter feedback here]
The prereqs have two issues I can see in this doc:
1) it does not list `az cli` but I believe you need it to do the az login, at least currently
2) it prereqs Github cli (not just git) and I don't think that's needed.  Maybe it's a soft dependency just for creating pipelines? an could be labeled this way?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-07-13 20:17] paulyuk opened #843 "Suggestion: I'd like to see a link to all `azd-template` tagged templates and not just the curated list"
[Enter feedback here]
The `pick a template` anchor link points to a curated table of templates, which is fine for now.

However there are more, like [Dapr](aka.ms/daprazd), that we'll keep adding and so I'd love a "See all templates.." link to catch these.  Thoughts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d31e2

[2022-07-14 17:03] bbenz commented on #612
I couldn’t recreate the issue.  Successful screen shots below.

I suspect it was one of two things, which I will be updating in the documentation:
-The MS SQL password has to meet VERY specific criteria, and does not pass an obvious message if the setup fails due to a non-compliant password.  I’ll add a note and a link to [this documentation](https://docs.microsoft.com/en-us/sql/relational-databas

[2022-07-14 17:12] KarlErickson commented on #612
Closing as no-repro. Thanks for investigating (and for the upcoming doc updates), @bbenz!

[2022-07-14 17:12] #612 closed

[2022-07-14 20:04] TomArcherMsft commented on #782
@joeistyping Thanks for the feedback. I'm looking into this now.

[2022-07-15 01:14] TomArcherMsft commented on #819
@martyt Update: We've shipped the new product I was working on, and I'm looking into this article and why it's broken. I'll respond as soon as I have something substantive to relay.

[2022-07-19 15:40] jess-m-johnson commented on #816
Backlog item created for breadcrumb implementation. Prioritization will occur during the next sprint planning session.

[2022-07-19 15:47] jess-johnson-msft commented on #723
Topic has been removed and we do not review to the video anymore.

[2022-07-19 15:47] #723 closed

[2022-07-20 00:14] Chuckh008 opened #846 "Authentication not working"
Hello Adrian,

I'm still struggling with authentication. This time, I burned everything to the ground on Azure and started over. I am currently working through the Maui tutorial. I am having all the same problems. Plus, I upgraded to Visual Studio 2022 Preview 4 and now I cannot publish TodoAppService.Net6 to Azure. I did manage to publish the first couple of times. Anyhow, this is where I am. The

[2022-07-20 16:56] adrianhall commented on #846
Firstly, nothing in the logs is indicative that the app is actually running - it has not generated anything that a MAUI app wouldn't naturally do.  Given that you have had issues deploying, I suspect something else is going on as the tutorials are very well tested repeatedly.  MAUI authentication with iOS is difficult at the best of times and requires significant investment.

We chat about azure-m

[2022-07-20 16:56] #846 closed

[2022-07-23 09:54] gh2132 opened #848 "Wrong backend pool variable assignment"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56eb6358-d924-6565-0d8e-9229d11c30e0
* Version Independent ID: 56eb6358-d924-6565-0d8e-9229d11c30e0
* Content: [Deploy an Azure Application Gateway v2 using Terraform to direct web traffic](https://docs.microsoft.com/en-us/azure/developer/terraform/de

[2022-07-25 13:28] Sealjay opened #850 "URL for AZD YAML schema is incorrect"
URL for AZD YAML schema is incorrect

Is

Should be

Pull request:  #849
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45e84b0a-122b-5884-a21f-9284036afdb7
* Version Independent ID: 45e84b0a-122b-5884-a21f-9284036afdb7
* Content: [Make your project compatible with Azure Developer CLI (azd) Preview](https://docs.microso

[2022-07-27 02:40] hhunter-ms commented on #850
Hi @Sealjay - According to the engineering team, the link originally provided is correct. They used the schema copy on an Azure blob store as a temporary measure before the project was publicly announced. Hopefully this helps!

[2022-07-27 11:14] #850 closed

[2022-07-28 08:05] xboxeer opened #851 "Container nodes webAppestapp_0_2ab2aa8a didn't respond to HTTP pings on port: 3000, failing site start."
Route from https://github.com/Azure/azure-sdk-for-js/issues/21572, not an SDK issue but docs optimize suggestion.

[2022-08-01 20:29] Sergong opened #852 "Incomplete non-working code examples"
[Enter feedback here]
The code examples here don’t work as there is no resource group specified for starters. I suspect there is much more missing as there is also no indication of how many cluster nodes will be deployed and how.
The impression is given that the code presented here can be copied and pasted to end up with a working example. This is far from the case here.

---
#### Document Details

[2022-08-02 09:00] MarcelTemp opened #853 "The certificates config is still old for 3.14.0 instead of the new 4.3.0"
The config added to the page does not contain the config for the 4.3.0 version. This still uses the dependency and config of 3.14.0. These do not exist if you want to use it with 4.3.0. Please update, because I cannot get it to work. It almost feels like the code to register a KeyStore is not there.
The secrets part is working in 4.3.0. It is also documented in detail. This is missing for the cert

[2022-08-03 07:56] saragluna commented on #853
Hi @MarcelTemp, thanks for reaching out. Currently, the 4.x version of Spring Cloud Azure certificates starter doesn't support TLS/mTLS. It only does the auto-configuration of Key Vault certificate clients. We are aware of this feature request, https://github.com/Azure/azure-sdk-for-java/issues/28243, but the implementation would take a redesign and some time, so if you need the TLS support, you s

[2022-08-03 08:23] MarcelTemp commented on #853
@saragluna Thanks for your reply. Maybe mention this in the docs. So users that used this feature in 3.x cannot yet start using 4.x.

[2022-08-04 01:33] saragluna commented on #853
@MarcelTemp sorry for the inconvenience. We'll mention it in the doc.

[2022-08-04 23:02] LKujala opened #857 "scope doesnt exist for resource '00000003-0000-0000-c000-000000000000'"
Followed steps to add Authentication. Two issues (may be related or not)
- the authentication form is opening multiple times (looks like recursion issue)
- getting error message that Application X asked for scope 'access_as_user' that doesnt exist on resource '00000003-0000-0000-c000-000000000000'

Raises two questions about code:
1 - how to test / debug authentication errors
2 - is there a recurs

[2022-08-05 13:29] nmanandhar commented on #715
I am getting the same issue after following the tutorial. Any suggestion on what could be wrong would be great

[2022-08-05 16:33] LKujala commented on #857
fixed the first problem: I didnt understand that the scope id was a globally unique uri of the form "api://<appid>/<scope_name>"... I was just using <scope_name>.

still getting the multiple login prompts. my suspicion is this is being triggered by the call to system.linq.async tolistasync function which loops through the data request async to add to a list. so the login is prompted for each item

[2022-08-05 18:34] KarlErickson commented on #715
Thanks for the input, @nmanandhar!

[2022-08-06 16:57] buchs opened #859 "Example under heading 2 - missing content"
Here is what I get
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789076a3-5d6d-e5d9-a3f7-cc1d6351ca8a
* Version Independent ID: e873b421-20fe-3415-0f4b-aacd7378c271
* Content: [Store Terraform state in Azure Storage](https://docs.microsoft.com/en-us/azure/developer/terraform/store-state-in-azure-storage?tabs=az

[2022-08-08 22:16] adrianhall commented on #857
I'm going to need more information about how you have set things up, as it isn't obvious from the report.  Please join us on https://github.com/azure/azure-mobile-apps where we run this open-source project.  There is a specific issue around MAUI.

Thanks!

[2022-08-08 22:56] diberry commented on #851
#In-progress

[2022-08-08 23:58] LKujala commented on #857
I am out of town right now.
As an FYI I noticed the same problem with the Xbox win10 app, where the login prompt comes up repeatedly.

This makes me think the problem has nothing to do with the Maui demo app but has something to do with the production code for managing identity that the demo app uses.

Sent from my Bell Samsung device over Canada's largest network.

-------- Original message -----

[2022-08-09 16:37] adrianhall commented on #857
Got it.  I'll be running through the MAUI demo app again this weekend, so I'll look for any issues you describe and update docs accordingly if I find anything.

#please-close

[2022-08-09 16:38] #857 closed

[2022-08-09 17:27] LKujala commented on #857
I will be trying out a lot of the Maui demos. I am shifting to using Maui from winform development (last 25 years). If there is a demo app you want feedback on let me know.

Sent from my Bell Samsung device over Canada's largest network.

-------- Original message --------
From: Adrian Hall ***@***.***>
Date: 2022-08-09 9:38 a.m. (GMT-08:00)
To: MicrosoftDocs/azure-dev-docs ***@***.***>
Cc: Lance

[2022-08-09 19:32] diberry commented on #857
@alexwolfmsft FYI - Maui

[2022-08-10 07:19] GreenpantsDeveloper opened #860 "Azure CLI command uses en dash instead of double dash"
In the table for "Set Subscription", the Azure CLI command contains an en dash (–) instead of a double dash (--):

`az account set –subscription <SubscriptionId>`

This should of course be:

`az account set --subscription <SubscriptionId>`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac17c09f-fe22-0eae-855f-dca9eb5b6

[2022-08-10 10:14] abouquet commented on #769
Hi ! Can we have a follow up to this question please ? :)

[2022-08-11 00:02] KarlErickson commented on #769
@seanli1988 ping - Sean, could you loop in someone who could provide guidance here? Thanks.

[2022-08-12 02:40] yiliuTo commented on #769
Hi @abouquet , the library `spring-cloud-azure-starter-servicebus-jms` supports the standard tier as well, but only for the limited JMS 1.1 functionalities. And for docs on JMS 1.1 support of Service Bus, we currently don't have such docs on the basis of `spring-cloud-azure-starter-servicebus-jms` , you may refer to the official [Azure Service Bus doc](https://docs.microsoft.com/azure/service-bus-

[2022-08-12 03:02] yiliuTo commented on #762
Hi @pennstatephil , thanks for the advise and we will consider to improve the doc. Besides, as for the compatibilty of different tiers, you can refer to Service Bus MS docs for the supported JMS API specs on each tiers:
- https://docs.microsoft.com/azure/service-bus-messaging/jms-developer-guide?tabs=JMS-20
- https://docs.microsoft.com/azure/service-bus-messaging/jms-developer-guide?tabs=JMS-20

A

[2022-08-13 16:17] vanmash opened #861 "Minor issues with terraform code"
terraform complains about issues with terraform code.
I unable to fix them due to lack of access to
[master](https://github.com/MicrosoftDocs/azure-dev-docs/blob/bd3e54279b50f3622c1b1c4f50c457395bba5113/terraform_samples/quickstart/201-vmss-packer-jumpbox/main.tf)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4371abd

[2022-08-15 08:54] richorama opened #863 "Please clarify exponential back-off and retry when making requests"
Hi, thank you for writing this article, it's vey useful.

The KeyVault documentation [recommends exponential back-off and retry](https://docs.microsoft.com/en-us/azure/key-vault/general/overview-throttling#how-to-throttle-your-app-in-response-to-service-limits
) when making requests. It's unclear to me whether this policy is implemented by default when following this example.

Would you be able to

[2022-08-15 15:48] KarlErickson commented on #863
@edburns can you comment? Thanks!

[2022-08-16 17:14] edburns commented on #863
Hello @richorama , At the point in time when @mnriem  implemented the solution (with some operational help from me) there was no back-off. Let us use this issue to discuss options for meeting this requirement.

Hello @mnriem , can you please weigh in on the best way forward to support [back-off](https://docs.microsoft.com/en-us/azure/key-vault/general/overview-throttling#how-to-throttle-your-app-i

[2022-08-17 09:14] richorama commented on #863
Thank you!

[2022-08-18 05:16] moarychan commented on #863
Hi @richorama , Thanks for using Spring Cloud Azure libraries!

There's a default retry strategy `ExponentialBackoff` under azure-core for each HTTP-based client, in which the max retries is 3, the base delay is 800 milliseconds, the max delay is 5 seconds.

You can change these values via Spring Cloud Azure Starter Secret properties as below:

[code]

[2022-08-19 03:39] moarychan commented on #863
Hi @richorama @KarlErickson  could you help improve this issue title to help others find it easier? Thanks!

[2022-08-22 15:19] JacobEmmersonStovall opened #874 "Legacy Cloud Messaging API has Been Disabled By Default in Firebase, Additional Steps Need to be Taken to Get Server Key for Notification Hub"
Hello,

When going through the setting up Xamarin.Forms push notifications tutorial, I noticed that the server key section was no longer available by default in Firebase. Since Azure has API Key as the input field and since the page has not been updated since 2021, I thought that the service has changed to use the API Key. It turns out it still uses the Server Key, you now just need to take extra

[2022-08-23 06:03] pjainan opened #875 "More Relevant content required"
I was expecting some architecture guidance to implement, store & sync offline data for mobile apps and azure services. Somehow this article only talks about generic capabilities of Azure Cosmos and Azure SQL Databases. This is not essentially required under this section. Please update with more relevant information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2022-08-24 01:13] codemillmatt commented on #875
Thanks @pjainan - the entire section is currently being considered for redevelopment and we'll take your comments into consideration.

[2022-08-24 17:39] pachecolp opened #876 "Please, add support for Azure DevOps"
Documentation only mentions support for GitHub.
Please, add support for Azure DevOps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2c0acc4-c861-1e33-9169-fb04aeabb7d1
* Version Independent ID: e2c0acc4-c861-1e33-9169-fb04aeabb7d1
* Content: [Azure Developer CLI Preview FAQ](https://docs.microsoft.com/en-us/azure/dev

[2022-08-25 00:19] Tythos commented on #812
This should be defined in your *providers.tf* file; in this example, *main.tf* is primarily used to enumerate the specific resources/references in the infrastructure (as opposed to provider-specific dependencies).

[2022-08-25 00:25] TomArcherMsft commented on #812
@yukit7s Apologies for responding to this so late. I've been out on some summer vacation. As @Tythos says, this information (the provider declaration) is in the providers.tf file.

[2022-08-25 00:25] #812 closed

[2022-08-25 20:18] FeedTheHungry opened #878 "Link to this page needs update"
Link to this page needs update
and given the title, without an argument in the url, probably should default to powshell

How to see the issue:
From page at
https://docs.microsoft.com/en-us/azure/developer/terraform/create-vm-cluster-with-infrastructure
use link titled
Configure Terraform in Azure Cloud Shell with PowerShell
brought me to
Configure Terraform in Azure Cloud Shell with Azure PowerShe

[2022-08-26 06:50] jlichwa opened #879 "It is using service principal which is security risk in Azure"
Please follow quick starts which use local identity using Azure Identity Library:
Example for java here:
https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-java?tabs=azure-cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e25b58-811b-ec83-0251-7a641d4a7670
* Version Independent ID: 55deb14a-7feb-f

[2022-08-26 12:24] m-sebteahmadi opened #880 "Translation"

[2022-08-26 15:49] puicchan commented on #876
We are actively working on adding the support of Azure DevOps in azd. Please stay tuned; we will make the announcement in https://github.com/azure/azure-dev/discussions.

[2022-08-26 22:38] #880 closed

[2022-08-26 23:01] FeedTheHungry opened #881 "Error: Load key "id_rsa": invalid format"
Following this tutorial worked well until the last step of connecting to the VM.  Final steps with the outputs shown:

PS C:\Users\shawn\OneDrive\documents\Projects\linux vm qs> terraform output -raw tls_private_key > id_rsa
PS C:\Users\shawn\OneDrive\documents\Projects\linux vm qs> terraform output public_ip_address
"20.232.167.55"
PS C:\Users\shawn\OneDrive\documents\Projects\linux vm qs> ssh -i

[2022-08-28 17:48] TomArcherMsft commented on #823
@tyadon The code has been completely updated and tested. I'm awaiting engineering-team sign-off, and then the article will be republished. Thanks again for your contribution!

[2022-08-28 17:48] #823 closed

[2022-08-28 17:50] TomArcherMsft commented on #819
@martyt The code has been completely updated and tested. I'm awaiting engineering-team sign-off, and then the article will be republished. Keep in mind that the nature of basing documentation on open-source and/or third-party products means that broken changes will occur in the future. Thanks to people such as yourself, we're able to learn of these breaks in our docs and fix them. The updated arti

[2022-08-28 17:51] TomArcherMsft commented on #782
@joeistyping  The code has been completely updated and tested. I'm awaiting engineering-team sign-off, and then the article will be republished. Thanks again for your feedback!

[2022-08-29 21:49] TomArcherMsft commented on #782
The [updated article](https://docs.microsoft.com/azure/developer/terraform/create-k8s-cluster-with-tf-and-aks) is now live.

[2022-08-29 21:49] #782 closed

[2022-08-29 21:50] TomArcherMsft commented on #819
The [updated article](https://docs.microsoft.com/azure/developer/terraform/create-k8s-cluster-with-tf-and-aks) is now live.

[2022-08-29 21:50] #819 closed

[2022-08-29 21:50] TomArcherMsft commented on #823
The [updated article](https://docs.microsoft.com/azure/developer/terraform/create-k8s-cluster-with-tf-and-aks) is now live.

[2022-08-29 23:35] TomArcherMsft commented on #881
@FeedTheHungry Thanks for the feedback. I'm testing this now.

[2022-08-30 01:28] TomArcherMsft commented on #881
@FeedTheHungry I've updated the article and it will be live tomorrow.

[2022-08-30 01:28] #881 closed

[2022-08-30 01:38] TomArcherMsft commented on #841
@filippog Thanks much for the feedback. I'm updating that article now and will incorporate your feedback as well.

[2022-08-30 02:07] TomArcherMsft commented on #841
@filippog I added your recommended fix as a troubleshooting tip into the article. Thanks again!

[2022-08-30 02:07] #841 closed

[2022-08-30 04:36] moarychan opened #882 "[FEATURE REQ] Improve the MS doc configuration of credential info to avoid using any secerts"
### Context
Delete the password configuration since Spring Cloud Azure supports the default credential. This's also reported by MS doc issue: [It is using service principal which is security risk in Azure](https://github.com/MicrosoftDocs/azure-dev-docs/issues/879)

### Goal
Use a simple way to introduce the Spring Cloud Azure usage, it should cover all the Spring Cloud Azure docs in MS doc and lo

[2022-08-30 04:36] #882 closed

[2022-08-30 04:36] moarychan commented on #882
It will be created in Azure SDK java repo.

[2022-08-30 09:45] filippog commented on #841
Thank you @TomArcherMsft for your help! I checked https://docs.microsoft.com/en-us/azure/developer/terraform/create-linux-virtual-machine-with-infrastructure and https://docs.microsoft.com/en-us/azure/developer/terraform/troubleshoot just now though I'm not finding the troubleshooting step. What article(s) should I be looking at ?

[2022-08-30 14:36] Lesrac opened #883 "Failed to configure KeyVault property source"
The Step in "Redeploy to Azure App Service and use managed identities for Azure resources" Doesn't seem to work.[direct link](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault#redeploy-to-azure-app-service-and-use-managed-identities-for-azure-resources).

Connection between the demo application and keyvault through cl

[2022-08-30 15:06] TomArcherMsft commented on #841
@filippog My apologies. I should have explained that we publish every weekday morning (PST). Therefore, you'll see the new version of the article around 11:00 AM (PST).

[2022-08-30 17:49] TomArcherMsft commented on #841
@filippog The article is live: https://docs.microsoft.com/azure/developer/terraform/create-linux-virtual-machine-with-infrastructure#verify-the-results

[2022-08-30 19:13] filippog commented on #841
Thank you @TomArcherMsft for the link and following up! Appreciate it

[2022-08-30 20:38] jessmjohnson commented on #797
Hello, Thank you for bringing this to our attention! This issue is currently being triaged and will be addressed in our next sprint roll out.

[2022-08-30 20:58] jessmjohnson commented on #746
Hello! I have discussed this issue with @dpokluda  and the issue/feedback has been published. I will close the issue.

[2022-08-30 20:58] #746 closed

[2022-08-31 02:13] moarychan commented on #883
Hi @Lesrac , thanks for using Spring Cloud Azure Starter KeyVault Secret!

The doc you mentioned is targeted to Service principal Authentication, you may refer to this doc [Tutorial: Use a managed identity to connect Key Vault to an Azure Spring Apps app](https://docs.microsoft.com/en-us/azure/spring-apps/tutorial-managed-identities-key-vault).

[2022-08-31 19:36] paulaustin-automutatio opened #885 "log4j config locations"
[Enter feedback here]
The convention for Java resources in maven is

src/main/resources

not

src/main/resource

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c73ba552-dd43-2d6a-77d7-a09d302f09ba
* Version Independent ID: c6d2ebf7-9223-a148-71b7-92767a9a6ac9
* Content: [Log with the Azure SDK for Java and Log4j](https:

[2022-08-31 20:25] KarlErickson commented on #885
@paulaustin-automutatio thanks for pointing that out! I'll get that fixed.

[2022-08-31 20:27] #885 closed

[2022-08-31 20:36] jikuja opened #886 "Microsoft-provided Github action link changed to third-party action with misleading commit message"
https://github.com/MicrosoftDocs/azure-dev-docs/commit/ce17a47dd75157a65da817f57ec352dee5e59c35

Above mentioned commit changed deprecated Microsoft-provided Github key vault action to third-party action. To wording of the commit raises multiple questions:

* Action is not from verified creator. Is that suitable for documentation links?
* Does the action has feature parity with deprecated action o

[2022-08-31 21:40] KarlErickson commented on #883
@edburns can you take a look? Thanks.

[2022-08-31 21:42] KarlErickson commented on #879
@edburns can you comment here? Thanks.

[2022-09-01 01:04] moarychan commented on #883
Hi @KarlErickson , I am updating this doc, PR is coming.

[2022-09-01 08:38] moarychan commented on #883
Hi @Lesrac , Thanks for using this feature!

I have created a PR to correct this doc, please check the update in this PR https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3540 if you are in a hurry.

[2022-09-01 09:03] Lesrac commented on #883
Hello @moarychan, Thanks for working on this.
When clicking on your link, I'm presented with the 404 Github page

[2022-09-01 09:27] moarychan commented on #883
Hi @Lesrac , Sorry for that, I see, because this is a private repo for azure doc updates, you will see the update if the pr merged, it will be soon. @KarlErickson please help to review, thanks!.

[2022-09-02 10:06] kanilZ opened #887 "Server app meaning"
In Caution section of the document there is a word **server app**. Could you please help me with understanding what is mean?
Is this specific PaaS on Azure or it mean backend service? Thanks in advance for answer.
![image](https://user-images.githubusercontent.com/43847461/188116021-df9467fb-b50b-4a1b-8757-11822e283345.png)

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-09-02 20:06] #883 closed

[2022-09-06 17:17] diberry commented on #887
This note has been updated and will be published today.

[code]

#please-close

[2022-09-06 17:17] #887 closed

[2022-09-06 17:23] GeethaThatipatri-MSFT opened #888 "Image needs to be updated"
Image shows about cosmos dB however the statement says to select Postgres

![image](https://user-images.githubusercontent.com/92763260/188700208-d080e6d2-7433-4bf3-b15c-8c23b71b425a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ac04b2a-b5e5-604a-bd61-1c128ae7fb71
* Version Independent ID: c39bf1d8-cef3-89e8-35fa

[2022-09-07 14:17] GeethaThatipatri-MSFT commented on #888
This issue can be closed

[2022-09-07 14:18] #888 closed

[2022-09-07 15:18] fabio-castas opened #890 "az container create wrongly written"
In the **Create Azure Container Instance with CLI** section, point 2. of [this](https://docs.microsoft.com/en-us/azure/developer/jenkins/azure-container-instances-as-jenkins-build-agent?source=recommendations) tutorial you provide an _az container create_ command which is wrong :
`az container create \
  --name my-dock \
  --resource-group my-resourcegroup \
  --ip-address Public --image jenkins/i

[2022-09-07 15:24] fabio-castas opened #891 "Create Jenkins work agent image outdated"
In section **Create Jenkins work agent** point 11. of [this](https://docs.microsoft.com/en-us/azure/developer/jenkins/azure-container-instances-as-jenkins-build-agent?source=recommendations) tutorial we have a preview image with the configuration requested in previous steps.

In the **Launch method** field of that image we have the option: **Launch agent by connecting to the master. This option is

[2022-09-08 00:32] pradorodriguez opened #892 "Is this action available? Can not find it in github marketplace"
Is this action available? Can not find it in github marketplace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31f48a84-dcf9-e852-3f3c-703382971875
* Version Independent ID: ffe51d31-19c8-f4c3-0d31-dc154e414a59
* Content: [Use variable substitution with GitHub Actions for Azure](https://docs.microsoft.com/en-us/azure/d

[2022-09-09 18:00] ShilpaCS18 opened #893 "Getting 401unauthorized error on entering my creds"
[Enter feedback here]
I tried the similar steps. We have a AD group linked to the application, added the permissions
User.Read.All
User.ReadWrite.All and Directory.AccessAsUser.All.
but getting the message "needs permission to access resources in your organization that only an admin can grant. Please ask an admin to grant permission to this app before you can use it."

---
#### Document Details

⚠

[2022-09-09 19:47] KarlErickson commented on #893
@saragluna can you respond here? Thanks!

[2022-09-11 18:58] RamaInfraOps opened #894 "backend address pool association"
[Enter feedback here]

backend address pool association
  on app_gateway/main.tf line 108, in resource "azurerm_network_interface_application_gateway_backend_address_pool_association" "nic-assoc01":
 108:   backend_address_pool_id = azurerm_application_gateway.network.backend_address_pool[0].id

Block type "backend_address_pool" is represented by a set of objects, and set
elements do not have addr

[2022-09-12 10:54] RamaInfraOps opened #895 "Request routing rule priority needs to be added"
[Enter feedback here]
seems we need to add priority for request routing rule and it is missing on the sample code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56eb6358-d924-6565-0d8e-9229d11c30e0
* Version Independent ID: 56eb6358-d924-6565-0d8e-9229d11c30e0
* Content: [Deploy an Azure Application Gateway v2 using Te

[2022-09-12 11:30] stephenhauck opened #896 "Clarification on the example code for retrieving remote data please ?"
The documentation isn't clear on this ...

In the code you have the following to retrieve the ToDoItems ...
![image](https://user-images.githubusercontent.com/12648793/189642426-80015b5f-1fd5-4ff8-9671-a5990b9f3ebb.png)

I wrote this and it works but ... where is the data "filtered" .. on the server or on the client after all items are retrieved ?
![image](https://user-images.githubusercontent.com

[2022-09-13 01:43] saragluna commented on #893
@chenrujun please take a look at this issue.

[2022-09-13 05:19] chenrujun commented on #893
Hi, @ShilpaCS18

Thanks for reaching out.

It is expected behavior.
1. **User.Read** does not require admin consent.
2. But **User.Read.All**, **User.ReadWrite.All**, **Directory.AccessAsUser.All** require admin consent.

Refs:
1. https://docs.microsoft.com/en-us/graph/permissions-reference#user-permissions
![image](https://user-images.githubusercontent.com/13167207/189797414-8051b0ff-885f-4005-9b

[2022-09-13 12:02] stephenhauck commented on #896
Anyone ?
I need to know if all the data is pulled and filtered on the client before I continue building my app / system.

[2022-09-14 08:17] ezYakaEagle442 commented on #835
@KarlErickson could you provide an update now it is end of Q1, that would help customers + the MS field ?

[2022-09-14 15:34] IEvangelist commented on #896
Hi @stephenhauck, thanks for posting this issue. It looks like this source code is open source for the SDK, so I'm taking a look to see what I can figure out. Which exact NuGet package are you using?

[2022-09-14 15:43] stephenhauck commented on #896
The code is from the examples ...
In the RemoteToDoService.cs it has this private variable ...
![image](https://user-images.githubusercontent.com/12648793/190199852-59a44edc-571f-48c9-a598-a48b47f9712b.png)

Then in the constructor it has the following ...
![image](https://user-images.githubusercontent.com/12648793/190200123-f7aea23a-c262-454f-9c34-f1a2a0d5dc36.png)

Then the actual call ...
![ima

[2022-09-14 15:49] IEvangelist commented on #896
Hi again @stephenhauck, I think I found the answer you're looking for. There is a `QueryTranslator`, so this would mean it passes the query to the server, runs the query there (including filtering) and then returns the results to the client.

https://github.com/Azure/azure-mobile-apps/blob/main/sdk/dotnet/src/Microsoft.Datasync.Client/Query/Linq/QueryTranslator.cs

As for answering how data is syn

[2022-09-16 00:13] KarlErickson commented on #835
@selvasingh @brunoborges can one of you comment here? Thanks.

[2022-09-18 09:32] yukit7s commented on #812
@TomArcherMsft Thank you for your reply. If you can add the following code to this tutorial, I think that beginners will not get lost.

https://learn.microsoft.com/en-us/azure/developer/terraform/configure-vs-code-extension-for-terraform?tabs=azure-cli#3-implement-the-terraform-code

[code]

[2022-09-19 13:19] ezYakaEagle442 commented on #835
@jdubois

[2022-09-19 13:57] jdubois commented on #835
I believe those are valid points and answers, maybe they are limited to using the Microsoft Build of OpenJDK? @brunoborges will know.
For Quarkus, if he builds a native image, I have no idea if we can support this at all (for the moment).

[2022-09-19 15:46] diberry commented on #851
Resolved in other thread #please-close

[2022-09-19 15:46] #851 closed

[2022-09-20 12:27] ltalirz opened #898 "Is it really a good idea to store service principal credentials in the `.bashrc`?"
The default guidance for using a service principal with terraform https://learn.microsoft.com/en-us/azure/developer/terraform/get-started-cloud-shell-bash?tabs=bash#specify-service-principal-credentials-in-environment-variables is to place the credentials in the `~/.bashrc` startup script of the user.

I am not a security expert, so I am happy to be educated on this topic, but this recommendation

[2022-09-21 07:51] ezYakaEagle442 opened #899 "No pricing about Websphere on AKS"
There is no NO pricing about Websphere on AKS, on the [Market place](https://azuremarketplace.microsoft.com/marketplace/apps/ibm-usa-ny-armonk-hq-6275750-ibmcloud-aiops.2021-02-17_websphere_offerings_contact_me?tab=PlansAndPrice) neither.

Is it aBring-Your-Own-License offer ? ==> It assumes you have already procured the appropriate licenses with IBM and are properly licensed to run offers in Micr

[2022-09-21 21:14] KarlErickson commented on #899
@m-reza-rahman @edburns can you comment here? Thanks!

[2022-09-22 21:15] ejschoen opened #900 "Instructions for deploying the AGIC Helm chart omit a step for configuring rbac.enabled"
The instructions for customizing the helm-config.yaml file omit setting rbac.enabled correctly.  The default is false.  If the cluster has RBAC enabled, which is the default, deploying the helm chart will fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 549713ae-8a7b-270a-a758-3a439d5518fe
* Version Independent ID

[2022-09-26 11:24] tuxerrante opened #901 "go-dep is deprecated and it should be replaced in tutorials by using modules"
Tutorials like this one still referenced an obsolete plugin, could they be updated with a more recent tool?

https://learn.microsoft.com/en-us/azure/developer/terraform/test-modules-using-terratest#1-configure-your-environment

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4a16eed4-6a1c-7bf5-1ce8-bef512ba3c43
* Versio

[2022-09-26 14:14] TomArcherMsft commented on #901
@tuxerrante Thanks for the feedback. As you mention, the article is out of date, which is why it's not in the TOC and has the version disclaimer at the top. Rewriting this article is in our backlog.

[2022-09-26 14:14] #901 closed

[2022-09-26 14:23] tuxerrante commented on #901
Sorry I've seen the last update date as 05/27/2022 and I've thought it was
already under a review process.
This is a great article and I hope it won't get forgotten! :)

Il giorno lun 26 set 2022 alle ore 16:14 Tom Archer <
***@***.***> ha scritto:

[2022-09-26 14:40] bradyguyc opened #902 "documentation does not match what azure portal has"
When registering an app the documentation has fields called user description etc... however the azure portal only shows admin description etc...

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0df49cfd-7591-447c-8ec6-c97285ba93e8
* Version Independent ID: 0df49cfd-7591-447c-8ec6-c97285ba93e8
* Content: [Add authenticat

[2022-09-27 08:00] ezYakaEagle442 opened #903 "doc needs to be updated as --sdk-auth is deprecated"
doc needs to be updated as --sdk-auth is deprecated , CLI states :
Option '--sdk-auth' has been deprecated and will be removed in a future release.

see also [https://github.com/Azure/actions-workflow-samples/issues/91](https://github.com/Azure/actions-workflow-samples/issues/91)
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-09-28 07:41] ezYakaEagle442 commented on #903
correction, there is a mismatch in this doc between the GitHub Settings / Secrets screen shots and the output of the command.
What works fine is :
[code]

Put this AZURE_CREDENTIALS as secrets to your GH repo secrets / Actions secrets / Repository secrets. :
[code]

It is so confusing

[2022-09-28 14:43] nhalstead opened #904 "Terraform Azure Virtual Desktop Incomplete"
Hello,

While going through the docs, it seems as if the Terraform example provided was incomplete.

The terraform file `main.tf` has everything set fine but the `output.tf` file has two errors.

Errors are `output "location"` and `output "AVD_user_groupname"`. They have invalid values referenced, this TF config does not provide any resource to `azurerm_resource_group.rg` (assumed to be `sh`) nor

[2022-09-28 20:57] abhinav-jain09 opened #905 "Spring cloud other then HTTP"
[Enter feedback here]

Is it possible to use the spring cloud function with other kind of trigger like
 @ServiceBusQueueTrigger(
                    name = "usageCollector",
                    queueName = "usage.collector",
                    connection = "springCloudAzureServiceBusConnectionString") Event event,
            final ExecutionContext context) {

---
#### Document Details

⚠ *Do not

[2022-09-29 19:33] KarlErickson commented on #905
@jdubois can you comment here?
@abhinav-jain09 you might want to ask your question at the [Q&A](https://learn.microsoft.com/en-us/answers/index.html) site as well.

[2022-09-30 09:20] marcin-sikorski-circlek commented on #767
Can somebody answer in this issue? Is supplying two multiple queues possible?

[2022-09-30 13:15] jdubois commented on #905
As far as I know they only provide a HTTP invoker, see https://github.com/spring-cloud/spring-cloud-function/tree/main/spring-cloud-function-adapters/spring-cloud-function-adapter-azure/src/main/java/org/springframework/cloud/function/adapter/azure

[2022-09-30 17:52] AminAvan opened #907 "How can I query all data in my Azure Confidential Ledger?"
Hi friends,

I have a "Azure Confidential Ledger", but there is a spike on its cost, and I want to know how much data & when & by who is added to my ACL, would you please guide me how can I get this information from my ACL?

Thanks,
Amin

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6c507d59-970e-feae-b034-8dc27f04d6

[2022-09-30 19:14] KarlErickson commented on #767
@seanli1988 can you comment here? Thanks.

[2022-09-30 19:16] KarlErickson commented on #767
@marcin-sikorski-circlek you might want to also ask your question on the [Microsoft Q&A](https://learn.microsoft.com/en-us/answers/index.html) site.

[2022-10-03 21:20] ezYakaEagle442 opened #909 "microsoft/variable-substitution does not exist"
[code]
The above action is not officially listed on the [Market place](https://github.com/marketplace?type=actions&query=variable-substitution)

here neither : [https://github.com/marketplace?page=1&q=microsoft&query=microsoft+&type=actions](https://github.com/marketplace?page=1&q=microsoft&query=microsoft+&type=actions)

Where to find it ?

---
#### Document Details

⚠ *Do not edit this section.

[2022-10-04 23:41] vincentchong1 opened #910 "unpacking.py line 218 UnicodeEncodeError"
Follow https://learn.microsoft.com/en-us/azure/developer/ansible/install-on-linux-vm?tabs=azure-cli#install-ansible-on-the-virtual-machine and run into problem on below step.
Will like to find out if there is any remedy solution.
[code]
Error is
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 88ac6b7d-76dc-189b-

[2022-10-05 15:56] nj358 opened #911 "cloud-init-jenkins.txt needs updating"
Initially I was having issues getting Jenkins running in the VM however after investigating the issue and updated the cloud-init-jenkins.txt file as follows, all was well again.

Changes are
 - switched to _openjdk-11-jre_ from _openjdk-8-jdk_
 - added sudo to _sh -c_ command

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linki

[2022-10-06 20:28] cveld opened #912 "Provide a script to register the app registration"
Maybe helpful if you provide a PowerShell script to register the required app registration.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 711bca8f-ae02-ba38-c6cf-c8fac4357c57
* Version Independent ID: 711bca8f-ae02-ba38-c6cf-c8fac4357c57
* Content: [Add authentication to your Windows (WinUI3) app](https://learn.micro

[2022-10-06 23:06] rufathpe opened #913 "wrong info related to managed identity"
Managed identity does not utilize environmental variables. when running your code inside an instance which utilize managed identity it should invoke web request to something like http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://management.azure.com/

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub

[2022-10-07 07:45] cveld opened #914 "IsAuthenticated is always false"
[code]
always yields an `AuthenticationResult` with a `ClaimsPrincipal` where the `IsAuthenticated` property returns `false`.

Is this expected?

We have added the following logic to enforce `IsAuthenticated` to `true`:

[code]

The documentation of `ClaimsPrincipal`'s `IsAuthenticated` property states:
true if the `AuthenticationType` property is not null or an empty string.

Reference: https://l

[2022-10-07 14:26] madmalkav opened #915 "Error when following the instructions on this page"
Following the instructions on this page and launching the first playbook throws the following error:

`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ModuleNotFoundError: No module named 'azure.storage.cloudstorageaccount'
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import the required Python library (ansible[azure] (azure >

[2022-10-07 14:54] diberry commented on #913
@scottaddie I'll defer to you on this. Whatever you decide should be across all lang-MI docs.

[2022-10-07 18:03] AminAvan commented on #907
Hi again,

Is there any update?

Thanks

[2022-10-07 19:19] AminAvan commented on #907
Something equivalent to "query the INFORMATION_SCHEMA" in the database, I want to know what is stored in my Azure Confidential Ledger.

Thanks

[2022-10-07 22:09] adrianhall commented on #912
Thanks for the feedback.  Since this is a tutorial, we went with the simplest, most obvious way to do things.  I find that PowerShell and Azure CLI are non-obvious, and want to ensure that users know where to go in the portal to undo what they have done (or double check their work).

I'll consider adding a PowerShell or Azure CLI version in the future, but it won't happen for some time.  Since tha

[2022-10-07 22:09] #912 closed

[2022-10-07 22:12] adrianhall commented on #914
I feel that this may be a debugging situation - beyond what I can do in the dev-docs area.  Please open an issue on github.com/azure/azure-mobile-apps and we can walk through the debugging and figure out what is going on.

FWIW, each tutorial is walked through from beginning to end repeatedly for each release (something that takes me the better part of two days) to ensure that the instructions sti

[2022-10-07 22:12] #914 closed

[2022-10-07 22:19] adrianhall commented on #896
To pile on here, there is a lot of information on this in the client HOW TO area.  The tutorial really does not go into detail - it's enough to get you to a working app.  Feel free to join us in the discussions on https://github.com/azure/azure-mobile-apps as well, where we often answer these sorts of questions.

#please-close

[2022-10-07 22:19] #896 closed

[2022-10-07 22:20] adrianhall commented on #902
Thanks for the feedback.  The fields do correspond, but the UI has been updated.  I'll update the wording when I next update the tutorial.  Will leave this issue open until then.

[2022-10-07 22:21] adrianhall commented on #874
This is no longer a part of Azure Mobile Apps.

#please-close

[2022-10-07 22:22] #874 closed

[2022-10-07 22:24] adrianhall commented on #669
This is complete now.

#please-close

[2022-10-07 22:24] #669 closed

[2022-10-08 02:19] yiliuTo commented on #767
Hi @henryho062 and @marcin-sikorski-circlek , to bind for multiple topics or queues of Service Bus, you can refer to [our sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.4.0/servicebus/spring-cloud-azure-stream-binder-servicebus/servicebus-multibinders) for more details. The sample takes binding to one topic and queue in different namespaces as an exam

[2022-10-08 21:11] briansaxbergMSFT opened #916 "Azure CLI example not working"
[Enter feedback here]
when attempting this Azure CLI from Cloud Shell in a new subscription.

appName="myApp"
    az ad app create \
    --display-name $appName \
    --homepage "http://localhost/$appName" \
    --identifier-uris http://localhost/$appName

PS /home/brian> az ad app create --display-name myApp --homepage http://localhost/myApp --identifier-uris http://localhost/myApp

unrecognized

[2022-10-10 19:27] diberry commented on #668
#self-assign

[2022-10-10 19:32] diberry commented on #668
This article needs to be updated as part of the event release this month.

[2022-10-11 08:10] AndyTwiss opened #917 "Centos:7 is deprecated. Please update base image."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 51db2faf-908c-8022-fe37-693a800ce42a
* Version Independent ID: 41e60749-b1bb-ba0b-1b2a-100a3da5a277
* Content: [Get Started - Configure Ansible in a Docker container](https://learn.microsoft.com/en-us/azure/developer/ansible/configure-in-docker-conta

[2022-10-11 14:54] scottaddie commented on #913
@rufathpe Are you referring to the following sentence at the bottom of the doc?

In this context, "it" refers to the `DefaultAzureCredential`. @diberry, Can you please update the doc accordingly?

[2022-10-11 16:15] #876 closed

[2022-10-11 16:58] diberry commented on #913
Content merged - will publish later today.

[2022-10-11 16:58] #913 closed

[2022-10-11 21:36] MikeShepard opened #918 "Action is marked as deprecated...what is the recommended replacement?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 31f48a84-dcf9-e852-3f3c-703382971875
* Version Independent ID: ffe51d31-19c8-f4c3-0d31-dc154e414a59
* Content: [Use variable substitution with GitHub Actions for Azure](https://learn.microsoft.com/en-us/azure/developer/github/github-variable-substitu

[2022-10-12 11:28] vonWojtas opened #919 "Missing `.` in `docker build` command"
Hey - there is the `.` missing at the end of the line for the docker build command.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8981cd21-b358-5fb3-0b93-f39372e5045e
* Version Independent ID: 8981cd21-b358-5fb3-0b93-f39372e5045e
* Content: [Deploy a Go web app to Azure Container Apps](https://learn.microsoft.com/en-

[2022-10-12 13:47] kjellegafvelin opened #920 "The Github action get-keyvault-secrets is deprecated"
According to https://github.com/Azure/get-keyvault-secrets the action has been deprecated and now it is recommended to use 'azure@cli' instead. A new sample describing how to get secrets from Azure Key Vault with that action would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ae689e10-62a4-f724-7705-9273801

[2022-10-12 19:14] groxana opened #921 "microsoft/variable-substitution being deprecated"
According to the repository of the microsoft/variable-substitution this is a deprecated feature and will not be updated to use a newer version of node , github now throws deprecation notices as they will soon drop support for node v12

In short this page it will soon be useless

https://github.com/microsoft/variable-substitution

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-10-14 14:47] dbradish-microsoft commented on #727
@diberry , Required minimum Azure CLI version is exposed on the [Available Azure CLI extensions](https://learn.microsoft.com/en-us/cli/azure/azure-cli-extensions-list?view=azure-cli-latest) page, but not for Core commands.  `az functionapp` is an extension and requires Azure CLI version **2.0.46**.  Please keep in mind that as a reference group matures, parameters are added that may require a high

[2022-10-14 20:23] dbradish-microsoft commented on #860
This typo has been fixed in [PR 3715](https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3715).  Thank you @GreenpantsDeveloper  for bringing this to our attention.

[2022-10-14 20:23] #860 closed

[2022-10-14 20:54] diberry commented on #727
@roodee It appears you might not have the azure-functions-ore-tools installed. Can you verify that by running the following command and posting of the results include `azure-functions-core-tools` and if it does, what version?

[code]

[2022-10-14 20:57] diberry commented on #668
@adanaher Thank you for this fix. It will be in the next publishing cycle within 24 hours.

[2022-10-14 20:57] #668 closed

[2022-10-14 21:06] diberry commented on #797
@mafverargulla This is an issue you your local environment have version 2 of azure-functions-core-tools. Please update your package:

[code]

[2022-10-14 21:10] #797 closed

[2022-10-14 21:32] #727 closed

[2022-10-15 01:54] javiermtl opened #923 "how to read every file in a blob storage"
[Enter feedback here]

this document shows how to read a single file into a dataframe, but is possible to read every file in blob storage like /path/**?

def read_csv_to_dataframe(container_client, filename, file_delimiter= ','):
    blob_client = container_client.get_blob_client(blob=filename) # instead to read a single file, read every file inside the path

    # Retrieve extract blob file
    b

[2022-10-16 17:04] TrueGeek opened #924 "Add authentication: OnActivityResult has moved for Android"
In the 'Add authentication' page it says to add this code to Platforms\Android\MainActivity.cs:

[code]

OnActivityResult is no longer available as an override. I believe it should now be done as part of CreateMauiApp in MauiProgram.cs, like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0df49cfd-7591-44

[2022-10-17 15:09] adrianhall commented on #924
Thanks for the report.  The MAUI tutorials are a work in progress.  I had done the Android versions from beginning to end, but it sounds like there has been some drift.  As a result, I'll take this feedback and run it through from beginning to end again and do any updates required.

#assign "adrianhall"

[2022-10-17 15:38] diberry commented on #923
@vmagelo Can you provide a link to the GitHub repo show this code even if it isn't using an Azure Function?

[2022-10-17 15:40] diberry commented on #907
@AminAvan I'm looking for the correct repo to move this issue to - to get it closer to the correct service team to answer - #in-progress

[2022-10-17 15:42] adrianhall commented on #924
... and please file an issue on github.com/azure/azure-mobile-apps for the code - I can take this into consideration as I do the tutorials.

[2022-10-17 18:01] sumitis14 commented on #907
@AminAvan: Could you share the name of Azure confidential ledger resource?

[2022-10-17 22:06] diberry commented on #907
@AminAvan I believe you need to open an issue against this [FAQ](https://learn.microsoft.com/en-us/azure/confidential-ledger/faq#does-acl-offers-querying-on-attributes-other-than-the-receipt-transaction-id-) @msmbaldwin Can you help open this issue?

[2022-10-17 22:41] EricFunk opened #925 "getAccessToken is null exception"
When I try to run through the "Secure a Java web app using the Spring Boot Starter for Azure Active Directory" tutorial. I get the following exception after logging in as a user and I am not too sure why.

java.lang.NullPointerException: Cannot invoke "org.springframework.security.oauth2.core.OAuth2AccessToken.getScopes()" because the return value of "org.springframework.security.oauth2.core.endpo

[2022-10-17 23:36] msmbaldwin commented on #907
Hi, @Aminavan.  The Azure Confidential Ledger team can help you obtain this information. Please go to the Azure portal and create a support request from here: https://ms.portal.azure.com/#view/Microsoft_Azure_Support/HelpAndSupportBlade/~/overview.  ACL will contact you if they need information beyond what you provide in your ticket.  Thanks! #please-close

[2022-10-17 23:36] #907 closed

[2022-10-18 15:20] felixzieger opened #926 "Create route table spoke1-rt in resource group spoke1-vnet-rg"
The route table `spoke1-rt` is currently being created in the resource group `hub-nva-rg`.

I would expect it to be created under resource group `spoke1-vnet-rg` because the route table is associated to the subnets `spoke1-mgmt` and `spoke1-workload` which are created under `spoke1-vnet-rg`.

This has the advantage that creating the spokes in a different subscription becomes a matter of moving eve

[2022-10-18 16:31] KarlErickson commented on #925
@seanli1988 can you comment here? Thanks!

[2022-10-18 21:54] Omzig commented on #921
I created a bug to get v2 created because of the node upgrade issue.
- https://github.com/microsoft/variable-substitution/issues/43

However, i think that it is still valuable and that microsoft or github needs to consider keeping it alive.

[2022-10-19 11:43] EricFunk commented on #925
Thanks, using 4.3 resolved the the issue.

[2022-10-19 11:43] #925 closed

[2022-10-20 16:14] vmagelo commented on #923
@diberry  - I don't know where the repo is. I'll look around.

I believe there is partial answer just looking at the [article](https://learn.microsoft.com/en-us/azure/developer/python/tutorial-deploy-serverless-cloud-etl-02) and the code in it. The particular function that is highlighted is in the "read_csv_to_dataframe" function that reads one blob. The "read_csv_to_dataframe" is called by the "i

[2022-10-20 16:16] diberry commented on #923
@tamram @normesta Can you look at this issue?

[2022-10-21 18:10] pauljewellmsft commented on #923
@diberry I agree with @vmagelo above. The code snippet in [step 3 of this section](https://learn.microsoft.com/en-us/azure/developer/python/tutorial-deploy-serverless-cloud-etl-03#3-ingest-data-from-azure-blob-storage-with-a-serverless-function) performs a list_blobs() operation on a specified container and stores the resulting blob names in an array. Then the code iterates over that array of blob

[2022-10-21 19:40] JCP13 commented on #795
Greetings, any update on this issue? because I am getting the same error.

[2022-10-23 11:18] fratschi opened #928 "Feedback to the example"
Hi,

first of all: This example works!

But for a reader that hasn't a deep understanding of Azure this may not work and the reader also will not understand why this example works.

In this example you use azidentity.NewDefaultAzureCredential(nil)  as credentials.
This requires a former installation, a login with az login and the creation of a service principal which hidden in the portal as app re

[2022-10-24 14:54] JCP13 commented on #795
A quick Update, the error was right in front of me and I did not see it (I blame it at looking at code for too long). It is a case sensitive issue. must change  "vnetlocal" to "VnetLocal".

[2022-10-24 15:09] diberry commented on #923
@javiermtl The code in the article shows how to read all blobs in a loop:

[code]

Another example is in the [Blob Storage quickstart for python](https://learn.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python?tabs=managed-identity%2Croles-azure-portal%2Csign-in-azure-cli#list-the-blobs-in-a-container):

[code]

Notice the [list_blobs](https://learn.microsoft.com/en-us/python

[2022-10-24 15:09] #923 closed

[2022-10-24 15:36] TomArcherMsft commented on #795
@merwindz @JCP13 Thanks for the feedback and help debugging the issue. I'll get this article updated this week.

[2022-10-24 21:24] JCP13 commented on #795
Thank you @TomArcherMsft , and one more thing, please add a Resource Group to the update.

[2022-10-25 00:17] Rob97 opened #929 "Documentation Uses Outdated Firebase Code (solution provided)"
The documentation shows this on step 12 of the android implementation:
[code]
It should be changed to:

` FirebaseInstallations.GetInstance(Firebase.FirebaseApp.Instance).GetId().AddOnSuccessListener(this);`

They may also need to upgrade Xamarin.AndroidX.Core to the latest nuget package

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue

[2022-10-25 00:18] Rob97 commented on #929
PROOF:

      1.  https://firebase.google.com/docs/reference/android/com/google/firebase/iid/FirebaseInstanceId
      2.  https://firebase.google.com/docs/reference/android/com/google/firebase/installations/FirebaseInstallations

[2022-10-25 09:23] fardarter opened #931 "Please provide examples for connecting Azure Devops without UI steps"
Please provide examples for connecting Azure Devops without UI steps

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c994a242-058b-28f5-54aa-bec2484e84eb
* Version Independent ID: 2c8a21d3-8c26-0c26-a2c6-b51e7ac8db20
* Content: [Provision infrastructure with Azure deployment slots using Terraform](https://learn.microso

[2022-10-25 10:56] matt-auer opened #932 "Update to address breaking changes in v1.11.0 for DefaultAzureCredential"
[Enter feedback here]

Within the section : Authenticate and securely retrieve Key Vault secret for access key value.
        az_credential = DefaultAzureCredential()

needs to be updated tp

  az_credential = DefaultAzureCredential(additionally_allowed_tenants=['*'])

or

  az_credential = DefaultAzureCredential(additionally_allowed_tenants = ["<tenant_id_1>", "<tenant_id_2>"])

as per  https://g

[2022-10-25 11:04] zohairajmal opened #933 "Manage resource groups with the Azure SDK for Go: 404 Webpage Not Found"
On Step 3 of the documentation: It asks to make a go get command on the following:

`go get github.com/Azure/azure-sdk-for-go/sdk/azcore`

Unfortunately, the links above return a 404 error. Kindly please update the documentation with a concrete working example!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 842c31dc-7

[2022-10-25 15:19] diberry commented on #932
#in-progess

[2022-10-26 01:53] ehogeweg opened #934 "The request is not properly formatted. The parameter 'scope' is duplicated."
Hello,

I followed the instructions to the letter but I keep getting this error message. Not sure if it is a documentation or a code issue.

`[invalid_request] AADSTS9000411: The request is not properly formatted. The parameter 'scope' is duplicated. Trace ID: 08b48c71-34aa-45a5-8cfe-cb1a042c2b00 Correlation ID: 227ada7d-3d70-423e-a033-a759a8bc9467 Timestamp: 2022-10-26 01:48:47Z`

When inspect th

[2022-10-26 18:41] KarlErickson commented on #934
@saragluna @chenrujun can you take a look at this please? Thanks!

[2022-10-27 21:56] #658 closed

[2022-10-27 23:32] vionescu opened #937 "What about REST api?"
[Enter feedback here]
Everybody does REST API-s these days. The sample is for MVC apps, which makes it mostly irrelevant. I had a  hard time figuring out how to make this work for a RestController. Also, where are them ROLEs in this B2C contraption? It seems kind of half-cooked to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue lin

[2022-10-27 23:42] KarlErickson commented on #937
@edburns can you reply? Thanks.

[2022-10-28 03:05] yiliuTo commented on #937
@fangjian0423 please help to take a look, thanks.

[2022-10-28 05:07] chenrujun commented on #934
Hi, @ehogeweg

Thanks for reaching out.
This problem is a known issue, and is tracked here: https://github.com/Azure/azure-sdk-for-java/issues/31191
It will be fixed in version **4.4.1**.
**4.4.1** is planned to be released before **2022-11-01**.

[2022-10-28 07:39] TheoHuWume opened #939 "Deprecated tutorial?"
Following this article by the book leads to the following error:

`[invalid_request] AADSTS9000411: The request is not properly formatted. The parameter 'scope' is duplicated. Trace ID: 49e38274-cc1b-43f1-87fd-9d26f6255401 Correlation ID: 3e322bcc-3c73-4430-a107-4bc1dc465c07 Timestamp: 2022-10-28 07:32:28Z`
as soon as the user attempts to log on the page Admin

[code]

pom.xml generated by Spring

[2022-10-28 15:18] ehogeweg opened #940 "[demo app] - Would be nice to implement some basic error handling."
With the fix in spring-cloud-azure-starter-active-directory-4.5.0-beta.2 this demo app now works correctly.

It would be nice to implement some basic error handling because any error results in a non-descriptive 404. It looks like some required libraries are missing.

Thanks for the fix.

Regards,

Erwin

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-10-31 17:50] KarlErickson commented on #939
@seanli @saragluna can you take a look? Thanks.

[2022-10-31 17:52] KarlErickson commented on #940
@seanli @saragluna can you take a look? Thanks.

[2022-10-31 18:42] vgarmash opened #941 "Please upgrade the article to recommended functions version 4.0"
I got couple functions running ad Azure. Since recently I noticed this warning about upgrading to version 4 for the Azure funcitons:

![image](https://user-images.githubusercontent.com/1226001/199084493-5f5325a1-43a6-4ba0-8546-52b4c3002bef.png)

That warning has a link to https://learn.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=azure-cli%2Cwindows%2Cin-process%2Cv4&pivots=pr

[2022-11-01 01:45] saragluna commented on #939
There's a bug in version `4.4.0`, please upgrade to `4.4.1` to solve the issue.

@TheoHuWume, please update this property
[code]

The 4.4.1 was released yesterday, and we will update the doc soon.

(cc @chenrujun)

[2022-11-01 02:04] yiliuTo commented on #940
Hi @chenrujun please help to take a look, thanks.

[2022-11-01 06:19] chenrujun commented on #940
Hi, @ehogeweg

Thank you for your suggestion.

Do you mean use methods like this: https://www.baeldung.com/exception-handling-for-rest-with-spring

My current plan is to add more debug level logs. Because these errors are unexpected at development time., even if we catch these errors, it should display in logs or return to web page.

What library do you mean?

[2022-11-01 23:54] KarlErickson commented on #941
@vgarmash thanks for the feedback!

@jdubois can you update this article?

[2022-11-02 07:09] chenrujun commented on #893
Hi, @KarlErickson , please help to close this issue because there is no response for a long time.

[2022-11-02 17:23] vamshisiram opened #942 "it is nice to see tf code for app gateway, but how do you solve this for multiple backend pools and backend settings?"
[Enter feedback here]

it is nice to see tf code for app gateway, but how do you solve this for multiple backend pools and backend settings?

We have a need to create a app gateway with multiple backend address pools, backend settings, etc.... there are not any details or examples to this at all anywhere.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-11-02 17:25] ggailey777 commented on #941
Technically, this article is using Functions v3.x and Azure Functions Core Tools v3, but it still needs to be updated to v4.

[2022-11-02 18:36] TomArcherMsft commented on #942
Hi, @vamshisiram

Have you had a chance to look at the samples on the [Azure Terraform GitHub samples repo(https://github.com/Azure/terraform/tree/master/quickstart)?

Let me know if one of those works for you.

If none of those samples helps, I'll work with the engineering team to get this article idea on our backlog to write.

I'm going to close this issue as it's not a documentation bug on this

[2022-11-02 18:36] #942 closed

[2022-11-02 18:51] vamshisiram commented on #942
Hi @TomArcherMsft

I assume you are referring to https://github.com/Azure/terraform/tree/master/quickstart/101-application-gateway

I referred that and even this one just has details to create just one backend pool, but I am wanting to create multiple backend pools in a single app gateway.

I hope they get some examples for this soon.

I see there are a lot of other resources too here, but most ex

[2022-11-02 19:07] TomArcherMsft commented on #942
@vamshisiram I see 3 "app gateway" articles but as you say, none seems to address the scenario you're bringing up. I'll bring this idea up and reply back here with more info in the next day or two.

[2022-11-02 21:08] vamshisiram commented on #942
Awesome, I appreciate it.

Have a good day.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tom Archer ***@***.***>
Sent: Wednesday, November 2, 2022 12:07:56 PM
To: MicrosoftDocs/azure-dev-docs ***@***.***>
Cc: vamshisiram ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-dev-docs] it is nice to see tf code for app gateway, but how do you solv

[2022-11-03 04:29] dunluo opened #944 "Terraform will fail if storage account is set to no pubic access"
I noticed that when storage account public access setting is set to disabled or "From selected virtual networks and IP addresses" terraform will fail with OIDC connection. Is there any way to allow OIDC connection to access the storage account via system managed identity? I have tested with granting OIDC spn storage blob owner to the storage account, but it failed.

[2022-11-03 09:13] yiliuTo commented on #905
Hi @fangjian0423 please help to take a look.

[2022-11-03 09:20] chenrujun commented on #940
Hi, @KarlErickson
Could you please assign this issue to me?

[2022-11-03 09:21] chenrujun commented on #939
Hi, @KarlErickson
The problem has been fixed. Could you please close this issue?

[2022-11-03 09:22] chenrujun commented on #905
Hi, @abhinav-jain09

Can [this sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.4.1/aad/spring-cloud-azure-starter-active-directory-b2c/aad-b2c-resource-server) satisfy your requirement?

[2022-11-03 09:22] chenrujun commented on #905
Hi, @KarlErickson
Could you please assign this issue to me?

[2022-11-03 09:27] chenrujun commented on #405
Hi, @KarlErickson

Could you please assign this issue to @yiliuTo ?

[2022-11-03 09:27] chenrujun commented on #543
Hi, @yiliuTo Could you please take a look at this issue?

[2022-11-03 09:28] chenrujun commented on #543
Hi, @KarlErickson
Could you please assign this issue to @yiliuTo ?

[2022-11-03 09:29] chenrujun commented on #905
Hi, @KarlErickson
Could you please assign this issue to @fangjian0423?

[2022-11-03 09:29] chenrujun commented on #937
Hi, @KarlErickson
Could you please assign this issue to @fangjian0423?

[2022-11-03 09:30] chenrujun commented on #934
Hi, @KarlErickson
The problem has been fixed. Could you please close this issue?

[2022-11-03 09:32] chenrujun commented on #879
Hi, @KarlErickson
Could you please assign this issue to @fangjian0423 ?

[2022-11-03 09:33] chenrujun commented on #863
Hi, @KarlErickson
Could you please assign this issue to @moarychan ?

[2022-11-03 09:33] chenrujun commented on #853
Hi, @KarlErickson
Could you please assign this issue to @fangjian0423 ?

[2022-11-03 09:34] chenrujun commented on #802
Hi, @KarlErickson
Could you please assign this issue to @kushagraThapar ?

[2022-11-03 09:35] chenrujun commented on #796
Hi, @KarlErickson
Could you please assign this issue to @yiliuTo ?

[2022-11-03 09:36] chenrujun commented on #776
Hi, @KarlErickson
Could you please assign this issue to me?

[2022-11-03 09:38] richorama commented on #863
Many thanks all!

[2022-11-03 09:41] chenrujun commented on #937
Hi, @vionescu

I think [this sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.4.1/aad/spring-cloud-azure-starter-active-directory-b2c/aad-b2c-resource-server) can satisfy you requirement.

[2022-11-03 09:43] chenrujun commented on #633
Hi, @KarlErickson
Could you please assign this issue to @fangjian0423 ?

[2022-11-03 09:46] chenrujun commented on #642
Hi, @KarlErickson
Could you please assign this issue to me?

[2022-11-03 09:47] chenrujun commented on #642
Hi, @tenzin-ravi

Please try **spring.cloud.azure.active-directory.b2c.reply-url**.

Refs: https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/spring-cloud-azure-appendix#azure-active-directory-b2c-properties

[2022-11-03 09:48] chenrujun commented on #644
Hi, @KarlErickson
Could you please assign this issue to @yiliuTo ?

[2022-11-03 09:48] chenrujun commented on #672
Hi, @KarlErickson
Could you please assign this issue to @yiliuTo ?

[2022-11-03 14:44] tomhuang12 opened #945 "Use Key Vault secrets documentation references a deprecated github action"
Is this document out of date? It was last updated on Oct 26 but the [get-keyvault-secrets action](https://github.com/Azure/get-keyvault-secrets) it uses is deprecated and last released 2 years ago. Which one should I follow?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ae689e10-62a4-f724-7705-9273801217aa
* Version

[2022-11-03 16:24] kushagraThapar commented on #802
@aomegax if your partition key is part of the entity that represents the collection, then you can just annotate your field with `@PartitionKey` annotation, which in your case looks like the correct thing to do.
`partition_key_path` is for nested partition keys and only works in case if the entity that represents the collection has a child entity which has a filed that represents the partition key,

[2022-11-03 19:24] KarlErickson commented on #944
Hi @luodun2020 - this issues list is intended for feedback on the documentation. You might want to ask your question on the [Microsoft Q&A](https://learn.microsoft.com/en-us/answers/index.html) forum. Thanks!

[2022-11-03 19:48] KarlErickson commented on #672
@chenrujun will do. You can also do it yourself like this:

#assign:@yiliuTo

[2022-11-03 19:54] KarlErickson commented on #672
#assign:yiliuTo

[2022-11-03 20:14] KarlErickson commented on #672
@chenrujun normally this works, but apparently there's a problem at the moment, so I'll go ahead and make all the requested assignments using the admin UI.

[2022-11-03 20:21] #934 closed

[2022-11-03 20:27] #939 closed

[2022-11-03 20:50] TomArcherMsft commented on #942
@vamshisiram The Terraform PM doesn't have anything planned. I emailed the App Gateway team. The PM is on vacation but should be back Monday. I'll follow up with them and get back to you.

[2022-11-03 21:07] vamshisiram commented on #942
Thanks so much, looking forward to hearing some positive updates from them. Thanks for the follow up, much appreciated.

[2022-11-03 23:53] #893 closed

[2022-11-04 01:18] chenrujun commented on #677
Hi, @KarlErickson
Could you please assign this issue to me?

[2022-11-04 01:20] chenrujun commented on #710
Hi, @KarlErickson
Could you please assign this issue to me?

[2022-11-04 01:22] chenrujun commented on #711
Hi, @KarlErickson
Could you please assign this issue to @backwind1233 ?

[2022-11-04 01:23] chenrujun commented on #715
Hi, @KarlErickson
Could you please assign this issue to me?

[2022-11-04 01:23] chenrujun commented on #715
Hi, @liuyukuai , could you please provide more detail about how does this error happen?

[2022-11-04 01:24] chenrujun commented on #721
Hi, @KarlErickson
Could you please assign this issue to @backwind1233 ?

[2022-11-04 01:27] chenrujun commented on #730
Hi, @KarlErickson
Could you please assign this issue to me?

[2022-11-04 01:27] chenrujun commented on #734
Hi, @KarlErickson
Could you please assign this issue to @yiliuTo ?

[2022-11-04 01:27] chenrujun commented on #742
Hi, @KarlErickson
Could you please assign this issue to me?

[2022-11-04 01:30] chenrujun commented on #748
Hi, @KarlErickson
Could you please assign this issue to @backwind1233 ?

[2022-11-04 01:31] chenrujun commented on #749
Hi, @KarlErickson
Could you please assign this issue to @backwind1233 ?

[2022-11-04 01:31] chenrujun commented on #754
Hi, @KarlErickson
Could you please assign this issue to @yiliuTo ?

[2022-11-04 01:32] chenrujun commented on #764
Hi, @KarlErickson
Could you please assign this issue to @yiliuTo ?

[2022-11-04 01:32] chenrujun commented on #767
Hi, @KarlErickson
Could you please assign this issue to @yiliuTo ?

[2022-11-04 01:34] chenrujun commented on #767
Hi, @yiliuTo
Please let Karl close this issue if you think this issue should be closed now.

[2022-11-04 01:34] chenrujun commented on #769
Hi, @KarlErickson
Could you please assign this issue to @yiliuTo ?

[2022-11-04 01:36] chenrujun commented on #774
Hi, @KarlErickson
Could you please assign this issue to @jdubois ?

Hi, @jdubois
Could you please let Karl close this issue if you think this issue can be closed now?

[2022-11-04 01:48] moarychan commented on #863
Hi @KarlErickson , this article [Tutorial: Read a secret from Azure Key Vault in a Spring Boot application](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault) will only focus on the tutorial for Spring Cloud Azure starter Key Vault, which means the basic usage, you can find each property description from here https://

[2022-11-04 01:59] yiliuTo commented on #767
Hi @KarlErickson , I suppose this issue can be closed since there is no response from the customer for long.

[2022-11-04 02:00] yiliuTo commented on #405
Hi @KarlErickson , I suppose this issue can be closed since there is no response from the customer for long.

[2022-11-04 02:01] yiliuTo commented on #644
Hi @KarlErickson , I suppose this issue can be closed since there is no response from the customer for long.

[2022-11-04 05:02] lojacao opened #946 "Create a Terraform configuration with a backend configuration block : Missing code ?"
[Enter feedback here]

Hi
Missing tenent, subscription, sp, and secret info in the backend section. Without it my job fail. Referenced Terraform documentation for fix.

Create a Terraform configuration with a backend configuration block

Example:

    backend "azurerm" {
        resource_group_name  = "tfstate"
        storage_account_name = "tfstate8b07123"
        container_name       = "tfstate

[2022-11-04 05:57] chenrujun commented on #672
@KarlErickson

I got it. Thank you.

[2022-11-04 06:00] chenrujun commented on #776
HI, @ghost

Thanks for reaching out.

This doc is just used to tell the features of spring-cloud-azure-starter-active-directory.
The @webmvctest is not related to this topic.
So, now I don't have plan to add it.

[2022-11-04 07:26] vionescu commented on #937
Hi Rajun,

Thank you.

I guess it works. I moved on since and finished the integration of B2C in
my project.

What's missing from the sample:
1) Should explain how to get the access token in Postman. I remember
struggling a lot with this one.
2) The sample uses the deprecated WebSecurityConfigurerAdapter. Should
usse org.springframework.security.web.SecurityFilterChain
3) Would be nice to have a s

[2022-11-04 19:10] KarlErickson commented on #677
#assign:chenrujun

[2022-11-04 19:39] #767 closed

[2022-11-04 19:39] #769 closed

[2022-11-04 19:41] #405 closed

[2022-11-04 19:45] #644 closed

[2022-11-05 04:37] VarshaGadekar opened #949 "ClientSecretCredential with ServiceBus"
[Enter feedback here]
The document does not give information on how ClientSecretCredential works with ServiceBus.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0936eefd-61e9-9b47-c473-b0d91723cd63
* Version Independent ID: 0936eefd-61e9-9b47-c473-b0d91723cd63
* Content: [Spring Cloud Azure reference documentation](htt

[2022-11-06 23:38] chenrujun commented on #937
Hi, @vionescu

Thank you for your feedback. I created an issue to track this requirement: https://github.com/Azure-Samples/azure-spring-boot-samples/issues/551

If there are no other requirements, we will close this issue after a few days.

[2022-11-07 06:21] fangjian0423 commented on #853
The tips has been added:

![image](https://user-images.githubusercontent.com/5254035/200239443-45ff3ef9-b44c-487d-9dba-a9a4c3d70402.png)

Thanks for your suggestion @MarcelTemp

[2022-11-07 08:41] jdubois commented on #941
As the PR was merged, can we close this?

[2022-11-07 09:45] jdubois commented on #774
I believe this should be closed.
I had a look at the module again, the goal is to teach people about Functions in a very limited amount of time, and it already has some (limited) testing support as an example. More tests would be interesting in a module dedicated to testing, or in the sample application, but here this is just going to make the module too long.

[2022-11-07 09:52] ThomasAtAcerta commented on #774
I disagree.  The functionality shown here is already very limited.  Those limited concerns aren't even tested properly.  A showcase such as this should at least be able to demonstrate how to write a test for those concerns.  If that is too hard to do then all this showcase does is demonstrate its weakness.

[2022-11-07 12:54] Lesrac opened #952 "Add unit tests: handler"
Is there a way to test the "handler" logic itself within a UnitTest? Or is always an integration test required?
As there can be logic in the handler (like some validation) that I would like to verify in unit tests.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 59f2ae26-8728-c449-ba2d-6f870080f07e
* Version Independen