[2020-10-08 19:02] TomArcherMsft commented on #320
@paromitaroy Thanks for the feedback. I've alerted the dev to update this file. It should be fixed and live tomorrow (PST).

[2020-10-08 19:02] #320 closed

[2020-10-09 06:41] svendhoest opened #321 "Variable descriptions wrong"
I see you use the description "Containers DNS server IP address." for variables 4 times.

It's only right in one of the places.

It would be helpful if you describe the use of different networks, e.g. subnet for kubernetes,  subnet for application gateway backend etc.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54971

[2020-10-09 08:24] jcorioland commented on #320
@paromitaroy thanks for reporting this issue. I've just merged a PR that fixes the issue in the [sample repository YAML pipeline file](https://github.com/Azure/terraform/blob/master/samples/integration-testing/src/azure-pipeline.yaml). You should be able to sync your fork and move forward.
cc @TomArcherMsft

[2020-10-09 15:24] TomArcherMsft commented on #321
@svendhoest Thanks for the note. This looks like a copy/paste error. I'll correct today and update this issue when it's done.

[2020-10-09 18:35] josegonzalez opened #322 "Link to create a compute client doesn't actually show compute client creation"
The doc page it links to (currently [this](https://docs.microsoft.com/en-us/python/api/overview/azure/virtualmachines?view=azure-python)) shows direct usage of `compute_client`, and doesn't show anything about how that was constructed or what needs to be imported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e955711

[2020-10-09 18:47] kraigb commented on #322
Thanks for pointing that out (within this older article that's kept around for legacy purposes). I'll update the link to https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-example-virtual-machines?tabs=cmd, which is the current example on provisioning a virtual machine with the azure-mgmt-compute library.

[2020-10-09 18:50] #322 closed

[2020-10-09 19:26] josegonzalez opened #323 "AttributeError: 'SnapshotsOperations' object has no attribute 'create_or_update'"
When I try the example at "Create a snapshot of a Managed Disk that is currently attached to a virtual machine", I get the following stacktrace:

[code]

The code is more or less what is shown on the page, except with variables in place of hardcoded strings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e955711-fac5-

[2020-10-09 20:10] kraigb commented on #323
The azure-mgmt-compute library was updated not long ago, and we haven't updated this particular example page yet (which isn't even linked from the TOC, hence it being a bit low on the priority stack). Use begin_create_or_update as you'd see in the current ref docs for that library: https://docs.microsoft.com/en-us/python/api/azure-mgmt-compute/azure.mgmt.compute.v2020_06_30.operations.snapshotsope

[2020-10-12 17:09] stephaneclavel opened #324 "azurerm_virtual_machine_extension syntax changed"
The arguments used for azurerm_virtual_machine_extension seem to have changed.

Please refer to https://www.terraform.io/docs/providers/azurerm/r/virtual_machine_extension.html

Thanks for the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b701b1c8-1b00-f16d-36eb-781c3ce062e8
* Version Independent ID: 9c43b7f

[2020-10-12 18:15] #318 closed

[2020-10-12 20:56] stephaneclavel opened #325 "no ip forwarding required"
Hello

In resource azurerm_network_interface "onprem-nic"
parameter enable_ip_forwarding = true is not required.

No traffic transits via this vm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38e7ab9-9595-9f39-d29e-7e9e267d7ef5
* Version Independent ID: ef16a6a7-e224-fc25-e6f8-af6777f588d5
* Content: [Tutorial - Cre

[2020-10-13 21:31] kraigb commented on #323
Closed via https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/1139

[2020-10-13 21:31] #323 closed

[2020-10-15 04:56] tamram commented on #95
@KarlErickson - can we close out this issue, since the PR has been merged?

[2020-10-15 16:23] jialindai commented on #128
Which version of JDK is used in customer's case?

[2020-10-16 00:18] #95 closed

[2020-10-19 05:55] ZhuXiaoBing-cn commented on #141
The document is configured using JSON.
![image](https://user-images.githubusercontent.com/71206407/96406570-46b65d80-1212-11eb-9a03-3d844ae47509.png)

[2020-10-19 06:48] moarychan commented on #162
Hi @enak , this doc has been updated, the value `oauth2AllowIdTokenImplicitFlow` should be set to `true`, please review.

[2020-10-19 18:41] #156 closed

[2020-10-19 19:22] KarlErickson commented on #86
Topic was updated on 9/8 to use 2.3.3.

[2020-10-19 19:22] #86 closed

[2020-10-19 19:58] #162 closed

[2020-10-20 01:26] ZhuXiaoBing-cn commented on #141
App registration ->Authentication ->tick "ID tokens" and "access token",these are the same two items that we configured in JSON.
![image](https://user-images.githubusercontent.com/71206407/96528861-440d4400-12b6-11eb-938c-c9f1c13bee04.png)

[2020-10-20 01:40] wujack778 commented on #158
Hello @franciscoslour ，I am following this issue. When I send the request according to the above [document](https://docs.microsoft.com/pt-pt/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory#feedback) configuration, I can succeed. But I don’t know the reason for your problem . Do you have more error information and configuration information? C

[2020-10-20 05:49] moarychan commented on #210
Hi @einue , thank you for your reply, it's difficult to add a version compatibility description in tutorial, because there are too many versions, you can find the [azure spring bom](https://mvnrepository.com/artifact/com.microsoft.azure/azure-spring-boot-bom) according to your spring boot version used. You can also pay attention to [azure spring module](https://github.com/Azure/azure-sdk-for-java/

[2020-10-20 18:18] #126 closed

[2020-10-20 18:42] #128 closed

[2020-10-20 18:53] #210 closed

[2020-10-21 03:39] #116 closed

[2020-10-22 06:56] wujack778 commented on #137
@caromeva hey man，I am dealing with this issue . Maybe i will update the picture about  'Add an application registration for your Spring Boot app' ,If you have any other questions about this issue, you can leave commet to me.

[2020-10-23 09:33] mikeparker104 commented on #317
Hi @techmanDAV. Were there specific aspects that you found difficult to follow? Would some additional information or hints have helped? The [ASP.NET docs](https://dotnet.microsoft.com/apps/aspnet) has a getting started [tutorial](https://docs.microsoft.com/en-gb/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.1&tabs=visual-studio) covering the basics of building a web API with ASP.NET Core.

[2020-10-23 11:07] einue opened #329 "Secure pages for a Group which has children in which the user is"
I have following issue:

I secure my View by @Secured("ROLE_parent") .
Now, the user is not directly in group parent but in it's child-group named "child".
The Application does not resolve nested groups. Hence, I have no access to the view ....

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3233e

[2020-10-25 15:34] srazasyed opened #330 "Where do you save the file create_rg.yml"
Where do you save the file `create_rg.yml` before running the following command in Azure Cloud Shell?

`ansible-playbook create_rg.yml --extra-vars "name=<resource_group_name> location=<resource_group_location>"`

**NOTE**: When I save create_rg.yml file in my local folder as `C:\MyFolder\create_rg.yml` the above command gives the following error:

[2020-10-25 17:26] chadmcrowell opened #331 "jenkins.service could not be found"
When I deployed this VM, it seems to be a vanilla Ubuntu box, no jenkins service is installed. Perhaps the marketplace image has been removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115cdf49-6a35-aa52-de86-3cd8d0b2e3b9
* Version Independent ID: 40a3d5ca-157b-151f-a5e7-66fe71e41104
* Content: [Quickstart - Confi

[2020-10-26 17:57] #220 closed

[2020-10-26 18:02] KarlErickson commented on #329
@einue thanks for the feedback - we'll look into this.
@lu-cheng @moarychan @yiliuTo can you provide any input on this? Thanks.

[2020-10-26 18:21] TomArcherMsft commented on #330
@srazasyed You mention using Azure Cloud Shell, but then refer to what looks like a Windows location. If you're using the Azure Cloud Shell to run the commands, then you need to save the playbook within Cloud Shell. Could you explain your environment more in terms of where you're storing the file and where you're running the command?

[2020-10-27 01:43] Vasu1105 opened #333 "Update azure-dev-docs as chef-client installation through Azure portal is no longer supported."
We have updated the azure-chef-extension docs for the same [here](https://docs.chef.io/azure_portal/)  but also need to update this https://docs.microsoft.com/en-us/azure/developer/chef/client-install-from-azure-portal.

[2020-10-28 01:37] backwind1233 commented on #329
@einue  our starter doesn't support the feature now, and we will do a feature release to support this.

[2020-10-28 01:51] wujack778 commented on #158
@KarlErickson The customer has not responded , i can't get more error information , maybe you can close it.

[2020-10-28 10:58] dgpoulet opened #335 "Create New Function Project Doesn't Give The Option To Select Python"
I have VS Code configured for Azure, and to run Python and Java and others. I have the Azure extension logged in and the current environment is set for Python 3.8.

I'm following the instructions here but when I select "New Project" from the Azure Functions extension, then select a working folder, the only languages I'm offered are Java 8 and 11. There's no option to select Python.

---
#### Docum

[2020-10-28 16:39] kraigb commented on #335
@dgpoulet Can you run "func --version" from the command line and tell me the version number? Also try "func init temp_project" and tell me what languages are presented. I'm surprised that the Azure extension offers only Java, because it should offer other languages besides Python, like JavaScript and TypeScript.

Can you also check versions of the Azure extension (which should be 1.0.0)?

Generall

[2020-10-28 16:48] TomArcherMsft commented on #330
@srazasyed I'm going to close this issue, but if you reply, I'm happy to help you further.

[2020-10-28 16:48] #330 closed

[2020-10-28 17:01] dgpoulet commented on #335
func --version is 3.0.2630
Azure Functions extension is 1.0.0

If I run `func init <myFunction>` from the command line it works fine, and I can choose Python and create / deploy to Azure from the command line.

But VS Code is still a problem. I uninstalled and reinstalled VS Code, installed the Azure extension bundle and the Python extension (and not the Java) but still when I click on "Create New

[2020-10-28 17:15] kraigb commented on #335
Hmmm...this would appear to be an issue with the extension, not with VS Code or Python, in which case, please file an issue at https://github.com/microsoft/vscode-azurefunctions/issues and close this present one. There's really not anything to change in the documentation, which is the concern of this present issue and repo. Thanks.

[2020-10-28 17:21] dgpoulet commented on #335
Okay no problem. Thanks for the quick response.

[2020-10-28 17:21] #335 closed

[2020-10-28 17:34] kraigb commented on #335
Sure thing...thanks also for filing the issue, as we always appreciate the feedback, especially where something isn't behaving as expected.

[2020-10-28 17:41] TomArcherMsft commented on #333
@Vasu1105 Thanks for your feedback. The Chef devhub is being retired from docs.microsoft.com. I'm currently updating the documentation to point to the Chef Software site.

[2020-10-28 17:41] #333 closed

[2020-10-28 19:37] KarlErickson commented on #329
@backwind1233 thanks for the info. Closing the issue.

[2020-10-28 19:37] #329 closed

[2020-10-28 19:38] KarlErickson commented on #158
@franciscoslour I'm closing this issue but if the problem is still occurring for you, please reopen and provide details. Thanks!

[2020-10-28 19:38] #158 closed

[2020-10-28 19:48] KarlErickson commented on #222
Topic has been updated.

[2020-10-28 19:48] #222 closed

[2020-10-28 19:55] KarlErickson commented on #189
Topic has been updated.

[2020-10-28 19:55] #189 closed

[2020-10-29 02:33] Vasu1105 commented on #333
Thanks @TomArcherMsft could you please point me to the PR so that we able to track the progress ?

[2020-10-29 04:10] TomArcherMsft commented on #333
@Vasu1105 The PR is in the internal (not public) repo. The changes will be live tomorrow morning.

[2020-10-29 04:51] Vasu1105 commented on #333
Okay @TomArcherMsft. Thanks for the update. Appreciate this !!

[2020-10-29 14:30] einue commented on #329
@backwind1233  do you have a timeline for this new feature for me?

[2020-10-29 17:10] TomArcherMsft commented on #333
@Vasu1105 The changes are live now. I'm not super happy with how it looks. I'd rather just have the index point to the Chef site instead of having what appears to be articles, but then each article has a blurb pointing to the Chef site. The challenge is that there are some limitations on my system's end that I need to work out as this isn't a normal situation. However, I wanted to get something on

[2020-10-29 17:14] srazasyed commented on #330
@TomArcherMsft I'm new to `ansible`. Could you please point out where in `cloud shell` should I save the `.yaml` file to run the ansible playbook?

[2020-10-29 17:44] TomArcherMsft commented on #330
@srazasyed

I intentionally don't include the exact file location as that depends on each person's individual environment.

However, if your new to Ansible/Azure and simply testing, I would do the following:

(I specify a directory name of `ansible-test`. That name can be whatever valid unique name you want.)

1. Open Cloud Shell (Azure CLI)
1. cd clouddrive
1. mkdir ansible-test
1. cd ansible-tes

[2020-10-30 19:48] TomArcherMsft commented on #331
@chadmcrowell Thanks for the feedback. I'm looking into the issue now.

[2020-10-30 20:11] TomArcherMsft commented on #331
@chadmcrowell I just ran the steps without any issue. Are you you following the steps in this [article](https://review.docs.microsoft.com/en-us/azure/developer/jenkins/configure-on-linux-vm?branch=pr-en-us-1203)? I ask because you mention the Marketplace and the scripts run in the article's steps downloads Jenkins directly from the jenkins.io web site. I'm going to close the issue as the steps wor

[2020-10-30 20:11] #331 closed

[2020-10-30 20:15] TomArcherMsft commented on #325
@stephaneclavel Thanks for the feedback. I'm looking into this now.

[2020-10-30 20:35] TomArcherMsft commented on #325
@stephaneclavel I've asked the dev who wrote that series to look into it. When he gets back to me, I'll update the article accordingly.

[2020-10-30 20:35] #325 closed

[2020-10-30 20:53] TomArcherMsft commented on #321
@svendhoest This article has been updated and will publish either this weekend or Monday.

[2020-10-30 20:53] #321 closed

[2020-10-30 21:38] #292 closed

[2020-10-30 21:38] #293 closed

[2020-10-30 22:51] TomArcherMsft commented on #319
@ceesios Thanks for the link. The article has been updated and should publish shortly.

[2020-10-30 22:51] #319 closed

[2020-10-30 23:01] KarlErickson commented on #30
Topic has been updated.

[2020-10-30 23:01] #30 closed

[2020-10-30 23:10] #137 closed

[2020-10-30 23:16] KarlErickson commented on #223
Topic has been updated.

[2020-10-30 23:16] #223 closed

[2020-11-01 12:55] allantargino commented on #30
Thank you very much, @KarlErickson !

[2020-11-02 01:48] backwind1233 commented on #329
@einue  we will do a feature release to support this as soon as possible.

[2020-11-02 12:39] kailasandhale opened #336 "Need Java SDK code to call Azure Storage Blob APIs with support of proxy for CloudBlobClient"
I can see proxy usage examples for Azure storage blob at https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-configure-proxy?tabs=cmd, but it seems they are missing for Java. We specifically need this for CloudBlobClient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7138560-c493-1754-b362-ed297a6275e8

[2020-11-02 16:22] kraigb commented on #336
@kailasandhale The page you refer to is specifically oriented for Python, so I'm assigning to one of our content devs who handles Java.

@KarlErickson Assigning over to you for triage.

[2020-11-02 17:40] diberry opened #337 "diberry is testing fabric bot 9:40 am"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd383e16-7021-59b1-4517-3f672b8a04f1
* Version Independent ID: cf8839e7-296e-dbd5-2b48-9cf8c84ad2ff
* Content: [Learn to develop with Azure and JavaScript](https://docs.microsoft.com/en-us/azure/developer/javascript/learn-azure-javascript)
* Content S

[2020-11-02 17:40] diberry opened #338 "asdfasdf"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd383e16-7021-59b1-4517-3f672b8a04f1
* Version Independent ID: cf8839e7-296e-dbd5-2b48-9cf8c84ad2ff
* Content: [Learn to develop with Azure and JavaScript](https://docs.microsoft.com/en-us/azure/developer/javascript/learn-azure-javascript)
* Content S

[2020-11-02 17:43] #338 closed

[2020-11-02 17:44] #337 closed

[2020-11-02 17:45] diberry opened #339 "fabric bot on learn page 9:44am"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd383e16-7021-59b1-4517-3f672b8a04f1
* Version Independent ID: cf8839e7-296e-dbd5-2b48-9cf8c84ad2ff
* Content: [Learn to develop with Azure and JavaScript](https://docs.microsoft.com/en-us/azure/developer/javascript/learn-azure-javascript)
* Content S

[2020-11-02 17:52] #339 closed

[2020-11-02 17:53] diberry opened #340 "FabricBot test 9:53"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd383e16-7021-59b1-4517-3f672b8a04f1
* Version Independent ID: cf8839e7-296e-dbd5-2b48-9cf8c84ad2ff
* Content: [Learn to develop with Azure and JavaScript](https://docs.microsoft.com/en-us/azure/developer/javascript/learn-azure-javascript)
* Content S

[2020-11-02 17:55] #340 closed

[2020-11-02 17:56] diberry opened #341 "fabric bot test 9:56"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd383e16-7021-59b1-4517-3f672b8a04f1
* Version Independent ID: cf8839e7-296e-dbd5-2b48-9cf8c84ad2ff
* Content: [Learn to develop with Azure and JavaScript](https://docs.microsoft.com/en-us/azure/developer/javascript/learn-azure-javascript)
* Content S

[2020-11-02 17:57] #341 closed

[2020-11-02 19:36] diberry opened #342 "Is there anything new?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd383e16-7021-59b1-4517-3f672b8a04f1
* Version Independent ID: cf8839e7-296e-dbd5-2b48-9cf8c84ad2ff
* Content: [Learn to develop with Azure and JavaScript](https://docs.microsoft.com/en-us/azure/developer/javascript/learn-azure-javascript)
* Content S

[2020-11-02 19:39] diberry opened #343 "testing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd383e16-7021-59b1-4517-3f672b8a04f1
* Version Independent ID: cf8839e7-296e-dbd5-2b48-9cf8c84ad2ff
* Content: [Learn to develop with Azure and JavaScript](https://docs.microsoft.com/en-us/azure/developer/javascript/learn-azure-javascript)
* Content S

[2020-11-02 19:40] #342 closed

[2020-11-02 21:00] #343 closed

[2020-11-02 21:01] diberry opened #344 "testing fabric bot"
diberry is testing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd383e16-7021-59b1-4517-3f672b8a04f1
* Version Independent ID: cf8839e7-296e-dbd5-2b48-9cf8c84ad2ff
* Content: [Learn to develop with Azure and JavaScript](https://docs.microsoft.com/en-us/azure/developer/javascript/learn-azure-javascript)
* Content Sour

[2020-11-03 15:58] tacowan opened #346 "I cannot find a Jenkins published by Microsoft"
Is this out of date?  there is no Jenkins marketplace item with publisher Microsoft. "select the Jenkins offering with a publisher of Microsoft, and then select Create."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc269e1e-9a34-d676-bdd0-979e565bbdc4
* Version Independent ID: 88a4c2d4-1dff-3afd-9dde-652c1f93ac4a
* C

[2020-11-03 17:17] TomArcherMsft commented on #346
@tacoowan The process of installing and configuring Jenkins has changed. Please see the instructions in the article, [Quickstart: Configure Jenkins using Azure CLI](https://docs.microsoft.com/azure/developer/jenkins/configure-on-linux-vm). We are currently updating all Jenkins articles that refer to the solution template to point to the Azure CLI article.

[2020-11-03 17:17] #346 closed

[2020-11-03 19:19] KarlErickson commented on #336
@kailasandhale thanks for the feedback! We'll look into that.

[2020-11-03 21:02] #344 closed

[2020-11-04 04:53] moarychan commented on #329
Hi @einue ,  is it necessary to consider a scenario where only users in the current group need to be authorized to access?  the current approach is like this; the other is to allow the current user's belonging group and its transitive groups, which contains the parent group to be authorized, this is the scenario you want.

Therefore, we plan to add an optional configuration item to enable these si

[2020-11-07 00:10] mroseberry99 opened #348 "Tutorial: Send push notifications to Xamarin.Forms apps using Azure Notification Hubs via a backend service"
If want to sent notifications to individual devices, would you recommend to register the device with a unique Tag for that device and then send the push notifications to just that Tag?  This seems the obvious method of accomplishing what I want to do but just wanted your thoughts.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-11-09 10:24] dev-playbook opened #349 "--is-linux Required"
This tutorial does not work when the location is set to <code>uksouth</code>.

When the location is set to <code>westus</code> as instructed, it works as expected.

Also doesn't work in <code>ukwest</code>.

A corrective it to set <code>--is-linux</code> when creating the App Service

    az appservice plan create --name $planname --sku F1 --is-linux

---
#### Document Details

⚠ *Do not edit this

[2020-11-09 12:01] dev-playbook commented on #349
This tutorial does not work when the location is set to <code>uksouth</code>.

When the location is set to <code>westus</code> as instructed, it works as expected.

Also doesn't work in <code>ukwest</code>.

[2020-11-09 16:18] diberry commented on #349
@dev-playbook Thank you for letting us know. I'll add information in a note to distinguish win/linux and region. #in-progress

[2020-11-10 11:08] jhoelzl opened #350 "Command azure_rm_rediscache_facts is depricated"
[Enter feedback here]
Use `azure_rm_rediscache_info` instead.

Source: https://docs.ansible.com/ansible/2.9/modules/azure_rm_rediscache_facts_module.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 860ff5bb-2fb4-e223-fd6b-eacb474dc29b
* Version Independent ID: a535e21a-4413-7834-5ed6-2b29f65583f0
* Content: [Tutoria

[2020-11-10 16:46] cephalin commented on #349
@dev-playbook I don't reproduce your issue. Both uksouth and ukwest work for me.

[2020-11-11 09:57] johnduckmanton opened #351 "Out-of-date activate command"
I believe that the command:

```source .venv/scripts/activate```

no longer works and should now be (on Python 3.4 and above):

```source .venv/bin/activate```

See https://python3.guide/virtual-environments/virtualenv for details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c507d59-970e-feae-b034-8dc27f04d6b4
* Ve

[2020-11-11 14:25] EdTheC opened #352 "Needs finish - run on Azure"
Great tutorial,  but it only runs locally.  I think a great next step would be to show how to get it to azure and run there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d81bc2cc-4783-f993-bf50-91b4f09199b9
* Version Independent ID: 137dbf97-0f08-13d2-a47b-5c2a261950a8
* Content: [Upload image to Blob Storage](https:

[2020-11-11 17:31] kraigb commented on #351
Thanks for pointing this out...a little mixup between the Cmd/Windows and Bash/Linux versions that occasionally slip through. I'll get it fixed.

[2020-11-11 18:02] #351 closed

[2020-11-12 23:33] diberry commented on #349
@dev-playbook I'm closing this issue. If you can reproduce the issue, please reopen with more details.

[2020-11-12 23:33] #349 closed

[2020-11-12 23:36] diberry commented on #352
@EdTheC Thank you for your feedback. How would you see that continuation, directly in this specific tutorial or a link to a different tutorial about moving a local code base to Azure for hosting? #in-progress

[2020-11-13 08:43] debinaik opened #353 "Spring boot -EventHUB error"
Hi Team,

I was trying to run Sprring boot with Event Hub integration from the link  https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-azure-event-hub but encountered following error. Please help me urgently.

Error
2020-11-13 14:11:12.443 ERROR 11272 --- [           main] o.s.boot.SpringApplication               : Application run

[2020-11-13 09:54] dev-playbook commented on #349
[10-deploy-with-local-git.zip](https://github.com/MicrosoftDocs/azure-dev-docs/files/5535911/10-deploy-with-local-git.zip)

Hi @diberry

Thanks for looking into this.

I am still able to recreate the issue as described. Without the <code>--is-linux</code> option, the deployment is using the 0.10.40 version of NodeJS.

I've attached a compressed file which includes a ps1 script and outputs of local

[2020-11-16 02:39] han-gao commented on #202
Hi, @CherrieYu
1.1.0.RC5 version will have the above problems. This is the document update is not timely,Now the documentation has been updated. You can also find the latest version in the [maven repository](https://mvnrepository.com/artifact/com.microsoft.azure/spring-cloud-azure-servicebus-topic-stream-binder).

[2020-11-16 06:32] han-gao commented on #284
Hi, @bilak The document has now been updated. About uses approach with `@StreamListener`, [Spring Cloud Azure Stream Binder for Service Bus queue Code Sample](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-queue-binder) and [Spring Cloud Azure Stream Binder for Service Bus topic Code Sample](https://github.com/Azure

[2020-11-16 13:56] vimorra opened #354 "Appinsgiht Version to be updated"
[Enter feedback here]
Into the doc is shared the version 1.1.1, wpudl be better to update with the last one, or at least mention that into maven repo is possible download further versions.
https://mvnrepository.com/artifact/com.microsoft.azure/applicationinsights-spring-boot-starter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-11-16 18:26] diberry commented on #352
I've updated the [Cleanup](https://docs.microsoft.com/azure/developer/javascript/tutorial/browser-file-upload?preview=tutorialFeedback&tabs=bash&tutorial-step=5) section to include information to deploy to a hosted service on Azure. If this doesn't meet your needs, feel free to reopen this issue.

[2020-11-16 18:26] #352 closed

[2020-11-17 00:35] KarlErickson commented on #43
Topic has been removed and redirected to current recommended approach.

[2020-11-17 00:35] #43 closed

[2020-11-17 00:35] KarlErickson commented on #47
Topic has been removed and redirected to current recommended approach.

[2020-11-17 00:35] #47 closed

[2020-11-17 00:36] KarlErickson commented on #60
Topic has been removed and redirected to current recommended approach.

[2020-11-17 00:36] #60 closed

[2020-11-17 00:37] KarlErickson commented on #354
@vimorra thanks for the feedback! This topic has been deprecated and removed. For the current recommended approach, see <https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent>.

[2020-11-17 00:37] #354 closed

[2020-11-17 00:56] KarlErickson commented on #353
@moarychan can you help?

[2020-11-17 01:31] moarychan commented on #353
Hi @debinaik , I can find that seems some configuration missing, the latest version is 1.2.8, please follow this guide https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/README.adoc

[2020-11-18 18:13] HorizonNet opened #356 "Update Terrascan link in "Tutorial: Configure integration tests for Terraform projects in Azure""
The link to the Terrascan repository in [Tutorial: Configure integration tests for Terraform projects in Azure](https://github.com/MicrosoftDocs/azure-dev-docs/blob/master/articles/terraform/best-practices-integration-testing.md) is pointing to the old repository. Even if the redirect works it would be better to point to the [new repository](https://github.com/accurics/terrascan).

[2020-11-18 18:27] HorizonNet opened #358 "Update tfsec link in "Tutorial: Configure integration tests for Terraform projects in Azure""
When going through the links in #356 I noticed that also the link to tfsec is pointing to the old repository in [Tutorial: Configure integration tests for Terraform projects in Azure](https://github.com/MicrosoftDocs/azure-dev-docs/blob/master/articles/terraform/best-practices-integration-testing.md). It should be updated to the [new repository link](https://github.com/tfsec/tfsec).

[2020-11-18 22:46] #358 closed

[2020-11-19 21:20] #356 closed

[2020-11-26 13:03] SychevIgor commented on #218
it's common problem of microsoft aks documentation. they everywhere using helm 2 and don't agree to update to helm3.

[2020-11-26 13:31] SychevIgor opened #362 "Specify AzureCNI as mandatory networking plugin and kubectl can't be use"
Azure CNI plugin is quite serious limitation. Could you highlight in documentation that Azure CLI is mandatory networking plugin and kubectl can't be use

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549713ae-8a7b-270a-a758-3a439d5518fe
* Version Independent ID: a46c18ff-0092-0384-b1ed-3ec076516da4
* Content: [Create

[2020-11-26 21:38] Sergong opened #363 "Not working"
Unfortunately the example fails at the first `terraform apply` with the following error:
**Error**: "features": required field is not set

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4371abd-f9cc-1ee9-1ed3-a5f0488740ce
* Version Independent ID: 14c6cf0f-ec32-15ed-cb38-8eb5860d858e
* Content: [Create an Azure virtual

[2020-11-30 11:46] pingyin97 opened #364 "Error from server (NotFound): deployments.apps"
I am trying to do blue green deployments for AKS using Jenkins. I am currently following this document
https://docs.microsoft.com/en-us/azure/developer/jenkins/deploy-to-aks-using-blue-green-deployment-pattern

When I run the pipeline I am getting the following error:
+ kubectl --kubeconfig=kubeconfig delete deployment todoapp-deployment-blue
Error from server (NotFound): deployments.apps "todoapp

[2020-11-30 15:11] felixtsem5 opened #365 "Issues with Terraform files in How to Create AGIC in AKS"
I have some difficulties with the example. I am reaching out and see if you can help me with it. If you require a GitHub Issue, I’d be happy to create one.

I am trying to follow the steps in the document, and I have the necessary resources created (a resource group, a storage account with a container, and a service principal). When I try to create the Terraform plan, I got the following error:
[c

[2020-11-30 18:00] KarlErickson commented on #353
@debinaik I hope this has answered your question, so I will close the issue. Please reopen or file a new issue if you need further clarification. Thanks!

[2020-11-30 18:00] #353 closed

[2020-12-01 13:57] oofnikj commented on #218
Isn't one of the core maintainers of Helm employed by Microsoft? 😕

[2020-12-01 20:01] KarlErickson commented on #35
Topic has been updated.

[2020-12-01 20:01] #35 closed

[2020-12-01 20:03] KarlErickson commented on #241
topic has been updated

[2020-12-01 20:03] #241 closed

[2020-12-03 17:41] KarlErickson commented on #251
Topic has been updated.

[2020-12-03 17:41] #251 closed

[2020-12-07 19:39] timvandenhof opened #370 "Android permissions in Xamarin.Forms article about using notification hub with backend"
"Ensure the INTERNET and READ_PHONE_STATE permissions are enabled under Required permissions."
Please describe WHY the READ_PHONE_STATE permission is required. INTERNET is obvious, but READ_PHONE_STATE is not. It seems to me that is not needed to have this Android permission requirement, as also mentioned in this blog post:
https://coronalabs.com/blog/2016/02/23/breaking-change-android-6-and-devic

[2020-12-08 16:55] francisrsandoval opened #371 "unclear directions for ssh in Terraform on Azure docs"
]https://docs.microsoft.com/en-us/azure/developer/terraform/create-linux-virtual-machine-with-infrastructure
section 'Create Virtual Machine'
"'SSH key data is provided in the ssh_keys section. Provide a public SSH key in the key_data field."

Please direct reader on how to acquire ssh key - I suspect one has to set this up via Azure portal
and, be specific on exactly where in the document to put

[2020-12-10 03:58] dave-read opened #372 "Add lifecycle ignore_changes example to avoid conflicts/resource changes for AGIC controlled resources"
[Enter feedback here]
As soon as Ingress resource(s) have been deployed, AGIC will overwrite the initial backend/listener configurations, and Terraform will think it needs to make changes to resources that are actually now "owned" by AGIC.  Details are in this [stackoverflow post](https://stackoverflow.com/questions/63691139/terraform-removes-configurations-resources-created-by-the-application-gat

[2020-12-11 03:44] martin389 opened #373 "[azure-dev-docs] Review the external links to GitHub Actions documentation"
The following docs contain external links to GitHub Actions content on [docs.github.com](https://docs.github.com/):

- "Use variable substitution with GitHub Actions": [[Published article]](https://docs.microsoft.com/en-us/azure/developer/github/github-variable-substitution) - [[Markdown source]](https://github.com/MicrosoftDocs/azure-dev-docs/blob/master/articles/github/github-variable-substituti

[2020-12-11 03:45] martin389 commented on #373
👋 We'll be working on this with @juliakm.

[2020-12-12 06:44] debinaik commented on #353
Thanks Karl. It's really helpful .

[2020-12-14 10:10] mikeygbooth99 opened #375 "Azure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b5e33c-f80d-a9b9-b8d9-39e53f1b46ad
* Version Independent ID: c9fa279e-f6d0-534e-3fec-032c1d06697b
* Content: [Deploy databases from GitHub to Azure](https://docs.microsoft.com/en-us/azure/developer/github/database-actions-deploy)
* Content Source: [

[2020-12-15 17:29] opticyclic opened #376 "Command To Create webapp Is Incorrect"
Section 4

    az webapp create --name <your_app_name> --plan myPlan --runtime "node|6.9"

When running this you get the error:

    az webapp create: error: the following arguments are required: --resource-group/-g

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22f1b838-0a5e-9248-c4ae-3ab7f45674ff
* Version Independen

[2020-12-15 18:58] dgordonb opened #377 "OCM is retired"
Outlook Customer Manager was retired July 1, 2020.  Please remove the reference in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 003f9d64-7106-95d8-21ab-ea4f9c6208b6
* Version Independent ID: 84b70b16-9f60-d175-3d76-b845c15b2d7b
* Content: [Azure SDK libraries for JavaScript](https://docs.microsoft.com/e

[2020-12-16 16:42] skedwards88 commented on #373
The links in "Use variable substitution with GitHub Actions" and "Use GitHub Actions to connect to Azure" look good! I made some updates to "What is GitHub Actions for Azure" in https://github.com/MicrosoftDocs/azure-dev-docs/pull/378.

[2020-12-16 21:47] charris-msft opened #379 "Typo: definitionw should be definitions"
In the Tip section:
The container definition**w** are on github.com/Azure-App-Service/python.

should be

The container definition**s** are on github.com/Azure-App-Service/python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fac023b-e576-7e00-ca13-9bfb4597e91e
* Version Independent ID: e7fe954e-c81a-f9e2-6bb5-5aba2b

[2020-12-16 23:03] kraigb commented on #379
Thanks, I'll fix this.

[2020-12-17 09:39] htejwani opened #380 "Invalid github URL"
The Github URL for source code reference on this page:
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory
is invalid, it gives a 404.

Refer Link:
Azure Active Directory Spring Boot Sample
URL: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-a

[2020-12-17 15:30] manknewl opened #381 "Clarity for new developers"
I think the instructions could be more "fool proof" for beginners.

Include python version for cmd (only bash included)
Specify that steps 4 - 8 should be executed in the folder created where the app "hello.py" is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2528d320-70aa-c8b0-effc-dc1d54c135b9
* Version Independent

[2020-12-18 08:26] lissff opened #382 "add more description on the service principal"
[Enter feedback here]
can we add more documentation or description on the service principal part?
because if we are using az ad create-for-rbac and --skip-assignment
then it is highly possible we will face permission issues when we are trying to create any resource, but we don't know how to grant the permissions, or what is the general permission/role we could refer to.
e.g. contributor role in th

[2020-12-18 14:35] diberry commented on #376
@opticyclic Thank you for letting us know. #in-progress

[2020-12-18 14:45] diberry commented on #376
After following the tutorial, I noticed the resource group is set as a default for the Az CLI a few steps above this step. When I completed the steps in order, it worked for me. Can you verify if you completed the steps in order or selected a subset of the steps?   I'll add links to the exact Az CLI commands and a troubleshooting note about the initial default at the top of the article.

[2020-12-18 15:05] diberry commented on #377
@ramya-rao-a @weshaggard Can you please verify this? #in-progress

[2020-12-21 08:47] sayom88 opened #383 "Unable to run end-to-end test Teraform Test"
I am following the following commands as per the tutorial, but still getting error. I am having Windows10 Laptop.

![image](https://user-images.githubusercontent.com/16284729/102757259-0ea8d380-4397-11eb-9e0a-cbcac3e1aa8c.png)

Also sharing the rsa file
[id_rsa.txt](https://github.com/MicrosoftDocs/azure-dev-docs/files/5723274/id_rsa.txt)

[2020-12-21 15:30] saifbadran9 opened #384 "Update some steps according to the new Python build changes"
Hi Team,

According to the latest Python build and runtime workflow changes that is announced here:
https://github.com/Azure-App-Service/KuduLite/wiki/Python-Build-Changes

Step 2 in this tutorial:
![image](https://user-images.githubusercontent.com/31154438/102793375-7d475a80-43b2-11eb-82cb-196abeafbc52.png)

Should be update to use $APP_PATH instead of site/wwwroot "cd $APP_PATH"
Since the upgrad

[2020-12-22 23:25] KarlErickson commented on #380
@htejwani thanks for the feedback! I'll get that fixed.

[2020-12-22 23:29] #375 closed

[2020-12-23 00:09] mikeygbooth99 commented on #375
Thanks for your help gods' people stay safe and god bless you and your families!

[2020-12-23 06:22] sayom88 commented on #383
Hi @KarlErickson  @TomArcherMsft , any help on this please?Tnx.

[2020-12-30 14:57] CoryFoy commented on #127
Oh, thank you so much for this @Rachidba. I've been battling this issue for a couple of days, including seeing 401 errors even though everything seemed fine. I had indeed run the maven plugins before I had the AZ CLI installed - in my case, I went ahead and blew out `~/.azure` and then redid the `az login` (and, because I have multiple subscriptions, setting the right one with `az account`) and ev

[2020-12-30 19:38] mrochon opened #387 "Missing segment in url"
Instruction for adding controllers is missing url segment(s). Currently, it says (in item 8 of the [Configure and compile your app](Create a folder named controller in src/main/java//, replacing <yourGroupId> with the value you entered for Group.)'):

`Create a folder named controller in src/main/java//, replacing <yourGroupId> with the value you entered for Group.`

Note that the url ends with ex

[2020-12-30 20:44] mrochon opened #388 "Application is not exchanging the authorization code for token(s)"
I created a sample Java app as per [these instructions](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory-b2c-oidc). When running it, I can see that the application is requesting an OAuth2 authorization code from B2C and B2C responds with the authorization code and state parameters to the http://localhost:8080/

[2021-01-01 20:57] bendavis78 opened #390 "Missing text (typo?) on js authentication instructions"
Under the section "Older Azure SDK client authentication", the second bullet is incomplete:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b321721e-c13d-cd09-9b21-da919281e687
* Version Independent ID: 0858b54a-1f2d-9faf-1561-2d599c559d5d
* Content: [Authenticate with the Azure management modules for Node.js](https://d

[2021-01-02 12:57] BPurgert opened #392 "Xamarin.Forms - Push Notification Tutorial Typo"
Hello! I just followed the guide on setting up push notifications - it was extremely helpful! There is a typo in two of the code snippets (same typo in two spots)

Step 3 under "Handle push notifications for Android"

`if (string.isNullOrWhitespace(Token))
                throw new Exception("Unable to resolve token for FCM");`

and step 3 under "Handle push notifications for iOS"

`if (string.isN

[2021-01-02 13:14] BPurgert commented on #392
Pull request #393 and #394 are open to address this issue.

[2021-01-03 22:25] DylanGuedes opened #395 "Missing info on how to recover the subscriptionId for the App Gateway."
Hello,
on the 2nd item of [this section](https://docs.microsoft.com/en-us/azure/developer/terraform/create-k8s-cluster-with-aks-applicationgateway-ingress#install-ingress-controller-helm-chart) there is a subsection "key notes" explaining how to retrieve most of the necessary parameters (for instance, `identityResourceID`). However, it is not very clear how can one retrieve the subscription id for

[2021-01-04 04:48] #379 closed

[2021-01-04 15:10] KarlErickson commented on #387
@mrochon thanks for the feedback! We'll get this fixed.

[2021-01-04 15:13] KarlErickson commented on #388
@mrochon thanks for the feedback! We'll look into this.

[2021-01-04 16:35] diberry commented on #390
@bendavis78 Thank you for reporting this. #in-progress

[2021-01-04 17:14] diberry commented on #390
The fix will be published by tomorrow. Closing this issue now but feel free to reopen if you have further questions about the doc.

[2021-01-04 17:14] #390 closed

[2021-01-04 20:01] kraigb commented on #382
Thanks @lissff - I've added a little more to the article plus some a link to the Python authentication article and to the RBAC docs that describe how to add specific role assignments (which were added to the docs recently). We very much recommend using --skip-assignment exactly to avoid having a service principal with general-purpose permissions; the preferred model is to create a service principa

[2021-01-04 20:01] #382 closed

[2021-01-04 21:34] #381 closed

[2021-01-04 21:35] kraigb commented on #381
Fixed in the referenced PR; changes should be visible in the live docs within 24 hours.

[2021-01-04 23:19] kraigb commented on #384
Done.

Please note that the SSH session is reporting an error for antenv/bin/activate, and it's still necessary to manually install dependencies:

 _____
  /  _  \ __________ _________   ____
 /  /_\  \___   /  |  \_  __ \_/ __ \
/    |    \/    /|  |  /|  | \/\  ___/
\____|__  /_____ \____/ |__|    \___  >
        \/      \/                  \/

A P P   S E R V I C E   O N   L I N U X

Documentat

[2021-01-04 23:19] #384 closed

[2021-01-04 23:28] kraigb commented on #384
One clarification: the source /antenv/bin/activate is still needed, and doing so removes the need to pip install requirements. It appears that App Service is trying to activate antenv by default, but doesn't have the leading /. The antenv folder is there in the root. So I'm leaving the activate command but removing pip install.

[2021-01-04 23:55] kraigb commented on #311
Closing as the current sample's requirements.txt that contains psycopg2-binary and whitenoise works as expected. In the meantime, https://github.com/Azure-Samples/djangoapp/issues/3 is tracking the issue of having psycopg2-binary in requirements.txt at all, as it shouldn't be necessary (but currently is because the container for App Service lacks gcc to build the wheel).

[2021-01-04 23:55] #311 closed

[2021-01-05 15:52] PaulTzl opened #397 "Example doesn't actually use service principle to authenticate to Azure"
Hi

I've followed your example through, but when it came to creating the deployment plan I was given an error to say that I needed to run Az Login. Given that your example starts with creating a service principle, it should be using the service principle to authenticate, not prompting you to logon with Az Login.

The following Terraform page talks about how you can use the service principle:
https

[2021-01-05 16:06] dlew56 opened #398 "Helm 3.4.0 doesn't have Init command available?"
Reference Page: https://docs.microsoft.com/en-gb/azure/developer/terraform/create-k8s-cluster-with-aks-applicationgateway-ingress#install-helm

When I attempt to run the below, I get the following error in the Azure Cloud Shell:

`helm init --tiller-namespace kube-system --service-account tiller-sa`

Error: unknown command "init" for "helm"

Please confirm if this documentation is accurate for Hel

[2021-01-05 17:51] #380 closed

[2021-01-05 17:54] KarlErickson commented on #387
Fixed

[2021-01-05 17:54] #387 closed

[2021-01-05 19:11] diberry commented on #376
Closing this now. If you happens again, when using the entire doc, please reopen.

[2021-01-05 19:11] #376 closed

[2021-01-05 19:12] diberry commented on #377
This issue should have been handled internally. I'm closing to allow that process to finish. Please reopen if you aren't clear with the outcome.

[2021-01-05 19:12] #377 closed

[2021-01-08 19:19] KarlErickson commented on #96
Topic has been updated.

[2021-01-08 19:19] #96 closed

[2021-01-13 18:34] bilak commented on #284
@han-gao I was asking about examples **without** `@StreamListener`
@seanli1988 any updates on this topic?

[2021-01-14 12:52] saragluna commented on #284
@bilak I've replied in the other thread. Sorry for the delay and we'll work on this.

[2021-01-18 06:22] issacsamuel opened #400 "Need to add @Override to cosmosConfig method"
[Enter feedback here]
The code expects the user to override the cosmosConfig() method that supplies the bean. Because, the parent class AbstractCosmosConfig too defines cosmosConfig() method and if the user uses some other name, say getConfig() for customizing cosmosConfig() it is not picked up by the azure spring data cosmos library. So, to avoid that, the documentation should mark cosmosConfig()

[2021-01-18 22:24] mahomedalid opened #401 "Name of the main terraform configuration file"
There is no mention of the name of the configuration file for the terraform, it was a little bit frustrating to need to jump to other places to find out. I suggest to include reference to https://learn.hashicorp.com/tutorials/terraform/azure-build?in=terraform/azure-get-started or just mention as a comment on the file that needs to be named `# main.tf`

---
#### Document Details

⚠ *Do not edit th

[2021-01-19 16:53] noam1023 opened #402 "Problem following example -- installing ansible on the new VM"
After creating a VM using the instructions in the page, I tried the following step (installing ansible).
The process runs forever ( after 50 minutes I killed it).
I connected with ssh, found the PID of the python script and ```sudo strace -p PID``` which showed what seems like an endless loop of trying to get a file but not finding it.

Can you check?
username: cnoam@technion.ac.il
using subscript

[2021-01-19 18:43] diberry opened #403 "Demo"
this is a demo using FabricBot to reply

[2021-01-19 18:45] diberry opened #404 "demo"

[2021-01-19 22:05] Duffney commented on #269
Hello @pezzos,

I've added ` role_based_acces_control` to the `azurerm_kubernetes_cluster` code snippet. The changes will be made available after the next build.

Thank you so much for your contribution!

[2021-01-19 22:08] #269 closed

[2021-01-20 07:50] Saljack opened #405 "Describe a difference between topicJmsListenerContainerFactory jmsListenerContainerFactory"
Hi,
there is totaly missing a note that you have to use different ContainerFactories for Queue and Topic and a description what are differences between them. There should be a note that for topics your ConnectionFactory has to set `factory.setSubscriptionDurable(true)`.
It isn't clear to me if I need to set `factory.setPubSubDomain(true);`. It is not used in your code but I don't know why. I suppo

[2021-01-22 16:23] KarlErickson commented on #404
@diberry can we delete these now?

[2021-01-24 23:56] martin389 opened #409 "[azure-dev-docs] Update the external links to GitHub Actions documentation"
The URLs for [GitHub Actions docs](https://docs.github.com/) were recently changed. The URLs previously contained a string for `free-pro-team@latest`, which has since been removed. Redirects were added to ensure that the old links still worked.

To help ease redirect processing, the URLs in these articles should be updated to remove the `free-pro-team@latest` string:

- "Use variable substitution

[2021-01-24 23:56] martin389 commented on #409
👋 We'll be working on this with @juliakm.

[2021-01-25 13:58] #404 closed

[2021-01-25 13:58] #403 closed

[2021-01-25 16:29] #409 closed

[2021-01-26 19:47] Duffney commented on #157
Hi @georgepapad,

Within the tutorial there is an additional task that must be added to the playbook to register the `output` variable.

[code]

The task uses the `azure_rm_keyvaultsecret_info` module to retrieve the secret from Azure Key Vault and stores the JSON output in an Ansible variable called `output`.

That variable is then parsed and displayed on the screen with the **debug** module in t

[2021-01-26 19:54] Duffney commented on #157
Another option would be to use '{{lookup(azure_keyvault_secret)}}`

[code]

Please let me know if either of these options resolves your issue. :)

[2021-01-26 20:07] Duffney commented on #282
Hi @211217613,

I've submitted a PR to resolve this issue.

Thank you for taking the time to file the issue!

[2021-01-26 20:11] Duffney commented on #212
Hello @Niceboy06600,

I appreciate you filing this issue and I'm looking into it. :)

I'll let you know once it has been resolved.

Thank you,

[2021-01-28 12:43] budaesandrei opened #411 "Review Documentation"
Hi Team,

I think this documentation needs to be reviewed. I've followed the steps in 3a exactly but got error:
**'AzureCliCredential' object has no attribute 'signed_session'**

From what I've read on github this module has been updated but the documentation does not reflect that.

Kind Regards,
Andrei

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-01-28 18:40] stradigi-andres-de-castro opened #412 "Docs shouldn't use 15.0.0.0/8 for subnets as these are reserved"
https://docs.microsoft.com/en-us/azure/developer/terraform/create-k8s-cluster-with-aks-applicationgateway-ingress

Uses 15.0.0.0/8

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549713ae-8a7b-270a-a758-3a439d5518fe
* Version Independent ID: a46c18ff-0092-0384-b1ed-3ec076516da4
* Content: [Create an Application Gateway

[2021-01-28 18:44] kraigb commented on #411
@budaesandrei Thanks for filing the issue. I just rechecked the code in the article and it is current and accurate, provided that you're using azure-identity 1.5.0+ and azure-mgmt-resource 1.15.0+.

The error you're seeing about signed_session indicates that you're still using an older version of azure-mgmt-resource. It's the same issue described on https://docs.microsoft.com/en-us/azure/developer

[2021-01-29 10:51] budaesandrei commented on #411
Hi. Thank you for the quick response. I have checked the version of azure-identity and seems I have 1.5.0.

[2021-01-29 16:26] Duffney commented on #157
Please let me know if these suggestions do not resolve your issue.

[2021-01-29 16:26] #157 closed

[2021-01-29 18:59] kraigb commented on #411
@budaesandrei The version of **azure-mgmt-resource** is the important version number. It needs to be 1.15.0+. This is also the case for all other azure-mgmt-* libraries--the ones that have been upgraded to work with the latest azure-identity credential objects are all 1.15.x, I believe.

[2021-01-31 14:19] arizzi12 opened #415 "xamarin forms notification hub sample errors after download"
The following/attached errors are still present after opening the xamarin forms sample and updating the nuget packages...is this to be expected? please and thank you!

![image](https://user-images.githubusercontent.com/1819337/106386897-2c5d5580-63a5-11eb-9754-a87147998a27.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-01-31 14:36] rougi4 opened #416 "terraform init error: Error: Failed to query available provider packages"
Hi,

I am new in terraform and I am trying to Configure Terraform using Azure Cloud Shell according to the Azure site:

https://docs.microsoft.com/en-us/azure/developer/terraform/get-started-cloud-shell

I have given the following entries in my main.tf and I get the following error when running the

~/terraform2learn$ more main.tf
terraform {
  required_providers {
    azurerm = {
      source = "

[2021-02-01 15:59] TomArcherMsft commented on #243
Hi, @chunliu. This issue has been resolved and you should see it updated in the docs today.

[2021-02-01 15:59] #243 closed

[2021-02-01 16:02] TomArcherMsft commented on #246
Hi, @chunliu. The fix for this was merged this morning and should be live later today. Thanks for your feedback.

[2021-02-01 16:02] #246 closed

[2021-02-01 16:03] #212 closed

[2021-02-01 16:05] TomArcherMsft commented on #282
Hi, @211217613. Thanks for the feedback. I apologize for missing your reply to me. It appears that @Duffney has resolved the issue and that fix will publish today. Please let us know if the fix doesn't address the issue.

[2021-02-01 16:05] #282 closed

[2021-02-01 20:18] Duffney commented on #212
Hi @Niceboy06600,

The issue has been merged, thank you for your contribution!

Have a wonderful day,

[2021-02-01 20:57] TomArcherMsft commented on #416
Hi, @rougi4. Thanks for the feedback. I'll test this today and get back to you.

[2021-02-01 23:13] TomArcherMsft commented on #416
@rougi4 From what I can tell, it's possible that a version change broke the documentation. I'm going to keep researching this and let you know tomorrow what I can determine.

[2021-02-02 08:59] rougi4 commented on #416
thanks a lot @TomArcherMsft  for your support. Keep me posted. I also believe that some how there is a terraform conflict in terms of versions which might have caused the break of the documentation.

[2021-02-02 10:20] budaesandrei commented on #411
Hi @kraigb. I've managed to solve this issue. Seems I had multiple versions of azure-identity and I was running my code on a kernel with an older version. Thanks for the support. I've updated azure-identity for all kernels

[2021-02-02 10:20] #411 closed

[2021-02-02 15:04] arizzi12 opened #417 "invalid uri the format of the uri could not be determined"
So close...following the tutorial and getting the following error when pressing the register button on a real device (lenovo m10fhd plus tablet (android 10 - api 29):
one or more errors occurred invalid uri the format of the uri could not be determined

Please help!
what can i check? thinking the format of the uri actually looks ok...

Thank you for your time and effort!

---
#### Document Details

[2021-02-02 15:07] arizzi12 commented on #415
nm...cleaning the project fixed this

[2021-02-02 15:07] #415 closed

[2021-02-02 16:59] arizzi12 commented on #417
i followed this tut: https://docs.microsoft.com/en-us/azure/developer/mobile-apps/notification-hubs-backend-service-xamarin-forms

[2021-02-02 18:13] kraigb commented on #411
Good to hear. I appreciate you filing the issue because it leaves a record of the issue and resolution together. All the best with your projects!

[2021-02-02 20:43] kfolkes opened #418 "Update Azure Active Directory Login example error for HTTPS + App Service Certificate"
[Enter feedback here]
On the behalf of Microsoft Customer:

The example Tutorial: Secure a Java web app using the Spring Boot Starter for Azure Active Directory does not provide details for work via HTTPS/TLS backed with an App Service certificate:
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory

When I teste

[2021-02-03 04:48] hienlt21293 opened #419 "Is it impossible to create NAT rule for a VM Scale Set using Terraform?"
When I manually create a VM Scale Set (VMSS) using Azure portal and choose to create a new LoadBalancer while creating the VMSS, a **default inbound NAT rule** is also created which allows me to ssh into each VM in the VMSS via the IP of the LoadBalancer (different port for each VM, obviously).

But it seems impossible to do it with Terraform. Is this why we have to create a SSH jumpbox in order t

[2021-02-03 05:48] saragluna commented on #284
@wujack778 we should also create a PR to change this doc https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-with-service-bus

[2021-02-03 06:03] wujack778 commented on #284
get

[2021-02-03 14:30] juliakm commented on #373
Hi @martin389 and @skedwards88! Have we updated all of the links now? I'm wondering if I should close this issue.

[2021-02-03 15:55] skedwards88 commented on #373
Yes, this is safe to close!

[2021-02-03 18:12] TomArcherMsft commented on #416
CC: @grayzu @mozehgir

Hi @rougi4. I've escalated this to the engineering team for their help.

[2021-02-03 18:20] grayzu commented on #416
@rougi4 This is a known issue with the Cloud Shell environment that is being worked on by our teams and should be resolved soon.
https://github.com/Azure/go-autorest/issues/612

[2021-02-03 21:52] juliakm commented on #373
#please-close

[2021-02-03 21:53] #373 closed

[2021-02-04 09:08] rougi4 commented on #416
Thank you very much @grayzu for your update.
I will keep na eye for the development of it.

[2021-02-04 17:11] mozts2005 opened #420 "Helm instructions are for Helm v2"
[Enter feedback here]
this document list only helm v2 instructions and should have helm v3 not helm v2.
https://helm.sh/blog/helm-v2-deprecation-timeline/

There are 5 other open issues about this topic.
#218
#398
#271
#272
#219

I am happy to submit a pull request updating the page. I just want to make sure that is what the team needs/wants.

---
#### Document Details

⚠ *Do not edit this section

[2021-02-04 17:47] stradigi-andres-de-castro commented on #412
From wikipedia:

15.0.0.0/8 | ARIN | 1991-09 |   | Various registries (maintained by ARIN). Formerly Hewlett-Packard Company.
-- | -- | -- | -- | --

[2021-02-04 18:37] TomArcherMsft commented on #420
@mozts2005 Absolutely! All help is greatly appreciated.

[2021-02-05 22:28] arizzi12 opened #422 "api key"
Where do i find the api key?
Assuming it's me...just not finding it after published on the portal.
thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae6b97ae-ec64-6de9-8f02-16f91f5f9519
* Version Independent ID: d9748b97-4afb-fc97-9598-188bd460cc13
* Content: [Send push notifications to Xamarin.Forms apps using Azure

[2021-02-08 02:51] alex-makang opened #426 "Error in the doc"
[Enter feedback here]

In the doc "Create Virtual Network" part, there is an extra "s" in "address_prefixes" which should be "address_prefixe". Please kindly correct it.

resource "azurerm_subnet" "myterraformsubnet" {
    name                 = "mySubnet"
    resource_group_name  = azurerm_resource_group.myterraformgroup.name
    virtual_network_name = azurerm_virtual_network.myterraformnetwork.n

[2021-02-08 03:00] alex-makang commented on #426
I am seeing error when following this doc.

Error: Unsupported argument

  on main.tf line 29, in resource "azurerm_subnet" "myterraformsubnet":
  29:     address_prefixes       = ["10.0.2.0/24"]

An argument named "address_prefixes" is not expected here. Did you mean
"address_prefix"

[2021-02-08 20:23] KarlErickson commented on #284
Content updated.

[2021-02-08 20:23] #284 closed

[2021-02-09 17:07] AllenVisser opened #428 "Bad instructions"
Step 5 doesnt work
$UnsecureSecret = ConvertFrom-SecureString -SecureString $sp.Secret -AsPlainText
![badadvice](https://user-images.githubusercontent.com/42998925/107400004-0dc82e80-6b0a-11eb-98a0-217b736b5d60.JPG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68c31173-3e96-c871-5a2d-743a26522b4d
* Version Independen

[2021-02-09 18:15] TomArcherMsft commented on #428
@AllenVisser The -AsPlainText parameter is only supported in later versions of PowerShell. What version of PowerShell are you using?

[2021-02-09 18:42] AllenVisser commented on #428
PS 7.2

On Tue, 09 Feb 2021, 20:15 Tom Archer, <notifications@github.com> wrote:

[2021-02-09 19:18] TomArcherMsft commented on #428
@AllenVisser The blue background in your error message indicates an older version of PowerShell. PowerShell went to a black background in 6.x. For the command to work, you need to verify that you're running in a 7.x shell.

[2021-02-09 19:36] TomArcherMsft commented on #428
@AllenVisser

I just spoke with our Azure PowerShell writer - @mikefrobbins - about this.

While the instructions in the Terraform article are correct, there is an updated sequence of instructions that works across all supported versions of PowerShell.

You can see more details about that in the following article: https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azu

[2021-02-09 19:38] #428 closed

[2021-02-10 20:19] milindvb opened #439 "Using certificates instead of client-secret"
The sample provided on this page uses client-id and client-secret as auth mechanism for azure ad
Azure ad also supports certificates instead of client-secret
can you provide an example of using certs instead of client-secret?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3233e2cc-1075-1c20-d8f8-65161949e341
* Version

[2021-02-11 12:57] jglick opened #440 "Deprecation notice for Azure-related Jenkins plugins misleadingly claims CLI is a replacement"
certainly makes sense for plugin functionality which boils down to offering Pipeline steps (and/or “freestyle” builders/publishers) that do nothing other than communicate with Azure in some way, perhaps involving files in the workspace. It does not make any sense for https://plugins.jenkins.io/azure-artifact-manager/ which provides an implementation of https://jenkins.io/jep/202 or for https://plu

[2021-02-12 16:59] darqs1 opened #443 "Error when running script"
There is an error in script, when I wanna to run it:

[code]

---
#### Szczegóły dokumentu

⚠ *Nie edytuj tej sekcji. Jest ona wymagana dla docs.microsoft.com ➟ Dołączanie problemu w usłudze GitHub.*

* ID: c627aaef-62e5-1aeb-f034-72790dff714a
* Version Independent ID: ad9d621b-bb91-9d21-2a2e-45183a48c709
* Content: [Tutorial: Add Microsoft login button to React SPA](https://docs.microsoft.com/pl-

[2021-02-12 17:08] diberry commented on #443
In progress

[2021-02-12 19:15] diberry commented on #443
@darqs1 Thank you for reporting this issue.

Link 67 - the if statement - needs to change to:

[code]

I'll get the doc fixed next week.

[2021-02-15 12:07] darqs1 commented on #443
Hello Dina,
Thank You, it is working now!

regards
Darek

pt., 12 lut 2021 o 20:16 Dina Berry <notifications@github.com> napisał(a):

[2021-02-15 16:00] ronaldobutrus opened #445 "Typo in Azure Notification Hubs Docs"
At [this](https://docs.microsoft.com/en-us/azure/developer/mobile-apps/notification-hubs-backend-service-xamarin-forms#add-dependencies-and-configure-services) section, paragraph 12, there is a typo. You meant to say:

_Add an Empty Class to the Services folder called **NotificationHubService.cs**, then add the following code to implement the INotificationService interface:_

but instead you've sa

[2021-02-16 00:59] ndriyo opened #446 "Incomplete documentation"
I believe this is an incomplete page of documentation for sample of howto create hub & spoke network topology. The terraform code stops in variables and no declaration of howto create the hub & spoke network. Even further, the variables contain VM variables instead of network variables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-02-16 01:02] #446 closed

[2021-02-16 19:54] Duffney commented on #235
Hi @ms-zhouma,

I've submitted a PR to update the documentation. The `azure-jenkins.sh` that was referenced had several issues and is no longer maintained. I replaced it with a prerequisite and updated the article accordingly.

The Changes should be reflected in a day or two.

I appreciate you taking the time to file the issue, thank you!

[2021-02-16 21:19] Duffney commented on #236
Hi @ms-zhouma,

I recently revised the articled and confirmed the syntax provided assigns the appropriate role assignment.

The error you received indicates it might be a problem with the AzCLI version being used or the value stored in the $ACR_ID variable.

Because the syntax in the article is correct, I'll close the issue. Please reach out if your issue isn't resolved and I'll investigate.

Than

[2021-02-16 21:19] #236 closed

[2021-02-16 21:23] Duffney commented on #238
Hi @ms-zhouma,

I have submitted a PR to replace the version locked kubectl script with the `az aks install-cli` AzCLI command to resolve the issue.

You should see the changes reflected in the article within a few days.

Thank you!

[2021-02-16 21:23] #238 closed

[2021-02-16 21:45] Duffney commented on #133
Hello @taragurung,

That's a great suggestion, however it's outside the scope of the article to include that level of detail on the networking aspect.

Please let me know if you disagree and if I'm misunderstanding your request.

Thank you,

[2021-02-16 21:45] #133 closed

[2021-02-16 21:52] Duffney commented on #152
Hey @angelo-loria,

I could not find any reference to the `az ad sp` command within the linked documentation. Perhaps it's been removed since you filed the issue, or the wrong article was linked. Because I can't find the reference, I'm closing the issue. Please let me know if the mistake remains and I'll investigate.

Thank you,

[2021-02-16 21:52] #152 closed

[2021-02-17 16:55] #235 closed

[2021-02-18 20:57] TomArcherMsft commented on #440
@jglick Thank you for the feedback. I've talked to the engineering team and they've recommended that you email (Azure Jenkins Support](mailto:azurejenkins@microsoft.com)

[2021-02-18 20:57] #440 closed

[2021-02-18 22:36] TomArcherMsft commented on #426
@alex-makang

The syntax used in the article is the [azurerm_subnet syntax documented on terraform.io](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/subnet).

In addition, I copied and pasted from the [Complete Terraform script section in the article](https://docs.microsoft.com/en-us/azure/developer/terraform/create-linux-virtual-machine-with-infrastructure#comple

[2021-02-18 22:36] #426 closed

[2021-02-19 07:39] rachelxj-ms opened #448 "It's better to add azure key vault secret springboot starter dependencies in the document"
If user starts from an existing spring boot project, it's not clear which dependency should be added in the project.

https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault#add-key-vault-integration-to-the-app, step 3, The Key Vault integration provides a Spring PropertySource that is populated from the values of the Key V

[2021-02-19 16:16] diberry commented on #443
The doc and sample have been updated. I'm closing now.

[2021-02-19 16:16] #443 closed

[2021-02-21 07:29] alxy opened #449 "Running Terraform from Azure Cloud shell"
Hi,

I'm following the [linked content page](https://docs.microsoft.com/en-us/azure/developer/terraform/get-started-cloud-shell) to run Terraform from Azure cloud shell. The steps I executed are as followed are as followed:

1. Open Cloud Shell (bash mode)
2. Run `az login`. That outputs the following and I was indeed able to go the mentioned website and enter the code:
[code]
3. Run `az account s

[2021-02-21 07:39] alxy commented on #449
Ok, I made an interesting finding. It seems to be an issue with recent `azurerm` provider versions. From my trials it seems to work up until version `2.43.0`, but not for higher versions.

The related changelog item is [here](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/CHANGELOG.md#2440-january-21-2021).

[2021-02-22 16:52] TomArcherMsft commented on #449
@alxy Thanks for the feedback. There is a known issue with Cloud Shell and Terraform at the moment. The engineering team is working with HashiCorp to resolve and it should be fixed very soon.

[2021-02-22 21:06] Duffney commented on #350
Hey @jhoelzl

I appreciate you taking the time to file this issue.

A PR has been submitted to fix the article, changes should be refleced with 24-48 hours.

Thanks!

[2021-02-22 21:06] #350 closed

[2021-02-23 14:24] shaines-turbo opened #450 "ProxyOptions syntax error"
The following line:
ProxyOptions proxyOptions = new ProxyOptions(ProxyOptions.HTTP, new InetSocketAddess("localhost", 8888))
    .setCredentials("1", "1");

Should be:
ProxyOptions proxyOptions = new ProxyOptions(ProxyOptions.Type.HTTP, new InetSocketAddress("localhost", 8888))
    .setCredentials("1", "1");

The HTTP type is in the ProxyOptions.Type enum and Address is missing the "r"
---
#### Do

[2021-02-23 15:37] mjg123 opened #451 "Getting started with Spring Cloud Functions in Azure: A couple of updates"
Hi, I'm following this guide after seeing @jdubois at DevNexus. I had to change a couple of small things before it would work:

## start-class
The `<start-class>` is different in the [linked](https://github.com/Azure-Samples/hello-spring-function-azure/blob/master/pom.xml) `pom.xml` than in the docs. The XML snippet in the docs says `com.example.HelloFunction`, which is correct, but in the linked

[2021-02-23 18:53] bigjon440 opened #452 "azurerm provider change"
[Enter feedback here]
Need to change the client_id to use the sp Application (client) ID instead of the Display name. This took me over an hour of digging and researching to figure out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d35c94ec-c9ad-0233-4115-3ddc43ddcd38
* Version Independent ID: 6b231b6b-523b-445d-2b15-

[2021-02-23 20:36] jdubois commented on #451
Thanks @mjg123 !
Indeed, I updated the sample code, and this documentation should be synced up with it.
I haven’t tested yet but both of your comments look correct.
I will update this, but I’ll need a couple of weeks before I have some time for this.

[2021-02-24 21:17] Duffney commented on #402
Hi @noam1023,

I've confirmed the issue. The `configure-ansible-centos.sh` script times out when installing Ansible because pip3 needs to be upgraded prior to installation.

I'm working on submitting a PR to fix the issue, however, in the meantime you can use the below script to configure the Linux VM and install Ansible.

Thank you for bringing this to our attention! :)

[code]

[2021-02-25 05:34] sanju918 opened #453 "authentical issue with Azure China"
[Enter feedback here]
I'm getting follwoing error

[code]
using the example code for azure china

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 036cc96e-fbb8-bced-0a5b-ef6e332264b8
* Version Independent ID: 7b70016c-feb0-7da1-5995-2d1fa8bce9a9
* Content: [How to authenticate Python applications with Azure servic

[2021-02-25 15:55] Duffney commented on #402
Hey @noam1023,

I've updated the article, making it functional again. A PR is underway, and the article will be updated shortly. I'll go ahead and close the issue, but please let me know if you have any unanswered questions.

Thank you, again for filing the issue.

[2021-02-25 15:55] #402 closed

[2021-02-25 19:23] TomArcherMsft commented on #416
@rougi4 Thank your patience as we've worked together with our partner, HashiCorp, to resolve. This issue should be resolved within shortly. Here's the [PR: https://github.com/terraform-providers/terraform-provider-azurerm/pull/10740](https://github.com/terraform-providers/terraform-provider-azurerm/pull/10740)

[2021-02-25 19:43] TomArcherMsft commented on #452
@bigjon440 Apologies for the confusion. This was fixed in the documentation last week and we're waiting on a build to publish the article live. The updated doc should be live within the next day or two. I'm going to close this as a dupe of PR #444.

[2021-02-25 19:43] #452 closed

[2021-02-25 19:46] morganbye-ivadolabs opened #454 "Azure PythonSDK docs badly out of date"
Steps 4a and 4b use the `BlobClient` class which is no longer in v12 of the SDK.

This should be updated to likely use:
* BlockBlobService
* PageBlobService

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ef952ca-bc5a-ad1a-f793-80e823a666c8
* Version Independent ID: 4747f26a-05e4-8e00-203f-c61e75e83690
* Content: [Use

[2021-02-25 19:47] infin8x opened #455 "Add "Pulumi on Azure" content?"
👋🏻 hello! We at Pulumi would love to contribute a section for "Pulumi on Azure", similar to the [Terraform on Azure](https://docs.microsoft.com/en-us/azure/developer/terraform/) content. Is that something you would be open to? If so, what's the best way to get started? Should we share an outline? Start a draft PR and invite feedback?

[2021-02-25 21:09] TomArcherMsft commented on #455
Hi @infin8x. We had a similar discussion with Joe D. last year. If you'd like to discuss further, email me offline and I'd be happy to discuss.

[2021-02-25 21:09] #455 closed

[2021-02-25 21:21] TomArcherMsft commented on #449
@alxy We're close to a solution. You can follow the issue at https://github.com/MicrosoftDocs/azure-dev-docs/issues/416. Closing as duplicate.

[2021-02-25 21:21] #449 closed

[2021-02-25 23:07] TomArcherMsft commented on #383
@sayom88 Apologies for the delay. I'm copying in one of the team that wrote that series of articles to help you.

@jcorioland Could you please assist?

[2021-02-26 07:06] jcorioland commented on #383
Hello @sayom88 - if you are using PowerShell, instead of doing:

[code]

to configure the TEST_SSH_KEY_PATH environment variable, please try to use the following syntax:

[code]

You can read more about PowerShell and environment variables [here](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_environment_variables?view=powershell-7.1).

Hope this helps
Jul

[2021-02-26 07:47] rougi4 commented on #416
Hi @TomArcherMsft , this is brilliant! It is worth the patience :-) I will keep testing it and I will update you accordingly.

[2021-02-26 14:28] Duffney commented on #364
Hi @pingyin97,

The article mentioned has been retired. I'm closing the issue, but please let me know if you have any remaining questions.

Thank you,

[2021-02-26 14:28] #364 closed

[2021-02-26 18:30] TomArcherMsft commented on #383
Thanks @jcorioland

@sayom88, I'm closing the doc issue, but please let us know if you need further assistance.

[2021-02-26 18:30] #383 closed

[2021-02-26 18:56] TomArcherMsft commented on #401
@mahomedalid Thank you for your feedback.

The configuration file can be any valid file name supported by your operating system. As this article is not a tutorial, we don't explicitly state what to name the configuration file. The article is meant to show the typical sequence of steps for creating the configuration file, and then creating and applying the execution plan.

The Terraform tutorials p

[2021-02-26 18:56] #401 closed

[2021-02-26 19:08] TomArcherMsft commented on #397
Hi, Paul,

Thanks for your feedback.

I've updated the env vars to include ARM_CLIENT_SECRET.

However, note that Terraform requires using an SP from PowerShell and even then, you are still going to need to "az login"

This [GitHub Issue](https://github.com/Azure/azure-cli/issues/16460) explains the technical details. If you wish, you can add your voice (via voting on the original post) to have th

[2021-02-26 19:08] #397 closed

[2021-02-26 19:36] TomArcherMsft commented on #416
@rougi4 Thanks much for your patience. Everything appears to be working now.

Make sure that you see a message like this indicating that the latest version of azurerm is installed. Otherwise, you might be reusing the lock from a previous version.

"- Installing hashicorp/azurerm v2.49.0..."

Here's the code I just tested with:

[code]

[2021-02-26 19:41] TomArcherMsft commented on #416
Note that when I attempted to use a previously initialized directory, I received the following message:

**- Reusing previous version of hashicorp/azurerm from the dependency lock file**

Therefore, I received the errors that you were also getting.

I then created a new directory and copied my files into it before running "terraform init" on the new directory.

That's when I got the message about

[2021-02-26 19:41] #416 closed

[2021-02-26 19:48] TomArcherMsft commented on #449
@alxy This is now resolved. I added some notes to #416

[2021-02-26 20:17] TomArcherMsft commented on #416
@rougi4 I'm told you can also run `terraform init -upgrade` to force the upgrade :)

[2021-02-27 10:08] rougi4 commented on #416
Hi @TomArcherMsft I tried it installing the hashicorp/azurerm v2.49.0 and it has worked for me.
Many thanks for all your support.
I guess from my side you can close the issue.

Cheers,

Loukas

[2021-03-01 15:07] jdubois commented on #451
Both issues should be fixed once my PR https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/1586 is merged, thanks a lot @mjg123 !
@KarlErickson can you have a look?

[2021-03-01 17:47] KarlErickson commented on #451
@jdubois @mjg123 I merged the PR, so I'll close this issue. Thanks!

[2021-03-01 17:47] #451 closed

[2021-03-01 19:46] kraigb commented on #454
@morganbye-ivadolabs Thanks for the issue; I'll be updating the article in the next week or two. I appreciate the alert.

[2021-03-01 21:50] windyir opened #456 "error on running Acquire a credential object using CLI-based authentication"
# Import the needed credential and management objects from the libraries.
from azure.identity import AzureCliCredential
from azure.mgmt.resource import ResourceManagementClient
import os

# Acquire a credential object using CLI-based authentication.
credential = AzureCliCredential()

# Retrieve subscription ID from environment variable.
subscription_id = os.environ["AZURE_SUBSCRIPTION_ID"]

# Obta

[2021-03-02 01:58] ArcturusZhang commented on #419
Hi @hienlt21293 it should be possible but in terraform you need to handle everything by yourself.
To do this, aside from the fundamental resources which a VMSS requires (resource group, vnet, subnet), you also need to create the following
- load balancer: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/lb
- load balancer nat rule: https://registry.terraform.io/provi

[2021-03-02 04:01] TomArcherMsft commented on #419
@hienlt21293 The reply from our engineer @ArcturusZhang should answer your question. If not, please let us know and we'll continue to help. I'm going to close this issue, but will be updating the documentation per the feedback from @ArcturusZhang.

[2021-03-02 04:01] #419 closed

[2021-03-02 09:56] einue commented on #329
@moarychan :
Are you're changes in the master branch right now?

Which version do I need for using the new feature?

I tried:

[code]

If I do so, the property
      azure.activedirectory.user-group.group-relationship: transitive

is unknown.

[2021-03-02 19:02] KarlErickson commented on #456
@kraigb this issue applies to multiple topics under the Examples TOC node, e.g. <https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-example-resource-group>.

[2021-03-02 19:36] #450 closed

[2021-03-02 21:55] kraigb commented on #456
@windyir Can you check what versions of the Azure libraries you're using. The signed_session error occurs when you're using an older version of azure-mgmt-resource (below 15.0.0); that library was updated recently, so if you're using an older version then you'll see this error.

I just tested the code for the resource group examples, e.g. https://docs.microsoft.com/en-us/azure/developer/python/azu

[2021-03-03 12:51] windyir commented on #456
I didn't specify the version in azure-mgmt-resource and now it works Thanks.

[2021-03-03 12:52] windyir commented on #456
I didn't specify the version in azure-mgmt-resource and now it works Thanks.

On Tue, Mar 2, 2021 at 9:55 PM Kraig Brockschmidt <notifications@github.com>
wrote:

[2021-03-03 15:34] kraigb commented on #456
Perfect--thanks for checking and I'm delighted you have it working now.

[2021-03-03 15:34] #456 closed

[2021-03-04 01:20] irfanazam1 opened #457 "Outdated Springboot Version"
Hi

The document mentions to select Springboot version 2.3.3 from the Springboot initializer project. The mentioned version is no longer available on the Springboot initializer page.

Regards,
Irfan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e25b58-811b-ec83-0251-7a641d4a7670
* Version Independent ID: 55deb14a-7f

[2021-03-05 20:24] ninarn opened #459 "Direct link to download Azul Zulu is broken"
Under "Download the 64-bit Azul Zulu JDK 8" the first link "zulu-8-azure-jdk_8.44.0.11-8.0.242-..." seems to be broken. Nothing happens when I click it. I had to right click and "open in another tab" and then it downloaded the file. This applies to the same links under the three sections Windows, Mac, and Linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-03-05 21:22] bmitchell287 commented on #459
@KarlErickson - Karl, would you please take a look at this issue? Thanks.

[2021-03-05 22:25] KarlErickson commented on #459
@ninarn thanks for letting us know about this issue. It appears to be a browser security issue. The link works directly in Edge, but in Chrome it doesn't. We will investigate and update the doc to make this clear.

[2021-03-08 10:43] gabriel-ayusso opened #460 "Configuring Jenkins access to AKS as an issue"
On step [Configure Access](https://github.com/MicrosoftDocs/azure-dev-docs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do%20not%20edit%20this%20section.%20It%20is%20required%20for%20docs.microsoft.com%20%E2%9E%9F%20GitHub%20issue%20linking.*%0A%0A*%20ID%3A%2015c8677e-3fcd-56c0-fa71-64d758a02ca8%0A*%20Version%20Indepen

[2021-03-08 20:34] Duffney commented on #460
Hi @gabriel-ayusso,

I've made the necessary changes to the article and submited a PR.

Thanks so much for your contribution!

[2021-03-10 23:32] KarlErickson commented on #202
topic has been updated

[2021-03-10 23:32] #202 closed

[2021-03-11 00:00] Lroca88 opened #462 "terraform plan -out out.plan returns Invalid function argument"
[Enter feedback here]
After following step by step the tutorial I encounter an error when running `terraform plan -out out.plan`.
![image](https://user-images.githubusercontent.com/5395468/110714994-660a5300-81d2-11eb-8874-49edd627950c.png)

The reason is there is no such ~/.ssh/id_rsa.pub file.  Actually there is no .ssh folder in the Cloud Shell .
![image](https://user-images.githubusercontent.c

[2021-03-11 00:58] TomArcherMsft commented on #462
@Lroca88 The error seems to indicate that there is no SSH public key file found in your home directory's .ssh directory. Have you created an SSH pair and stored it there for Terraform to pick up?

[2021-03-11 13:24] Lroca88 commented on #462
No I didn't, I was just replicating the steps from the tutorial. I think the section about copying a public key is missing.

[2021-03-11 15:42] TomArcherMsft commented on #462
@Lroca88 You're correct. The article should explain that an SSH key is required and point to information on how to create one. I'll get that fixed so that it's more clear what's needed to run the sample.

[2021-03-16 19:03] kraigb commented on #454
Hello again. I validated that the article works as expected with the current versions of the Azure Storage library, which, according to pip freeze, is azure-storage-blob==12.8.0. The BlobkBlobService and PageBlobService classes you mention are not current; they come from older library versions and do not exist in the current libraries.

I'm closing this issue, accordingly, as the docs are up to da

[2021-03-16 19:03] #454 closed

[2021-03-16 19:23] kraigb commented on #453
@sanju918 Thanks for your patience. I'm checking into this issue to make sure the code in the documentation is correct. In the meantime, have you tried the code shown in https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-sovereign-domain that uses DefaultAzureCredential?

[2021-03-16 22:22] hurricaneMitch commented on #311
Any update on removing the requirement of having a binary requirement?

[2021-03-16 22:39] kraigb commented on #311
No, there hasn't been any progress on having gcc installed in the App Service container where the app is deployed, which is what's necessary to build the non-binary psycopg2. Hopefully we can get some traction on it once the App Service engineering team is done with other build/environment issues that currently have higher priority.

[2021-03-18 19:25] kraigb commented on #453
@sanju918 To follow up, the code is correct in the docs but only for older versions of azure.mgmt.resource (those not using azure.core). When using the current library, you should be using DefaultAzureCredential or another credential/auth method from the azure-identity library (which is the azure.core version).

Accordingly, I'm moving the section of the docs that show adal to a section for deprec

[2021-03-18 19:25] #453 closed

[2021-03-22 18:21] abhijeetuk opened #463 "Error: "features": required field is not set"
Need to update the document as we get error as
Error: "features": required field is not set
For new learners, we have tough time to follow this document as we are not able to create resource in Azure via Visual Studio code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14080c3b-027f-93e1-fd0f-4bea971f51b0
* Version Ind

[2021-03-25 19:23] awkimball opened #464 "Service Principal "az login" example command contains wrong placeholder"
Hi all,

Under the section "Authenticate via Azure Service Principal" I see the command to login to the azure cli:

[code]

and it suggests to use the service principal name/<azure_principal_name> for the `-u` argument. Unfortunately, in my experience using the service principal's name does not work. When I use the name, I get a 400 unauthorized error.

Instead, it seems to require the service pri

[2021-03-29 22:14] #459 closed

[2021-04-02 16:35] #460 closed

[2021-04-02 17:17] gitbingsun opened #469 "This article did not describe the cosmosdb configuration class setup."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34e3106a-5816-3c78-7b7d-80de140403b4
* Version Independent ID: 0d963e32-ae56-09dc-8774-87a241fc8590
* Content: [How to use the Spring Boot Starter with the Azure Cosmos DB SQL API](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework

[2021-04-07 09:33] debinaik opened #472 "Spring boot Azure Function Debug steps"
I was going through the steps by below link to setup spring boot azure function. But I could not find the command to debug the spring boot azure function locally. I have tried few options to debug locally but IntelliJ starts encountering runtime error.Please provide the correct steps to debug locally.

 https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/getting-started-with-spr

[2021-04-13 02:24] riyazega opened #474 "ErrorPAge"
[Enter feedback here]
I followed following link to implement Azure AD on Spring Boot Microservices

https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory

But after login I am getting following error message.
AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the applic

[2021-04-13 15:31] KarlErickson commented on #474
@riyazega thanks for the feedback! I'm sorry that you're encountering an error. To be sure I understand, are you referring to the log in described in the section [Build and test your app](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory?source=docs#build-and-test-your-app), using the password described in step

[2021-04-15 22:13] jigarcaptain opened #475 "The redirect url mentioned in this document no longer works with latest code."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3233e2cc-1075-1c20-d8f8-65161949e341
* Version Independent ID: e3cef834-e81c-de56-9224-a22f7abdfb7e
* Content: [How to use the Spring Boot Starter for Azure Active Directory](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/confi

[2021-04-15 22:14] jigarcaptain commented on #475
The correct redirect URL should be
`http://localhost:8080/login/oauth2/code/`

[2021-04-16 19:44] BillyBolton opened #476 "Clarity on Redirect URIs in Spring Boot Starter for Azure AD"
Following the [Tutorial: Secure a Java web app using the Spring Boot Starter for Azure Active Directory](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory#configure-and-compile-your-app) is not successful. From comparing the
[Azure AD Spring Boot Starter client library for Java](https://github.com/Azure/azure-s

[2021-04-16 20:17] KarlErickson commented on #475
@jigarcaptain thanks for the feedback - I'll get that fixed.

[2021-04-16 20:48] BillyBolton commented on #476
Duplicated issue, original is here: https://github.com/MicrosoftDocs/azure-dev-docs/issues/475

I'd like to highlight still that there should be improvement in where to find tutorials. All that I have tried thus far are not stable.

[2021-04-16 20:48] #476 closed

[2021-04-20 16:31] KarlErickson commented on #476
@BillyBolton thanks for the suggestion. We have recently added a [learning resources](https://docs.microsoft.com/en-us/azure/developer/java/learning-resources/) section that we are planning to extend over time. This may be a good location to collect the tutorials that are spread throughout the service documentation. I will bring this up to our internal stakeholders.

[2021-04-21 08:27] neosdutertre opened #478 "issue when running ansible-playbook create_rg.yml to test the installation"
[Enter feedback here]
Hi,
when following the procedure, the playbook test ends up with the below message, what's wrong ? thanks,
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88ac6b7d-76dc-189b-4ce7-d5f2b4043162
* Version Independent ID: 5982bd9f-1339-3a62-75a4-35161e88368e
* Content: [Quickstart - Configure An

[2021-04-21 10:14] neosdutertre commented on #478
while digging into the issue, I found that six is installed in /usr/local/lib/python3.6/site-packages/ and urllib3 is searching for it in /usr/lib/python3.6/site-packages ...

[2021-04-21 13:39] Iuzuz opened #479 "Small bug in code snippet"
Hello!

This page has a small bug. The following code line is wrong:

`SpringApplication.run(HelloFunction.class, args);`

Instead, it should be:

`SpringApplication.run(DemoApplication.class, args);`

Regards,
Iuzuz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59f2ae26-8728-c449-ba2d-6f870080f07e
* Version Independe

[2021-04-21 16:16] #479 closed

[2021-04-21 16:16] KarlErickson commented on #479
@Iuzuz - thanks! Fixed.

[2021-04-21 16:22] #475 closed

[2021-04-22 10:35] ringoc opened #480 "Bash script issue with Capital letter"
Under the heading of "Getting the code", the bash script should use
**Azure-Samples** in (`go get -u -d github.com/Azure-Samples/azure-sdk-for-go-samples/quickstarts/deploy-vm/...`)
instead of
**azure-samples** in (`go get -u -d github.com/azure-samples/azure-sdk-for-go-samples/quickstarts/deploy-vm/...`)

Otherwise it throws out this error

[code]
---
#### Document details

⚠ *Do not edit this se

[2021-04-22 16:17] clssn opened #481 "Update terraform output command to write out kube_config"
Kubernetes config is broken when extracted with terraform according to the docs.

The command to write out the kubernetes config file needs to be changed to use the `--raw` option, [here](https://docs.microsoft.com/en-us/azure/developer/terraform/create-k8s-cluster-with-tf-and-aks#test-the-kubernetes-cluster) like so:

`echo "$(terraform output --raw kube_config)" > ./azurek8s`

Otherwise invalid

[2021-04-22 16:40] #480 closed

[2021-04-22 16:46] kind03 opened #482 "Where shall I put this file "terraform_azure.tf""
Where shall I put this file "terraform_azure.tf"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc3a8a34-f0f0-7aba-b45b-2c59d722b7de
* Version Independent ID: 667d19a1-ff34-3979-105c-c0a918d29707
* Content: [Create a Linux VM with infrastructure in Azure using Terraform](https://docs.microsoft.com/en-us/azure/developer

[2021-04-22 17:18] TomArcherMsft commented on #482
@kind03 The file name and location are user-specific. You could put in pretty much any directory from which you want to call the Terraform commands.

[2021-04-22 17:18] #482 closed

[2021-04-23 12:59] opticyclic opened #483 "Give Examples On Configuring Storage Accounts In Different Ways"
The page says:

However, there are only examples of Azure CLI and Terraform.

Add examples on doing it with the portal as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789076a3-5d6d-e5d9-a3f7-cc1d6351ca8a
* Version Independent ID: e873b421-20fe-3415-0f4b-aacd7378c271
* Content: [Tutorial - Store Terraform state

[2021-04-23 13:52] kind03 commented on #482
Thanks!

[2021-04-23 15:14] opticyclic opened #484 "Terraform Example Is Incomplete"
The page says:

The terraform example only creates a resource group though.

You should also point out that the storage account name needs to be unique across the whole of Azure.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/error-storage-account-name

It is implied in the az cli example:

    STORAGE_ACCOUNT_NAME=tstate$RANDOM

but you don't explicitly say it and this wi

[2021-04-23 19:36] Duffney commented on #478
Hi @neosdutertre,

I appreciate you raising the issue, can you tell me which version of Ansible you're using and if you're using the azurerm modules or the azcollection?

Thanks!

[2021-04-24 00:41] pgombar opened #485 "azure.storage.blob SDK example does not work"
Hi,

Under the [Set Logging Levels](https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-logging#set-logging-levels) section, an example is given to change the log level for `azure.storage.blob` logger. However, this does not work since that specific library logs its HTTP requests in the `azure` namespace, not `azure.storage.blob` and the customer would not see a change in log levels

[2021-04-26 13:00] neosdutertre commented on #478
Hi @Duffney I did exactly as the documentation indicates. So i believe this is azcollection (installed with ansible-galaxy).

[2021-04-26 14:49] Duffney commented on #478
Interesting, I'm in the process of updating the install and configure docs to include 2.9 and 2.10 changes.

I'll go through the tutorial and attempt to replicate the error and get back to you.

Have a wonderful day! :)

[2021-04-27 21:01] kraigb commented on #485
@pgombar Thanks for this! I'll put it in my backlog to make appropriate revisions.

[2021-04-28 09:30] Killianoc opened #486 "Outdated document image"
Step 11 for the section "Add an application registration for your Spring Boot app" has an outdated picture using the old redirect uri "/login/oauth2/code/azure" instead of the newer redirect uri "/login/oauth2/code/". It might save some time for crazy people like me who don't read the text and only look at pictures! I'll learn one day.

Infringing article - https://docs.microsoft.com/en-us/azure/d

[2021-04-28 17:16] #486 closed

[2021-04-28 23:44] smgn opened #487 "BOM example mentions an old groupId"
BOM usage example mentions an old groupId `com.microsoft.azure`
The correct BOM import should be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a0fb1c0-486c-bbf3-cbc1-2c1dda60e6ba
* Version Independent ID: 599225e9-1ecc-22c1-5d81-f200df9f74da
* Content: [Spring Boot Starters for Azure](https://docs.microsoft.co

[2021-04-29 11:07] peterdongan opened #489 "Update instructions to reflect change in branch name"
Step 3 in the **Create your first job** section instructs you to link to this repo: [https://github.com/spring-guides/gs-spring-boot.git](https://github.com/spring-guides/gs-spring-boot.git)

The screenshot shows the branch specifier as `*/master`. However the repo recently started using a "main" branch instead of a "master" one, so the job now fails if the branch specifier is not updated or remov

[2021-04-29 14:50] #487 closed

[2021-05-01 21:55] limingr opened #491 "terraform plan fails"
Followed the  steps exactly, it fails with error.
(1) Link https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/guides/service_principal_client_secret mentions

$ export ARM_CLIENT_ID="00000000-0000-0000-0000-000000000000"
$ export ARM_CLIENT_SECRET="00000000-0000-0000-0000-000000000000"
$ export ARM_SUBSCRIPTION_ID="00000000-0000-0000-0000-000000000000"
$ export ARM_TENANT_ID="00

[2021-05-02 03:11] #491 closed

[2021-05-02 03:11] limingr commented on #491
I found a workaround

[2021-05-03 02:32] kanchiraghuraman opened #492 "Out of Sync"
It seems more than one of the features are out dated with the latest version of Terraform template 2.5.7
viz.,
1. Version="`2.0"
2. Error: Output refers to sensitive values
│
│   on main.tf line 124:
│  124: output "tls_private_key" {
│
│ To reduce the risk of accidentally exporting sensitive data that was intended to be only internal, Terraform requires that any
│ root module output containing se

[2021-05-03 07:07] TomArcherMsft commented on #491
@limingr That's actually HashiCorp's documentation. What was your workaround?

[2021-05-03 21:08] RussFerns opened #493 "Excellent doc page"
Excellent doc page and video - that's all.
[shouldn't always come here to complain :)]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6758e597-965a-92c5-2fd3-5bcc5702deac
* Version Independent ID: d0619375-0c8e-c2d4-f059-b1ae17fe7c52
* Content: [Deploy Docker containers to Azure App Service from Visual Studio Code](htt

[2021-05-03 21:44] KarlErickson commented on #493
@RussFerns thanks! CC @diberry

[2021-05-03 21:44] #493 closed

[2021-05-04 14:22] Duffney commented on #478
Hey @neosdutertre

Walking through the article I was able to successfully create a resource group with the test playbook at the end. Looking at the error my best guess is that the Azure collection dependencies didn't get installed properly.

Please run the following install commands to re-install the Azure collection:

[code]

I've found using docker containers to be particularly useful in trouble

[2021-05-04 14:22] Duffney commented on #478
Hey @neosdutertre

Walking through the article I was able to successfully create a resource group with the test playbook at the end. Looking at the error my best guess is that the Azure collection dependencies didn't get installed properly.

Please run the following install commands to re-install the Azure collection:

[code]

I've found using docker containers to be particularly useful in trouble

[2021-05-04 14:32] neosdutertre commented on #478
Thanks a lot for digging into the details; I will attempt a new test asap, and will try to provide better clues to what happens (whether it would happen again) !
have a great day

[2021-05-05 14:54] carolga opened #494 "Suggestion - Please add a section / directive for adding Application Insights to spring boot"
[Enter feedback here]
Hello!  Is there a way to also add a directive for wiring Application Insights?  This is lacking and we are getting cases about it.

Thanks!
-cg :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a0fb1c0-486c-bbf3-cbc1-2c1dda60e6ba
* Version Independent ID: 599225e9-1ecc-22c1-5d81-f200df9f74da
* C

[2021-05-05 18:38] Duffney commented on #478
Most welcome, I'll close the issue for now as I can't replicate it exactly following the doc. But please do keep me updated, I'm happy to help if I can. :)

[2021-05-05 18:38] #478 closed

[2021-05-05 18:43] Duffney commented on #489
@peterdongan I'll get the screenshot updated to reflect the branch name change, thank you. :)

[2021-05-05 19:13] Duffney commented on #489
Pull request has been submitted. The update will be live 24 hours after the PR is accepted.

Thank you again @peterdongan for filing the issue. :)

[2021-05-05 19:13] #489 closed

[2021-05-06 11:58] michalswi opened #496 "Missing info about NewAuthorizerFromCLI for AuthN using 'az cli'"
I think it's worth to be mentioned here that you can authenticate by requesting a token from the Azure CLI. I am pointing to this part:

https://github.com/Azure/go-autorest/blob/master/autorest/azure/auth/auth.go#L276

[code]

You have to log in in to Azure via "az login", and it will use the CLI's currently logged in identity.

[code]

Thx!

---
#### Document Details

⚠ *Do not edit this section

[2021-05-06 15:05] diberry commented on #496
@scottaddie Is this for you - should we make you the owner of Go content via the [DocFx[(https://github.com/MicrosoftDocs/azure-dev-docs-pr/blob/master/articles/docfx.json#L78) file

[2021-05-08 20:45] garthoid opened #499 "Public vs Private Access Storage Account"
Thanks for this article but I noticed that it does not warn the reader that it requires the storage account to have public access. This may be sub-optimal to some users who do not wish their storage accounts to have a public endpoint due to policy, paranoia, or just best practices regardless of RBAC/TLS. So I suggest the following:

1. Warn readers that the steps in these instructions require a pu

[2021-05-10 07:15] sri53 opened #500 "Change Terraform output command"
[Enter feedback here]
When I use  the below command. It will append the EOT in starting and ending of the file.
`echo "$(terraform output kube_config)" > ./azurek8s `

So when I run the get nodes command its not working.
`kubectl get nodes`
error: error loading config file "./azurek8s": yaml: line 2: mapping values are not allowed in this contex

Solution:
Change the command like below
`echo "$(te

[2021-05-12 15:59] tekgnu opened #505 "Code Example error"
The line for authenticating using the AzureCliCredential is written:
subscription_id = os.environ["AZURE_SUBSCRIPTION_ID"]

This should be:
subscription_id = os.environ["AZ_SUBSCRIPTION_ID"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cf9ee4a-da91-9fcf-5f87-63672ecfc30c
* Version Independent ID: a4e01885-e638-59b3-

[2021-05-12 18:19] nicholasfulton opened #506 "Send push notifications deprecated function call"
Step 12 of the Android native project section contains a code snippet which uses an obsolete method.
Current code:
if (DeviceInstallationService.NotificationsSupported)
{
    FirebaseInstanceId.GetInstance(Firebase.FirebaseApp.Instance)
        .GetInstanceId()
        .AddOnSuccessListener(this);
}

Looking at references for the Java libraries, it appears this is the C#-adapted best way to comple

[2021-05-12 18:34] kraigb commented on #505
@tekgnu Thanks for filing this issue. For this particular article, AZURE_SUBSCRIPTION_ID is coming from the configuration described in the prerequisite article, https://docs.microsoft.com/en-us/azure/developer/python/configure-local-development-environment?tabs=cmd.

Where would the AZ_SUBSCRIPTION_ID be coming from? I don't know of any tool that creates this automatically, and I'm not aware that

[2021-05-14 18:55] kraigb commented on #505
@tekgnu Because the article is correct so far as I know, I'm closing this issue. If you have any comment or reply to my previous questions, please reopen.

[2021-05-14 18:55] #505 closed

[2021-05-15 10:18] explodinghat commented on #242
Any update on this? I can create the resources using terraform from this guide, but then can't log on to the VM that's created.

azureuser@[public IP]: Permission denied (publickey).

[2021-05-16 00:29] TomArcherMsft commented on #242
Hi @explodinghat. I'll take a look next week and update this thread with my findings.

[2021-05-17 09:12] saragluna commented on #44
@chenrujun please take a look at this.

[2021-05-17 09:13] saragluna commented on #123
@chenrujun please take a look at this.

[2021-05-17 09:20] saragluna commented on #287
I will take a look at this.

[2021-05-17 09:20] saragluna commented on #388
@chenrujun please take a look at this.

[2021-05-17 09:35] saragluna commented on #400
@backwind1233 please take a look at this.

[2021-05-17 09:36] saragluna commented on #405
@yiliuTo please take a look at this.

[2021-05-17 09:36] saragluna commented on #405
@KarlErickson could you please assign this to @yiliuTo too?

[2021-05-17 09:37] saragluna commented on #44
@KarlErickson could you please assign this to @chenrujun?

[2021-05-17 09:43] saragluna commented on #123
@KarlErickson could you please assign this to @chenrujun?

[2021-05-17 09:47] saragluna commented on #287
@KarlErickson could you please also add me as assginee?

[2021-05-17 09:48] saragluna commented on #388
@KarlErickson could you please add @chenrujun as assignee?

[2021-05-17 09:50] saragluna commented on #400
@KarlErickson could you please add @backwind1233 as an assignee?

[2021-05-17 09:51] saragluna commented on #418
@KarlErickson could you please add @chenrujun as an assignee?

[2021-05-17 09:52] saragluna commented on #439
@KarlErickson could you please add @chenrujun as an assignee?

[2021-05-17 09:52] saragluna commented on #448
@KarlErickson could you please add @chenrujun as an assignee?

[2021-05-17 09:53] saragluna commented on #457
@KarlErickson could you please add @chenrujun as an assignee too?

[2021-05-17 09:53] saragluna commented on #469
@KarlErickson could you please assign this issue to @backwind1233 too?

[2021-05-17 09:54] saragluna commented on #472
@KarlErickson could you please assign this issue to me @saragluna?

[2021-05-17 09:54] saragluna commented on #474
@KarlErickson could you please add @chenrujun as an assignee too?

[2021-05-17 09:55] saragluna commented on #494
@KarlErickson could you please add me as an assignee too?

[2021-05-17 10:54] kohtala opened #509 "No ansible[azure] anymore"
There has been no `ansible[azure]` for a year now.

[code]

The `requirements-azure.txt` contains a bunch of pinned versions. That may be fine for a CI development environment, but if you need to actually use it and have anything else in your environment, that is asking for version conflict. Is there somewhere some more permitting dependency requirements? Surely it can not be that the version must

[2021-05-17 11:16] riyazega commented on #474
Issue has been solved .
Thanks

[2021-05-17 11:16] #474 closed

[2021-05-17 15:32] KarlErickson commented on #123
@chenrujun please coordinate with @lastnameholiu who has also been looking at these issues. Thanks!

[2021-05-17 15:34] KarlErickson commented on #388
@chenrujun please coordinate with @lastnameholiu who has also been looking at these issues. Thanks!

[2021-05-17 15:35] KarlErickson commented on #400
@backwind1233 please coordinate with @lastnameholiu who has also been looking at these issues. Thanks!

[2021-05-17 15:36] KarlErickson commented on #405
@yiliuTo please coordinate with @lastnameholiu who has also been looking at these issues. Thanks!

[2021-05-17 15:36] KarlErickson commented on #418
@chenrujun please coordinate with @lastnameholiu who has also been looking at these issues. Thanks!

[2021-05-17 15:37] KarlErickson commented on #439
@chenrujun please coordinate with @lastnameholiu who has also been looking at these issues. Thanks!

[2021-05-17 15:37] KarlErickson commented on #448
@chenrujun please coordinate with @lastnameholiu who has also been looking at these issues. Thanks!

[2021-05-17 15:38] KarlErickson commented on #457
@chenrujun please coordinate with @lastnameholiu who has also been looking at these issues. Thanks!

[2021-05-17 15:38] KarlErickson commented on #469
@backwind1233 please coordinate with @lastnameholiu who has also been looking at these issues. Thanks!

[2021-05-17 15:40] KarlErickson commented on #494
@saragluna thanks!

[2021-05-17 19:23] Duffney commented on #509
Hi @kohtala,

I have submitted a PR to address the warning message while installing Ansible in version 2.10. The `ansible[azure]` module isn't required for 2.10 but is still used by those on 2.9 and below. To account for that I included a section of instructions that lists out the steps for installing the Azure components for each version.

As for the requirements file being out of date and handli

[2021-05-18 01:11] chenrujun commented on #457
PR created: https://github.com/MicrosoftDocs/azure-dev-docs/pull/510

[2021-05-18 03:29] michaelqi793 commented on #448
I'll create PR soon

[2021-05-18 07:33] michaelqi793 commented on #448
[#512 ](https://github.com/MicrosoftDocs/azure-dev-docs/pull/512)

[2021-05-18 10:56] kohtala commented on #509
Thanks. It is not just of being required, but `ansible[azure]` is not there at all in 2.10. I think the error message is cosmetic, but indeed misleading.

I took a look at this. I wrote some suggestion to relax the dependencies on the ansible-collections/azure#441. Would be great if I found some time to make a PR for it.

[2021-05-18 14:57] #457 closed

[2021-05-18 15:35] #448 closed

[2021-05-19 02:55] han-gao commented on #439
I'll create PR soon.

[2021-05-19 08:44] michaelqi793 commented on #388
I'll create PR soon.

[2021-05-19 09:41] backwind1233 commented on #400
Thank you @KarlErickson , @lastnameholiu I am looking at this issue and I am willing to create an PR to fix the issue in a few days, do you have any idea or concern about it?

[2021-05-19 09:47] backwind1233 commented on #469
@gitbingsun I am looking at this issue , but I am not sure my understanding is correct, can you explain it a little bit?

[2021-05-19 10:06] han-gao commented on #439
Hi @milindvb ,

At present, aad stater does not support the use of certificate. but it's a reasonable feature for the AAD starter, I have created an [issue](https://github.com/Azure/azure-sdk-for-java/issues/21650) to support it as a new feature.

[2021-05-19 13:07] KarlErickson commented on #439
Thanks, @han-gao. I'll close this issue. We can update the article when the AAD starter supports certificates.

[2021-05-19 13:07] #439 closed

[2021-05-19 13:12] KarlErickson commented on #418
@kfolkes thanks for the feedback! Please see the comment on issue #439.

[2021-05-19 13:12] #418 closed

[2021-05-19 17:21] chaos-ui opened #514 "[imgbot]"
Github actions via Imgbot PR requests being denied and or PR being closed for internal costs

[2021-05-20 02:52] han-gao commented on #123
I'll create PR soon.

[2021-05-20 05:54] saragluna commented on #472
@debinaik

You could follow below steps to debug locally:
1. Add `-DenableDebug` when run `mvn azure-functions:run` --> `mvn azure-functions:run -DenableDebug`
2. If you're using Intellij IDEA, [create](https://www.jetbrains.com/help/idea/tutorial-remote-debug.html#63ca70c5) a `Remote JVM Debug` run configuration to attach and then you could debug locally.

Please let me know if you have further q

[2021-05-20 13:14] rajaniesh opened #515 "Instruction to use ansible is not working"
Hi,
I tried running the azure resource group creation playbook by following these steps given in the MS site:https://docs.microsoft.com/en-us/azure/developer/ansible/install-on-linux-vm?tabs=ansible#file-credentials

but it is throwing this error

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ModuleNotFoundError: No module named 'urllib3.packages.

[2021-05-20 19:06] #485 closed

[2021-05-20 20:00] TomArcherMsft commented on #242
Hi, @explodinghat

I was able to successfully create and SSH into the VM, but it took a little work as the article is out of date in some areas and not very explicit in the way in which you need to specify the SSH key.

## Issue 1 - Outdated provider block

The `provider` block should look as follows to eliminate warnings:

[code]

## Issue 2 - New "sensitive" annotation needed

The output of sens

[2021-05-21 06:21] michaelqi793 commented on #388
@lastnameholiu  Hi Can you reproduce this issue?  If yes, can you share the steps? I can't go any further than reach the login page that has no sign up link.

[2021-05-21 10:49] saragluna commented on #287
https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/1857, @KarlErickson and @ezYakaEagle442 please help review this PR.

[2021-05-21 14:30] Duffney commented on #509
Hey @kohtala,

My PR to correct the documentation is in review, the changes should be visible within the next few days. I also contacted the engineering team and passed along the information you provided. I was informed it's on their radar and being tracked under the ansible-collections repo. I wish I had more info, but I was told that's the best place to log issues and to keep track of the progre

[2021-05-21 14:30] #509 closed

[2021-05-21 16:01] 7474 opened #516 "Environment variable is invalid."
`ARM_CLIENT_PASSWORD` was an invalid environment variable.
`ARM_CLIENT_SECRET` is correct.

Ref.
https://github.com/7474/azure-dev-docs/commit/f74e03e0db1994cf65fd70903bab30060d24644b

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68c31173-3e96-c871-5a2d-743a26522b4d
* Version Independent ID: 5b281d75-b37e-0301-e1fd-43

[2021-05-21 16:03] TomArcherMsft commented on #516
@7474 Good catch! I'm rewriting that article and it should be published by early next week.

[2021-05-21 19:07] Duffney commented on #515
Hey @rajaniesh,

Are you running the playbook from within Azure Cloud Shell? If not, which version of Ansible are you using?

Thank you,

[2021-05-24 07:59] michaelqi793 commented on #388
I used the latest AAD B2C jar.
[code]
And the issue cannot be reproduced.  Please refer to the updated instructions:
#517

[2021-05-25 08:04] han-gao commented on #123
Hi, @Thomas-Bergmann

Although in secret keys of Azure Keyvault doesn't support setting `"."`,  it doesn't affect our use `"."` in our project.
`azure-keyvault-secrets-spring-boot-starter` will load all secrets from Azure Keyvault, and format the secret.
The format secret code is [`toKeyVaultSecretName()`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot/src/mai

[2021-05-25 14:03] ezYakaEagle442 opened #518 "Java to Azure RedHat OpenShift migration strategy"
Could you please add a section "Java to Azure RedHat OpenShift migration strategy" ?

That could include SpringBoot Apps. or Java/Tomcat  Java/WildFly App to ARO migration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85f7f8f0-3ecb-c09c-8545-b0d98e5396df
* Version Independent ID: fc186d62-3f1f-c8a2-2a27-8f13a6dcd817

[2021-05-25 15:27] #287 closed

[2021-05-25 16:31] KarlErickson commented on #472
@saragluna will you be creating a PR to add this content to the article? Thanks.

[2021-05-26 02:30] #242 closed

[2021-05-26 18:50] greendimka opened #520 "Awful documentation"
This is the worst piece of documentation ever. It explains almost nothing about setup of Notification Hubs. Instead it is focused on Apple certificates and throws us a lot of code pieces which are related to app's business logic, not to PUSH itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae6b97ae-ec64-6de9-8f02

[2021-05-27 00:15] rajaniesh commented on #515
I could make it work on CentOS 8 because on CentOS 7 it has a conflict with Python version because Python version required by Ansible is 3.5 or higher but by default the version on CentOS 7 is not more then 2.75 and if we upgrade it it has undesirable effects like yum is not working and this procedure is not written any where in your documentation. I have wasted so much time and energy on this fin

[2021-05-27 00:15] #494 closed

[2021-05-27 15:01] Duffney commented on #515
@rajaniesh I appreciate the reply. To confirm the issue is between the Python version and Ansible, not the az Ansible collection correct?

Do you have a requirement to use Ansible 2.10+? Another option might be to use Ansible 2.9 which doesn't have the same Python version requirement. It's not an ideal long-term solution, but might work in the short-term if that's what will work in your environmen

[2021-05-27 15:11] Duffney commented on #515
You raise an excellent point @rajaniesh, I will update the doc noting the Python version requirements for ansible-core.

Sidenote:
Do you have a requirement to use Ansible 2.11+? Another option might be to use a lower ansible-core version which can use Python 2.75.

[2021-05-27 15:21] Duffney commented on #515
I've added a note detailing the Python version requirements for the different Ansible versions. A PR has been submitted and the changed should be public within a few days.

Thank you for opening the issue @rajaniesh!

[2021-05-27 15:21] #515 closed

[2021-05-27 16:51] #388 closed

[2021-05-27 18:51] #400 closed

[2021-05-27 22:20] KarlErickson commented on #123
@han-gao is this guidance something we should put in the docs? If so, will you be creating a PR? If not, we can close this issue. Thanks!

[2021-05-28 14:26] steve-parker-by opened #523 "Inspec or Terraform"
The page https://docs.microsoft.com/en-us/azure/developer/chef/inspec-overview
implies this is about Chef Inspec - but all the links are for Terraform.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31874f60-fbbb-5b60-7352-a7780dfebac2
* Version Independent ID: 6d81c340-c562-624a-3b3f-66444a2d190e
* Content: [Use InSpe

[2021-05-31 01:40] han-gao commented on #123
@KarlErickson
This is already pointed out in this [document](https://docs.microsoft.com/en-us/java/api/overview/azure/spring-boot-starter-keyvault-secrets-readme?view=azure-java-stable#save-secrets-in-azure-key-vault).

[2021-05-31 02:04] backwind1233 commented on #469
Linked PR [#1860](https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/1860)

[2021-05-31 07:36] moarychan opened #524 "Hope to deploy Azure resources more efficiently"
When developers start to use Azure Spring Starter, they maybe want to create and deploy Azure resources more quickly. Currently,
it is an interactive introduction to Azure CLI.

Hope there's a new template for all the docs under [spring-framework](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/)， specifically include the following:
For Azure resource deployment part:
- Prov

[2021-05-31 14:22] TomArcherMsft commented on #524
@moarychan Thanks for the feedback. However, GitHub Issues are for customers to report broken or outdated documentation issues; not for employees to request new articles. I'll email you offline to discuss your ideas further. Thanks again.

[2021-05-31 14:22] #524 closed

[2021-06-01 14:45] #123 closed

[2021-06-01 14:48] #469 closed

[2021-06-01 16:55] Duffney commented on #420
@mozts2005,

The article has been updated to use helm v3 instead of 3 and the changes have been published.

Thank you for filing the issue. :)

[2021-06-01 16:55] #420 closed

[2021-06-01 16:57] Duffney commented on #398
Hey @dlew56,

I've updated the article to use helm 3 instead of helm 2 and removed the deprecated init command from the article.

Thank you for taking the time to file the issue, have a wonderful day!

[2021-06-01 16:57] #398 closed

[2021-06-01 16:59] Duffney commented on #272
Hey @pezzos,

I've gone through and updated the article to reflect the changes. Please let me know if you run into any more issues.

Thank you for taking the time to file the issue, have a wonderful day!

[2021-06-01 16:59] #272 closed

[2021-06-01 17:01] mozts2005 commented on #420
@Duffney as the helm section still references the install of helm tiller this has not been updated to install and use Helm V3 https://github.com/MicrosoftDocs/azure-dev-docs/blob/master/articles/terraform/create-k8s-cluster-with-aks-applicationgateway-ingress.md#install-helm

[2021-06-01 17:01] Duffney commented on #271
An updated version of the article is now live which includes changes for Helm 3, removing the init command from the require steps. Also reviewed the installing Helm section as advised.

Thank you for your contribution. :)

[2021-06-01 17:01] #271 closed

[2021-06-01 17:02] Duffney commented on #219
I've updated the article per your suggestion @ahmedig, thank you!

Please let me know if you run into any other issues. :)

[2021-06-01 17:02] #219 closed

[2021-06-01 17:04] Duffney commented on #218
helm init has been removed from the article and helm 2 steps have been replaced with helm 3. Please let me know if you run into any more issues. :)

[2021-06-01 17:04] #218 closed

[2021-06-01 18:20] Duffney commented on #420
Forgive my inexperience with helm, but to confirm your referring to step 1 of the Install helm section that creates a service account and roleblinding for tiller that's no longer accurate \ needed correct?

I'll update the article and remove that step. Thank you for your reply.

[2021-06-01 18:29] mozts2005 commented on #420
Yes, the Install Helm Section should be change like this (AS there is no longer a cluster side change that needs to be done when using helm v3+:

## Add Helm repository

The code in this section uses [Helm](/azure/aks/kubernetes-helm) - Kubernetes package manager - to install the `application-gateway-kubernetes-ingress` package:

1. Add the AGIC Helm repository:

[code]

[2021-06-01 18:32] Duffney commented on #420
Got it, thanks for the quick reply! I'll get the article updated and PR submitted by EOD.

Appreciate you.

[2021-06-01 22:48] carolga commented on #494
Hello!

Just wanted to point out that the link is returning a 404.

Is this the link?
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent#configuration-options

Thanks!
-cg 😊

Carol Garcha
Support Escalation Engineer
Azure Rapid Response – Web Apps
+1 469.775.0142
Working Hours: M-F 8:00 am-5:00 pm US CT
Need help outside of my working hours?
Locate an engineer: ***@***.

[2021-06-02 08:57] philcart opened #526 "TLS private key resource is duplicated"
The code block for creating the VM duplicates the tls_private_key resource

resource "tls_private_key" "example_ssh" {
  algorithm = "RSA"
  rsa_bits = 4096
}

# Create (and display) an SSH key
resource "tls_private_key" "example_ssh" {
  algorithm = "RSA"
  rsa_bits = 4096
}
output "tls_private_key" {
    value = tls_private_key.example_ssh.private_key_pem
    sensitive = true
}

---
#### Documen

[2021-06-02 08:59] philcart opened #527 "TLS private key resource is duplicated"
The code block for creating the VM duplicates the tls_private_key resource

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc3a8a34-f0f0-7aba-b45b-2c59d722b7de
* Version Independent ID: 667d19a1-ff34-3979-105c-c0a918d29707
* Content: [Configure a Linux VM with infrastructure in Azure using Terraform](https://doc

[2021-06-02 11:51] Vipin-Sharma opened #528 "Azure function name should be same as of component name"
Azure function name in this document is hello. As per component name it should be "helloFunction".

[2021-06-02 14:13] TomArcherMsft commented on #527
@philcart  Thanks for the catch. I've updated the article to remove the duplicate definition. The article should publish by tomorrow.

[2021-06-02 14:13] #527 closed

[2021-06-02 14:58] KarlErickson commented on #528
Hi @Vipin-Sharma - it looks like you've removed all the auto-generated content when you created this issue, so we can't identify which article or feature area this is for. Which topic are you referring to? Thanks!

[2021-06-02 15:21] TomArcherMsft commented on #526
Closing as duplicate Issue: https://github.com/MicrosoftDocs/azure-dev-docs/issues/527

[2021-06-02 15:21] #526 closed

[2021-06-02 15:25] Vipin-Sharma commented on #528
Hi @KarlErickson , I used mobile app to create this issue and I was expecting this page information should be added automatically, did not remove anything. I should have check this after creating issue, my bad.

This is the link I am talking about here.

https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/getting-started-with-spring-cloud-function-in-azure

[2021-06-02 15:33] KarlErickson commented on #528
@Vipin-Sharma - I didn't know that about the mobile app. Good to know. Thanks for the URL - we'll look into this!

[2021-06-02 18:04] TomArcherMsft commented on #527
@philcart I managed to get the update in before today's build, so it's live now. Thanks again for letting me know about this.
https://docs.microsoft.com/en-us/azure/developer/terraform/create-linux-virtual-machine-with-infrastructure

[2021-06-03 06:48] Vipin-Sharma commented on #528
You may also want to correct one other line that has @ before enable, i don't think there is anything like this annotation available in spring or azure libraries.

[2021-06-03 18:40] TomArcherMsft commented on #523
@steve-parker-by Thanks for the feedback. Those links are driven by some automated process that is showing related content in terms of working with Azure (not necessarily with Chef). I'll email the PM to look into changing this. Thanks again.

[2021-06-03 18:40] #523 closed

[2021-06-03 19:10] TomArcherMsft commented on #516
@7474 Rewriting the "Get Started" articles is taking longer than expected. However, this error is obviously confusing to users and needs to be fixed. Therefore, I've updated this article now and you should see the update in tomorrow's build. Thanks again for catching this and letting me know.

[2021-06-03 19:10] #516 closed

[2021-06-03 19:27] TomArcherMsft commented on #523
@steve-parker-by The PM just told me how to disable this feature for this page - since Chef Software content no longer hosted on our site. I'm making that update and it will be published in tomorrow's build.

[2021-06-07 17:12] amt-git opened #530 "file name for init file "main.tf" and where to have this file will help people new to Terraform"
mentioning the default file name
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d35c94ec-c9ad-0233-4115-3ddc43ddcd38
* Version Independent ID: 6b231b6b-523b-445d-2b15-7dfc04da7ef9
* Content: [Quickstart - Configure Terraform using Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/developer

[2021-06-08 05:52] moarychan commented on #528
Hi @Vipin-Sharma , this PR https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/1898 will update the doc, regarding `@Enable`, it refers to the annotations starting with the @Enable prefix, for example, @EnableCaching, @EnableAsync, you can use azure functions with these features, maybe it's better to change to @EnableXXX.

[2021-06-08 16:19] #528 closed

[2021-06-09 08:38] 7474 commented on #516
Thank you for the fix!

I think so can now proceed with the tutorial smoothly.

[2021-06-14 06:35] noam1023 opened #531 ""installing azure plugin" link does not get me to installation instructions"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d5ac22c-2840-a25d-2194-3b6b995cbfce
* Version Independent ID: 621793ae-d1f5-cac5-bedd-36e9fea015a7
* Content: [Create a Hello World web app for Azure App Service using IntelliJ](https://docs.microsoft.com/en-us/azure/developer/java/toolkit-for-intell

[2021-06-14 19:43] spissay opened #532 "Which runtime needs to be selected"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/developer/terraform/provision-infrastructure-using-azure-deployment-slots#deploy-from-github-to-your-deployment-slots

The above doc doesnt state which runtime/program needs to be selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c994a242-058b-28f5-54a

[2021-06-16 04:35] eyoh5 opened #534 "Sample code Error in 'Create a pipeline job to upload build artifacts' section"
[Enter feedback here]
sample code in 'Create a pipeline job to upload build artifacts' section.
there is
               az storage blob upload-batch --destination ${JOB_NAME} --source ./text --auth-mode login

However, the above command complains missing credential to access storage service.
We need --account-name option.
               az storage blob upload-batch --destination ${JOB_NAME} --sour

[2021-06-17 16:32] #531 closed

[2021-06-17 17:25] #472 closed

[2021-06-17 17:45] KarlErickson commented on #518
+ @selvasingh @bmitchell287 for visibility

[2021-06-17 19:53] scottaddie opened #536 "Update Azure SDK Identity docs to have consistent auth story across languages"
Work to be completed for the Nickel semester.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14d0bb11-5126-0e5e-b737-07708d5cb1e7
* Version Independent ID: 0cc3254f-d94e-f6d5-10c7-d7bba2375524
* Content: [Azure authentication with Java and Azure Identity](https://docs.microsoft.com/en-us/azure/developer/java/sdk/identi

[2021-06-17 19:54] scottaddie opened #537 "Update Azure SDK Identity docs to have consistent auth story across languages"
Work to be completed for the Nickel semester.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b321721e-c13d-cd09-9b21-da919281e687
* Version Independent ID: 0858b54a-1f2d-9faf-1561-2d599c559d5d
* Content: [Authenticate with the Azure management modules for Node.js - Azure](https://docs.microsoft.com/en-us/azure/develope

[2021-06-17 19:56] scottaddie opened #538 "Update Azure SDK Identity docs to have consistent auth story across languages"
Work to be completed for the Nickel semester.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 036cc96e-fbb8-bced-0a5b-ef6e332264b8
* Version Independent ID: 7b70016c-feb0-7da1-5995-2d1fa8bce9a9
* Content: [How to authenticate Python applications with Azure services](https://docs.microsoft.com/en-us/azure/developer/pytho

[2021-06-17 19:57] scottaddie opened #539 "Update Azure SDK Identity docs to have consistent auth story across languages"
Work to be completed for the Nickel semester.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 496addbb-39f0-09cd-4fc9-c5786bb90495
* Version Independent ID: 53cd2418-bd7b-b469-8d34-f9f2f7fd1b8f
* Content: [Authentication with the Azure SDK for Go](https://docs.microsoft.com/en-us/azure/developer/go/azure-sdk-authorizati

[2021-06-18 15:54] KarlErickson commented on #536
Hi @scottaddie - this Issues list is for customer feedback, not for general work-item tracking. Please use internal Azure DevOps boards to track regular work items. Thanks!

[2021-06-18 15:54] #536 closed

[2021-06-18 15:54] #537 closed

[2021-06-18 15:54] #538 closed

[2021-06-18 15:55] #539 closed

[2021-06-22 12:47] Jedoe830 opened #540 "missing spaces in command under "Authenticate via Azure service principal""
[Enter feedback here]
There are spaces missing in the chapter "Authenticate via Azure service principal" in the first Azure CLI command so this command fails when copy&paste it to the CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d35c94ec-c9ad-0233-4115-3ddc43ddcd38
* Version Independent ID: 6b231b6b-523b-445d-2b

[2021-06-23 16:48] kraigb commented on #538
#KarlErickson can you clarify why this issue was closed? Just wondering if there was another conversation I missed while I was away.

[2021-06-23 19:21] TomArcherMsft commented on #540
@Jedoe830

The first Azure CLI command in the subsection "Authenticate via Azure service principal" is "az ad sp create".

When I copy and paste that command, and then change the placeholder to my Azure subscription ID, it works.

Is that the command you're talking about? What error are you getting?

[2021-06-24 07:01] Jedoe830 commented on #540
Well, it throw an error about that the parameter "--role" is kinda wrong, I don't know the exact error message. But when I run it now as it is documented, it works. So it seems like there is no issue with the Docs

[2021-06-24 07:01] #540 closed

[2021-06-24 15:35] Duffney commented on #534
Hey @eyoh5,

I submitted a PR to resolve the issue in the article and I very much appreciated the correct syntax being listed the issue. :)

Changes to the article should be made available within a few days.

Thank you!

[2021-06-24 15:35] #534 closed

[2021-06-28 08:57] Rajiya-Mulani opened #543 "Facing broker disconnected issue while establishing Kafka with Azure Event hubs in Spring boot application"
1. Article link I followed to configure Event hub.
   https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quickstart-kafka-enabled-event-hubs    (TLS/SSL)

2. code
Configurations in .properties file

###############################################################################################################
##

[2021-06-30 05:44] Rajiya-Mulani commented on #543
Kindly update on this issue.

[2021-06-30 19:07] benjamin-goldman opened #544 "many PSHELL commands not working in quick start."
[Enter feedback here]
so many of these commands are simply not available even though my computer is showing 7.1.3 powershell.

any chance this could be refreshed or checked by a peer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68c31173-3e96-c871-5a2d-743a26522b4d
* Version Independent ID: 5b281d75-b37e-0301-e1fd-43

[2021-06-30 19:46] TomArcherMsft commented on #544
@benjamin-goldman What section are you seeing problems with and what commands are you running that are producing the errors?

[2021-07-06 11:54] ItayPodhajcer opened #546 "Create tls_private_key Resource is Not Used"
The example has a `tls_private_key` resource created (to generate an SSH key), but it is not being used except for outputting the private key.
It makes sense that the generate key should be used in the `azurerm_linux_virtual_machine` resource under the `admin_ssh_key` section.

Issue appears in the examples of the following sections:
- [Create virtual machine](https://docs.microsoft.com/en-us/azur

[2021-07-08 05:49] Rajiya-Mulani commented on #543
can you please update on this

[2021-07-08 15:02] Duffney commented on #546
Hey @ItayPodhajcer!

I'm reviewing the article now to make the appropriate changes.  I'll reply after a PR has been submitted

Thank you for submitting the issue,

Given that the MVP renewals and nominations just went out I hope it's safe to say congratulations!

[2021-07-10 21:22] kfilimon opened #549 "Couple of clarifications would be helpful"
---
#### Details

the following command would fail if `.kube` does not exist, so it might be helpful to suggest `sudo mkdir var/lib/jenkins/.kube/`
`sudo cp ~/.kube/config /var/lib/jenkins/.kube/`

It's not clear what the purpose of running the following command.
When I see 777 it's usually a red flag from the security point of view.
[code]

is the path correct `/var/lib/jenkins/config`? this file

[2021-07-12 08:51] Rajiya-Mulani commented on #543
Any update on this?

[2021-07-16 10:07] w5m opened #551 "No option to select Region in which to create App Service"
Unfortunately, there was no option to select Region when creating the App Service, so I ended up with Central US when I wanted to target the UK. It would be useful if this was a selectable option during the creation process. The current creation wizard has 3 pages: (1) app name, (2) run-time (e.g. Python 3.7), (3) service plan (Free, Basic, Standard, etc.).

Many thanks.

---
#### Document details

[2021-07-16 20:33] kraigb commented on #551
@w5m Thanks for filing the issue, and you bring up a good point that I'll remedy in the docs. The solution is to use the "Advanced" variant of the create web app UI. This option (that's suffixed with "(Advanced)" sometimes appears in the UI prompts, but if it doesn't, use the Command Palette (Ctrl+Shift+P) and select "Azure App Service: Create New Web App...(Advanced)". After entering the name for

[2021-07-16 20:50] #551 closed

[2021-07-16 21:44] w5m commented on #551
Many thanks @kraigb

[2021-07-19 14:15] Duffney commented on #484
Hi @opticyclic,

I've updated the article to point out that Azure storage account names must be globally unique. Within the call out I also put a link to the troubleshooting document you mentioned. :)

Currently the article shows how to configure the storage account with Azure CLI and then Terraform uses that storage account as its backend to create a second resource group. To improve coverage, I

[2021-07-19 14:15] #484 closed

[2021-07-19 14:18] Duffney commented on #483
Hey @opticyclic,

Great callout. I've removed the verbiage that calls out the portal specific instructions to improve clarity. While the operation can be handled within the Azure portal the article is focused on automating those actions through command-line tools and Terraform.

Changes to the article will be reflected after the PR is merged.

Thank you for your feedback!

[2021-07-19 14:18] #483 closed

[2021-07-19 14:19] Duffney commented on #499
Hey @garthoid,

Excellent point and suggestion. I've added a callout to the article indicating that it creates the storage account with pubic. And have begun researching your suggested topic to see if it's feasible to configure the backend without public access and or to use private link.

Changes to the article will take effect once the PR is merged.

Thank you for your detailed feedback and sugg

[2021-07-19 14:19] #499 closed

[2021-07-19 14:50] isacmoura opened #553 "Flutter Azure Hub Notification - device installation not updated"
I think might be some update at Flutter and the return of String at some methods are now "dynamic", as the image below shows:
![image](https://user-images.githubusercontent.com/11962687/126179582-a541d88c-db9e-4fff-a70e-d5a5b72f2ecf.png)

I replace the String at the "<>" and worked fine, but I think the documentation should be updated

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-07-19 14:53] Duffney commented on #546
Just wanted to provide an update, I'm doing a full refresh pass on the article to update it to the latest provide syntax etc..

[2021-07-21 14:54] seflue opened #555 "Missing example for creating a specialized image version with Ansible"
I really would appreciate an example how to create a specialized image version with Ansible. I'm trying that since two days without any success - but with Azure CLI it works.

Especially the following error message is not helpful:

And the documentation on that does not help at all:

The examples on that are outdated, because they're using "managed_image" which is depricated.

[2021-07-22 14:47] dometdemont opened #557 "Example of ansible playbook on azure fails"
Thank you for this nice page of valuable information and examples.
However, from my experiment using the cloud shell, the deployment fails with this error:
TASK [Create VM] *******************************************************************************************************************************************************************
[WARNING]: Module did not set no_log for ssh_password_enabled
f

[2021-07-22 14:56] #557 closed

[2021-07-22 14:57] dometdemont commented on #557
Sorry, I missed the instruction to replace the ssh key data :-/

[2021-07-22 14:58] TomArcherMsft commented on #557
Hi, @dometdemont. Thanks for the feedback! I'm glad replacing the ssh key data resolved the issue.

[2021-07-25 22:08] torchy-newman opened #558 "error: no such host"
I have tried the tutorial and successfully used the hcl to create the storage account, I can see the storage account in Azure Portal, all looks good,
but when I try to use it as a backend I get this error:
`terraform init
Initializing the backend...
│ Error: Failed to get existing workspaces: containers.Client#ListBlobs: Failure sending request: StatusCode=0 -- Original Error: Get "https://tfbacke

[2021-07-26 18:27] yj7o5 opened #559 "Typo under creating remote storage account via terraform example"
The example for terraform has it written as "create-remote-stroage.tf" instead of `storage`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789076a3-5d6d-e5d9-a3f7-cc1d6351ca8a
* Version Independent ID: e873b421-20fe-3415-0f4b-aacd7378c271
* Content: [Tutorial - Store Terraform state in Azure Storage](https://docs.micro

[2021-07-26 19:00] #559 closed

[2021-07-27 01:48] insankim opened #560 "acr login command syntax error"
[Enter feedback here]
Sign in to your Azure Container Instance.

az login -n <acrLoginServer>
Replace <acrLoginServer> with your ACR login server.

1. Command syntax error:  az "acr" login
2. Typo: Sign in to your Azure Container "Registry"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15c8677e-3fcd-56c0-fa71-64d758a02

[2021-07-27 08:03] maheshau1 opened #561 "Fix typo in tutorial - add "locally" in a sentence."
Terraform state is used to reconcile deployed resources with Terraform configurations. State allows Terraform to know what Azure resources to add, update, or delete.

By default, Terraform state is stored `locally` which isn't ideal for the following reasons:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789076a3-5d6d

[2021-07-27 16:23] TomArcherMsft commented on #561
@maheshau1 Thanks much for the feedback. I'm updating many of the Terraform articles and will include this in that PR.

[2021-07-27 16:23] #561 closed

[2021-07-27 16:34] MorneZaayman opened #562 "Incorrect controller reference"
Under **Create the notifications API, section 7**, the explanation references a **RegistrationsController**. This is incorrect and should be **NotificationsController**.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae6b97ae-ec64-6de9-8f02-16f91f5f9519
* Version Independent ID: d9748b97-4afb-fc97-9598-188bd460cc13
* Co

[2021-07-28 05:09] MorneZaayman opened #563 "Extra indentation of braces"
Under the heading **Implement the cross-platform components,  item 5**, there is an extra indentation of braces for the **Resolve** method. This is not required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae6b97ae-ec64-6de9-8f02-16f91f5f9519
* Version Independent ID: d9748b97-4afb-fc97-9598-188bd460cc13
* Content:

[2021-07-28 19:23] sb1975 opened #564 "How to automate the infrastructure creation using Azure Devops PIpeline"
[Enter feedback here]

Can you provide another tutorial to do the same using Azure Devops Pipeline ?

Create an Application Gateway ingress controller in Azure Kubernetes Service using Azure Devops Pipelines

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549713ae-8a7b-270a-a758-3a439d5518fe
* Version Independent ID: a4

[2021-07-28 19:29] TomArcherMsft commented on #564
@sb1975 Thanks for the feedback.

@Duffney Could you add this to your backlog?

As this is not a "bug" or something that needs fixing in the article, I'll close this GitHub Issue.

[2021-07-28 19:29] #564 closed

[2021-07-30 16:05] cloudysingh opened #566 "Please mention file format (.TF) in the Section - 'Create a base Terraform configuration file'"
Please mention the file format to be created. Also, it will be good idea to suggest users to use Vim/Vi etc. to create a file with a .tf file extension.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d35c94ec-c9ad-0233-4115-3ddc43ddcd38
* Version Independent ID: 6b231b6b-523b-445d-2b15-7dfc04da7ef9
* Content: [Quicksta

[2021-07-30 16:07] cloudysingh opened #567 "Second paragraph needs correction."
In the second paragraph where it says -"By default, Terraform state is stored which isn't ideal for the following reasons:", the word --> 'locally' is missing.

The sentence should be -- "By default, Terraform state is stored locally which isn't ideal for the following reasons"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-07-30 16:12] TomArcherMsft commented on #567
@cloudysingh Thanks for the feedback. I'm closing this as a duplicate of #561

[2021-07-30 16:12] #567 closed

[2021-07-30 16:15] TomArcherMsft commented on #566
@cloudysingh I have rewritten the "Get Started" article, which will go live next week. As part of those changes, we now recommend the file name. As for suggesting a specific editor, we decided against that as there are too many options - such as VI, the Cloud Shell implementation of VS Code, etc. Thanks again for your feedback.

[2021-07-30 16:15] #566 closed

[2021-08-03 12:39] wjam-hanzo opened #568 "Tutorial for creating Terraform state storage recommends `allow_blob_public_access`"
The tutorial for creating a Terraform state storage (https://docs.microsoft.com/en-us/azure/developer/terraform/store-state-in-azure-storage?tabs=terraform), which corresponds to https://github.com/MicrosoftDocs/azure-dev-docs/blob/master/articles/terraform/store-state-in-azure-storage.md, recommends that `allow_blob_public_access` should be set to true.

From my limited knowledge of Azure, this m

[2021-08-03 14:54] wjam-hanzo commented on #568
Never mind, appears to be me mis-understanding what `allow_blob_public_access` actually means. From my _new_ understanding, it allows the use of the public API for the storage account to create new containers rather than allowing public access to blobs being stored within the container

[2021-08-03 14:54] #568 closed

[2021-08-05 03:36] v-2asar opened #572 "The error was: 'myResourceGroup' is undefined\n\nThe error appears to be in '/home/ashish/azure-vm-stop.yml': line 5, column 7"
[Enter feedback here]
fatal: [localhost]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'myResourceGroup' is undefined\n\nThe error appears to be in '/home/ashish/azure-vm-stop.yml': line 5, column 7, but may\nbe elsewhere in the file depending on the exact syntax problem.\n\nThe offending line appears to be:\n\n  tasks:\n    - name: Stop virtual machin

[2021-08-05 12:40] hitman126 opened #573 "Missing Terraform code snippet"
[The Terraform code snippet expected below the line wording is missing:

"**_Run the following commands to get the storage access key and store it as an environment variable:_**"

Kindly provide the example.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789076a3-5d6d-e5d9-a3f7-cc1d6351ca8a
* Version Independent ID: e

[2021-08-05 15:09] TomArcherMsft commented on #573
@hitman126

Thanks for your feedback.

I'm assuming you're referring to code sections within the section "Configure terraform backend state"?

If so, there is a comment after the empty code block:
"Terraform prevents sensitive information from being displayed within the terminal. It's recommended to use Azure CLI or Azure PowerShell to retrieve the access key."

I can see how this might appear to

[2021-08-05 15:09] #573 closed

[2021-08-09 04:27] TomArcherMsft commented on #530
@amt-git Thanks for the feedback. The article has been rewritten and we now recommend the name of the main Terraform file.

[2021-08-09 04:27] #530 closed

[2021-08-09 04:29] TomArcherMsft commented on #544
@benjamin-goldman I believe these issues are resolved. If you're still finding issues, please let me know and I'll research further. Thank you.

[2021-08-09 04:29] #544 closed

[2021-08-09 04:31] TomArcherMsft commented on #492
@kanchiraghuraman Thank you for the feedback. I've updated the code in question.

[2021-08-09 04:31] #492 closed

[2021-08-09 04:55] TomArcherMsft commented on #464
@awkimball Thank you for the feedback. These articles (the Get Started content and the Authentication steps) have been rewritten. Please let me know if you see any continued or new issues. Thanks again!

[2021-08-09 04:55] #464 closed

[2021-08-09 04:57] TomArcherMsft commented on #463
@abhijeetuk Thank you for your feedback. I believe you're referring to steps to install/configure Terraform, right? If so, this content has been rewritten and published yesterday. Please let me know if you continue to encounter problems and I will investigate.

[2021-08-09 04:57] #463 closed

[2021-08-09 05:00] TomArcherMsft commented on #286
@afflom Thank you for the feedback. I went through the code and I believe I've fixed all the warnings and errors to bring the example current. Please let me know if you see any further issues.

[2021-08-09 05:00] #286 closed

[2021-08-09 05:02] TomArcherMsft commented on #363
@Sergong Thank you for your feedback. I've rewritten this article and everything should be working now. Please let me know if you continue to encounter problems.

[2021-08-09 05:02] #363 closed

[2021-08-09 19:36] chester-leung opened #575 "Authentication error when creating a custom VM image with GitHub Actions"
Hi, I'm trying to create a custom VM image with GitHub actions following this [tutorial](https://docs.microsoft.com/en-us/azure/developer/github/build-vm-image). However, I run into the following error

[code]

I'm able to log in to Azure with my service principal secret, but during the actual image building process, I get this error. Can you please explain what is happening when running this acti

[2021-08-12 13:04] nielscup commented on #506
It would be nice to know which package versions you used in the tutorials because it is not working with the latest packages ` Xamarin.Firebase.Messaging`

[2021-08-18 21:47] drumforgod82 opened #576 "Please correct the dockerfile ansible install method"
The dockerfile will keep getting errors with the new version of ansible.  The correct install command for centos: 7 is the following:

yum install ansible; \

I just tested this out and the docker container is now working as it should.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51db2faf-908c-8022-fe37-6

[2021-08-19 16:24] magic-happenz opened #577 "Public access to Azure Storage Account to store Terraform state"
Hello,

I just setup up a Storage Account to store my Terraform state according to this example https://github.com/MicrosoftDocs/azure-dev-docs/blob/master/articles/terraform/store-state-in-azure-storage.md.

I am curious what is the reason to recommend all examples to setup the Storage Account for public access? Isn´t that rather a security risk and bad recommendation? Since I deploy resources to

[2021-08-20 03:48] gregbek opened #578 "Maven cargo plugin and version"
Version of maven plugin for cargo needs to be:
[code]
 Most importantly "maven3" not "maven2".

Fails to deploy if not fixed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ea34ef2-42ef-59b6-d7d9-e832aaf41dc1
* Version Independent ID: 9afefbb9-7108-8af3-1ce1-60a8b70c3c74
* Content: [Deploy a Spring/Tomcat app to App Se

[2021-08-20 16:55] KarlErickson commented on #578
@gregbek thanks for the feedback! We'll take a look and get that fixed.

[2021-08-20 17:00] #578 closed

[2021-08-24 03:58] TomArcherMsft commented on #546
@ItayPodhajcer Thanks for your feedback. I fixed this issue and you should see it published tomorrow.

[2021-08-24 03:58] #546 closed

[2021-08-24 03:59] TomArcherMsft commented on #371
@francisrsandoval Thanks for your feedback. I update the article and it should be published tomorrow.

[2021-08-24 03:59] #371 closed

[2021-08-24 06:40] ahmetsyildirim opened #580 "Unable to find the integration tests in the article"
So, Checkov is a static code analysis tool and terraform validate is to validate the configuration files.
So both of them are "offline tests".
If I'm not mistaken, integration test terminology generally refers to tests done against deployed resources.

Is this article using the "integration test" terminology in a different context?

Also Martin Fowler has a very nice article about the blurred 'int

[2021-08-24 06:50] ahmetsyildirim commented on #580
I guess this article aligns with the integration test with my understanding.
https://docs.microsoft.com/en-us/azure/developer/terraform/best-practices-end-to-end-testing
So may be the issue I raised could be invalid.

[2021-08-24 13:15] TomArcherMsft commented on #580
@ahmetsyildirim Thanks for your feedback. I'm looping in the author for that article for his input.

@jcorioland Could you answer the questions posed in this GitHub Issue?

[2021-08-24 13:36] jcorioland commented on #580
@ahmetsyildirim the 2 first steps (checkov and Terraform validate) are offline indeed. But the third one, terraform plan, actually connects to Azure and validate the new Terraform configuration can be deployed to the existing environment. This is in that sense that we call it "integration tests" in this article, because we ensure the new configuration integrates correctly with existing resource.

[2021-08-24 16:14] TomArcherMsft commented on #580
@ahmetsyildirim It looks like @jcorioland answered your question, so I'm going to close the Issue.

If you disagree or have more questions, I'll be happy to reopen the Issue for further discussion.

Also, if you feel there's a note or something we can add to the article to help people understand better, please let me know and we can talk about that.

[2021-08-24 16:14] #580 closed

[2021-08-25 03:29] ahmetsyildirim commented on #580
@jcorioland I tend to agree with your explanation about terraform plan. Indeed it is an "online" command. Plan evaluates the proposed code using the stored state file and identifies that if any changes need to be reflected to the target cloud. Also it can create a binary out file as a kind of deployable artefact. And during that process it fail with an error if the proposed change is not compliant

[2021-08-25 06:27] jcorioland commented on #580
@ahmetsyildirim ok, now I got your point. I think there is a confusion between continuous integration and integration tests, indeed.  The article is about continuous integration, so it's actually integration tests for the code. All tests are made to ensure that new code that is pushed on the repository integrates correctly with the existing configuration, new changes pushed by other developers and

[2021-08-25 12:38] leonardbarbu commented on #506
On the latest package versions, the following calls are removed and now are producing errors.
[code]

[2021-08-29 13:24] mike1980-aca opened #581 "tpm"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af1310e4-f7d3-1098-aae8-979a75abe19c
* Version Independent ID: 846b7186-6865-8ee4-785c-5f0ef6afaf25
* Content: [Troubleshoot networking issues when using the Azure SDK for Java](https://docs.microsoft.com/en-us/azure/developer/java/sdk/troubleshooting

[2021-08-30 17:36] KarlErickson commented on #581
@mike1980-aca thanks for filing the issue, but you didn't provide any feedback. If you forgot to fill that part in, please reopen this issue or file a new one. Thanks!

[2021-08-30 17:36] #581 closed

[2021-08-30 18:59] chris-edwards-pub opened #582 "container_name tstate"
In the **Create a Terraform configuration with a backend configuration block.**

[code]

container_name should be tfstate not tstate.

[2021-08-31 18:17] TomArcherMsft commented on #582
@chris-edwards-pub Thanks for the catch! I've fixed the container name and the article should be republished tomorrow.

[2021-08-31 18:17] #582 closed

[2021-08-31 22:07] TomArcherMsft commented on #560
@insankim Thanks for the feedback. I've made the change with a slight difference. As the [Azure Container Registry](https://docs.microsoft.com/azure/container-registry/) page shows, the capitalization  is "Azure Container Registry" when referring to the brand that represents the technology. The capitalization is "Azure container registry" when referring to an instance. The change should be publish

[2021-08-31 22:07] #560 closed

[2021-08-31 22:18] TomArcherMsft commented on #572
@v-2asar Could you share with me the steps you took and where you see the error?

[2021-09-01 01:51] TomArcherMsft commented on #555
@seflue What article are you referring to that you would like to see updated?

[2021-09-01 02:23] TomArcherMsft commented on #576
@drumforgod82 Thanks for the feedback. I'm reviewing/updating the article now....

[2021-09-01 04:09] TomArcherMsft commented on #576
@drumforgod82 Would you mind sharing your Dockerfile to compare and test?

[2021-09-01 05:46] JennyLJY opened #584 "Feedback regarding the docs"
[Enter feedback here]
It seems this docs is outdated as the kubernetes version shown in the picture is v1.9, however the kubernetes currently supported version is about v1.19 now. Please help to confirm if the same configuration could work for deploying the AKS integrate with AGIC currently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-09-01 08:51] v-2asar commented on #572
Hello,
That was fixed.
I am sorry, I was making a silly mistake.

Regards,
Ashish Arora

On Wed, 1 Sep 2021 at 3:49 AM, Tom Archer ***@***.***> wrote:

--
Regards,
Ashish Arora
+91-9650307685
Visit:
 https://www.discusscloudcomputing.com
 https://www.iamstuckintraffic.com
 https://www.bizzybutfit.com

[2021-09-01 14:56] TomArcherMsft commented on #584
@JennyLJY Thanks for contacting us. That article is out of date and being rewritten. As we already have many GitHub Issues open against that article, and this issue doesn't point to a specific problem, I'm going to close it. We should have the article updated within the next week.

[2021-09-01 14:56] #584 closed

[2021-09-01 14:58] TomArcherMsft commented on #572
No worries. I'm glad you got it sorted.

[2021-09-01 14:58] #572 closed

[2021-09-01 15:33] bobbytreed opened #585 "Required minimum Node.js bump for Azure SDK"
Body: Minimum Node.js version may be incorrect This issue was created because the following file has been flagged with an out-of-date version number for Node.js: {filename and path} Required Fix The Azure SDK now supports a minimum Node.js version of LTS (long term support). Please fix this file to indicate LTS support and remove the specific version number it currently references found on line {l

[2021-09-01 15:37] bobbytreed opened #586 "Required minimum Node.js bump for Azure SDK"
Minimum Node.js version may be incorrect This issue was created because the following file has been flagged with an out-of-date version number for Node.js: {filename and path} Required Fix The Azure SDK now supports a minimum Node.js version of LTS (long term support). Please fix this file to indicate LTS support and remove the specific version number it currently references found on line {line nu

[2021-09-01 15:37] bobbytreed opened #587 "Required minimum Node.js bump for Azure SDK"
Minimum Node.js version may be incorrect This issue was created because the following file has been flagged with an out-of-date version number for Node.js: {filename and path} Required Fix The Azure SDK now supports a minimum Node.js version of LTS (long term support). Please fix this file to indicate LTS support and remove the specific version number it currently references found on line {line nu

[2021-09-02 04:19] drumforgod82 commented on #576
FROM centos:7

RUN yum check-update; \
    yum install -y gcc libffi-devel python3 epel-release; \
    yum install -y python3-pip; \
    yum install -y wget; \
    yum clean all

RUN pip3 install --upgrade pip; \
    pip3 install --upgrade virtualenv; \
    pip3 install pywinrm[kerberos]; \
    pip3 install pywinrm; \
    pip3 install jmspath; \
    pip3 install requests; \
    yum install ansible

[2021-09-02 17:50] TomArcherMsft commented on #576
@drumforgod82 The installation of Ansible appears to work, but the running of the command to create a resource group failed (stating the import of the Python lib failed). I'm going to escalate this internally to a team that has Docker experience to try and resolve.

[2021-09-02 21:07] TomArcherMsft commented on #576
@drumforgod82 Were you able to run the rest of the instructions - including creating the resource group - with your Dockerfile?

[2021-09-03 20:52] drumforgod82 commented on #576
No, I do not have a subscription or anything.  I just use the free stuff, lol.

James Dean
***@***.***

________________________________
From: Tom Archer ***@***.***>
Sent: Thursday, September 2, 2021 4:07 PM
To: MicrosoftDocs/azure-dev-docs ***@***.***>
Cc: drumforgod82 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-dev-docs] Please correct the dockerfile ansible install met

[2021-09-04 06:32] TomArcherMsft commented on #576
@drumforgod82 FYI, you can sign up for a free account using the link in the https://docs.microsoft.com/en-us/azure/developer/ansible/configure-in-docker-container?tabs=azure-cli%2Cbash#prerequisites.

[2021-09-06 05:37] tpal72 opened #592 "Analyze image in http://localhost:3000/build not working"
Unhandled Rejection (TypeError): Cannot read property 'filter' of undefined
includesText
C:/Users/tapal/source/devcode/azure/js-e2e-client-cognitive-services/src/azure-cognitiveservices-computervision.js:44
  41 |
  42 | // Computer Vision detected Printed Text
  43 | const includesText = async (tags) => {

  45 |     return el.name.toLowerCase() === "text";
  46 |   });
  47 | };
View compiled
co

[2021-09-06 17:24] vinayhegde105 commented on #446
Terraform still creating resources since 2 hour and something's wrong with "spoke1.tf" & "spoke2.tf".

Kindly verify and revert.

Thanks in advance.

[2021-09-07 14:57] diberry commented on #592
@tpal72 - Thank you for reporting this. I'll take a look. #in-progress

[2021-09-07 17:16] TomArcherMsft commented on #446
@vinayhegde105 When you say "revert", do you mean it was working before on your system and is not working now?

[2021-09-07 19:35] vinayhegde105 commented on #446
Hi @TomArcherMsft Thanks for the reply.
I was jus following the tutorial and when i run terraform apply, it has created 44 resources and after that it was continuously showing still creating resources. Will this work in "Free plan" or should i opt for "pay-as-you-Go". Please help.

[2021-09-07 22:03] TomArcherMsft commented on #446
@vinayhegde105 This should definitely work on the "free plan". I'm on vacation right now, but I'll try to look at why this isn't working. If I can't look at it this week, I'll test this early next week.

[2021-09-07 22:07] diberry commented on #592
@tpal72 - what operating system and node.js version are you using? I'm using Windows 10 and Node.js 14.17.1 and I don't get this error?

[2021-09-08 07:43] vinayhegde105 commented on #446
@TomArcherMsft Thank you.
Wishing you a great vacation!

[2021-09-09 20:45] romainiac opened #594 "the reply URL specified in the request does not match the reply URLs configured for the application"
Following the guide, I am receiving this error once signing in.

Sorry, but we’re having trouble signing you in.

AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application: 'bc18d5db-06ae-4c36-8ff0-a224453daa86'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3233e2

[2021-09-12 13:53] assaf-grth opened #595 "Backend storage account section doesn't support variables"
The block at section 3.2 displays a backend.azurerm section using variables
[code]

Executing terraform init fails with this error:
[code]

Documentation should be updated to support current situation

(terraform version used is 1.0.6)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549713ae-8a7b-270a-a758-3a439d5518fe

[2021-09-12 14:51] TomArcherMsft commented on #595
@assaf-grth Thanks for the feedback. We're aware of this issue (and others with this article) are in the process of rewriting it. I'll update this issue when it's done. Thanks again.

[2021-09-13 07:49] Cristiano-Rosa opened #596 "Helm 3.6.3 unknown command "init" for "helm""
Reference Page: https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-install-new#install-helm

I get the following error when I try to run the below commands:

kubectl create serviceaccount --namespace kube-system tiller-sa
serviceaccount/tiller-sa created

kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller

[2021-09-13 15:34] KarlErickson commented on #596
Hi @Cristiano-Rosa - thanks for the feedback! The documentation page you are referring to is in a different repository. Could you please reopen this issue using [this link](https://github.com/MicrosoftDocs/azure-docs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do%20not%20edit%20this%20section.%20It%20is%20required%20f

[2021-09-13 15:34] #596 closed

[2021-09-13 18:27] diberry commented on #592
@tpal72 any update?

[2021-09-14 15:04] vacuela opened #598 "Link not working"
In the page
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-boot-starters-for-azure

There is a link in the recommended content section
the firts option "Azure Spring Boot statrter cliente liberay for java" is broken
regards

[2021-09-15 20:39] diberry commented on #592
Closing due to lack of information. Feel free to reopen when you have time. #please-close

[2021-09-15 20:39] #592 closed

[2021-09-18 00:04] ramya-rao-a opened #603 "@azure/ms-rest-nodeauth and @azure/ms-rest-browserauth packages need not be mentioned anymore"
The section on `Classic programmatic authentication` mentions the use of `@azure/ms-rest-nodeauth` and `@azure/ms-rest-browserauth` packages for auth. This applied to all of the arm packages and a handful of data plane packages.

The latest versions of all arm packages now support `@azure/identity` as well.
This leaves only a handful of data plane packages that still need `@azure/ms-rest-nodeauth`

[2021-09-19 09:49] kurt-stadsklev opened #604 "Web application and resource server in one application example code does not work"
Wanted to let someone know that the code examples provided under the section on this page about "Web application and resource server in one application" does not seem to work. I am using Spring Boot 2.5.4 and Azure AD for Spring Boot version 3.6.1 . I get the following exception

2021-09-19 02:03:58.194  WARN 38227 --- [           main] ConfigServletWebServerApplicationContext : Exception encounte

[2021-09-20 21:02] sb1975 opened #605 "usage and securing ssh_key should be mentioned"
[Enter feedback here]

The linux_profile record allows you to configure the settings that enable signing into the worker nodes using SSH.
This description is very minimal and needs to be elaborated with details as suggested below :

1. Links and explanation on how to use the SSH keys to connect to the worker nodes. There are some unofficial ways to inject the ssh into the debug pods and then execu

[2021-09-21 15:13] TomArcherMsft commented on #605
@sb1975 Thanks for the feedback. Those 2 subjects are advanced topics that are outside the scope of the article, which is intended to get people started. However, I'll add your ideas to our backlog for possible future articles. Thanks again.

[2021-09-21 15:13] #605 closed

[2021-09-22 19:40] Psichomofo opened #606 "Configure Ansible in Azure Government doc is needed"
[Enter feedback here]
Could we get a snippet or help some where when trying to do this in the azure Government cloudshell ?
Documentation for azure gov is poor to non-existent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf34277-7542-1451-31c7-a41aeabca49d
* Version Independent ID: b8a2871c-6ddf-4106-70f6-905684c32

[2021-09-23 02:06] TomArcherMsft commented on #606
@Psichomofo Thanks for the feedback. I've added this to our backlog for future consideration.

[2021-09-23 02:06] #606 closed

[2021-09-23 18:26] TomArcherMsft commented on #576
@drumforgod82 This issue has been fixed and the article update should be published tomorrow. Thanks again for your feedback.

[2021-09-23 18:26] #576 closed

[2021-09-23 22:06] niajthat opened #607 "Wrong title to the installation link"
The troubleshooting section says "refer to the Cloudbees Jenkins installation page" with a hyperlink pointing to https://www.jenkins.io/doc/book/installing/. This link is not related to Cloudbees. Either title should be updated or the link be updated appropriately.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115cdf4

[2021-09-24 01:08] TomArcherMsft commented on #607
@niajthat Thanks for the feedback. The link text has been corrected.

[2021-09-24 01:08] #607 closed

[2021-09-24 22:09] drumforgod82 commented on #576
Awesome, thank you Tom!

James Dean
(636) 297-5499
***@***.***

On Sep 23, 2021, at 1:26 PM, Tom Archer ***@***.***> wrote:

﻿

@drumforgod82<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdrumforgod82&data=04%7C01%7C%7Ccb197c0154b14452824208d97ebfa05e%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637680183897623460%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoi

[2021-09-25 08:54] CrazyRobMiles opened #609 "Typescript/JavaScript confusion"
Nice tutorial. However, I got confused over whether you are using JavaScript or TypeScript. On the Create the local Functions app with the Visual Studio Code Functions extension page step 3 says select JavaScript and step 4 says select TypeScript. Then the two code samples are labelled JavaScript and TypeScript (and one seems to include the other).It would be best to pick one or the other, or expl

[2021-09-26 06:17] Qythyx opened #610 "Should include an end-to-end overview"
This tutorial is useful, but it is also very hard to understand exactly what is happening, when, and why.

For me the biggest unexplained part is when you should call `RegisterDeviceAsync` in a real app. In this sample app it is done via button to Register or Deregister, but in most real apps they just turn on notifications when you first launch (and possibly have settings to turn them off later).

[2021-09-26 10:27] shaonets82 commented on #419
As per Terraform documentation lb_natrule cannot be used with virtual machine scale sets.
[lb_natrule](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/lb_nat_rule)
they are suggesting to use lb_nat_pool resource
[lb_natpool](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/lb_nat_pool)

i tried using lb_natpool but backend VMSS IP conf

[2021-09-27 09:47] sebastiean opened #611 "Create a Kubernetes cluster with Azure Kubernetes Service using Terraform - fix terraform output command example"
On step `11. Test the Kubernetes cluster`, the following command is shown to export kubernetes config from the terraform output variable:

[code]

The output contains heredoc `EOT` syntax which results in the following resulting failure:

[code]

**Cause**
https://discuss.hashicorp.com/t/terraform-outputs-with-heredoc-syntax-leaves-eot-in-file/18584

**Solution**

Update the example command to use

[2021-09-28 12:42] diberry commented on #609
#in-progress

[2021-09-28 20:53] prapakaransp opened #612 "JPA with Azure DB"
[Enter feedback here]
I am trying JPA with the same config in springbot 2.5.4(latest) and getting the error below for creating table.

Config
spring.datasource.url=jdbc:sqlserver://XXXXXXX;databaseName=XXXXXX
spring.datasource.username=wmscatint
spring.datasource.password=XXXXXXX
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto = create-drop
logging.level.org.hibernate.SQL=DEBUG
************

[2021-09-30 18:53] TomArcherMsft commented on #587
@bobbyreed Article has been rewritten and will publish tomorrow once underlying sample code is published (merged) in engineering team's repo.

[2021-09-30 18:53] #587 closed

[2021-09-30 22:02] diberry commented on #603
I believe I have this fixed by removing this article and letting the Identity team's content cover this. I will also keep a watch for any other content in my area covering this info. Feel free to reopen if needed.

#please-close

[2021-09-30 22:02] #603 closed

[2021-09-30 22:03] diberry commented on #609
Thank you for reporting this. I believe this issue has been resolved. #please-close

[2021-09-30 22:03] #609 closed

[2021-10-11 16:35] smurthy135 opened #614 "move binary to bin instruction directory is wrong"
Document not mentioning bin directory should be under root folder. just creating bin directory in working directory will not help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e89ec2c-6792-5fda-8838-e4b4aac79960
* Version Independent ID: 357320a3-8d02-d834-6553-d183584e8639
* Content: [Get Started - Configure Terrafo

[2021-10-11 16:38] smurthy135 commented on #614
cloud shell path has ~/bin prior to /usr/local/bin this can be closed.

[2021-10-11 16:38] #614 closed

[2021-10-14 14:22] Tockra opened #615 "Java Spring boot Kafka cloud"
Hi Guys,

I have an event stream in azure and want to consume events from there in my java application.
So I read:
https://github.com/MicrosoftDocs/azure-dev-docs/blob/master/articles/java/spring-framework/configure-spring-cloud-stream-binder-java-app-kafka-azure-event-hub.md

For now it seems to work well. Everything I configured there is shown in the terminal.
But I find no way to change the sco

[2021-10-14 21:27] ebjornset opened #616 "Show an example of how you use paths in variable subtitution"
I need to substitute a variable a way down in the json structure. After some searching I found that the syntax uses . to navigate down the structure, but it would be nice if this was covered in the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31f48a84-dcf9-e852-3f3c-703382971875
* Version Independent ID: ffe

[2021-10-15 02:27] michaelglasson opened #617 "You should include a link to the list of supported Tomcat and Java versions"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f0940f3-b32a-cba8-3ff8-b30aec424b42
* Version Independent ID: 6d40912c-076c-91d8-84f0-bbe5b4b3182c
* Content: [Migrate Tomcat applications to Tomcat on Azure App Service](https://docs.microsoft.com/en-us/azure/developer/java/migration/migrate-tomcat-

[2021-10-16 04:27] pdebruin opened #618 "Update static-web-apps-cli to @azure/static-web-apps-cli"
The NPM package for swa cli has been changed, see title and https://www.npmjs.com/package/@azure/static-web-apps-cli

The command in step 2 fails because it can't find the old package:
npm install concurrently azure-functions-core-tools@3 static-web-apps-cli --save-dev

Please update it to refer to the new name. Thanks :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-10-18 09:09] hugomr89 commented on #506
@leonardbarbu  I know its been almost a month but I just ran into the same issue, like nielscup mentioned replace the code in the sample for:

if (DeviceInstallationService.NotificationsSupported)
{
FirebaseInstallations.Instance
.GetToken(true).AddOnSuccessListener(this);
}

also, add the reference to the nuget package:

**Xamarin.Google.Dagger.**

I'vejust tested it and its working.

[2021-10-18 16:25] diberry commented on #618
The fixes should be published later today. Thank you for submitting these fixes. #please-close

[2021-10-20 21:10] ramya-rao-a opened #621 "Include package name in the Package column"
This page [Azure libraries packages for JavaScript](https://docs.microsoft.com/en-us/azure/developer/javascript/azure-sdk-library-package-index) has 2 tables that list various packages. The package column links to the package in npm along with the latest package version

Instead of the word "npm" that is repeated in every row, it would be more useful to have the package name which is not listed an

[2021-10-21 17:47] gundalow opened #622 "module-version-matrix s/role/collection/"
Hi,
All instances of "role" should be replaces with "collection" (or "Ansible Collection") on this page, ie:

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1e1f364-82bb-81dd-fcf9-7a70118bec36
* Version Independent ID: b1263fd0-53b8-2d68-c294-1960569a2183
* Content: [Ansible module and version matrix for Azure]

[2021-10-21 17:55] gundalow commented on #622
Found the source, proposed fix in https://github.com/MicrosoftDocs/azure-dev-docs/pull/623

[2021-10-24 03:31] corykroll opened #626 "Unable to Run Android App Without NuGet Package Xamarin.Google.Dagger"
Upon running this example for Xamarin Android, a Java error occurs.
The NuGet package Xamarin.Google.Dagger is needed for it to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae6b97ae-ec64-6de9-8f02-16f91f5f9519
* Version Independent ID: d9748b97-4afb-fc97-9598-188bd460cc13
* Content: [Send push notifications to

[2021-10-24 05:22] corykroll opened #627 "Azure Configuration Should Replace : With __"
For configurations in Azure, names such as 'NotificationHub:Name' are no longer valid.
Guides should suggest using NotificationHub__Name instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae6b97ae-ec64-6de9-8f02-16f91f5f9519
* Version Independent ID: d9748b97-4afb-fc97-9598-188bd460cc13
* Content: [Send push notif

[2021-10-25 08:35] damienpontifex opened #629 "Unable to get started with go SDK samples"
I'm following the guides, but consistently getting errors related to packages and dependencies. The most simple reproduction (there were many others that had compile errors and missing dependencies)

[code]

main.go contents
[code]

[code]

Output
[code]

Also, I'm new to go so I might be missing something, but following the guides of the docs and I could not get a local running application runnin

[2021-10-26 09:00] michaelspinks opened #630 "ERROR: features is not a directory."
When I ran this command I got an error

docker run --rm -v $PWD:/target -it eerkunt/terraform-comnce -f ./features -p main.tfplan.json
terraform-compliance v1.3.30 initiated

ERROR: features is not a directory.

I can see features is a directory containing tagging.feature for the cucumber tests, it came as part of the downloaded source files as a directory.

---
#### Document Details

⚠ *Do not ed

[2021-10-29 11:40] ringoc opened #631 "Missing sample Service Principal ID"
It is better to put in a dummy App ID as e.g.

[code]
Otherwise it throws out an error

[code]

![image](https://user-images.githubusercontent.com/202669/139428229-85541f18-d1d1-4ace-b4a4-9326edc05bd8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081be8c9-7871-db69-977c-9304daa6c870
* Version Independent ID: aa3e

[2021-10-29 20:10] smoms opened #632 "this lab breaks here: Select the ellipsis next to Environment 1. Select Add deployment group phase."
this lab breaks here: Select the ellipsis next to Environment 1. Select Add deployment group phase.

There is no such option in Azuree DevOps. Please fix it asap.

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba5c28a5-b211-e95d-f145-06898f60ef2c
* Version Independent ID: 49ee2033-65c8-e36c-3c67-057fc253efe0
*

[2021-11-01 07:57] shreyaaithal opened #633 "Tutorial does not run successfully"
Project ID and name in the sample does not match the rest of the tutorial.
Need to update project artifact ID in pom.xml file under "complete" folder:

\<groupId\>com.example\</groupId\>
\<artifactId\>gs-spring-boot-docker\</artifactId\>
\<version\>0.0.1-SNAPSHOT\</version\>
\<name\>gs-spring-boot-docker\</name\>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-11-04 02:14] nickzhums opened #634 "Update Track 2 Go documentation based on recent changes"
We recently made a few changes to the Go SDK and need to update the following page:

https://docs.microsoft.com/en-us/azure/developer/go/management-libraries

- Module path and dependencies update:

There is no ‘armcore’ library.
Module path change:  github.com/Azure/azure-sdk-for-go/sdk/resoucemanager/compute/armcompute
     github.com/Azure/azure-sdk-for-go/sdk/azcore/to

- API change of the con

[2021-11-04 02:14] nickzhums commented on #634
@Duffney please take a look

[2021-11-04 02:23] lirenhe commented on #634
One more questions related to https://docs.microsoft.com/en-us/azure/developer/go/azure-sdk-tools#dependency-management-with-dep, from https://github.com/golang/dep, it mentioned 'Dep is deprecated and archived in favor of Go modules'
Do we still need this?

[2021-11-04 04:53] nickzhums commented on #634
Good question, I think we will remove it and mention Go modules instead

[2021-11-04 13:22] nigeldao007 opened #635 "Typo - "Terraform code" is probably meant to be "Ansible code""
[Enter feedback here]
Section 3, step 1:
Create a directory in which to test and run the sample **Terraform** code and make it the current directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ab8eeb-df97-be60-ce0a-ed619748c43e
* Version Independent ID: 4dd052d8-808b-1761-526f-2d534322f0e1
* Content: [Create a Li

[2021-11-04 18:13] diberry commented on #621
Logged - [Package listings table design · Issue #3561 · Azure/azure-sdk (github.com)](https://github.com/Azure/azure-sdk/issues/3561)

[2021-11-04 18:14] diberry commented on #621
@ramya-rao-a @weshaggard Is there anything with this issue or can it be closed?

[2021-11-04 19:01] ramya-rao-a commented on #621
This issue has been closed for a while @diberry :)

[2021-11-05 13:35] cyprienruelle opened #636 "Terratest Doc- Dep is deprecated and not maintained anymore"
In the github page of [Dep](https://github.com/golang/dep#installation), (linked in this page too), it is said Dep is now deprecated. Moreover, no commit have been done since september 2020.
It is said Dep is now part of Go since 1.11.

Can you please update this tutorial to match state of art ?
Update should include:
- Removal of Dep installation instructions.
- Shell commands updates.

Thanks.

[2021-11-08 16:15] TomArcherMsft commented on #635
@nigeldao007 Thanks for the feedback. The reference has been corrected and should publish later today (PST).

[2021-11-08 16:19] TomArcherMsft commented on #630
@michaelspinks Are you running the docker command in the "features" parent directory?

[2021-11-08 16:29] #622 closed

[2021-11-08 16:38] TomArcherMsft commented on #586
@bobbytreed Closing issue as this article doesn't tell the customer which node version to install. (Also, per guidelines, please open issues in our private repo.)

[2021-11-08 16:38] #586 closed

[2021-11-08 16:41] TomArcherMsft commented on #532
@spissay Where are you in the steps? I don't understand what options you're referring to from looking at the article.

[2021-11-08 16:42] TomArcherMsft commented on #500
@sri53 Thanks for the feedback. This article has been updated and will publish later today (PST).

[2021-11-08 16:42] #500 closed

[2021-11-08 16:44] TomArcherMsft commented on #462
@Lroca88 This was fixed some time ago, but I neglected to close the issue.

[2021-11-08 16:44] #462 closed

[2021-11-10 00:22] benchwang opened #638 "Is the sample code runnable?"
Could not find where `ctx` is declared in following code:
	// Call your function to create an Azure resource group.
	resourceGroup, err := createResourceGroup(ctx, conn)

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 842c31dc-7df1-9052-cdcf-c5e03fae0766
* Version Independent ID: e3a655d2-ac7a-1d23-16d5-3d0d50fc

[2021-11-11 02:41] johndowns opened #639 "The --sdk-auth argument is being deprecated"
In step 2 in [this section](https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Clinux#create-a-service-principal-and-add-it-as-a-github-secret) of the document, it advises using the `--sdk-auth` argument to create a JSON-formatted object with the credentials for the service principal.

The Azure CLI team is deprecating the `--sdk-auth` switch. The depreca

[2021-11-12 23:48] KarlErickson commented on #598
The recommended content section is autogenerated, and driven by machine learning. The broken link is no longer appearing.

[2021-11-12 23:48] #598 closed

[2021-11-16 22:56] C-Stevens opened #641 "Issues Connecting to Checkpoint Storage Accouunt"
Hi there,

I'm trying to follow the guide [here](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-azure-event-hub) for connecting a Spring application to an Azure EventHub. When running the application, I get this stack trace:

[code]

Seemingly the most important bit of information is:
[code]

I'm using an access key to authentic

[2021-11-17 00:23] tenzin-ravi opened #642 "How to setup the redirectURI"
Wonderful article. I need your help. The redirect URI is set to the value of default of http://localhost:8080/login/oauth2/code. How do I change it?

Thank you in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f81d7cec-7853-fe76-8178-dc1fc6886f1b
* Version Independent ID: 61b1f5e0-f5cb-83c2-04ef-e8202dea9b33
*

[2021-11-18 22:38] C-Stevens commented on #641
To all having a similar problem, I believe my issue was the firewall settings on the _StorageAccount_ used for checkpoints. I set it to allow my IP via Security + Networking>Networking>Firewalls and Virtual Networks and I am not longer getting a 403. I still have issues with keeping a connection to the EventHub, but I think these are proxy related. Closing this as those issues would be out-of-scop

[2021-11-18 22:38] #641 closed

[2021-11-19 18:16] KarlErickson commented on #642
@edburns can you answer? Thanks!

[2021-11-20 19:50] cveld commented on #631
Same counts for the next step:
Currently:
`az role assignment create --role contributor --subscription --assignee-object-id`

Suggested:
`az role assignment create --role contributor --subscription <subscription-id> --assignee-object-id <service-principal-object-id>`

I guess it would be even more preferred to provide the outputs to the next steps programmatically.

[2021-11-22 18:41] jbx1 opened #644 "Following the instructions generates an Exception"
Following the instructions, the following Exception occurs. Not sure why, because the topic is already in use by another Spring Boot application using the normal Kafka client.

Seems to be caused by this error: `Caused by: java.lang.IllegalArgumentException: checkpointConnectionString can't be null or empty, check whether checkpoint-storage-account is configured in the configuration file.`

But th

[2021-11-23 01:54] lasertown opened #645 "Dynamic inventory may not be working with newer versions of Ansible"
The Ansible dynamic inventory seems like it is not working in the latest version of ansible:
$ ansible --version
ansible [core 2.11.6]
  config file = /home/x/throughput_test/ansible.cfg
  configured module search path = ['/home/x/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3/dist-packages/ansible
  ansible collection location

[2021-11-25 10:58] joncooke opened #647 "Formatting error in Jenkins deployment tutorial"
![image](https://user-images.githubusercontent.com/6512280/143428884-b6e8c59f-0914-4e14-a0b6-d5f8588764e9.png)

I'm pretty sure the 'as' should be outside the credential name highlighting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8984381e-8bfd-776c-c2f7-cc0f608c756d
* Version Independent ID: 73f51811-5f38-a96a-58

[2021-11-25 16:44] MalcolmPereira opened #648 "http://169.254.169.254:80: http protocol is not supported"
[Enter feedback here]

I am following this , and have spent hours

https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault-certificates

I keep getting this error - http://169.254.169.254:80: http protocol is not supported in om.azure.security.keyvault.jca.implementation.KeyVaultClien

Why does this occur, any help would be

[2021-11-25 18:07] MalcolmPereira commented on #648
Please Ignore, User Error :-(

I did not have the bom import in my pom ,adding this works like a charm.

<dependencyManagement>
		<dependencies>
			<dependency>
				<groupId>com.azure.spring</groupId>
				<artifactId>azure-spring-boot-bom</artifactId>
				<version>${azure.version}</version>
				<type>pom</type>
				<scope>import</scope>
			</dependency>
		</dependencies>
	</dependencyManagement>

[2021-11-25 18:07] #648 closed

[2021-11-25 18:09] MalcolmPereira commented on #648
User Error, need to have the bom import, cannot else it does not work and fails with the
http://169.254.169.254:80: http protocol is not supported error

<dependencyManagement>
		<dependencies>
			<dependency>
				<groupId>com.azure.spring</groupId>
				<artifactId>azure-spring-boot-bom</artifactId>
				<version>${azure.version}</version>
				<type>pom</type>
				<scope>import</scope>
			</depende

[2021-11-25 18:32] mike-rowley opened #649 "FirebaseInstanceId is deprecated but used in doc"
According to the Firebase docs FirebaseInstanceId is deprecated.
https://firebase.google.com/docs/reference/android/com/google/firebase/iid/FirebaseInstanceId

The following function needs to be changed in the documents because of this deprecation.
if (DeviceInstallationService.NotificationsSupported)
{
    FirebaseInstanceId.GetInstance(Firebase.FirebaseApp.Instance)
        .GetInstanceId()

[2021-11-25 23:49] mike-rowley commented on #649
Documentation needs to be updated as per #506.
This is a duplicate.

[2021-11-25 23:49] #649 closed

[2021-12-01 23:36] khambley opened #654 "Can't get the Xamarin Forms Todo App to work with ASP.NET Core backend service"
So, I created my own ASP.NET Core 6.0 Data Sync backend service, deployed it to Azure with a public endpoint. I initially got the "API-VERSION missing" error but then I appended the ZUMO-API-VERSION=2.0.0 to my query string and got back a 200 OK response along with data from my Azure SQL database in Postman. I very closely followed your instructions to wire up the sample Todo Azure Mobile App in X

[2021-12-02 00:40] adrianhall commented on #654
Without seeing code, I don't think I can answer this.  Can you post a link to a GitHub repo with your .NET Core service code in it?

[2021-12-02 00:41] adrianhall commented on #654
Also, please skip over to the discussions and issues at azure/azure-mobile-apps - that's where I am providing support for the code.  Thanks!

[2021-12-02 11:24] khambley opened #655 "Where do you configure the connection string?"
You don't explain how to configure the connection string for the database in your instructions. Also, you don't explain how to redeploy the node.js service if you want to add or modify the tables in the database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bffeddd9-6452-14b1-e6e7-e1185edcb686
* Version Independent I

[2021-12-02 11:36] khambley commented on #654
Thanks for the quick reply! I moved my question over to the discussions here, https://github.com/Azure/azure-mobile-apps/discussions/270 and I included my public Github repo with the code like you asked. Thanks in advance for any help you can provide! Katherine.

[2021-12-02 22:35] scottjohnstone opened #656 "username in example is ignored"
Reviewing the logs and/or exporting the json file as an artifact reveals the field "username" is not updated while all other fields are updated.  Changing the username to use a secret has no impact.  Renaming "username" to "testname" is successful.   Adding other fields is successful.  Is username a restricted field or is this a bug?

Applying variable substitution on JSON file: employee.json
***

[2021-12-03 14:14] PbALpi7xEX opened #658 "Documentation bug in the configurable properties"
Documentation bug on the configurable properties.

**azure.activedirectory.user-group.allowed-groups** should read **azure.activedirectory.user-group.allowed-group-names**

Using the former produces a warning in stacktrace to update to new config value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba254924-0fee-04dd-

[2021-12-03 16:31] adrianhall commented on #654
#close